
<div class="home_dashboard pt-3 summary md-overlay background-change-makeblack  gamescreen animated bounceInLeft " *ngIf="modelWindowService.showBornSummary" >
    <div class="norow h-100 align-items-center">
        <div class="col-md-10 mx-auto mt-5 less-mt-top">
            <div class="content text-center">
                <h2 class="text-primary border-bottom border_white_op6 pb-3">{{'gameLabel.Born_summary' | translate}}               
                </h2>
                <button type="button" class="close brn-smry-close" (click)="OnCloseWindowPopup()">
                   <span class="material-icons">close</span>
                </button>
                <div class="share-send-icons">
                  <span title="Send Mail" (click)="sendMail()" class="send-mail-icon" title="{{'gameLabel.Share_with_Mail' | translate}}" data-toggle="tooltip" data-placement="top"><svg class="mail-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 10 10" enable-background="new 0 0 10 10" xml:space="preserve"><g><path d="M9.311,0.93c0-0.012-0.002-0.023-0.003-0.035C9.306,0.881,9.306,0.868,9.303,0.854C9.299,0.841,9.291,0.829,9.285,0.816   C9.28,0.807,9.279,0.797,9.273,0.788C9.271,0.787,9.271,0.787,9.27,0.785c-0.007-0.01-0.018-0.018-0.025-0.027   c-0.01-0.01-0.019-0.021-0.029-0.029c-0.002,0-0.002-0.001-0.003-0.002C9.204,0.722,9.195,0.719,9.187,0.716   C9.173,0.709,9.159,0.702,9.145,0.697C9.133,0.694,9.121,0.694,9.109,0.693C9.096,0.691,9.083,0.689,9.069,0.69   S9.044,0.696,9.031,0.699C9.02,0.702,9.008,0.702,8.998,0.707L2.424,3.495C2.342,3.53,2.289,3.61,2.287,3.7   c-0.002,0.089,0.05,0.17,0.131,0.208l2.519,1.155l1.155,2.519c0.037,0.08,0.117,0.131,0.205,0.131c0.001,0,0.003,0,0.004,0   C6.389,7.711,6.47,7.658,6.504,7.574l2.789-6.572c0.004-0.008,0.004-0.018,0.006-0.026C9.305,0.96,9.309,0.946,9.311,0.93z    M8.106,1.574L5.058,4.623L3.07,3.71L8.106,1.574z M6.288,6.93L5.377,4.941l3.049-3.048L6.288,6.93z"></path><path d="M4.061,5.938c-0.087-0.088-0.23-0.088-0.317,0L2.318,7.361c-0.088,0.09-0.088,0.232,0,0.32   c0.045,0.043,0.102,0.064,0.16,0.064s0.115-0.021,0.159-0.064l1.423-1.424C4.149,6.168,4.149,6.025,4.061,5.938z"></path><path d="M2.498,5.255c-0.087-0.088-0.23-0.088-0.318,0L0.756,6.68c-0.088,0.088-0.088,0.23,0,0.318   C0.8,7.041,0.857,7.064,0.916,7.064c0.057,0,0.115-0.023,0.158-0.066l1.424-1.424C2.587,5.486,2.587,5.342,2.498,5.255z"></path><path d="M4.426,7.502L3.002,8.926c-0.088,0.088-0.088,0.23,0,0.318c0.044,0.043,0.102,0.066,0.159,0.066S3.275,9.287,3.32,9.244   L4.745,7.82c0.088-0.088,0.088-0.23,0-0.318S4.515,7.414,4.426,7.502z"></path></g></svg></span>
                  <span title="Send to your friend/s"  (click)="sendmailToFriend()"  class="share-netwok-icon" title="{{'gameLabel.Share_with_your_network' | translate}}" data-toggle="tooltip" data-placement="top"><svg class="network-icon" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 100 100" x="0px" y="0px"><path d="M23.11,34.36A15.64,15.64,0,1,0,35.2,59.91l26.11,13.8c0,.39-.06.78-.06,1.17A15.69,15.69,0,1,0,63,67.8L38.05,54.63a15.66,15.66,0,0,0,0-9.26L63,32.2a15.62,15.62,0,1,0-1.72-7.09c0,.4,0,.79.06,1.18L35.2,40.09A15.62,15.62,0,0,0,23.11,34.36ZM76.89,65.24a9.64,9.64,0,1,1-9.64,9.64A9.65,9.65,0,0,1,76.89,65.24Zm0-49.77a9.64,9.64,0,1,1-9.64,9.64A9.65,9.65,0,0,1,76.89,15.47ZM23.11,59.64A9.64,9.64,0,1,1,32.75,50,9.65,9.65,0,0,1,23.11,59.64Z"></path></svg></span>
              </div>
        <div class="content_ftr py-4 text-white-80 justify-content-center fnt-wgt" style="text-align: left;" *ngIf="!(homeService.allPerson[constantService.FAMILY_SELF].age===0 && homeService.allPerson[constantService.FAMILY_SELF].dead)">
          <h5 class="lineSpace" *ngIf="responseFlag">{{bornSummary.sub1}} <br><br>
            {{bornSummary.sub2}}  {{bornSummary.sub3}}  {{bornSummary.sub4}}<br><br>
            {{bornSummary.sub5}}<br><br>
            <div *ngIf=" bornSummary.sub6!==''">
                <h5 class="lineSpace fontforMedium">  {{bornSummary.sub6}} <br><br>
                </h5>
            </div>
           {{bornSummary.sub7}} <br><br>
          </h5> 
      </div>
      <div class="content_ftr py-4 text-white-80 justify-content-center" *ngIf="homeService.allPerson[constantService.FAMILY_SELF].age===0 && homeService.allPerson[constantService.FAMILY_SELF].dead">
        <div *ngIf="responseFlag">
            <h5 style="font-size: xx-large;">{{bornSummary.sub1}} <br></h5>
            <h5 class=" fontforMedium" style="font-size: x-large;"> {{bornSummary.sub2}} <br></h5>
            <h5 class=" fontforMedium"> {{bornSummary.sub3}}  <br></h5>
            <h5 class=" fontforMedium"> {{bornSummary.sub4}} <br></h5>
            <h5 class=" fontforMedium">{{bornSummary.sub5}}  <br></h5>
            <h5 class=" fontforMedium">{{bornSummary.sub6}}  <br></h5>
            <h5 class=" fontforMedium">{{bornSummary.sub7}}  <br></h5>
            <h5 class=" fontforMedium"> {{bornSummary.sub8}} </h5>
        </div>
     </div>
            </div>
        </div>
</div>
</div>

<div class="md-overlay black_modal gamescreen" id="dashboard_residence" *ngIf="successMsgFlag">
      <div class="modal-dialog modal-dialog-centered w700" role="document">
          <div class="modal-content h-auto">
              <div class="modal-body p-0">
                  <p class="text-center">{{messageText}}</p>
                  <div class="d-flex justify-content-center w-100">
                      <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1" (click)="successMsgWindowClose()">{{'gameLabel.Ok' |translate}}</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="md-overlay black_modal gamescreen" id="friendMail" *ngIf="friendMailShowFlag">
          <div class="modal-dialog modal-dialog-centered w700" role="document">
              <div class="modal-content h-auto">
                  <div class="modal-body p-0">
                    <span class="content text-center">{{'gameLabel.Enter_Email_Id' |translate}}</span>
                    <input type="email" class="form-control only_number" placeholder="{{'gameLabel.Please_enter_valid_email_id' |translate}}" [(ngModel)]="emailId" > 
                      <div class="d-flex justify-content-center w-100">
                          <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1" [disabled]="emailId===''" (click)="send()">{{'gameLabel.Send' |translate}}</button>
                          <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1"  (click)="closeMail()">{{'gameLabel.Close' |translate}}</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
