<div *ngIf="modalWindowShowHide.showActionRelation">
        <div class="new_cmn_modal full_width gamescreen animated zoomIn" id="dashboard_relationship" tabindex="-1" role="dialog" aria-labelledby="dashboard_careerLabel">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header position-relative d-flex align-items-center justify-content-between">
                        <h5 class="modal-title text-white font-400 text-uppercase font_b8 d-flex align-items-center" id="">
                            <img class="image" src="assets/images/action-relation.png" alt=""> 
                            <span class="pl-3">{{'gameLabel.RELATIONSHIP' |translate}}</span>
                        </h5>
                        <button type="button" class="close" (click)="close()">
                            <span class="material-icons">close</span>
                        </button>
                    </div>
                    <div class="modal-body p-0">
                        <div class="bg-white py-3 h-100">
                            <div class="col-md-12 pam popbo-x">
                                <div class="dbm">
                                    <div class="container-fluid p-0">
                                        <div class="row m-0">
                                            <div class="col-md-12" *ngIf="showAlertFlag">
                                                <div class="alert {{alertClass}}">
                                                    <button type= "button" class="close" data-dismiss="alert">×</button>
                                                    <strong>{{alertType}}</strong> {{alertMsg}}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row m-0">
                                            <div class="col-md-4">
                                                <div class="card w-100 blue_heading_card">
                                                    <div class="card-header d-flex align-items-cente pt-1 pb-1 justify-content-between no-gutters align-items-center">
                                                        <div class="col d-flex align-items-center" *ngIf="homeService.allPerson[constantService.FAMILY_SELF].current_my_relationship.relationType==='BACHELOR'">  
                                                            <div class="icon actionicon"><img src="assets/images/relation/icons_28.svg" alt="" height="auto"></div>
                                                            <div class="text-uppercase d-flex align-items-center">{{homeService.allPerson[constantService.FAMILY_SELF].current_my_relationship.relationType}}</div>
                                                        </div>

                                                        <div class="col d-flex align-items-center" *ngIf="homeService.allPerson[constantService.FAMILY_SELF].current_my_relationship.relationType==='NEW_ROMANCE'">  
                                                            <div class="icon actionicon"><img src="assets/images/relation/icons_27.svg" alt="" height="auto"></div>
                                                            <div class="text-uppercase d-flex align-items-center" *ngIf="homeService.allPerson[constantService.FAMILY_SELF].current_my_relationship.relationType==='NEW_ROMANCE'">{{'gameLabel.NEW_ROMANCE1' | translate}}</div>
                                                        </div>

                                                        <div class="col d-flex align-items-center" *ngIf="homeService.allPerson[constantService.FAMILY_SELF].current_my_relationship.relationType==='END_ROMANCE'">  
                                                            <div class="icon actionicon"><img src="assets/images/relation/icons_29.svg" alt="" height="auto"></div>
                                                            <div class="text-uppercase d-flex align-items-center" *ngIf="homeService.allPerson[constantService.FAMILY_SELF].current_my_relationship.relationType==='END_ROMANCE'">{{'gameLabel.Break_up' | translate}}</div>
                                                        </div>

                                                        <div class="col d-flex align-items-center" *ngIf="homeService.allPerson[constantService.FAMILY_SELF].current_my_relationship.relationType==='MARRIED' ">
                                                            <div class="icon actionicon"><img src="assets/images/relation/icons_26.svg" alt="" height="auto"></div>
                                                            <div class="text-uppercase d-flex align-items-center" *ngIf="homeService.allPerson[constantService.FAMILY_SELF].current_my_relationship.relationType==='MARRIED'">{{'gameLabel.MARRIED' | translate}}</div>
                                                        </div>
                                                        <div class="col d-flex align-items-center" *ngIf=" homeService.allPerson[constantService.FAMILY_SELF].current_my_relationship.relationType==='END_MARRIAGE'">
                                                            <div class="icon actionicon"><img src="assets/images/relation/icons_29.svg" alt="" height="auto"></div>
                                                            <div class="text-uppercase d-flex align-items-center" *ngIf="homeService.allPerson[constantService.FAMILY_SELF].current_my_relationship.relationType==='END_MARRIAGE'">{{'gameLabel.END_MARRIAGE' | translate}}</div>
                                                        </div>
                                                        
                                                        <div class="col-auto font_s1 "><p class="m-0 fontforSmall" >{{'gameLabel.AGE' |translate}} {{homeService.allPerson[constantService.FAMILY_SELF].current_my_relationship.fromAge}} {{'gameLabel.to' | translate}} {{homeService.allPerson[constantService.FAMILY_SELF].age}}</p></div>
                                                    </div>
                                                    <div class="card-body height-11 p-0 d-flex align-items-center justify-content-center flex-column">
                                                        <div class="w-100 text-center defaut_progress">
                                                            <div class="col-11 mx-auto text-dark font-500">
                                                                <p class="mb-2">{{homeService.allPerson[constantService.FAMILY_SELF].age - homeService.allPerson[constantService.FAMILY_SELF].current_my_relationship.fromAge}} {{'gameLabel.Years_Completed' | translate}}</p>
                                                                <p *ngIf="homeService.allPerson[constantService.FAMILY_SELF].current_my_relationship.LoverFullName===null">{{'gameLabel.Name_Of_The_Partner' |translate}}: {{'gameLabel.No_Partner' | translate}}</p>
                                                                <p *ngIf="homeService.allPerson[constantService.FAMILY_SELF].current_my_relationship.LoverFullName!==null" >{{'gameLabel.Name_Of_The_Partner' |translate}}: {{homeService.allPerson[constantService.FAMILY_SELF].current_my_relationship.LoverFullName}}</p>

                                                            </div>
                                                            <div class="top_devider mb-3"></div>

                                                            <div class="col-12 mx-auto text-dark font-500 " *ngIf="(homeService.allPerson[constantService.FAMILY_SELF].lover===null )
                                                            && homeService.allPerson[constantService.FAMILY_SELF].wife===null 
                                                            && homeService.allPerson[constantService.FAMILY_SELF].husband===null 
                                                            && !homeService.allPerson[constantService.FAMILY_SELF].engaged 
                                                            &&!homeService.allPerson[constantService.FAMILY_SELF].married ">
                                                                <button type="button" class="btn btn_blue font_s4 active" alt="" data-toggle="tooltip" data-placement="right"  title="SEEK A NEW ROMANCE"
                                                                [disabled]=" homeService.allPerson[constantService.FAMILY_SELF].age>=70  || 
                                                                !homeService.allPerson[constantService.FAMILY_SELF].game_settings.LOVE || 
                                                                homeService.allPerson[constantService.FAMILY_SELF].dead ||
                                                                 homeService.allPerson[constantService.FAMILY_SELF].age<=12 || 
                                                                 homeService.allPerson[constantService.FAMILY_SELF].in_prison"
                                                                (click)=getANewRomance()>{{'gameLabel.NEW_ROMANCE' |translate}}</button>
                                                            </div>

                                                            <div class="col-12 mx-auto text-dark font-500" *ngIf="homeService.allPerson[constantService.FAMILY_SELF].lover!==null">
                                                                <button type="button" class="btn btn_blue font_s4 active"    
                                                                 [disabled]="(!homeService.allPerson[constantService.FAMILY_SELF].game_settings.LOVE)||homeService.allPerson[constantService.FAMILY_SELF].dead"
                                                                 (click)="endRomance()">{{'gameLabel.Break_up1' |translate}}</button>

                                                                <button type="button" class="btn btn_blue font_s4 active" alt="" data-toggle="tooltip" data-placement="right"  title="TRY TO HAVE A CHILD"
                                                                [disabled]="homeService.allPerson[constantService.FAMILY_SELF].dead || homeService.allPerson[constantService.FAMILY_SELF].pregnant 
                                                                || homeService.allPerson[constantService.FAMILY_SELF].in_prison ||homeService.allPerson[constantService.FAMILY_SELF].age<15 
                                                                || !homeService.allPerson[constantService.FAMILY_SELF].game_settings.PREGNANCYCHILDREN"
                                                                (click)="tryToHaveChild()">{{'gameLabel.TRY_FOR_A_CHILD' |translate}}</button>

                                                                <button type="button" class="btn btn_blue font_s4 active" alt="" data-toggle="tooltip" data-placement="right"  title="PROPOSE MARRIAGE"
                                                                *ngIf=" homeService.allPerson[constantService.FAMILY_SELF].age >17 && homeService.allPerson[constantService.FAMILY_SELF].lover!==null"
                                                                [disabled]="homeService.allPerson[constantService.FAMILY_SELF].in_prison || !homeService.allPerson[constantService.FAMILY_SELF].game_settings.LOVE 
                                                                 || homeService.allPerson[constantService.FAMILY_SELF].engaged || homeService.allPerson[constantService.FAMILY_SELF].dead
                                                                 || homeService.allPerson[constantService.FAMILY_SELF].in_prison ||!endRomanceFlag" (click)="proposeForMarriage()">{{'gameLabel.PROPOSE_MARRIAGE' |translate}}</button>
                                                            </div>

                                                            <div class="col-12 mx-auto text-dark font-500 tlp" alt="" data-toggle="tooltip" data-placement="right"  title="{{'gameLabel.TRY_TO_HAVE_A_CHILD' |translate}}" *ngIf="homeService.allPerson[constantService.FAMILY_SELF].married">
                                                                <button type="button" class="btn btn_blue font_s4 active" [disabled]="homeService.allPerson[constantService.FAMILY_SELF].dead" (click)="leaveMarriage()"> {{'gameLabel.LEAVE_MARRIAGE' |translate}}</button>
                                                                <button type="button" class="btn btn_blue font_s4 active" 
                                                                [disabled]="homeService.allPerson[constantService.FAMILY_SELF].dead ||homeService.allPerson[constantService.FAMILY_SELF].in_prison
                                                                ||!homeService.allPerson[constantService.FAMILY_SELF].game_settings.PREGNANCYCHILDREN ||homeService.allPerson[constantService.FAMILY_SELF].dead 
                                                                || homeService.allPerson[constantService.FAMILY_SELF].pregnant || homeService.allPerson[constantService.FAMILY_SELF].in_prison " 
                                                                (click)="tryToHaveChild()">{{'gameLabel.TRY_FOR_A_CHILD' |translate}}</button>

                                                                <button type="button" class="btn btn_blue font_s4 active actionrel"
                                                                [disabled]="homeService.allPerson[constantService.FAMILY_SELF].dead||homeService.allPerson[constantService.FAMILY_SELF].in_prison 
                                ||homeService.allPerson[constantService.FAMILY_SELF].age <18  || homeService.allPerson[constantService.FAMILY_SELF].age >50 
                                    || homeService.allPerson[constantService.FAMILY_SELF].in_prison "
                                                                (click)="adoptChild()">{{'gameLabel.ADOPT_A_CHILD' |translate}}</button>
                                                            </div>


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div id="" class="auto_width content horizontal-images py-0 h-100">
                                                    <div class="container-fluid h-100">
                                                        <div class="row">
                                                            <div class="col-md-4 mb-3" *ngFor="let all of allCards , let i=index">
                                                                <div class="card w-100 h-100">
                                                                    <div class="card-header py-1 height-auto boxheading_cmn d-flex align-items-cente pt-1 pb-1 justify-content-between no-gutters align-items-center blueborbottom">
                                                                       
                                                                        <div class="col d-flex align-items-center" *ngIf="all.relationType==='BACHELOR'">  
                                                                            <div class="icon actionicon"><img src="assets/images/relation/icons_28.svg" alt="" height="auto"></div>
                                                                            <div class="text-uppercase d-flex align-items-centerfontforSmall ">{{all.relationType}}</div>
                                                                        </div>
                
                                                                        <div class="col d-flex align-items-center" *ngIf="all.relationType==='NEW_ROMANCE'">  
                                                                            <div class="icon actionicon"><img src="assets/images/relation/icons_27.svg" alt="" height="auto"></div>
                                                                            <div class="text-uppercase d-flex align-items-center fontforSmall" *ngIf="all.relationType==='NEW_ROMANCE'">{{'gameLabel.NEW_ROMANCE1' | translate}}</div>
                                                                              </div>


                                                                              <div class="col d-flex align-items-center" *ngIf=" all.relationType==='END_ROMANCE'">  
                                                                                <div class="icon actionicon"><img src="assets/images/relation/icons_29.svg" alt="" height="auto"></div>
                                                                                <div class="text-uppercase d-flex align-items-center fontforSmall" *ngIf="all.relationType==='END_ROMANCE'">{{'gameLabel.Break_up' | translate}}</div>                                                                  
                                                                                  </div>
                

                                                                        <div class="col d-flex align-items-center" *ngIf="all.relationType==='MARRIED'">
                                                                            <div class="icon actionicon"><img src="assets/images/relation/icons_26.svg" alt="" height="auto"></div>
                                                                            <div class="text-uppercase d-flex align-items-center fontforSmall" *ngIf="all.relationType==='MARRIED'">{{'gameLabel.MARRIED' | translate}}</div>
                                                                           </div>


                                                                           <div class="col d-flex align-items-center" *ngIf=" all.relationType==='END_MARRIAGE'">
                                                                            <div class="icon actionicon"><img src="assets/images/relation/icons_29.svg" alt="" height="auto"></div>
                                                                           <div class="text-uppercase d-flex align-items-center fontforSmall" *ngIf="all.relationType==='END_MARRIAGE'">{{'gameLabel.END_MARRIAGE' | translate}}</div>                                                                     
                                                                           </div>
                
                                                                      
                                                                        <div class="col-auto font_s1 fontforSmall"><p class="m-0 fontforSmall">{{'gameLabel.AGE' |translate}} {{all.fromAge}} {{'gameLabel.to' |translate}} {{all.toAge}}</p></div>
                                                                    </div>
                                                                    <div class="card-body p-0 d-flex align-items-top flex-column h-auto overflow-hidden bg-light">
                                                                        <div class="w-100 text-dark py-3 pl-3 ">
                                                                            <div class="row no-gutters text-center">
                                                                                <div class="col text-blue max-height-4-5 pr-2 font-300">
                                                                                    <p class="mb-2">{{all.toAge - all.fromAge}} {{'gameLabel.Years_Completed' |translate}}</p>
                                                                                    <p *ngIf="all.LoverFullName===null">{{'gameLabel.Name_Of_The_Partner' |translate}} <br> {{'gameLabel.No_Partner' |translate}}</p>
                                                                                    <p *ngIf="all.LoverFullName!==null"> {{'gameLabel.Name_Of_The_Partner' |translate}} <br> {{all.LoverFullName}}</p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        <div class="md-overlay black_modal gamescreen" id="dashboard_relationship2" *ngIf="successMsgFlag">
            <div class="modal-dialog modal-dialog-centered w700" role="document">
                <div class="modal-content h-auto">
                    <div class="modal-body p-0">
                        <p class="text-center">{{messageText}}</p>
                        <div class="d-flex justify-content-center w-100">
                            <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1"  (click)="okSuccessWindow()">{{'gameLabel.Ok' |translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="md-overlay black_modal gamescreen" id="romance" *ngIf="confirmBoxFlag">
            <div class="modal-dialog modal-dialog-centered w700" role="document">
                <div class="modal-content h-auto">
                    <div class="modal-body p-0">
                        <p class="text-center">{{messageText}}</p>

                        <div class="d-flex justify-content-center w-100" *ngIf="romanceCondirmBoxFlag">
                            <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1" (click)="getARomanceYes()">{{'gameLabel.Yes' |translate}}</button>
                            <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1" (click)="getARomanceNo()">{{'gameLabel.No' |translate}}</button>
                        </div>


                        <div class="d-flex justify-content-center w-100" *ngIf="endRomanceConfirmBoxFlag">
                            <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1" (click)="endRomanceYes()">{{'gameLabel.Yes' |translate}}</button>
                            <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1" (click)="endRomanceNo()">{{'gameLabel.No' |translate}}</button>
                        </div>
                        <div class="d-flex justify-content-center w-100" *ngIf="proposeMarriageConfirmFlag">
                            <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1" (click)="proposeMarriageYes()">{{'gameLabel.Yes' |translate}}</button>
                            <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1" (click)="proposeMarriageNo()">{{'gameLabel.No' |translate}}</button>
                        </div>
                        <div class="d-flex justify-content-center w-100" *ngIf="leaveMarriageConfirmFlag">
                            <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1" (click)="leaverMarriageYes()">{{'gameLabel.Yes' |translate}}</button>
                            <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1" (click)="leaveMarriageNo()">{{'gameLabel.No' |translate}}</button>
                        </div>
                        

                    </div>
                </div>
            </div>
        </div>
        <div class="md-overlay black_modal gamescreen" id="adopt" *ngIf="adoptChildClick">
                <div class="modal-dialog modal-dialog-centered w700" role="document">
                   
                    <div class="modal-content h-auto">
                        <div class="modal-body">
                            <h3 class="text-center">{{'gameLabel.Would_you_like_to_adopt_an_infant_or_older_child?' |translate}}</h3>
                            <div class="d-flex align-items-center justify-content-center py-5">
                                <div class="py-0 px-3" *ngFor="let g of tryToHaveChildSelection| keyvalue">
                                    <input type="radio" name="selection" [(ngModel)]="slectedtryToHaveChildSelection.tryToHaveChildSelection" [value]="g.key"> {{g.value}}   
                                </div>
                            </div>
                            <div class="d-flex justify-content-center w-100">
                                <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1" (click)="adoptInfantORadoptOlderChild()">
                                    {{'gameLabel.Ok' |translate}}
                                </button>
                                <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1" (click)="adoptChildCancle()">{{'gameLabel.Cancle' |translate}}</button>     
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>

<div  [config]="{ backdrop: 'static' ,keyboard :false}"  bsModal #seekANewRomance="bs-modal"
class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-auto-name" aria-hidden="false">
    <div class="modal fade new_cmn_modal full_width gamescreen show" id="life_decision" tabindex="-1" role="dialog" aria-labelledby="life_decision" aria-modal="true" style="display: block;">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content h-auto" style="background: #000;">
                <div class="modal-body p-0">
                    <div class="col-11 mx-auto">
                        <div class="col-md-12 exp_box pt-2 px-0">
                            <div class="col-md-12">
                                <div class="d-flex align-items-center">
                                    <img src="assets/images/life_event.png" class="mrs" alt="" width="16" height="7">
                                     {{'gameLabel.Live_Events'| translate}}
                                    <span class="font11px"> {{'gameLabel.at_Age' |translate}} {{age}}</span>
                                </div>

                                <span class="disblock event_text">{{seekANewRomanceDecisionText}}</span>
                            </div>

                            <div class="col-md-12 exp_txt d-flex ftr align-items-center">
                                <div class="col-9 pl-2">
                                    <div class="col-md-12 d-flex justify-content-between align-items-start p-0">
                                        <span class="d-flex pr-3 align-items-center">
                                            <img src="assets/images/action.png" class="mrs" alt=""> {{'gameLabel.Action' |translate}}
                                        </span>
                                    </div>
                                </div>
                                <div class="col-auto ml-auto text-right px-0">
                                    <div class="d-flex justify-content-center w-100">
                                        <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1" data-dismiss="modal" aria-label="Close" (click)="getARomanceYes()">{{'gameLabel.Yes' |translate}}</button>
                                        <button type="button" class="btn btn-blue-grad py-1 px-4 ml-1" data-dismiss="modal" aria-label="Close" (click)="getARomanceNo()">{{'gameLabel.No' |translate}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 ptm pbm factoid_area d-flex justify-content-center" *ngIf="seekANewRomanceDecisionFactroid!==''">
                            <span class="d-flex pr-2 align-items-center">
                                <img src="assets/images/i.png" class="mrs" alt="" width="16" height="16"> {{'gameLabel.FACTOID' |translate}}
                            </span>
                        </div>
                        <div class="col-lg-12 ptm pbm factoid_area d-flex justify-content-center">
                            <div class="colorb6b6b6" [innerHTML]="seekANewRomanceDecisionFactroid">
                            {{seekANewRomanceDecisionFactroid}} 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div  [config]="{ backdrop: 'static' ,keyboard :false}"  bsModal #sameSex="bs-modal"
class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-auto-name" aria-hidden="false">
    <div class="modal fade new_cmn_modal full_width gamescreen show" id="life_decision" tabindex="-1" role="dialog" aria-labelledby="life_decision" aria-modal="true" style="display: block;">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content h-auto" style="background: #000;">
                <div class="modal-body p-0">
                    <div class="col-11 mx-auto">
                        <div class="col-md-12 exp_box pt-2 px-0">
                            <div class="col-md-12">
                                <div class="d-flex align-items-center">
                                    <img src="assets/images/life_event.png" class="mrs" alt="" width="16" height="7">
                                 {{'gameLabel.Live_Events'| translate}}
                                    <span class="font11px">{{'gameLabel.at_Age' |translate}} {{age}}</span>
                                </div>

                                <span class="disblock event_text">{{sameSexDecisionText}}</span>
                            </div>

                            <div class="col-md-12 exp_txt d-flex ftr align-items-center">
                                <div class="col-9 pl-2">
                                    <div class="col-md-12 d-flex justify-content-between align-items-start p-0">
                                        <span class="d-flex pr-3 align-items-center">
                                            <img src="assets/images/action.png" class="mrs" alt=""> {{'gameLabel.Action' |translate}}
                                        </span>
                                    </div>
                                </div>
                                <div class="col-auto ml-auto text-right px-0">
                                    <div class="d-flex justify-content-center w-100">
                                        <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1" data-dismiss="modal" aria-label="Close" (click)="sameSexYes()">{{'gameLabel.Yes' |translate}}</button>
                                        <button type="button" class="btn btn-blue-grad py-1 px-4 ml-1" data-dismiss="modal" aria-label="Close" (click)="sameSexNo()">{{'gameLabel.No' |translate}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 ptm pbm factoid_area d-flex justify-content-center" *ngIf="sameSexDecisionFactroid!==''">
                            <span class="d-flex pr-2 align-items-center">
                                <img src="assets/images/i.png" class="mrs" alt="" width="16" height="16"> {{'gameLabel.FACTOID' |translate}}
                            </span>
                        </div>
                        <div class="col-lg-12 ptm pbm factoid_area d-flex justify-content-center">
                            <div class="colorb6b6b6" [innerHTML]="sameSexDecisionFactroid">
                                {{sameSexDecisionFactroid}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div  [config]="{ backdrop: 'static' ,keyboard :false}"  bsModal #parentApproveDecision="bs-modal"
class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-auto-name" aria-hidden="false">
    <div class="modal fade new_cmn_modal full_width gamescreen show" id="life_decision" tabindex="-1" role="dialog" aria-labelledby="life_decision" aria-modal="true" style="display: block;">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content h-auto" style="background: #000;">
                <div class="modal-body p-0">
                    <div class="col-11 mx-auto">
                        <div class="col-md-12 exp_box pt-2 px-0">
                            <div class="col-md-12">
                                <div class="d-flex align-items-center">
                                    <img src="assets/images/life_event.png" class="mrs" alt="" width="16" height="7">
                                 {{'gameLabel.Live_Events'| translate}}
                                    <span class="font11px">{{'gameLabel.at_Age' |translate}} {{age}}</span>
                                </div>

                                <span class="disblock event_text">{{parentDecisionText}}</span>
                            </div>

                            <div class="col-md-12 exp_txt d-flex ftr align-items-center">
                                <div class="col-9 pl-2">
                                    <div class="col-md-12 d-flex justify-content-between align-items-start p-0">
                                        <span class="d-flex pr-3 align-items-center">
                                            <img src="assets/images/action.png" class="mrs" alt=""> {{'gameLabel.Action' |translate}}
                                        </span>
                                    </div>
                                </div>
                                <div class="col-auto ml-auto text-right px-0">
                                    <div class="d-flex justify-content-center w-100">
                                        <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1" data-dismiss="modal" aria-label="Close" (click)="parentApproveYes()">{{'gameLabel.Yes' |translate}}</button>
                                        <button type="button" class="btn btn-blue-grad py-1 px-4 ml-1" data-dismiss="modal" aria-label="Close" (click)="parentApproveNo()">{{'gameLabel.No' |translate}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 ptm pbm factoid_area d-flex justify-content-center" *ngIf="parentDecisionFactroid!==''">
                            <span class="d-flex pr-2 align-items-center">
                                <img src="assets/images/i.png" class="mrs" alt="" width="16" height="16"> {{'gameLabel.FACTOID' |translate}}
                            </span>
                        </div>
                        <div class="col-lg-12 ptm pbm factoid_area d-flex justify-content-center">
                            <div class="colorb6b6b6" [innerHTML]="parentDecisionFactroid">
                                {{parentDecisionFactroid}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div  [config]="{ backdrop: 'static' ,keyboard :false}"  bsModal #parentKickOut="bs-modal"
class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-auto-name" aria-hidden="false">
    <div class="modal fade new_cmn_modal full_width gamescreen show" id="life_decision" tabindex="-1" role="dialog" aria-labelledby="life_decision" aria-modal="true" style="display: block;">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content h-auto" style="background: #000;">
                <div class="modal-body p-0">
                    <div class="col-11 mx-auto">
                        <div class="col-md-12 exp_box pt-2 px-0">
                            <div class="col-md-12">
                                <div class="d-flex align-items-center">
                                    <img src="assets/images/life_event.png" class="mrs" alt="" width="16" height="7">
                                 {{'gameLabel.Live_Events'| translate}}
                                    <span class="font11px">{{'gameLabel.at_Age' |translate}} {{age}}</span>
                                </div>

                                <span class="disblock event_text">{{parentKickOutDecisionText}}</span>
                            </div>

                            <div class="col-md-12 exp_txt d-flex ftr align-items-center">
                                <div class="col-9 pl-2">
                                    <div class="col-md-12 d-flex justify-content-between align-items-start p-0">
                                        <span class="d-flex pr-3 align-items-center">
                                            <img src="assets/images/action.png" class="mrs" alt=""> {{'gameLabel.Action' |translate}}
                                        </span>
                                    </div>
                                </div>
                                <div class="col-auto ml-auto text-right px-0">
                                    <div class="d-flex justify-content-center w-100">
                                        <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1" data-dismiss="modal" aria-label="Close" (click)="kickOutYes()">{{'gameLabel.Yes' |translate}}</button>
                                        <button type="button" class="btn btn-blue-grad py-1 px-4 ml-1" data-dismiss="modal" aria-label="Close" (click)="kickOutNo()">{{'gameLabel.No' |translate}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 ptm pbm factoid_area d-flex justify-content-center" *ngIf="parentKickOutDecisionFactroid!==''">
                            <span class="d-flex pr-2 align-items-center">
                                <img src="assets/images/i.png" class="mrs" alt="" width="16" height="16"> {{'gameLabel.FACTOID' |translate}}
                            </span>
                        </div>
                        <div class="col-lg-12 ptm pbm factoid_area d-flex justify-content-center">
                            <div class="colorb6b6b6" [innerHTML]="parentKickOutDecisionFactroid">
                                {{parentKickOutDecisionFactroid}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div  [config]="{ backdrop: 'static' ,keyboard :false}"  bsModal #parentEngage="bs-modal"
class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-auto-name" aria-hidden="false">
    <div class="modal fade new_cmn_modal full_width gamescreen show" id="life_decision" tabindex="-1" role="dialog" aria-labelledby="life_decision" aria-modal="true" style="display: block;">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content h-auto" style="background: #000;">
                <div class="modal-body p-0">
                    <div class="col-11 mx-auto">
                        <div class="col-md-12 exp_box pt-2 px-0">
                            <div class="col-md-12">
                                <div class="d-flex align-items-center">
                                    <img src="assets/images/life_event.png" class="mrs" alt="" width="16" height="7">
                                 {{'gameLabel.Live_Events'| translate}}
                                    <span class="font11px">{{'gameLabel.at_Age' |translate}} {{age}}</span>
                                </div>

                                <span class="disblock event_text">{{parentEngagedDecisionText}}</span>
                            </div>

                            <div class="col-md-12 exp_txt d-flex ftr align-items-center">
                                <div class="col-9 pl-2">
                                    <div class="col-md-12 d-flex justify-content-between align-items-start p-0">
                                        <span class="d-flex pr-3 align-items-center">
                                            <img src="assets/images/action.png" class="mrs" alt=""> {{'gameLabel.Action' |translate}}
                                        </span>
                                    </div>
                                </div>
                                <div class="col-auto ml-auto text-right px-0">
                                    <div class="d-flex justify-content-center w-100">
                                        <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1" data-dismiss="modal" aria-label="Close" (click)="parentEngageYes()">{{'gameLabel.Yes' |translate}}</button>
                                        <button type="button" class="btn btn-blue-grad py-1 px-4 ml-1" data-dismiss="modal" aria-label="Close" (click)="parentNotApproveAndParentEngageNo()">{{'gameLabel.No' |translate}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 ptm pbm factoid_area d-flex justify-content-center" *ngIf="parentEngagedDecisionFactroid!==''">
                            <span class="d-flex pr-2 align-items-center">
                                <img src="assets/images/i.png" class="mrs" alt="" width="16" height="16"> {{'gameLabel.FACTOID' |translate}}
                            </span>
                        </div>
                        <div class="col-lg-12 ptm pbm factoid_area d-flex justify-content-center">
                            <div class="colorb6b6b6" [innerHTML]="parentEngagedDecisionFactroid">
                                {{parentEngagedDecisionFactroid}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div  [config]="{ backdrop: 'static' ,keyboard :false}"  bsModal #parentEngageOutOfWill="bs-modal"
class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-auto-name" aria-hidden="false">
    <div class="modal fade new_cmn_modal full_width gamescreen show" id="life_decision" tabindex="-1" role="dialog" aria-labelledby="life_decision" aria-modal="true" style="display: block;">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content h-auto" style="background: #000;">
                <div class="modal-body p-0">
                    <div class="col-11 mx-auto">
                        <div class="col-md-12 exp_box pt-2 px-0">
                            <div class="col-md-12">
                                <div class="d-flex align-items-center">
                                    <img src="assets/images/life_event.png" class="mrs" alt="" width="16" height="7">
                                 {{'gameLabel.Live_Events'| translate}}
                                    <span class="font11px">{{'gameLabel.at_Age' |translate}} {{age}}</span>
                                </div>

                                <span class="disblock event_text">{{parentEngageOutOfWillText}}</span>
                            </div>

                            <div class="col-md-12 exp_txt d-flex ftr align-items-center">
                                <div class="col-9 pl-2">
                                    <div class="col-md-12 d-flex justify-content-between align-items-start p-0">
                                        <span class="d-flex pr-3 align-items-center">
                                            <img src="assets/images/action.png" class="mrs" alt=""> {{'gameLabel.Action' |translate}}
                                        </span>
                                    </div>
                                </div>
                                <div class="col-auto ml-auto text-right px-0">
                                    <div class="d-flex justify-content-center w-100">
                                        <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1" data-dismiss="modal" aria-label="Close" (click)="engageOutOfWillYes()">{{'gameLabel.Yes' |translate}}</button>
                                        <button type="button" class="btn btn-blue-grad py-1 px-4 ml-1" data-dismiss="modal" aria-label="Close" (click)="parentNotApproveAndParentEngageNo()">{{'gameLabel.No' |translate}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 ptm pbm factoid_area d-flex justify-content-center" *ngIf="parentEngageOutOfWillFactroid!==''">
                            <span class="d-flex pr-2 align-items-center">
                                <img src="assets/images/i.png" class="mrs" alt="" width="16" height="16"> {{'gameLabel.FACTOID' |translate}}
                            </span>
                        </div>
                        <div class="col-lg-12 ptm pbm factoid_area d-flex justify-content-center">
                            <div class="colorb6b6b6" [innerHTML]="parentEngageOutOfWillFactroid">
                                {{parentEngageOutOfWillFactroid}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-wait-screen class="md-overlay_wait_screen black_modal gamescreen" *ngIf="modalWindowShowHide.showWaitScreen"></app-wait-screen>
