<a class="age_btn mx-auto d-flex align-items-center justify-content-center flex-column" style="cursor: pointer"
    *ngIf="(!ageAYearClickFlag && !homeService.allPerson[constantService.FAMILY_SELF].dead)" (click)="onAgeAYearClick()"
    style="cursor: pointer;">
    <div class="agetxt">
        <strong class="font14px">{{'gameLabel.AGE' | translate}}<br>{{'gameLabel.A' | translate}} <br>{{'gameLabel.YEAR'
            | translate}}</strong><br>
    </div>
    <span class="small_age">{{homeService.allPerson[constantService.FAMILY_SELF].age}}</span>
</a>



<a class="age_btn age_btn2 mx-auto d-flex align-items-center justify-content-center flex-column" style="cursor: pointer"
    *ngIf="(ageAYearClickFlag && !homeService.allPerson[constantService.FAMILY_SELF].dead)" style="cursor: pointer;"
    (click)="nextEventButtonClick()">
    <div class="agetxt">
        <strong class="font14px">{{'gameLabel.NEXT' | translate}}<br>{{'gameLabel.EVENT' | translate}}<br></strong><br>
    </div>
    <span class="small_age">{{homeService.allPerson[constantService.FAMILY_SELF].age}}</span>
</a>

<a class="dead_btn mx-auto d-flex align-items-center justify-content-center flex-column" style="cursor: pointer"
    *ngIf="homeService.allPerson[constantService.FAMILY_SELF].dead && !homeService.goToObituaryButton && this.modalWindowShowHide.showEvent">
    <div class="agetxt">
        <strong class="font14px">{{'gameLabel.Dead' | translate}}<br>{{'gameLabel.at' | translate}}<br></strong><br>
    </div>
    <span class="small_age">{{homeService.allPerson[constantService.FAMILY_SELF].age}}</span>
</a>

<a class="dead_btn mx-auto d-flex align-items-center justify-content-center flex-column" style="cursor: pointer"
    *ngIf="homeService.allPerson[constantService.FAMILY_SELF].dead && homeService.goToObituaryButton"
    (click)="gotoObituary()">
    <div class="agetxt">
        <strong class="font12px"> {{'gameLabel.Go_To_Obituary' | translate}}</strong><br>
    </div>
    <span class="small_age">{{homeService.allPerson[constantService.FAMILY_SELF].age}}</span>
</a>





<a class="dead_btn age_btn1 long_text mx-auto d-flex align-items-center justify-content-center flex-column"
    style="cursor: pointer"
    *ngIf="!this.modalWindowShowHide.showEvent && homeService.allPerson[constantService.FAMILY_SELF].dead "
    (click)="seeYouLife()">
    <div class="agetxt">
        <strong class="font14px">{{homeService.allPerson[constantService.FAMILY_SELF].first_name}}
            <br>{{homeService.allPerson[constantService.FAMILY_SELF].last_name}}</strong><br>
    </div>
    <span class="">{{'gameLabel.See_Your_Life' | translate}} </span>
</a>






<div [config]="{ backdrop: 'static' ,keyboard :false }" bsModal #decisionLeisureModalBlocker="bs-modal"
    class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-auto-name" aria-hidden="false">
    <div class="modal fade new_cmn_modal full_width gamescreen show d-flex align-items-center" id="leisure"
        tabindex="-1" role="dialog" aria-labelledby="life_decision_with_radio" aria-modal="true"
        style="display: block;">
        <div class="container-fluid">
            <div class="">
                <div class="col-md-8 exp_box pt-2 px-0 mx-auto">
                    <div class="col-md-12">
                        <div class="d-flex align-items-center justify-content-center">
                            <img src="assets/images/life_event.png" class="mrs" alt="" width="16" height="7">
                            {{'gameLabel.Life_Decision' | translate}}
                            <span class="font11px"> {{'gameLabel.at_Age' | translate}} {{age}}</span>
                        </div>

                        <span
                            class="disblock event_text text-center font_b3 font-300">{{BlockerLeisureDecisionQuestion}}</span>
                    </div>

                    <div class="col-md-12 exp_txt d-flex ftr align-items-center">
                        <div class="d-flex justify-content-between align-items-center w-100">
                            <div class="col d-flex justify-content-between align-items-start p-0">
                                <span class="d-flex pr-3 align-items-center">
                                    <img src="assets/images/action.png" class="mrs mbm" alt=""> {{'gameLabel.Action' |
                                    translate}}
                                </span>
                            </div>
                            <form class="w-100 evnt">
                                <div class="py-3">
                                    <div class="row justify-content-center no-gutters">
                                        <div class="col-md-auto mx-auto">
                                            <button type="button" class="btn border-radius btn-blue-grad px-4"
                                                (click)="leisureBlockerYes()">{{'gameLabel.Ok' | translate}}</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div [config]="{ backdrop: 'static' ,keyboard :false }" bsModal #decisionModalBlocker="bs-modal" class="modal fade"
    tabindex="-1" role="dialog" aria-labelledby="dialog-auto-name" aria-hidden="false">
    <div class="modal fade new_cmn_modal full_width gamescreen show d-flex align-items-center" id="blocker"
        tabindex="-1" role="dialog" aria-labelledby="life_decision_with_radio" aria-modal="true"
        style="display: block;">
        <div class="container-fluid">
            <div class="">
                <div class="col-md-8 exp_box pt-2 px-0 mx-auto">
                    <div class="col-md-12">
                        <div class="d-flex align-items-center justify-content-center">
                            <img src="assets/images/life_event.png" class="mrs" alt="" width="16" height="7">
                            {{'gameLabel.Life_Decision' | translate}}
                            <span class="font11px"> {{'gameLabel.at_Age' | translate}} {{age}}</span>

                        </div>

                        <span class="disblock pt-3 pb-4 text-center font_b3 font-300">{{BlockerDecisionQuestion}}</span>
                    </div>

                    <div class="col-md-12 exp_txt d-flex ftr align-items-center">
                        <div class="col-12">
                            <div class="col-md-12 d-flex justify-content-between align-items-start p-0">
                                <span class="d-flex pr-3 align-items-center">
                                    <img src="assets/images/action.png" class="mrs mbm" alt=""> {{'gameLabel.Action' |
                                    translate}}
                                </span>
                            </div>
                            <div class="clearfix"></div>
                            <div class="row pam justify-content-center">
                                <div class="mrm mbs left col-auto mb-3" style="font-size:16px; font-weight:300;"
                                    *ngFor="let action of Actions">

                                    <input type="radio" name="actionBlocker" [(ngModel)]="selectedAction"
                                        [value]="action.value">
                                    {{action.display}}

                                </div>
                            </div>
                            <form class="w-100 evnt">
                                <div class="pb-4 pt-2">
                                    <div class="row justify-content-center no-gutters px-5 mt-4">
                                        <div class="col-md-auto mx-auto">
                                            <button type="button" class="btn border-radius btn-blue-grad px-3"
                                                (click)="blockerClickedOk(selectedAction)">{{'gameLabel.Ok' |
                                                translate}}</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="md-overlay black_modal gamescreen" id="dashboard_finanace2" *ngIf="helfFormFriendDecisionFlag">
    <div class="modal-dialog modal-dialog-centered w700" role="document">
        <div class="modal-content h-auto">
            <div class="modal-body p-0">
                <p class="text-center">{{messageText}}</p>
                <div class="d-flex justify-content-center w-100">
                    <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1"
                        (click)="TakeHelpFromFriend()">{{'gameLabel.Yes' |translate}}</button>
                    <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1"
                        (click)="closeFriendHelp()">{{'gameLabel.No' |translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="md-overlay black_modal gamescreen" id="dashboard_finanace2" *ngIf="helfForGovernmentDecisionFlag">
    <div class="modal-dialog modal-dialog-centered w700" role="document">
        <div class="modal-content h-auto">
            <div class="modal-body p-0">
                <p class="text-center">{{messageText}}</p>
                <div class="d-flex justify-content-center w-100">
                    <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1"
                        (click)="TakeHelpFromGoverment()">{{'gameLabel.Yes' |translate}}</button>
                    <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1"
                        (click)="closeGovHelp()">{{'gameLabel.No' |translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="md-overlay black_modal gamescreen" id="dashboard_finanace1" *ngIf="msgTrue">
    <div class="modal-dialog modal-dialog-centered w700" role="document">
        <div class="modal-content h-auto">
            <div class="modal-body p-0">
                <p class="text-center" style="line-height: 2;" [innerHTML]="messageText"></p>
                <div class="d-flex justify-content-center w-100 ">
                    <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1" (click)="closeMsg()">{{'gameLabel.Ok'
                        |translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="md-overlay black_modal gamescreen" id="dashboard_finanace1" *ngIf="successMsgFlag">
    <div class="modal-dialog modal-dialog-centered w700" role="document">
        <div class="modal-content h-auto">
            <div class="modal-body p-0">
                <p class="text-center" style="line-height: 2;" [innerHTML]="messageText"></p>
                <div class="d-flex justify-content-center w-100 ">
                    <a  href="{{commonService.buyNowUrl}}" target="_blank">
                    <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1 "
                        *ngIf="gameSummeryService.UserRole===constantService.GAMMERROLE || gameSummeryService.UserRole===constantService.SCHOOLADMINROLE "
                        >{{'gameLabel.Buy_Now' |translate}}</button>
                    </a>
                    <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1"
                        (click)="successMsgWindowClose()">{{'gameLabel.Ok' |translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-decision-window *ngIf="modalWindowShowHide.showDecisionFlag"></app-decision-window>
<app-wait-screen class="md-overlay_wait_screen" *ngIf="modalWindowShowHide.showWaitScreen"></app-wait-screen>