@font-face {
	font-family: 'Bienchen SAS';
	src: url('BienchenSAS-Regular.eot');
	src: url('BienchenSAS-Regular.eot?#iefix') format('embedded-opentype'),
		url('BienchenSAS-Regular.woff') format('woff'),
		url('BienchenSAS-Regular.ttf') format('truetype'),
		url('BienchenSAS-Regular.svg#BienchenSAS-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Bienchen SAS';
	src: url('BienchenSAS-Italic.eot');
	src: url('BienchenSAS-Italic.eot?#iefix') format('embedded-opentype'),
		url('BienchenSAS-Italic.woff') format('woff'),
		url('BienchenSAS-Italic.ttf') format('truetype'),
		url('BienchenSAS-Italic.svg#BienchenSAS-Italic') format('svg');
	font-weight: normal;
	font-style: italic;
}
