<div class="main_wraper d-flex flex-column justify-content-between glob_bg">
    <header>
        <div class="logo mx-auto trans" data-aos="" data-aos-delay="100"><img img src="assets/images/RL_logo.svg"
                alt="">
        </div>
        <a class="go_back_btn text-primary" (click)="backClick()">
            <i class="fa fa-arrow-left" aria-hidden="true" style="cursor: pointer;padding-left: 5px;"></i>
            {{'gameLabel.Back'
            |translate}}</a>
        <a title="{{'gameLabel.Go_to_dashbord' | translate }}" data-toggle="tooltip" data-placement="left" class="tlp"
            style="cursor: pointer;" (click)="clickToExitButton()">
            <span class="material-icons " style="cursor: pointer;float: right;">login</span></a>
    </header>

    <section class="home_dashboard v_center">
        <div class="container-fluid">
            <div class=" h-100 ">
                <div class="md-col-12">
                    <div class="border-bottom border-color-dark text-color">
                        <div class=col-md-12>
                            <div class="row">
                                <div class="col-md-6">
                                    <h3 class="text-center">{{'gameLabel.select_country_1' |translate}}</h3>
                                    <h4 class="text-center">{{'gameLabel.selected_country_1' |translate}} :
                                        {{bornCountry}}</h4>
                                    <div class="map_cmn world_map bg-white w-100 box">
                                        <div id="chartdiv" class=" w-100>"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h3 class="text-center">{{'gameLabel.select_country_2' |translate}}</h3>
                                    <h4 class="text-center">{{'gameLabel.select_country_2' |translate}}:
                                        {{registerCountry}}</h4>
                                    <div class="map_cmn world_map bg-white w-100 box">
                                        <div id="regDiv" class="w-100>"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="d-flex justify-content-center mt-5">
                    <button type="button" (click)="clickNextButton()" class="btn btn-primary2 mx-2 next_religion_btn"
                        [disabled]="!disableFlag ||flagNoDbR ||flagNoDb "> {{'gameLabel.Next' |translate}}
                        &nbsp;&gt;</button>

                </div>
            </div>
        </div>

    </section>
</div>
<div class="md-overlay black_modal gamescreen" *ngIf="sameCountrySelectionFlag">
    <div class="modal-dialog modal-dialog-centered w700" role="document">
        <div class="modal-content h-auto">
            <div class="modal-body p-0" style="text-align: center; color: gray;">
                <span class="text-white moreinfo">{{msgText}}</span>
                <div class="d-flex justify-content-center w-100 btnPadding paddingClass">
                    <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1 " (click)="okClick()">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="md-overlay black_modal gamescreen" *ngIf="flagNoDb">
    <div class="modal-dialog modal-dialog-centered w700" role="document">
        <div class="modal-content h-auto">
            <div class="modal-body p-0" style="text-align: center; color: gray;">
                <span class="text-white moreinfo">{{msgText}}</span>
                <div class="d-flex justify-content-center w-100 btnPadding paddingClass">
                    <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1 " (click)="clickOk()">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="md-overlay black_modal gamescreen" *ngIf="flagNoDbR">
    <div class="modal-dialog modal-dialog-centered w700" role="document">
        <div class="modal-content h-auto">
            <div class="modal-body p-0" style="text-align: center; color: gray;">
                <span class="text-white moreinfo">{{msgText}}</span>
                <div class="d-flex justify-content-center w-100 btnPadding paddingClass">
                    <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1 " (click)="clickOkR()">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>