<div *ngIf="modalWindowShowHide.showActionEducation">
    <!--dashboard_education-->
    <div>
        <div class="new_cmn_modal full_width gamescreen animated zoomIn" id="dashboard_education" tabindex="-1"
            role="dialog" aria-labelledby="dashboard_educationLabel">
            <!--<div class="new_cmn_modal full_width gamescreen" id="dashboard_education">-->
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content h-auto">
                    <div
                        class="modal-header position-relative d-flex align-items-center justify-content-between header-color">
                        <h5 class="modal-title text-white font-400 text-uppercase font_b8 d-flex align-items-center"
                            id="">
                            <img class="image" style="color:white" src="assets/images/action-education.png" alt="">
                            &nbsp;
                            <span class="pl-x 3">{{'gameLabel.EDUCATION' |translate}}</span>
                        </h5>
                        <button type="button" class="close" (click)="closeClick()">
                            <span class="material-icons">close</span>
                        </button>
                    </div>
                    <div class="modal-body bg-white p-0">

                        <div class="col-md-12 pam popbo-x">
                            <div class="">
                                <div class="row m-0" *ngIf="showAlertFlag">
                                    <div class="col-md-12">
                                        <div class="alert {{alertClass}}">
                                            <button type="button" class="close" (click)="closeAlert()">×</button>
                                            <strong>{{alertType}}</strong> {{alertMsg}}
                                        </div>
                                    </div>
                                </div>

                                <div class="row m-0">
                                    <div class="col-md-3">
                                        <div class="card w-100 blue_heading_card">
                                            <div class="card-header d-flex align-items-cente pt-1 pb-1">
                                                <div class="icon actionicon"><img
                                                        src="assets/images/education/school.svg" alt="" height="auto">
                                                </div>
                                                <div
                                                    class="text-uppercase d-flex align-items-center {{headingActiveClassForSchool}} fontforMedium">
                                                    {{'gameLabel.SCHOOL' | translate}}</div>
                                            </div>
                                            <div
                                                class="card-body height-11 p-0 d-flex align-items-center justify-content-center flex-column">
                                                <div class="w-100 text-center defaut_progress text-dark">
                                                    <div class="col-11 mx-auto">
                                                        <div class="d-flex align-items-end justify-content-center">
                                                            <label for="" class="text-dark p-2 font_b2 font-500 mb-2"
                                                                *ngIf=" homeService.allPerson[constantService.FAMILY_SELF].education.school.inSchool">
                                                                {{'gameLabel.Primary_School' |translate}}</label>

                                                            <label for="" class="text-dark p-2 font_b2 font-500 mb-2"
                                                                *ngIf="! homeService.allPerson[constantService.FAMILY_SELF].education.school.highSchoolGraduate &&  homeService.allPerson[constantService.FAMILY_SELF].education.school.schoolDropOut &&homeService.allPerson[constantService.FAMILY_SELF].education.school.schoolCompletedYears>0">{{'gameLabel.Dropped_Out_From_School'
                                                                |translate}}</label>

                                                            <label for="" class="text-dark p-2 font_b2 font-500 mb-2"
                                                                *ngIf="! homeService.allPerson[constantService.FAMILY_SELF].education.school.highSchoolGraduate &&  homeService.allPerson[constantService.FAMILY_SELF].education.school.schoolDropOut && homeService.allPerson[constantService.FAMILY_SELF].education.school.schoolCompletedYears===0">{{'gameLabel.Couldnot_Enroll'
                                                                |translate}}</label>

                                                            <label for="" class="text-dark p-2 font_b2 font-500 mb-2"
                                                                *ngIf="(! homeService.allPerson[constantService.FAMILY_SELF].education.school.inSchool&& ! homeService.allPerson[constantService.FAMILY_SELF].education.school.schoolDropOut &&! homeService.allPerson[constantService.FAMILY_SELF].education.school.highSchoolGraduate)">
                                                                {{'gameLabel.Not_enrolled_yet.' |translate}}</label>


                                                            <label for="" class="text-dark p-2 font_b2 font-500 mb-2"
                                                                *ngIf=" homeService.allPerson[constantService.FAMILY_SELF].education.school.highSchoolGraduate">
                                                                {{'gameLabel.Completed_High_School' |translate}}</label>
                                                        </div>
                                                        <div
                                                            class="d-flex justify-content-between small w-100 text-center">
                                                            <span
                                                                *ngIf=" homeService.allPerson[constantService.FAMILY_SELF].education.school.inSchool ||  homeService.allPerson[constantService.FAMILY_SELF].education.school.schoolDropOut">{{
                                                                homeService.allPerson[constantService.FAMILY_SELF].education.school.schoolCompletedYears}}
                                                                {{'gameLabel.Years_Completed' |translate}}.</span>
                                                            <span
                                                                *ngIf=" homeService.allPerson[constantService.FAMILY_SELF].education.school.inSchool">
                                                                {{completedremain}} {{'gameLabel.Years_Remaining'
                                                                |translate}}.</span>
                                                        </div>

                                                        <progress style="position: relative; top: auto;" id=""
                                                            value={{schoolProgressYears}} max={{schoolMaximunYear}}
                                                            *ngIf="homeService.allPerson[constantService.FAMILY_SELF].education.school.inSchool">
                                                        </progress>
                                                        <div class=" mt-2">
                                                            <button type="button"
                                                                class="btn active border-radius btn-blue-grad mt-3"
                                                                *ngIf=" homeService.allPerson[constantService.FAMILY_SELF].education.school.inSchool && !homeService.allPerson[constantService.FAMILY_SELF].education.school.highSchoolGraduate"
                                                                [hidden]="!homeService.allPerson[this.constantService.FAMILY_SELF].education.school.inSchool"
                                                                [disabled]="this.homeService.allPerson.SELF.dead||this.homeService.allPerson[this.constantService.FAMILY_SELF].in_prison||homeService.allPerson[this.constantService.FAMILY_SELF].job.JobName===constantService.JOB_SOLDIER"
                                                                (click)="quitSchool('SCHOOL')">{{'gameLabel.QUIT_SCHOOL'
                                                                | translate}}</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card w-100 blue_heading_card">
                                            <div class="card-header d-flex align-items-cente pt-1 pb-1">
                                                <div class="icon actionicon"><img
                                                        src="assets/images/education/vocational.svg" alt=""
                                                        height="auto"></div>
                                                <div
                                                    class="text-uppercase d-flex align-items-center {{headingActiveClassForVocational}} fontforMedium">
                                                    {{'gameLabel.VOCATIONAL_SCHOOL' | translate}}</div>
                                            </div>
                                            <div
                                                class="card-body height-11 p-0 d-flex align-items-center justify-content-center flex-column">
                                                <div class="w-100 text-center defaut_progress text-dark">
                                                    <div class="col-11 mx-auto">
                                                        <div class="d-flex align-items-end justify-content-center">
                                                            <label for="" class="text-dark p-2 font_b2 font-500 mb-2"
                                                                *ngIf="! homeService.allPerson[constantService.FAMILY_SELF].education.vocational.inVocational && ! homeService.allPerson[constantService.FAMILY_SELF].education.vocational.vocationalDegree &&! homeService.allPerson[constantService.FAMILY_SELF].education.vocational.vocationalDropOut">{{'gameLabel.Not_enrolled_yet.'
                                                                | translate}}</label>
                                                            <label for="" class="text-dark p-2 font_b2 font-500 mb-2"
                                                                *ngIf="! homeService.allPerson[constantService.FAMILY_SELF].education.vocational.vocationalDegree &&  homeService.allPerson[constantService.FAMILY_SELF].education.vocational.vocationalDropOut">
                                                                {{'gameLabel.Dropped_out_from_vocational' |
                                                                translate}}</label>
                                                            <label for="" class="text-dark p-2 font_b2 font-500 mb-2"
                                                                *ngIf=" homeService.allPerson[constantService.FAMILY_SELF].education.vocational.vocationalDegree">
                                                                {{'gameLabel.Completed_vocational_With_Degree_In' |
                                                                translate}} {{vocationalfieldOfStudyName}}.</label>
                                                        </div>


                                                        <div class="d-flex justify-content-between small w-100"
                                                            *ngIf=" homeService.allPerson[constantService.FAMILY_SELF].education.vocational.inVocational">
                                                            <span
                                                                *ngIf=" homeService.allPerson[constantService.FAMILY_SELF].education.vocational.inVocational||  homeService.allPerson[constantService.FAMILY_SELF].education.vocational.vocationalDegree">{{
                                                                homeService.allPerson[constantService.FAMILY_SELF].education.vocational.vocationalCompletedYears}}
                                                                {{'gameLabel.Years_Completed' | translate}}.</span>
                                                            <span
                                                                *ngIf=" homeService.allPerson[constantService.FAMILY_SELF].education.vocational.inVocational">{{
                                                                homeService.allPerson[constantService.FAMILY_SELF].education.vocational.vocationalMaximumYears-
                                                                homeService.allPerson[constantService.FAMILY_SELF].education.vocational.vocationalCompletedYears}}
                                                                {{'gameLabel.Years_Remaining' | translate}}.</span>
                                                        </div>

                                                        <progress style="position: relative; top: auto;" id=""
                                                            value={{vocationalProgressYears}}
                                                            max={{vocationalProgressYearsMax}}
                                                            *ngIf=" homeService.allPerson[constantService.FAMILY_SELF].education.vocational.inVocational"></progress>


                                                        <div class=""
                                                            *ngIf="!( homeService.allPerson[constantService.FAMILY_SELF].education.vocational.inVocational || 
                                                         homeService.allPerson[constantService.FAMILY_SELF].education.vocational.vocationalDegree )">
                                                            <button type="button"
                                                                class="btn active border-radius btn-blue-grad mt-2"
                                                                [disabled]="this.homeService.allPerson.SELF.dead||this.homeService.allPerson[this.constantService.FAMILY_SELF].in_Prison||
                                                            homeService.allPerson[this.constantService.FAMILY_SELF].job.JobName===this.constantService.JOB_SOLDIER||
                                                            !(!homeService.allPerson[this.constantService.FAMILY_SELF].education.vocational.inVocational && 
                                                            !homeService.allPerson[this.constantService.FAMILY_SELF].education.vocational.vocationalDegree && 
                                                            homeService.allPerson[this.constantService.FAMILY_SELF].education.school.highSchoolGraduate)"
                                                                (click)="enrollVocationalSchool()">{{'gameLabel.ENROLL'
                                                                | translate}}</button>
                                                        </div>

                                                        <div class=""
                                                            *ngIf=" homeService.allPerson[constantService.FAMILY_SELF].education.vocational.inVocational && ! homeService.allPerson[constantService.FAMILY_SELF].education.vocational.vocationalDegree">
                                                            <button type="button"
                                                                class="btn active border-radius btn-blue-grad mt-3"
                                                                [disabled]="this.homeService.allPerson.SELF.dead||this.homeService.allPerson[this.constantService.FAMILY_SELF].in_Prison||homeService.allPerson[this.constantService.FAMILY_SELF].job.JobName===this.constantService.JOB_SOLDIER"
                                                                (click)="quitVocational('VOCATIONAL')">{{'gameLabel.QUIT_VOCATIONAL_SCHOOL'
                                                                | translate}}</button>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card w-100 blue_heading_card">
                                            <div class="card-header d-flex align-items-cente pt-1 pb-1 ">
                                                <div class="icon actionicon"><img
                                                        src="assets/images/education/college.svg" alt="" height="auto">
                                                </div>
                                                <div
                                                    class="text-uppercase d-flex align-items-center {{headingActiveClassForCollege}} fontforMedium">
                                                    {{'gameLabel.COLLEGE' | translate}}</div>
                                            </div>
                                            <div
                                                class="card-body height-11 p-0 d-flex align-items-center justify-content-center flex-column">
                                                <div class="w-100 text-center defaut_progress text-dark">
                                                    <div class="col-11 mx-auto">
                                                        <div class="d-flex align-items-end justify-content-center">
                                                            <label for="" class="text-dark p-2 font_b2 font-500 mb-2"
                                                                *ngIf="! homeService.allPerson[constantService.FAMILY_SELF].education.college.inCollege
                                                            && ! homeService.allPerson[constantService.FAMILY_SELF].education.college.collegeGraduate
                                                            && ! homeService.allPerson[constantService.FAMILY_SELF].education.college.collegeProbation
                                                            && ! homeService.allPerson[constantService.FAMILY_SELF].education.college.collegeDropOut">{{'gameLabel.Not_enrolled_yet.'
                                                                | translate}}</label>

                                                            <label for="" class="text-dark p-2 font_b2 font-500 mb-2"
                                                                *ngIf="! homeService.allPerson[constantService.FAMILY_SELF].education.college.collegeGraduate &&  homeService.allPerson[constantService.FAMILY_SELF].education.college.collegeDropOut">
                                                                {{'gameLabel.Dropped_Out_From_College' |
                                                                translate}}.</label>

                                                            <label for="" class="text-dark p-2 font_b2 font-500 mb-2"
                                                                *ngIf=" homeService.allPerson[constantService.FAMILY_SELF].education.college.collegeGraduate">
                                                                {{'gameLabel.Completed_College_With_Degree_In' |
                                                                translate}} {{collegefieldOfStudyName}}.</label>
                                                        </div>

                                                        <div class="d-flex justify-content-between small w-100">
                                                            <span
                                                                *ngIf=" homeService.allPerson[constantService.FAMILY_SELF].education.college.inCollege
                                                            || homeService.allPerson[constantService.FAMILY_SELF].education.college.collegeProbation
                                                            || (homeService.allPerson[this.constantService.FAMILY_SELF].education.college.collegeCompletedYears>0 && (homeService.allPerson[this.constantService.FAMILY_SELF].education.college.collegeCompletedYears !== homeService.allPerson[constantService.FAMILY_SELF].education.college.collegeMaximumYears))">
                                                                {{
                                                                homeService.allPerson[constantService.FAMILY_SELF].education.college.collegeCompletedYears}}
                                                                {{'gameLabel.Years_Completed' | translate}}.</span>
                                                            <span
                                                                *ngIf=" homeService.allPerson[constantService.FAMILY_SELF].education.college.inCollege">
                                                                {{
                                                                homeService.allPerson[constantService.FAMILY_SELF].education.college.collegeMaximumYears-
                                                                homeService.allPerson[constantService.FAMILY_SELF].education.college.collegeCompletedYears}}
                                                                {{'gameLabel.Years_Remaining' | translate}}.</span>
                                                        </div>

                                                        <progress style="position: relative; top: auto;" id=""
                                                            value={{collegeProgressYears}}
                                                            max={{collegeProgressYearsMax}}
                                                            *ngIf=" homeService.allPerson[constantService.FAMILY_SELF].education.college.inCollege"></progress>

                                                        <div class="">
                                                            <button type="button"
                                                                class="btn active border-radius btn-blue-grad mt-2"
                                                                *ngIf="!( homeService.allPerson[constantService.FAMILY_SELF].education.college.inCollege|| 
                                                             homeService.allPerson[constantService.FAMILY_SELF].education.college.collegeGraduate)"
                                                                [disabled]="this.homeService.allPerson.SELF.dead||this.homeService.allPerson[this.constantService.FAMILY_SELF].in_prison||
                                                            homeService.allPerson[this.constantService.FAMILY_SELF].job.JobName===this.constantService.JOB_SOLDIER||
                                                            !((!homeService.allPerson[this.constantService.FAMILY_SELF].education.college.inCollege) &&
                                                             !homeService.allPerson[this.constantService.FAMILY_SELF].education.college.collegeGraduate && 
                                                             homeService.allPerson[this.constantService.FAMILY_SELF].education.school.highSchoolGraduate)"
                                                                (click)="enrollCollege()"> {{'gameLabel.ENROLL' |
                                                                translate}}</button>

                                                            <button type="button"
                                                                class="btn active border-radius btn-blue-grad mt-3"
                                                                *ngIf=" homeService.allPerson[constantService.FAMILY_SELF].education.college.inCollege && ! homeService.allPerson[constantService.FAMILY_SELF].education.college.collegeGraduate"
                                                                [disabled]="this.homeService.allPerson.SELF.dead||this.homeService.allPerson[this.constantService.FAMILY_SELF].in_prison
                                                          ||homeService.allPerson[this.constantService.FAMILY_SELF].job.JobName===this.constantService.JOB_SOLDIER"
                                                                (click)="quitCollege('COLLEGE')">
                                                                {{'gameLabel.QUIT_COLLEGE' | translate}}</button>
                                                        </div>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card w-100 blue_heading_card">
                                            <div class="card-header d-flex align-items-cente pt-1 pb-1">
                                                <div class="icon actionicon"><img
                                                        src="assets/images/education/graduate.svg" alt="" height="auto">
                                                </div>
                                                <div
                                                    class="text-uppercase d-flex align-items-center {{headingActiveClassForGraduate}} fontforMedium">
                                                    {{'gameLabel.GRADUATE_SCHOOL' | translate}}</div>
                                            </div>
                                            <div
                                                class="card-body height-11 p-0 d-flex align-items-center justify-content-center flex-column">
                                                <div class="w-100 text-center defaut_progress text-dark">
                                                    <div class="col-11 mx-auto">
                                                        <div class="d-flex align-items-end justify-content-center">
                                                            <label for="" class="text-dark p-2 font_b2 font-500 mb-2"
                                                                *ngIf="! homeService.allPerson[constantService.FAMILY_SELF].education.graduate.inGraduate
                                                            && ! homeService.allPerson[constantService.FAMILY_SELF].education.graduate.graduateDegree
                                                            &&! homeService.allPerson[constantService.FAMILY_SELF].education.graduate.graduateDropOut
                                                            &&! homeService.allPerson[constantService.FAMILY_SELF].education.graduate.graduateProbation">{{'gameLabel.Not_enrolled_yet.'
                                                                | translate}}</label>

                                                            <label for="" class="text-dark p-2 font_b2 font-500 mb-2"
                                                                *ngIf=" homeService.allPerson[constantService.FAMILY_SELF].education.graduate.graduateDegree">{{'gameLabel.Completed_Graduate_Degree_with'
                                                                | translate}} {{graduatefieldOfStudyName}}</label>
                                                            <label for="" class="text-dark p-2 font_b2 font-500 mb-2"
                                                                *ngIf="! homeService.allPerson[constantService.FAMILY_SELF].education.graduate.inGraduate &&  homeService.allPerson[constantService.FAMILY_SELF].education.graduate.graduateDropOut">
                                                                {{'gameLabel.Dropped_Out_From_Graduate_School' |
                                                                translate}}</label>

                                                        </div>
                                                        <div class="d-flex justify-content-between small w-100">
                                                            <span
                                                                *ngIf=" homeService.allPerson[constantService.FAMILY_SELF].education.graduate.inGraduate
                                                           ||homeService.allPerson[this.constantService.FAMILY_SELF].education.graduate.graduateDropOut
                                                            ||homeService.allPerson[this.constantService.FAMILY_SELF].education.graduate.graduateProbation 
                                                            || (homeService.allPerson[constantService.FAMILY_SELF].education.graduate.graduateCompletedYears!==0 && 
                                                            (homeService.allPerson[constantService.FAMILY_SELF].education.graduate.graduateCompletedYears!==homeService.allPerson[constantService.FAMILY_SELF].education.graduate.graduateMaximumYears)) ">
                                                                {{
                                                                homeService.allPerson[constantService.FAMILY_SELF].education.graduate.graduateCompletedYears}}
                                                                {{'gameLabel.Years_Completed' | translate}}.</span>
                                                            <span
                                                                *ngIf=" homeService.allPerson[constantService.FAMILY_SELF].education.graduate.inGraduate">{{
                                                                homeService.allPerson[constantService.FAMILY_SELF].education.graduate.graduateMaximumYears-
                                                                homeService.allPerson[constantService.FAMILY_SELF].education.graduate.graduateCompletedYears}}
                                                                {{'gameLabel.Years_Remaining' | translate}}.</span>
                                                        </div>


                                                        <progress style="position: relative; top: auto;" id=""
                                                            value={{graduateProgressYears}}
                                                            max={{graduateProgressYearsMax}}
                                                            *ngIf=" homeService.allPerson[constantService.FAMILY_SELF].education.graduate.inGraduate"></progress>


                                                        <div class="">
                                                            <div class=""
                                                                *ngIf="!( homeService.allPerson[constantService.FAMILY_SELF].education.graduate.inGraduate || homeService.allPerson[constantService.FAMILY_SELF].education.graduate.graduateDegree )">
                                                                <button type="button"
                                                                    class="btn active border-radius btn-blue-grad mt-2"
                                                                    [disabled]="this.homeService.allPerson.SELF.dead||this.homeService.allPerson[this.constantService.FAMILY_SELF].in_Prison
                                                                ||homeService.allPerson[this.constantService.FAMILY_SELF].job.JobName===this.constantService.JOB_SOLDIER||
                                                                !(!homeService.allPerson[this.constantService.FAMILY_SELF].education.graduate.inGraduate
                                                                 && !homeService.allPerson[this.constantService.FAMILY_SELF].education.graduate.graduateDegree 
                                                                 && homeService.allPerson[this.constantService.FAMILY_SELF].education.college.collegeGraduate)"
                                                                    (click)="enrollGraduate()">{{'gameLabel.ENROLL' |
                                                                    translate}}</button>
                                                            </div>

                                                            <div class=""
                                                                *ngIf=" homeService.allPerson[constantService.FAMILY_SELF].education.graduate.inGraduate && ! homeService.allPerson[constantService.FAMILY_SELF].education.graduate.graduateDegree">
                                                                <button type="button"
                                                                    class="btn active border-radius btn-blue-grad mt-3"
                                                                    [disabled]="this.homeService.allPerson.SELF.dead||this.homeService.allPerson[this.constantService.FAMILY_SELF].in_Prison||homeService.allPerson[this.constantService.FAMILY_SELF].job.JobName===this.constantService.JOB_SOLDIER"
                                                                    (click)="quitGraduate('GRADUATE')">{{'gameLabel.QUIT_GRADUATION'
                                                                    | translate}}</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="md-overlay new_cmn_modal full_width gamescreen h_100" id="enroll_school" tabindex="-1" role="dialog"
            aria-labelledby="dashboard_educationLabel" *ngIf="enrollFlag">
            <!--<div class="new_cmn_modal full_width gamescreen h_100" id="">-->
            <div class="modal-dialog modal-dialog-centered h-100" role="document">
                <div class="modal-content h-100">
                    <!--<div class="modal-header position-relative d-flex align-items-center justify-content-between">
                        <h5 class="modal-title text-white font-400 text-uppercase font_b8 d-flex align-items-center" id="">
                            <img src="assets/images/edu_head_icon.png" alt=""> 
                            <span class="pl-3">Education</span>
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span class="material-icons">close</span>
                        </button>
                    </div>-->
                    <div class="modal-body p-0" style="height: cal(100% - 4rem);">
                        <button type="button" class="close position-absolute" style="right: 0; top: 7px;"
                            (click)="closeFieldOfStudyWindow()">
                            <span class="material-icons">close</span>
                        </button>
                        <div class="col-md-12 pam popbox h-100">
                            <div class="">
                                <div class="row m-0">
                                    <div class="col-md-12">
                                        <p class="mb-5 text-left text-dark font-500">{{displaySchoolType}}</p>
                                    </div>
                                </div>
                                <div class="text-center py-3 mb-4" style="background: #ccc;">
                                    <h3 class="text-center text-dark font-500">
                                        {{'gameLabel.Select_a_Field_of_Study_while_enrolling_to' | translate}}
                                        {{displaySchoolType}}.</h3>
                                    <h5 class="text-dark">Jobs Distribution In Sector: Service:
                                        {{homeService.allPerson[constantService.FAMILY_SELF].country.Services.toFixed(2)}}%,
                                        Agriculture:
                                        {{homeService.allPerson[constantService.FAMILY_SELF].country.Agriculture.toFixed(2)}}%,
                                        Industry:
                                        {{homeService.allPerson[constantService.FAMILY_SELF].country.industry.toFixed(2)}}%
                                    </h5>
                                </div>
                                <form>
                                    <!-- <div class="text-dark text-center mb-3">
                                        <h3>Jobs Distribution In Sector: Service: {{homeService.allPerson[constantService.FAMILY_SELF].country.Services.toFixed(2)}}%,
                                      Agriculture: {{homeService.allPerson[constantService.FAMILY_SELF].country.Agriculture.toFixed(2)}}%,
                                        Industry: {{homeService.allPerson[constantService.FAMILY_SELF].country.industry.toFixed(2)}}%</h3>
                                    </div> -->
                                    <div class="row m-0">

                                        <div class="col-md-4" *ngFor="let fieldList of fieldStudyList, let i=index">
                                            <div class="box radio_img trans scale1_2 mb-3">
                                                <label
                                                    class="abc d-flex align-items-center justify-content-center w-100 p-2"
                                                    [class.active]="r.checked">
                                                    <input #r type="radio" name={{schoolType}} value="{{i}}"
                                                        (change)="allRadioButtonValue($event)">
                                                    <p class="m-0 text-uppercase font-600">{{fieldList.EnrollName}}</p>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="md-overlay black_modal gamescreen" id="enroll" *ngIf="confirmBoxFlag">
            <!--<div class="black_modal gamescreen" id="quit_collage_nodal">-->
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content h-auto">
                    <div class="modal-body p-0">
                        <p class="text-center">{{messageText}}</p>
                        <div class="d-flex justify-content-center w-100">
                            <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1"
                                (click)="selectFieldOfStudyYesClick()">{{'gameLabel.Yes' |translate}}</button>
                            <button type="button" class="btn btn-blue-grad py-1 px-4 ml-1"
                                (click)="selectFieldOfStudyNoClick()">{{'gameLabel.No' |translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="md-overlay black_modal gamescreen" id="quit_collage_nodal" *ngIf="quitFlag">
            <!--<div class="black_modal gamescreen" id="quit_collage_nodal">-->
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content h-auto">
                    <div class="modal-body p-0">
                        <p class="text-center">{{messageText}}</p>
                        <div class="d-flex justify-content-center w-100">
                            <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1"
                                (click)="selectQuitYes()">{{'gameLabel.Yes' |translate}}</button>
                            <button type="button" class="btn btn-blue-grad py-1 px-4 ml-1"
                                (click)="selectQuitNo()">{{'gameLabel.No' |translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="md-overlay black_modal gamescreen" id="fieldOfStudy" *ngIf="reSelectFieldOfStudy">
            <!--<div class="black_modal gamescreen" id="quit_collage_nodal">-->
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content h-auto">
                    <div class="modal-body p-0">
                        <p class="text-center">{{messageText}}</p>
                        <div class="d-flex justify-content-center w-100">
                            <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1"
                                (click)="okClick()">{{'gameLabel.Ok' |translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-wait-screen class="md-overlay_wait_screen black_modal gamescreen" *ngIf="modalWindowShowHide.showWaitScreen">
</app-wait-screen>