<div class="iam blue_gradiant d-flex align-items-center justify-content-center flex-column">
    <h3> {{'gameLabel.Your' | translate}}<br>{{'gameLabel.Family' | translate}}</h3>
    <!-- <span class="font11px">
                 <span class="pull-right mls">
                    <img src="assets/images/game_images/Home_icon.png" width="26" height="18" alt="" class="tlp"  title="Shelter: {{residence}}" data-toggle="tooltip" data-placement="top" style="cursor: pointer">
                </span>
                <span class="pull-right mls">
                    <img src="assets/images/game_images/food_icon.png" alt="" class="mrm" width="26" height="16" class="tlp" title="Diet: {{diet}}" data-toggle="tooltip" data-placement="top" style="cursor: pointer">
                </span>
                </span> -->
</div>
<div class="col your_info p-0">
    <div class="row align-items-center h-100 m-0 px-f2 justify-content-between">
        <div class="col-8 pl-1 d-flex" style="overflow-x: auto; cursor: pointer;" (click)="showFamilyModeWindowClick()">
            <a class="family_box text-decoration-none d-flex">
                <div *ngIf="selfSex=='M'">
                    <img src="assets/images/game_images/me_icon.png" width="20" class="mhs {{deadClassForSelf}}"
                        height="53" alt="" class="tlp" title="{{selfName}},{{selfAge}}" data-toggle="tooltip"
                        data-placement="top" style="cursor: pointer" />
                </div>
            </a>
            <a class="family_box text-decoration-none d-flex">
                <div *ngIf="selfSex=='F'">
                    <img src="assets/images/game_images/woman_self.png" width="20" class="mhs {{deadClassForSelf}}"
                        height="53" alt="" class="tlp" title="{{selfName}},{{selfAge}}" data-toggle="tooltip"
                        data-placement="top" style="cursor: pointer" />
                </div>
            </a>
            <a class="family_box text-decoration-none d-flex">
                <div *ngFor="let living of livingAtHomeArr">
                    <img src="{{living.image}}" width="17" class="mhs" height="50" alt="" class="tlp {{living.class}}"
                        title="{{living.name}},{{living.age}}" data-toggle="tooltip" data-placement="top"
                        style="cursor: pointer" />
                </div>
            </a>
            <a class="family_box text-decoration-none d-flex">
                <div *ngFor="let pet of myPet">
                    <img src="{{pet.petImageLink}}" width="30" class="mhs" height="50" alt="" class="tlp"
                        title="{{pet.petName}},{{pet.petAge}}" data-toggle="tooltip" data-placement="top"
                        style="cursor: pointer" />
                </div>
            </a>

            <a class="family_box family_box_brdr0 text-decoration-none family_box2"
                *ngFor="let nonliving of livingAwayArr">
                <div>
                    <img src="{{nonliving.image}}" width="20" class="mhs" height="53" alt=""
                        class="tlp {{nonliving.class}}" title="{{nonliving.name}},{{nonliving.age}}"
                        data-toggle="tooltip" data-placement="top" style="cursor: pointer" />
                </div>
            </a>
        </div>
        <div class="col border-ledft h-100 d-flex align-items-center text-center line-height-2 score_maxp"
            [ngStyle]="{'border-color':commonService.getColor((homeService.allPerson[constantService.FAMILY_SELF].current_economical_status))}"
            *ngIf="modalWindowShowHide.showEvent">
            <p class="tlp" data-toggle="tooltip" data-placement="top"
                title="{{'gameLabel.Relative_economic_position_score_tlp' | translate}}">
                {{'gameLabel.Relative_economic_position_score' | translate}} <br>
                <span class="score-green"
                    *ngIf="homeService.allPerson[constantService.FAMILY_SELF].current_economic_points>homeService.allPerson[constantService.FAMILY_SELF].old_economic_points">
                    {{homeService.allPerson[constantService.FAMILY_SELF].current_economic_points}}</span>
                <span class="score-red"
                    *ngIf="homeService.allPerson[constantService.FAMILY_SELF].current_economic_points<homeService.allPerson[constantService.FAMILY_SELF].old_economic_points">
                    {{homeService.allPerson[constantService.FAMILY_SELF].current_economic_points}}</span>
                <span class="score-blue"
                    *ngIf="homeService.allPerson[constantService.FAMILY_SELF].current_economic_points===homeService.allPerson[constantService.FAMILY_SELF].old_economic_points">
                    {{homeService.allPerson[constantService.FAMILY_SELF].current_economic_points}}</span>
            </p>
        </div>

        <div class="col border-ledft h-100 d-flex align-items-center text-center line-height-2 score_maxp text-center"
            [ngStyle]="{'border-color':commonService.getColor((homeService.allPerson[constantService.FAMILY_SELF].current_economical_status))}"
            *ngIf="!modalWindowShowHide.showEvent">
            <p> {{commonService.getSatusString(homeService.allPerson[constantService.FAMILY_SELF].current_economical_status)}}
                <br>
                <span class="score-green"
                    *ngIf="homeService.allPerson[constantService.FAMILY_SELF].current_economic_points>homeService.allPerson[constantService.FAMILY_SELF].old_economic_points">
                    {{homeService.allPerson[constantService.FAMILY_SELF].current_economic_points}}</span>
                <span class="score-red"
                    *ngIf="homeService.allPerson[constantService.FAMILY_SELF].current_economic_points<homeService.allPerson[constantService.FAMILY_SELF].old_economic_points">
                    {{homeService.allPerson[constantService.FAMILY_SELF].current_economic_points}}</span>
                <span class="score-blue"
                    *ngIf="homeService.allPerson[constantService.FAMILY_SELF].current_economic_points===homeService.allPerson[constantService.FAMILY_SELF].old_economic_points">
                    {{homeService.allPerson[constantService.FAMILY_SELF].current_economic_points}}</span>
            </p>
        </div>

    </div>
    <div class="clearfix"></div>
</div>