 /* pagination */
 .my-pagination /deep/  .ngx-pagination a {
  color: white!important;
  display: block;
  padding: .1875rem .625rem;
  border-radius: 0;
}

.classForDropDown{
  height: 25px!important;
  margin-left: 8px!important;
}