<div class="amenity_ftr border-top border_white_op6 pt-2" *ngIf="showLegent">
    <p class="font_b1 text-dark">{{'gameLabel.Legend' |translate}}</p>
    <div class="">
        <p class="mb-0 align-items-center mr-4 text-dark">
            <span class="bg-red clr_code d-inline-block mr-2"></span> Selected Answer
        </p>
        <p class="mb-0 align-items-center mr-4 text-dark">
            <span class="bg-oragne clr_code d-inline-block mr-2"></span> Correct selected answer
        </p>
        <p class="mb-0 align-items-center mr-4 text-dark">
            <span class="bg-success clr_code d-inline-block mr-2"></span> Correct answer
        </p>
    </div>
</div>
<button *ngIf="toolService.flagForMapQue && this.count===1" type="button" class="btn btn-blue-grad py-1 px-4 mr-1 "
    (click)="getAns()">{{'gameLabel.Get_ans' |translate}}</button>
<button *ngIf="toolService.flagForMapQue && this.count===1" type="button" class="btn btn-blue-grad py-1 px-4 mr-1 "
    (click)="reset()">{{'gameLabel.Reset_map' |translate}}</button>

<div id="chartdiv">
</div>
<div class="md-overlay black_modal gamescreen d-flex align-items-center" *ngIf="showAlertFlag">
    <div class="modal-dialog modal-dialog-centered w700" role="document">
        <div class="modal-content h-auto">
            <div class="modal-body p-0" style="text-align: center; color: gray;">
                <span class="text-white moreinfo">{{msgText}}</span>
                <div class="d-flex justify-content-center w-100 btnPadding paddingClass">
                    <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1 " (click)="clickOk()">{{'gameLabel.Ok'
                        |translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>