<div *ngIf="modalWindowShowHide.showFinanceStatus">
    <div class="tab-pane fade h-100 active show" role="tabpanel">
        <div class="tab_inner_div life_summary_main overflow-y-auto">
            <div>
                <div class="action_finance_content_clm">
                    <div class="dbm" style="overflow-y: auto; overflow-x: hidden;">
                        <div class="row m-0" style="display: block;">
                            <!-- <div class="">
                        <div class="col-12 pch text-white fn-status-heading" style=" margin-top: 15px;">{{'gameLabel.CURRENT_FINANCIAL_STATUS' |translate}}</div>
                    </div> -->
                        </div>
                        <div class="row m-0" style="overflow-y: auto;">
                            <div class="col-12 tb-2">
                                <span class="primary-text-for-status text-center infoborder fontforxsSmall small "
                                    style="cursor: pointer;" (click)="moreInfo()">{{statusSatement}}</span>
                                <table class="table table-sm table-dark fn-status-table"
                                    style="text-align: left; width: 99%;">
                                    <tbody>
                                        <tr>
                                            <th class="notop-bordr  " scope="row tlp" data-toggle="tooltip"
                                                data-placement="top"
                                                title="{{'gameLabel.totalFamMemberTol' | translate}}">
                                                {{'gameLabel.Total_family_members' | translate}}</th>
                                            <!-- <td [ngStyle]="{'color':fMamber}">{{homeService.allPerson[constantService.FAMILY_SELF].count_of_household_members}}</td> -->
                                            <td class="notop-bordr ">
                                                {{familyMemberCount}}
                                            </td>

                                        </tr>
                                        <tr>
                                            <th scope="row tlp " data-toggle="tooltip" data-placement="top"
                                                title="{{'gameLabel.Total_earning_memberstlp' | translate}}">
                                                {{'gameLabel.Total_earning_members' | translate}}</th>
                                            <td class="{{finanaceStatusService.classForEarningMembers}}">
                                                {{countOfEarningMember}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row  tlp " data-toggle="tooltip" data-placement="top"
                                                title="{{'gameLabel.Current_diet_typetlp' | translate}}">
                                                {{'gameLabel.Current_diet_type' | translate}}</th>
                                            <td colspan="2" class="{{finanaceStatusService.classForDiet}}">{{diet}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row  tlp " data-toggle="tooltip" data-placement="top"
                                                title="{{'gameLabel.Expenses_on_foodtlp' | translate}}">
                                                {{'gameLabel.Expenses_on_food' | translate}}</th>
                                            <td colspan="2" class=""> {{expenceFoodPer.toFixed(0)}}%
                                                ({{expenceFoodPerInRes.toFixed(0)}} {{constantService.US_CURRENCYCODE}})
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row  tlp " data-toggle="tooltip" data-placement="top"
                                                title="{{'gameLabel.Current_shelter_type' | translate}}">
                                                {{'gameLabel.Current_shelter_type' | translate}}</th>
                                            <td colspan="2" class="{{finanaceStatusService.classForShelter}}">
                                                {{shelter}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row  tlp " data-toggle="tooltip" data-placement="top"
                                                title="{{'gameLabel.Expenses_on_shelter' | translate}}">
                                                {{'gameLabel.Expenses_on_shelter' | translate}}</th>
                                            <td colspan="2" class=""> {{expenceShelterPer.toFixed(0)}}% </td>
                                        </tr>
                                        <tr>
                                            <th scope="row  tlp " data-toggle="tooltip" data-placement="top"
                                                title="{{'gameLabel.Current_saving_ratetlp' | translate}}">
                                                {{'gameLabel.Current_saving_rate' | translate}}</th>
                                            <td colspan="2" class="{{finanaceStatusService.classForSavingRate}}">
                                                {{currentSavingRate.toFixed(0)}}%</td>
                                        </tr>
                                        <tr>
                                            <th scope="row tlp " data-toggle="tooltip" data-placement="top"
                                                title="{{'gameLabel.Networth_to_income_ratiotlp' | translate}}">
                                                {{'gameLabel.Net_worth_to_income_ratio' | translate}}</th>
                                            <td colspan="2" class="{{finanaceStatusService.classForNetToIncome}}">
                                                {{homeService.allPerson[constantService.FAMILY_SELF].expense.incomeToWealthRatio}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-12 tb-2">
                                <table class="table table-sm table-dark fn-status-table"
                                    style="text-align: left; width: 99%;">
                                    <thead>
                                        <tr>
                                            <th class="notop-bordr"></th>
                                            <th class="notop-bordr">
                                                {{this.homeService.allPerson[this.constantService.FAMILY_SELF].country.currency_code}}
                                            </th>
                                            <th class="notop-bordr">{{this.homeService.allPerson[this.constantService.FAMILY_SELF].register_country.currency_code}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr>
                                            <th scope="row  tlp " data-toggle="tooltip" data-placement="top"
                                                title="{{'gameLabel.Family_income_per_monthtlp' | translate}}">
                                                {{'gameLabel.Family_income_per_month' | translate}}</th>
                                            <td class="">
                                                {{commonService.checkNumberFormat(homeService.allPerson[constantService.FAMILY_SELF].expense.householdIncome)}}
                                            </td>
                                            <td class="">
                                                {{commonService.checkNumberFormat(((homeService.allPerson[constantService.FAMILY_SELF].expense.householdIncome/homeService.allPerson[constantService.FAMILY_SELF].country.ExchangeRate)*
                                                    this.homeService.allPerson[this.constantService.FAMILY_SELF].register_country.ExchangeRate))}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row  tlp " data-toggle="tooltip" data-placement="top"
                                                title="{{'gameLabel.Family_expenes_per_monthtlp' | translate}}">
                                                {{'gameLabel.Family_expenes_per_month' | translate}}</th>
                                            <td>{{commonService.checkNumberFormat(homeService.allPerson[constantService.FAMILY_SELF].expense.householdExpenses)}}
                                            </td>
                                            <td>{{commonService.checkNumberFormat(((homeService.allPerson[constantService.FAMILY_SELF].expense.householdExpenses/homeService.allPerson[constantService.FAMILY_SELF].country.ExchangeRate)*
                                                this.homeService.allPerson[this.constantService.FAMILY_SELF].register_country.ExchangeRate))}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row  tlp" data-toggle="tooltip" data-placement="top"
                                                title="{{'gameLabel.Family_savings_monthtlp' | translate}}">
                                                {{'gameLabel.Family_savings_month' | translate}}</th>
                                            <td class="{{finanaceStatusService.classForSavings}}">
                                                {{commonService.checkNumberFormat(homeService.allPerson[constantService.FAMILY_SELF].expense.householdIncome
                                                -homeService.allPerson[constantService.FAMILY_SELF].expense.householdExpenses)}}
                                            </td>
                                            <td class="{{finanaceStatusService.classForSavings}}">
                                                {{commonService.checkNumberFormat(
                                                    (((homeService.allPerson[constantService.FAMILY_SELF].expense.householdIncome/homeService.allPerson[constantService.FAMILY_SELF].country.ExchangeRate)*
                                                    this.homeService.allPerson[this.constantService.FAMILY_SELF].register_country.ExchangeRate)) - (((homeService.allPerson[constantService.FAMILY_SELF].expense.householdExpenses/homeService.allPerson[constantService.FAMILY_SELF].country.ExchangeRate)*
                                                    this.homeService.allPerson[this.constantService.FAMILY_SELF].register_country.ExchangeRate))) }}

                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row  tlp" data-toggle="tooltip" data-placement="top"
                                                title="{{'gameLabel.Family_assetstlp' | translate}}">
                                                {{'gameLabel.Family_assets' | translate}}</th>
                                            <td>{{commonService.checkNumberFormat(homeService.allPerson[constantService.FAMILY_SELF].expense.householdInvestmentValue+homeService.allPerson[constantService.FAMILY_SELF].expense.householdCash)}}
                                            </td>
                                            <td>
                                                {{commonService.checkNumberFormat(
                                                    (((homeService.allPerson[constantService.FAMILY_SELF].expense.householdInvestmentValue/homeService.allPerson[constantService.FAMILY_SELF].country.ExchangeRate)*
                                                    this.homeService.allPerson[this.constantService.FAMILY_SELF].register_country.ExchangeRate)) + (((homeService.allPerson[constantService.FAMILY_SELF].expense.householdCash/homeService.allPerson[constantService.FAMILY_SELF].country.ExchangeRate)*
                                                    this.homeService.allPerson[this.constantService.FAMILY_SELF].register_country.ExchangeRate))) }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row  tlp" data-toggle="tooltip" data-placement="top"
                                                title="{{'gameLabel.Cash_in_handtlp' | translate}}">
                                                {{'gameLabel.Cash_in_hand' | translate}}</th>
                                            <td>{{commonService.checkNumberFormat(homeService.allPerson[constantService.FAMILY_SELF].expense.householdCash)}}
                                            </td>
                                            <td>{{commonService.checkNumberFormat(((homeService.allPerson[constantService.FAMILY_SELF].expense.householdCash/homeService.allPerson[constantService.FAMILY_SELF].country.ExchangeRate)*
                                                this.homeService.allPerson[this.constantService.FAMILY_SELF].register_country.ExchangeRate))}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row tlp" data-toggle="tooltip" data-placement="top"
                                                title="{{'gameLabel.Loanstlp' | translate}}"> {{'gameLabel.Loans' |
                                                translate}} <a *ngIf="showLoanButton"
                                                    (click)="openLoanAndInvestMent()"><span
                                                        class="tb-buttons-act">{{'gameLabel.Pay_off'
                                                        |translate}}</span></a></th>
                                            <td> {{commonService.checkNumberFormat(homeService.allPerson[constantService.FAMILY_SELF].expense.householdLiabilities)}}
                                            </td>
                                            <td>{{commonService.checkNumberFormat(((homeService.allPerson[constantService.FAMILY_SELF].expense.householdLiabilities/homeService.allPerson[constantService.FAMILY_SELF].country.ExchangeRate)*
                                                this.homeService.allPerson[this.constantService.FAMILY_SELF].register_country.ExchangeRate))}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row  tlp" data-toggle="tooltip" data-placement="top"
                                                title="{{'gameLabel.Investmentstlp' | translate}}">
                                                {{'gameLabel.Investments' | translate}} <a *ngIf="showInvestmentButton"
                                                    (click)="openLoanAndInvestMent()"> <span
                                                        class="tb-buttons-act">{{'gameLabel.Withdraw'
                                                        |translate}}</span></a></th>
                                            <td> {{commonService.checkNumberFormat(homeService.allPerson[constantService.FAMILY_SELF].expense.householdInvestmentValue)}}
                                            </td>
                                            <td>{{commonService.checkNumberFormat(((homeService.allPerson[constantService.FAMILY_SELF].expense.householdInvestmentValue/homeService.allPerson[constantService.FAMILY_SELF].country.ExchangeRate)*
                                                this.homeService.allPerson[this.constantService.FAMILY_SELF].register_country.ExchangeRate))}} 
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row  tlp" data-toggle="tooltip" data-placement="top"
                                                title="{{'gameLabel.Family_net_worthtlp' | translate}}">
                                                {{'gameLabel.Family_net_worth' | translate}}</th>
                                            <td class="{{finanaceStatusService.classForNetworth}}">
                                                {{commonService.checkNumberFormat(homeService.allPerson[constantService.FAMILY_SELF].expense.householdNetWorth)}}
                                            </td>
                                            <td class="{{finanaceStatusService.classForNetworth}}">
                                                {{commonService.checkNumberFormat(((homeService.allPerson[constantService.FAMILY_SELF].expense.householdNetWorth/homeService.allPerson[constantService.FAMILY_SELF].country.ExchangeRate)*
                                                    this.homeService.allPerson[this.constantService.FAMILY_SELF].register_country.ExchangeRate))}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="md-overlay black_modal gamescreen d-flex align-items-center" id="showInvestmentMetaDataWindow"
    *ngIf="moreInfoFlag">
    <div class="modal-dialog modal-dialog-centered w700" role="document">
        <div class="modal-content h-auto">
            <div class="modal-body p-0" style="text-align: left;">
                <span class="text-white moreinfo infoborder text-center" [innerHTML]="moreInfoTitle"></span>
                <span class="text-white moreinfo" [innerHTML]="moreInforStm"></span>
                <div class="d-flex justify-content-center w-100 btnPadding">
                    <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1 "
                        (click)="successMsgWindowClose()">{{'gameLabel.Ok' |translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>