.infoborder{
    border-bottom:1px solid  #28b5ed!important;
}

.moreinfo{
    font-weight: 300!important;
}

.btnPadding{
    padding-top: 18px !important

}

.black_modal .modal-content{background: #000; border: 1px solid;  padding: 1rem;}


.primary-text-for-status {
    color: #fff;
}
.primary-text-for-status:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
    color:  #0e8a9b;
}
@media (min-width:2500px) {
    .tb-2 .table thead tr th,
    .tb-2 .table tbody tr th,
    .tb-2 .table tbody tr td {
      padding: 10px !important;
      color: #fff;
      background: #000;
      font-size: 1rem;
    }
}

@media (min-width: 1600px){
.tb-2 .table thead tr th, .tb-2 .table tbody tr th, .tb-2 .table tbody tr td {
  padding: 10px !important;
  color: #fff;
  background: #000;
  font-size: 0.9rem;
}
}