<div *ngIf="modalWindowService.showRegisterCOuntrySelectFlag">
    <div class=" new_cmn_modal full_width home_country_select" id="home_country_select_modal" tabindex="-1"
        role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header position-relative d-flex align-items-center justify-content-between">
                    <h5 class="modal-title text-white font-400 text-uppercase font_b8 d-flex align-items-center" id="">
                        <img src="assets/images/register-country-logo.svg" alt="" style="width: 40px;">
                        <span class="pl-3"> {{'gameLabel.registerCountryTitle' | translate}}</span>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
                        <span class="material-icons">close</span>
                    </button>
                </div>
                <div class="modal-body bg-light">
                    <div class="content text-gray2 pt-3 h-100">
                        <div class="city_wraper_main h-100">
                            <div class="row size_row h-100">
                                <div class="col-12 text-center">
                                    <h2 style="font-size:initial"> {{'gameLabel.registerCountryWarr' | translate}}</h2>
                                    <div class="search-hero wdth-search1">
                                        <input class="form-control text-center" type="text" name="search"
                                            [(ngModel)]="searchText" autocomplete="off">
                                    </div>
                                    <div>
                                        <div class="position-relative d-flex align-items-center justify-content-center flex-grow-1"
                                            *ngIf="checkBoxDisplayFlag">
                                            <input type="checkbox" id="default" (click)="checkBocChecked()"
                                                [(ngModel)]="checkBoxCheckFlag" [ngModelOptions]="{standalone: true}">
                                            <label
                                                class="text-center justify-content-center m-2">{{textCheckBox}}</label>
                                        </div>
                                        <div class="position-relative d-flex align-items-center justify-content-center flex-grow-1"
                                            *ngIf="!checkBoxDisplayFlag">
                                            <label class="text-center justify-content-center m-2">{{text}}</label>
                                        </div>
                                    </div>
                                    <form class="w-100">
                                        <div class="d-flex flex-wrap justify-content-center no-gutters city_wraper">

                                            <div class="col-2"
                                                *ngFor="let country of countryList|filter:searchText let i = index">
                                                <div class="box radio_img  fontforSmall">
                                                    <label [class.active]="r.checked ">
                                                        <input #r type="radio" name="country_option"
                                                            value="{{country.countryid}}" [checked]="(i === countryId)"
                                                            (change)="allRadioButtonValue($event)">
                                                        <figure><img
                                                                src="assets/images/flags-big/{{country.Code | lowercase}}.png"
                                                                alt=""></figure>
                                                        <p class="m-0 text-uppercase font-600">{{country.country}}</p>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="d-flex justify-content-center">
                                            <button type="button" class="btn btn-primary2 next_religion_btn"
                                                (click)="saveCountry()"> {{'gameLabel.buttonTitle' |
                                                translate}}</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="md-overlay black_modal gamescreen" id="dashboard_residence" *ngIf="successMsgFlag">
    <div class="modal-dialog modal-dialog-centered w700" role="document">
        <div class="modal-content h-auto">
            <div class="modal-body p-0">
                <p class="text-center">{{messageText}}</p>
                <div class="d-flex justify-content-center w-100">
                    <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1"
                        (click)="successMsgWindowClose()">{{'gameLabel.Ok' |translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-wait-screen class="md-overlay_wait_screen" *ngIf="modalWindowService.showWaitScreen"></app-wait-screen>
