<div class="container">
    <div class="row custom-wrapper">
        <div class="col-md-12">
            <!-- <button type="" class="btn btn-primary2 text-dark mx-1 border-0 font_b2 next_step new-for-btn-sty" (click)="reTake()">{{'gameLabel.Retake_test' |translate}}</button> -->
            <div class="row">
                <div class="col-md-6">
                    <form>
                        <div class="group-gap" *ngFor="let que1 of firstArr ,let j=index">
                            <div class="group-gap">
                                <h5 class="mb-3" style="color: aqua;">{{j+1}}) {{que1.quetion}}</h5>
                            </div>
                            <div class="row">
                                <label>
                                    <input type="radio" name="one" id="one" value="1" (click)="redioButtonClick(1)">
                                    True</label>
                                <label>
                                    <input type="radio" name="tow" id="teo" value="2" (click)="redioButtonClick(2)">
                                    False</label>

                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <form>
                        <div class="group-gap" *ngFor="let que of secondArr ,let j=index">
                            <h5 class="mb-3" style="color: aqua; ">{{j+6}}) {{que.quetion}}</h5>
                            <br>
                            <div class="row">
                                <label>
                                    <input type="radio" name="one" id="one" value="1" (click)="redioButtonClick(1)">
                                    True</label>
                                <label>
                                    <input type="radio" name="tow" id="teo" value="2" (click)="redioButtonClick(2)">
                                    False</label>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- <button type="submit" class="btn btn-primary2 w-100 text-dark mx-1 border-0 font_b2 next_step new-for-btn-sty" (click)="onSubmit()">{{'gameLabel.submit' |translate}}</button> -->

        </div>
    </div>
</div>