<div class="d-flex flex-column justify-content-between glob_bg">
    <header>
        <div class="logo mx-auto trans" data-aos="" data-aos-delay="100"><img img src="assets/images/RL_logo.svg"
                alt="">
        </div>
    </header>
    <div class="listing_heading position-relative mb-4 col-md-12">
        <a class="go_back_btn text-primary" (click)="backClick()">
            <i class="fa fa-arrow-left" aria-hidden="true" style="cursor: pointer;padding-left: 5px;"></i>
            {{'gameLabel.Back'
            |translate}}</a>
        <a title="{{'gameLabel.Go_to_dashbord' | translate }}" data-toggle="tooltip" data-placement="left" class="tlp"
            style="cursor: pointer;" (click)="clickToExitButton()">
            <span class="material-icons " style="cursor: pointer;float: right;">login</span></a>
    </div>
    <section class="home_dashboard v_center">
        <div class="container-fluid">
            <div class="">
                <div class="col-md-12 mx-auto">
                    <div class="col-md-4 mx-auto text-center mx-4">
                        <div class="">
                            <figure class="mb-4"><img
                                    src="assets/images/sdgicon/E_SDG_Logo_UN-Emblem-01_transparent.png" alt=""
                                    class="img-fluid"></figure>
                        </div>
                    </div>
                    <div class="col-md-12 mx-auto text-center mx-4">
                        <p class="mb-0 mt-3 text-primary2">
                            {{'gameLabel.Choose_a_sustainable_development_goal_(SDG)_challenge_to_live_a_life_in_a_country'
                            |translate}}
                        </p>
                    </div>
                </div>
                <div class="md-col-12">
                    <h2 class="text-center mt-0">{{'gameLabel.Welcome_to_RealLives_sdg_data_learning_tool'
                        |translate}}
                    </h2>
                    <h3 class="text-center mb-3 mt-3"></h3>
                    <div class="d-flex justify-content-center mt-3">
                        <button type="button"
                            class="btn btn-blue-grad py-1 px-4 mr-3 col-2 assignment-main-div fontSize"
                            (click)="clickFromMap()">{{'gameLabel.Select_country_from_the_map' |translate}}</button>
                        <button type="button"
                            class="btn btn-blue-grad py-1 px-4 mr-3 col-2 assignment-main-div fontSize"
                            (click)="clickFromList()">{{'gameLabel.Select_country_from_list' |translate}}</button>
                        <!-- <button type="button" class="btn btn-blue-grad py-1 px-4 mr-3" (click)="clickSdgButton()">Sdg
                                                learning tool</button> -->
                    </div>
                </div>

            </div>
        </div>

    </section>
</div>