

.btnPadding{
    padding-top: 18px !important

}

.black_modal .modal-content{background: #000; border: 1px solid ;border-color: gray!important;  padding: 1rem; }

.infoborder{
    border-bottom:1px solid  #28b5ed!important;
}

.moreinfo{
    font-weight: 300!important;
}

.btnPadding{
    padding-top: 18px !important

}

.left{
    align-items: left
    ;
}

.bold{
 font-weight: bold;
}


.headcolor{
    color: #00cbe6;
}


