<body>
    <!--main_wraper start here-->
    <div class="main_wraper d-flex flex-column justify-content-between glob_bg">

        <!--header-->
        <header>
            <div class="logo mx-auto trans" data-aos="" data-aos-delay="100"><img img src="assets/images/RL_logo.svg"
                    alt=""></div>
            <div class="top_nav">
                <ul class="list-unstyled m-0 d-flex align-items-center">
                    <li>
                        <a title="{{'gameLabel.language' | translate }}" data-toggle="tooltip" data-placement="left"
                            class="tlp " style="cursor: pointer;" (click)="clickLanguageSetting()">
                            <span class="material-icons" style="cursor: pointer" style="font-size: 2.2rem">language
                            </span></a>
                    </li>
                    <li>
                        <a title="{{'gameLabel.registerCountryTitle' | translate }}" data-toggle="tooltip"
                            data-placement="left" class="tlp " style="cursor: pointer;"
                            (click)="clickRegisterCountrySelect()">
                            <span class="material-icons" style="cursor: pointer" style="font-size: 2.2rem">outlined_flag
                            </span></a>
                    </li>
                    <li>
                        <a [ngClass]="{'disable':this.gameSummeryService.totalPayedLifeCount===0}"
                            title="{{'gameLabel.screen_seetings' | translate }}" data-toggle="tooltip"
                            data-placement="left" class="tlp" style="cursor: pointer;" (click)="clickBornSeeting()">
                            <span class="material-icons" style="cursor: pointer"
                                style="font-size: 2.2rem">video_settings </span></a>
                        
                    </li>
                    <li>
                        <a title="{{'gameLabel.settings' | translate }}" data-toggle="tooltip" data-placement="left"
                            class="tlp" style="cursor: pointer;" (click)="clickGameSeeting()">
                            <span class="material-icons" style="cursor: pointer">settings</span></a>
                    </li>
                    <li>
                        <a title="{{'gameLabel.Go_to_dashbord' | translate }}" data-toggle="tooltip"
                            data-placement="left" class="tlp" style="cursor: pointer;" (click)="clickToExitButton()">
                            <span class="material-icons " style="cursor: pointer">login</span></a>
                    </li>
                </ul>

            </div>
        </header>
        <!--end of header-->
        <!--main content-->
        <section class="home_dashboard v_center">
            <div class="container-fluid">
                <div *ngIf="gameSummeryService.licenceId!==null ||  this.gameSummeryService.maxLifeCount>1">
                    <h3 class="text-center" style="margin-top:20px"> {{lifeCountMsg}}</h3>
                </div>
                <div class="row h-100">
                    <div class="col-md-6 mx-auto d-flex align-items-center flex-column justify-content-center">
                        <div class=" icons_row  d-flex justify-content-center mt-3"
                            *ngIf="gameSummeryService.licenceId===null ||  this.gameSummeryService.maxLifeCount===1">
                            <div class="icon">
                                <a (click)="createLifeWithDemo()">
                                    <img src="assets/images/startscreen/demo-life.svg" alt="" style="cursor: pointer">
                                    <p> {{'gameLabel.demo_random_life' | translate }}</p>
                                </a>
                            </div>
                        </div>
                        <div class="icons_row d-flex justify-content-center">
                            <div class="icon">
                                <a (click)="goTocreateLife()">
                                    <img src="assets/images/startscreen/random-life.png" alt="" style="cursor: pointer">
                                    <p> {{'gameLabel.Live_a_new_life' | translate }} </p>

                                </a>
                            </div>
                            <div class="icon">
                                <a (click)="goToDesignLife()">
                                    <img src="assets/images/startscreen/design-life.png" alt="" style="cursor: pointer">
                                    <p> {{'gameLabel.Design_a_new_life' | translate }}</p>
                                </a>
                            </div>
                            <div class="icon tlp" data-toggle="tooltip" data-placement="right"
                                title="{{'gameLabel.sdg_tlp' | translate }}">
                                <a (click)="createLifeWithSdg()">
                                    <img src="assets/images/startscreen/sdg_life.png" alt="" style="cursor: pointer">
                                    <p> {{'gameLabel.Create_Life_using_SDG' | translate }}</p>
                                </a>
                            </div>
                            <div class="icon">
                                <a (click)="createLifeWithGroup()">
                                    <img src="assets/images/startscreen/assignment-life.png" alt=""
                                        style="cursor: pointer">
                                    <p> {{'gameLabel.Create_Life_using_Group' | translate }}</p>

                                </a>
                            </div>
                            <div class="icon">
                                <a (click)="showAssignment()">
                                    <img src="assets/images/startscreen/country-group-life.png" alt=""
                                        style="cursor: pointer">
                                    <p> {{'gameLabel.Assignments' | translate }}</p>
                                </a>
                            </div>
                            <div class="icon">
                                <a (click)="goToCreateOldLife()">
                                    <img src="assets/images/startscreen/17_years_born.svg" alt=""
                                        style="cursor: pointer">
                                    <p> {{'gameLabel.age_17_title' |translate}} </p>
                                </a>

                            </div>
                        </div>
                        <div class="icons_row d-flex justify-content-center mt-3">
                            <div class="icon">
                                <a (click)="loadlifeBookData()">
                                    <img img src="assets/images/Lifebook.svg" alt="" style="cursor: pointer;width:90">
                                    <p> {{'gameLabel.Life_book' | translate }}</p>
                                </a>
                            </div>
                            <div class="icon">
                                <a (click)="loadlifeLerningToolData()">
                                    <img img src="assets/images/lifedata.svg" alt="" style="cursor: pointer;width:90">
                                    <p> {{'gameLabel.Life_data' | translate }}</p>
                                </a>
                            </div>
                            <div class="icon">
                                <a (click)="loadLifeDiaryData()">
                                    <img img src="assets/images/lifediary.svg" alt="" style="cursor: pointer;width:90">
                                    <p> {{'gameLabel.Life_diary' | translate }}</p>

                                </a>
                            </div>
                            <div class="icon">
                                <a (click)="loadPassport()">
                                    <img img src="assets/images/yourpassport.svg" alt=""
                                        style="cursor: pointer;width:90">
                                    <p> {{'gameLabel.RealLives_passport' | translate }}</p>

                                </a>
                            </div>
                        </div>
                        <div class="icons_row d-flex justify-content-center mt-3">
                            <div class="icon">
                                <a (click)="loadIncompleteLife()">
                                    <img img src="assets/images/startscreen/incomplete-life.png" alt=""
                                        style="cursor: pointer">
                                    <p> {{'gameLabel.Load_an_incomplete_life' | translate }}</p>

                                </a>
                            </div>
                            <div class="icon">
                                <a (click)="loadCompletedLife()">
                                    <img img src="assets/images/startscreen/complete-life.png" alt=""
                                        style="cursor: pointer">
                                    <p> {{'gameLabel.Load_a_completed_life' | translate }}</p>

                                </a>
                            </div>
                            <div class="icon">
                                <a (click)="loadDeletedLife()">
                                    <img img src="assets/images/delete icon.svg" alt="" style="cursor: pointer">
                                    <p> {{'gameLabel.Load_a_deleted_life' | translate }}</p>

                                </a>
                            </div>
                            <div class="icon">
                                <a (click)="dataToolClick()">
                                    <img img src="assets/images/startscreen/yourlives.svg" alt=""
                                        style="cursor: pointer">
                                    <p>{{'gameLabel.Data_tools' |translate}}</p>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </section>
        <!--end of main content-->
        <!--end of main_wraper start here-->



    </div>
    <div class="md-overlay black_modal gamescreen" id="live_life_save" *ngIf="exitButtonFlag">
        <div class="modal-dialog modal-dialog-centered closeWnd" role="document">
            <div class="modal-content h-auto">
                <div class="modal-body p-0">
                    <p class="text-center">{{'gameLabel.dashbord_quetion' |translate}}</p>
                    <div class="d-flex justify-content-center w-100">
                        <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1"
                            (click)="goToDashbordYes()">{{'gameLabel.Yes' |translate}}</button>
                        <button type="button" class="btn btn-blue-grad py-1 px-4 ml-1"
                            (click)="goToDashbordNo()">{{'gameLabel.No' |translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="md-overlay black_modal gamescreen d-flex align-items-center" *ngIf="showSuccessMsgFlag">
        <div class="modal-dialog modal-dialog-centered w700" role="document">
            <div class="modal-content h-auto">
                <div class="modal-body p-0" style="text-align: center; color: gray;">
                    <span class="text-white moreinfo">{{moreInforStm}}</span>
                    <div class="d-flex justify-content-center w-100 btnPadding">
                        <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1 "
                            (click)="successWindowOk()">{{'gameLabel.Ok' |translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="md-overlay black_modal gamescreen d-flex align-items-center" *ngIf="showSuccessMsgFlagLoadLife">
        <div class="modal-dialog modal-dialog-centered w700" role="document">
            <div class="modal-content h-auto">
                <div class="modal-body p-0" style="text-align: center; color: gray;">
                    <span class="text-white moreinfo">{{moreInforStm}}</span>
                    <div class="d-flex justify-content-center w-100 btnPadding paddingClass">
                        <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1 "
                            (click)="successWindowOkLoadLife()">{{'gameLabel.Ok' |translate}}</button>
                        <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1 "
                            (click)="loadIncompleteLife()">{{'gameLabel.Go_to_Incomplete_lives' |translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="md-overlay black_modal gamescreen d-flex align-items-center" id="showInvestmentMetaDataWindow"
        *ngIf="fistTimeClickFlag">
        <div class="modal-dialog modal-dialog-centered w700" role="document">
            <div class="modal-content h-auto">
                <div class="modal-body p-0" style="text-align: center;">
                    <span class="text-white moreinfo infoborder" [innerHTML]="moreInfoTitle"></span>
                    <span class="text-white moreinfo" [innerHTML]="moreInforStm"></span>
                    <div class="d-flex justify-content-center w-100 btnPadding">
                        <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1 "
                            (click)="okClick()">{{'gameLabel.Ok' |translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="md-overlay black_modal gamescreen d-flex align-items-center" *ngIf="flagForScreenSeetingsPopup">
        <div class="modal-dialog modal-dialog-centered w700" role="document">
            <div class="modal-content h-auto">
                <div class="modal-body p-0">
                    <p class="text-center" style="line-height: 2;">{{'gameLabel.born_screen_popup' |translate}}</p>
                    <div class="d-flex justify-content-center w-100 btnPadding">
                        <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1 "
                            (click)="okClickBornScreenPopup()">{{'gameLabel.Ok' |translate}}</button>
                        <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1 "
                            (click)="clickBornSeeting()">{{'gameLabel.View_born_screens_settings'
                            |translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="md-overlay black_modal gamescreen d-flex align-items-center" *ngIf="gameSummeryService.licencesExpiryFlag">
        <div class="modal-dialog modal-dialog-centered w700" role="document">
            <div class="modal-content h-auto">
                <div class="modal-body p-0 text-white left">
                    <p>{{'gameLabel.account_exp1' |translate}}</p>
                    <p>{{'gameLabel.account_exp2' |translate}}</p>
                    <div class="d-flex justify-content-center w-100 btnPadding">
                        <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1 "
                            (click)="licencesExpireOk()">{{'gameLabel.Renew_now' |translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="md-overlay black_modal gamescreen d-flex align-items-center" *ngIf="gameSummeryService.newFeatureFlag">
        <div class="modal-dialog modal-dialog-centered w700" role="document">
            <div class="modal-content h-auto">
                <div class="modal-body p-0 text-white left">
                  <p>{{'gameLabel.NewFetureEdu1'|translate}}</p>
                  <p>{{'gameLabel.NewFetureEdu2'|translate}}</p>
                  <p>{{'gameLabel.NewFetureEdu3'|translate}}</p>
                  <p>{{'gameLabel.NewFetureEdu4'|translate}} <a href="https://play.google.com/store/apps/details?id=com.reallivesworld.app&pcampaignid=web_share" target="_blank">{{'gameLabel.NewFetureEdu5'|translate}}</a></p>
                  <p>{{'gameLabel.NewFetureEdu6'|translate}}</p>
                  <p>{{'gameLabel.NewFetureEdu7'|translate}}</p>
                  <p>{{'gameLabel.NewFetureEdu8'|translate}}</p>
                  <p>{{'gameLabel.NewFetureEdu9'|translate}}</p>
                  <p>{{'gameLabel.NewFetureEdu10'|translate}}</p>
                  <p>{{'gameLabel.NewFetureEdu11'|translate}}</p>
                  <p>{{'gameLabel.NewFetureEdu12'|translate}}</p>

                    <div class="d-flex justify-content-center w-100 btnPadding">
                        <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1 "
                            (click)="newFetureWindowClose()">{{'gameLabel.Ok' |translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="md-overlay black_modal gamescreen d-flex align-items-center" *ngIf="demoOverFlag">
        <div class="modal-dialog modal-dialog-centered w700" role="document">
            <div class="modal-content h-auto">
                <div class="modal-body p-0 text-white left">
                 <div class="text-white" style="text-align: left;">
                        <p>{{'gameLabel.demo_over_text1'|translate}}</p>
                        <p>{{'gameLabel.demo_over_text2'|translate}}</p>
                        <p>{{'gameLabel.demo_over_text3'|translate}}</p>
                        <p class="mb-0">{{'gameLabel.demo_over_text4'|translate}}</p>
                        <p class="mb-0">{{'gameLabel.demo_over_text5'|translate}}</p>
                        <p >{{'gameLabel.demo_over_text6'|translate}}</p>
                        <p class="mb-0">{{'gameLabel.demo_over_text7'|translate}}</p>
                        <p style="font-style: italic;">{{'gameLabel.demo_over_text8'|translate}}</p>
                    </div> 
                    <div class="d-flex justify-content-center w-100 btnPadding">
                        <a  href="{{commonService.buyNowUrl}}" target="_blank">
                            <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1 "
                            >{{'gameLabel.Buy_now' |translate}}</button>
                        </a>
                       
                        <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1 "
                            (click)="demoCancel()">{{'gameLabel.Cancel' |translate}}</button>
                    </div> 
                </div>
            </div>
        </div>
    </div>

</body>

<app-create-life-with-character-design class="md-overlay" *ngIf="modalWindowService.showcharacterDesignFlag">
</app-create-life-with-character-design>
<app-create-life-with-sdg class="md-overlay" *ngIf="modalWindowService.showchearacterDesignSdgFlag">
</app-create-life-with-sdg>
<app-game-setting class="md-overlay" *ngIf="modalWindowService.showGameSeetingsFlag"></app-game-setting>
<app-born-screen-seetings class="md-overlay" *ngIf="modalWindowService.bornScreenSeetingsFlag">
</app-born-screen-seetings>
<app-register-country class="md-overlay" *ngIf="modalWindowService.showRegisterCOuntrySelectFlag">
</app-register-country>
<app-create-life-with-group-id class="md-overlay" *ngIf="modalWindowService.showCharacterDesighWithGropuFlag">
</app-create-life-with-group-id>
<app-wait-screen class="md-overlay_wait_screen" *ngIf="modalWindowService.showWaitScreen"></app-wait-screen>
