
            <form class="feedbck_form_width">
            <div class="tab-pane fade show active" *ngIf="modalWindowShowHide.showFeddback" >
    <div class="row mdl_cnt_rw text-white">
        <div class="col-md-12 mx-auto align-items-center h-auto">
            <div class="container-fluid tabs_wraper">
                <div class="row summary-part">
                    <div class="col-lg-12 px-0">
                        <div class="summary-wrapper">
                            <div class="summary-title">
                                <h2>
                                    <img src="assets/images/endscreenicon/Feedback-icon.svg" alt="feedback" /> 
                                  {{'gameLabel.FEEDBACK' | translate}}
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-right">
                        <button class="blue_cmn_btn_small {{disablebuttonAfterOnClick}} {{addCssForDisable}}" type="button"  (click)="saveFeedBack()">Save</button>
                    </div>
                </div>
                <div class="row summary-part">
                    <div class="col-lg-6 pl-0">
                        <div class="summary-wrapper mb-2">
                            <div class="text-block bug-report">
                                <p class="mb-0">{{'gameLabel.option_1' | translate}}</p>
                                <div class="clearfix"></div>
                                <textarea class="form-control" rows="3"  [maxLength]="500" [(ngModel)]="feedback.suggestiontDesign" [ngModelOptions]="{standalone: true}" placeholder="You can write here..."></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 pl-0">
                        <div class="summary-wrapper mb-2">
                            <div class="text-block bug-report">
                                <p class="mb-0">{{'gameLabel.option_2' | translate}}</p>
                                <div class="clearfix"></div>
                                <textarea class="form-control" rows="3" [maxLength]="500" name="favourite"
                                [(ngModel)]="feedback.favourite" placeholder="You can write here..."></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 pl-0">
                        <div class="summary-wrapper mb-2">
                            <div class="text-block bug-report">
                                <p class="mb-0">{{'gameLabel.option_3' | translate}}</p>
                                <div class="clearfix"></div>
                                <textarea class="form-control" rows="3" [maxLength]="500"
                                name="sugesstionDislike" [(ngModel)]="feedback.sugesstionDislike" [ngModelOptions]="{standalone: true}" placeholder="You can write here..."></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 pl-0">
                        <div class="summary-wrapper mb-2">
                            <div class="text-block bug-report">
                                <p class="mb-0">{{'gameLabel.option_4' | translate}}</p>
                                <div class="clearfix"></div>
                                <textarea class="form-control" rows="3" [maxLength]="500"
                                pattern="^$|pattern" name="suggestionInsight" [(ngModel)]="feedback.suggestionInsight" [ngModelOptions]="{standalone: true}"  placeholder="You can write here..."></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 pl-0">
                        <div class="summary-wrapper mb-2">
                            <div class="text-block bug-report">
                                <p class="mb-0">{{'gameLabel.option_5' | translate}}</p>
                                <div class="clearfix"></div>
                                <textarea class="form-control" rows="3"  name="suggestDesignChange"
                                [(ngModel)]="feedback.suggestDesignChange" maxlength="500" [ngModelOptions]="{standalone: true}"  placeholder="You can write here..."></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 pl-0">
                        <div class="summary-wrapper mb-2">
                            <div class="text-block bug-report">
                                <p class="mb-0">{{'gameLabel.option_6' | translate}}</p>
                                <div class="clearfix"></div>
                                <textarea class="form-control" rows="3" name="suggestContentChange" [ngModelOptions]="{standalone: true}" [(ngModel)]="feedback.suggestContentChange" maxlength="500"
                                placeholder="You can write here..."></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 pl-0">
                        <div class="summary-wrapper mb-2">
                            <div class="text-block bug-report">
                                <p class="mb-0">{{'gameLabel.option_7' | translate}}</p>
                                <div class="clearfix"></div>
                                <div class="small">
                                    <label class="d-inline-flex align-items-center pr-3">
                                        <input type="radio" name="experiance" value="radio" [checked]="feedback.fequency==='< 3 times a week'" (click)="onChange('< 3 times a week')">
                                        <span class="material-icons">chevron_left</span>
                                        <span class="pl-2">{{'gameLabel.option_9' | translate}}</span>
                                    </label>
                                    <label class="d-inline-flex align-items-center pr-3">
                                        <input type="radio" name="experiance" value="radio"  [checked]="feedback.fequency==='3-5 times a week'" (click)="onChange('3-5 times a week')">
                                        <span class="pl-2">{{'gameLabel.option_9' | translate}}</span>
                                    </label>
                                    <label class="d-inline-flex align-items-center pr-3">
                                        <input type="radio" name="experiance" value="radio" [checked]="feedback.fequency==='> 5 times a week'"(click)="onChange('> 5 times a week')">
                                        <span class="material-icons">chevron_right</span>
                                        <span class="pl-2">{{'gameLabel.> 5 times a week' | translate}} {{'gameLabel.Occasionally' | translate}}</span>
                                    </label>
                                    <label class="d-inline-flex align-items-center pr-3">
                                        <input type="radio" name="experiance" value="radio" [checked]="feedback.fequency==='Occasionally'" class="form-check-inccput" (click)="onChange('Occasionally')">
                                        <span class="pl-2">{{'gameLabel.Occasionally' |translate}}</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 pl-0">
                        <div class="summary-wrapper mb-2">
                            <div class="text-block bug-report">
                                <p class="mb-0">{{'gameLabel.option_10' |translate}}</p>
                                <div class="clearfix"></div>
                                <div class="small">
                                    <label class="d-inline-flex align-items-center pr-3">
                                        <input type="radio" name="recommend" value="yes" id="optionsRadios1" [checked]="feedback.suggestToOther==='yes'" [(ngModel)]="feedback.suggestToOther" [ngModelOptions]="{standalone: true}">
                                        <span class="pl-2">{{'gameLabel.Yes' |translate}}</span>
                                    </label>
                                    <label class="d-inline-flex align-items-center pr-3">
                                        <input type="radio" name="recommend" value="no"   [checked]="feedback.suggestToOther==='no'" id="inlineRadio2" [(ngModel)]="feedback.suggestToOther" [ngModelOptions]="{standalone: true}">
                                        <span class="pl-2">{{'gameLabel.No' |translate}}</span>
                                    </label>
                                    <div  *ngIf="feedback.suggestToOther==='yes'">

                                        <label class="alert-red" *ngIf="showMessageForSuggestFriend">Please enter email address(es) of the
                                          friends you want to invite</label>
                                        <input type="text" name="emaildat" #email="ngModel" class="form-control my-textarea"
                                               id="exampleInputEmail1" aria-describedby="emailHelp"
                                               placeholder="Enter email address(es) here, separated by commas(,)"
                                               [(ngModel)]="feedback.emails"
                                               pattern="\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*([,]\s*\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*)*"
                                               required>
                                        <div [hidden]="email.valid||email.pristine"  class="errormessage alert-red " *ngIf="!(checkvalid(email))">
                                          Invalid email address(es)
                                        </div>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>	
                <div class="row">
                    <div class="col-12 text-right" >
                        <button class="blue_cmn_btn_small {{disablebuttonAfterOnClick}} {{addCssForDisable}}" type="button" (click)="saveFeedBack()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
            </form>
            <div class="phl" bsModal #decisionforConfirm="bs-modal" class="modal fade md-overlay" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="false">
                <div class="conformationpopup centered">
                  <div class="pal text-center">
                    <div> <span>
                        Feedback Saved Successfully.</span>
                      <br>
                      <br>
                      <button type="button" class="btn mlm btn_sk " (click)="decisionforConfirm.hide()">Ok</button>
                    </div>
                  </div>
                </div>
              </div>