<div *ngIf="modalWindowService.showchearacterDesignSdgFlag">
    <div class=" new_cmn_modal sdg_modal" id="using_sdg_modal" tabindex="-1" role="dialog"
        *ngIf="!modalWindowService.showSdgWithAssignMent" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body bg-black">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()"
                        *ngIf="!gameSummeryService.flowFromStudent">
                        <span class="material-icons">close</span>
                    </button>

                    <div class="container-fluid sdg using_sdg">
                        <div class="row align-items-center">
                            <div class="col-md-12 mx-auto">
                                <div class="col-md-4 mx-auto text-center mx-4">
                                    <div class="">
                                        <figure class="mb-4"><img
                                                src="assets/images/sdgicon/E_SDG_Logo_UN-Emblem-01_transparent.png"
                                                alt="" class="img-fluid"></figure>
                                    </div>
                                </div>
                                <div class="col-md-12 mx-auto text-center mx-4">
                                    <p class="mb-0 mt-3 text-primary2">
                                        {{'gameLabel.Choose_a_sustainable_development_goal_(SDG)_challenge_to_live_a_life_in_a_country'
                                        |translate}}
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="row align-items-center mt-3">
                            <div class="col-md-12 mx-auto d-flex flex-wrap justify-content-center">
                                <div class="box">
                                    <a (click)="sdgMapSelect(1)" data-toggle="modal"
                                        data-target="#map_sdg_country_modal" style="cursor: pointer">
                                        <img src="assets/images/sdgicon/sdg1_{{translationService.selectedLang.code}}.png"
                                            alt="">
                                    </a>
                                </div>
                                <div class="box">
                                    <a (click)="sdgMapSelect(2)" data-toggle="modal"
                                        data-target="#map_sdg_country_modal" style="cursor: pointer">
                                        <img src="assets/images/sdgicon/sdg2_{{translationService.selectedLang.code}}.png"
                                            alt="">
                                    </a>
                                </div>
                                <div class="box">
                                    <a (click)="sdgMapSelect(3)" data-toggle="modal"
                                        data-target="#map_sdg_country_modal" style="cursor: pointer">
                                        <img src="assets/images/sdgicon/sdg3_{{translationService.selectedLang.code}}.png"
                                            alt="">
                                    </a>
                                </div>
                                <div class="box">
                                    <a (click)="sdgMapSelect(4)" data-toggle="modal"
                                        data-target="#map_sdg_country_modal" style="cursor: pointer">
                                        <img src="assets/images/sdgicon/sdg4_{{translationService.selectedLang.code}}.png"
                                            alt="">
                                    </a>
                                </div>
                                <div class="box">
                                    <a (click)="sdgMapSelect(5)" data-toggle="modal"
                                        data-target="#map_sdg_country_modal" style="cursor: pointer">
                                        <img src="assets/images/sdgicon/sdg5_{{translationService.selectedLang.code}}.png"
                                            alt="">
                                    </a>
                                </div>
                                <div class="box">
                                    <a (click)="sdgMapSelect(6)" data-toggle="modal"
                                        data-target="#map_sdg_country_modal" style="cursor: pointer">
                                        <img src="assets/images/sdgicon/sdg6_{{translationService.selectedLang.code}}.png"
                                            alt="">
                                    </a>
                                </div>
                                <div class="box">
                                    <a (click)="sdgMapSelect(7)" data-toggle="modal"
                                        data-target="#map_sdg_country_modal" style="cursor: pointer">
                                        <img src="assets/images/sdgicon/sdg7_{{translationService.selectedLang.code}}.png"
                                            alt="">
                                    </a>
                                </div>
                                <div class="box">
                                    <a (click)="sdgMapSelect(8)" data-toggle="modal"
                                        data-target="#map_sdg_country_modal" style="cursor: pointer">
                                        <img src="assets/images/sdgicon/sdg8_{{translationService.selectedLang.code}}.png"
                                            alt="">
                                    </a>
                                </div>
                                <div class="box">
                                    <a (click)="sdgMapSelect(9)" data-toggle="modal"
                                        data-target="#map_sdg_country_modal" style="cursor: pointer">
                                        <img src="assets/images/sdgicon/sdg9_{{translationService.selectedLang.code}}.png"
                                            alt="">
                                    </a>
                                </div>
                                <div class="box">
                                    <a (click)="sdgMapSelect(10)" data-toggle="modal"
                                        data-target="#map_sdg_country_modal" style="cursor: pointer">
                                        <img src="assets/images/sdgicon/sdg10_{{translationService.selectedLang.code}}.png"
                                            alt="">
                                    </a>
                                </div>
                                <div class="box">
                                    <a (click)="sdgMapSelect(11)" data-toggle="modal"
                                        data-target="#map_sdg_country_modal" style="cursor: pointer">
                                        <img src="assets/images/sdgicon/sdg11_{{translationService.selectedLang.code}}.png"
                                            alt="">
                                    </a>
                                </div>
                                <div class="box">
                                    <a (click)="sdgMapSelect(12)" data-toggle="modal"
                                        data-target="#map_sdg_country_modal" style="cursor: pointer">
                                        <img src="assets/images/sdgicon/sdg12_{{translationService.selectedLang.code}}.png"
                                            alt="">
                                    </a>
                                </div>
                                <div class="box">
                                    <a (click)="sdgMapSelect(13)" data-toggle="modal"
                                        data-target="#map_sdg_country_modal" style="cursor: pointer">
                                        <img src="assets/images/sdgicon/sdg13_{{translationService.selectedLang.code}}.png"
                                            alt="">
                                    </a>
                                </div>
                                <div class="box">
                                    <a (click)="sdgMapSelect(14)" data-toggle="modal"
                                        data-target="#map_sdg_country_modal" style="cursor: pointer">
                                        <img src="assets/images/sdgicon/sdg14_{{translationService.selectedLang.code}}.png"
                                            alt="">
                                    </a>
                                </div>
                                <div class="box">
                                    <a (click)="sdgMapSelect(15)" data-toggle="modal"
                                        data-target="#map_sdg_country_modal" style="cursor: pointer">
                                        <img src="assets/images/sdgicon/sdg15_{{translationService.selectedLang.code}}.png"
                                            alt="">
                                    </a>
                                </div>
                                <div class="box">
                                    <a (click)="sdgMapSelect(16)" data-toggle="modal"
                                        data-target="#map_sdg_country_modal" style="cursor: pointer">
                                        <img src="assets/images/sdgicon/sdg16_{{translationService.selectedLang.code}}.png"
                                            alt="">
                                    </a>
                                </div>
                                <div class="box">
                                    <a (click)="sdgMapSelect(17)" data-toggle="modal"
                                        data-target="#map_sdg_country_modal" style="cursor: pointer">
                                        <img src="assets/images/sdgicon/sdg17_{{translationService.selectedLang.code}}.png"
                                            alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--map window-->
    <div class="new_cmn_modal sdg_modal md-overlay" id="map_sdg_country_modal" *ngIf="firstWindowFlag" tabindex="-1"
        role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content border-0 bg-none">
                <div class="sdg_amenity_modal p-0">
                    <div class="modal-body p-0 bg-none">
                        <div class="">
                            <div class="container-fluid">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                    *ngIf="!modalWindowService.showSdgWithAssignMent" (click)="closeAllMap()">
                                    <span class="material-icons">close</span>
                                </button>
                                <div class="col-md-12 mx-auto">
                                    <div class="col-md-4 mx-auto mx-4">
                                        <div class="pt-2">
                                            <figure class="mb-2"><img
                                                    src="assets/images/sdgicon/E_SDG_Logo_UN-Emblem-01_transparent.png"
                                                    alt="" class="img-fluid"></figure>
                                        </div>

                                    </div>
                                    <br>
                                    <div class="col-12 text-center">
                                        <h3> {{sdgMapTitle}}</h3><br>
                                        <span class="text-white">{{'gameLabel.Country_divided_in' |translate}} <span
                                                class="text-red text-underline">{{'gameLabel.major_challenges'
                                                |translate}}</span>,
                                            <span class="text-oragne text-underline">
                                                {{'gameLabel.significant_challenges' |translate}}</span>,
                                            <span class="text-yellow text-underline">{{'gameLabel.challenges_remain'
                                                |translate}}</span>,
                                            <span class="text-success text-underline"> {{'gameLabel.goal_achivments'
                                                |translate}}</span>
                                            {{'gameLabel.and' |translate}}
                                            <span class="text-secondary text-underline"> {{'gameLabel.No_data'
                                                |translate}}</span>&nbsp;{{'gameLabel.Category' |translate}} </span>
                                    </div>

                                </div>
                                <div class="d-flex flex-column align-items-stretch w-100 pt-2">
                                    <div class="map_cmn world_map bg-white w-100">
                                        <div id="sdgchartdiv" class="h-100 w-100>"></div>
                                    </div>
                                </div>
                                <div class="row mt-2 " style="float: right;">
                                    <div class="col-12 btn_row p-0">
                                        <a (click)="sdgSelect(sdgId)">
                                            <button type="submit" class="btn btn-primary2 px-5" data-toggle="modal"
                                                data-target="#home_sdg_amenity_modal" data-dismiss="modal">{{
                                                'gameLabel.Next' | translate}} &nbsp;&gt;</button>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end of map window-->

    <!--home_sdg_amenity_modal-->
    <div class="modal fade new_cmn_modal sdg_modal  md-overlay " id="home_sdg_amenity_modal" *ngIf="secondWindowFlag"
        tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content border-0 bg-none">
                <div class="sdg_amenity_modal p-0">
                    <div class="modal-body p-0 bg-none">
                        <div class="">
                            <div class="container-fluid">
                                <div class="row">

                                    <div class="col-6 px-4 py-3">
                                        <div class="col-md-8 p-0">
                                            <div class="">
                                                <figure class="mb-4"><img src="" alt="" class="img-fluid"></figure>
                                            </div>
                                        </div>
                                        <div class="amenity_hdr">
                                            <figure class="mb-0"><img src={{sdgImage}} alt=""></figure>
                                            <h3 class="text-primary2 mt-2">{{sdgTitle}}</h3>
                                        </div>
                                        <div class="amenity_cnt">
                                            <p class="line-height-2">{{sdgDescription}}</p>
                                        </div>
                                    </div>

                                    <div class="col-6 px-0 pt-3 bg-dark"
                                        style="padding-bottom: 4rem; border-radius: 15px;">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                            *ngIf="!modalWindowService.showSdgWithAssignMent">
                                            <span class="material-icons">close</span>
                                        </button>
                                        <div class="d-flex flex-column align-items-stretch w-100 pt-2">
                                            <ul class="list-unstyled">
                                                <li class="py-3 border-bottom border_white_op6 px-5">
                                                    <span class="small text-primary2 font-italic">
                                                        {{'gameLabel.Please_select_below_Index_and_you_can_choose_country_you_want_to_live'
                                                        |translate}}</span>
                                                </li>
                                                <li *ngFor="let sdg of sdgTargets;let i=index"
                                                    class="border-bottom border_white_op6">
                                                    <label [class.active]="r.checked" class="py-3 px-5 mb-0 w-100">
                                                        <input #r type="radio" value={{i}} name="sdg_selection"
                                                            (change)="radioButtonValue($event,sdg.key,i)">
                                                        {{sdg.id}} : {{sdg.value}}
                                                    </label>
                                                </li>
                                            </ul>
                                            <div class="col-12 btn_row p-0">
                                                <a (click)="sdgGraphAndTableData()">
                                                    <button type="submit" class="btn btn-primary2 px-5"
                                                        data-toggle="modal" data-target="#home_sdg_sub-goal-graph_modal"
                                                        [disabled]="!disabledButton" data-dismiss="modal">Next
                                                        &nbsp;&gt;</button>
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end of home_sdg_amenity_modal-->


    <!--home_sdg_subgoal-graph_modal-->
    <div class="modal fade new_cmn_modal sdg_modal  md-overlay" id="home_sdg_sub-goal-graph_modal"
        *ngIf="thirdWindowFlag" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content border-0 bg-none">
                <div class="sdg_amenity_modal p-0">
                    <div class="modal-body p-0 bg-none">
                        <div class="">
                            <div class="container-fluid">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                    *ngIf="!modalWindowService.showSdgWithAssignMent">
                                    <span class="material-icons">close</span>
                                </button>
                                <div class="row align-items-center pb-4 border_white_op6">
                                    <div class="col-md-12 mx-auto">
                                        <div class="col-md-4 mx-auto mx-4">
                                            <div class="pt-2">
                                                <figure class="mb-2"><img
                                                        src="assets/images/sdgicon/E_SDG_Logo_UN-Emblem-01_transparent.png"
                                                        alt="" class="img-fluid"></figure>
                                            </div>

                                        </div>
                                        <div class="col-md-8 mx-auto d-flex ">
                                            <div class="amenity_hdr col-md-2 mx-auto">
                                                <figure class="mb-0 w-100"><img src={{sdgImage}} alt=""
                                                        class="img-fluid" style="width:65px"></figure>
                                            </div>
                                            <div class="col-md-12">
                                                <h5
                                                    class="mb-0 mt-3 text-primary font_b3 font-600 line-height-1 justify-content-center">
                                                    {{graphTitle}}</h5>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="col-12 text-center">
                                            <span class="text-white">{{'gameLabel.Country_divided_in' |translate}}
                                                <span class="text-red text-underline">{{'gameLabel.major_challenges'
                                                    |translate}}</span>,
                                                <span class="text-oragne text-underline">
                                                    {{'gameLabel.significant_challenges' |translate}}</span>,
                                                <span class="text-yellow text-underline">{{'gameLabel.challenges_remain'
                                                    |translate}}</span>
                                                {{'gameLabel.and' |translate}}
                                                <span class="text-success text-underline">
                                                    {{'gameLabel.goal_achivments' |translate}} </span>&nbsp;
                                                {{'gameLabel.Category' |translate}} </span>
                                        </div>

                                    </div>
                                </div>
                                <div class="row align-items-center pb-4 border_white_op6">
                                    <div class="col-md-12 mx-auto">
                                        <table style="width:100%">
                                            <th>
                                                {{'gameLabel.Category' |translate}}
                                            </th>
                                            <th>
                                                {{'gameLabel.Count' |translate}}

                                            </th>
                                            <th>
                                                {{'gameLabel.Min' |translate}}
                                                <span class="material-icons" style="cursor: pointer; font-size: small;"
                                                    (click)="clickMoreInfo()">info</span>

                                            </th>
                                            <th>
                                                {{'gameLabel.Max' |translate}}
                                                <span class="material-icons" style="cursor: pointer; font-size: small;"
                                                    (click)="clickMoreInfo()">info</span>
                                            </th>
                                            <!-- <th>
                                                    {{'gameLabel.Median' |translate}}
                                                    <span class="material-icons"
                                                        style="cursor: pointer; font-size: small;"
                                                        (click)="clickMoreInfo()">info</span>

                                                </th> -->
                                            <tr>
                                                <th class="text-red">{{'gameLabel.Red' |translate}}</th>
                                                <td>{{redTotal}}</td>
                                                <td>{{redMin}} ({{redMinCountry}})</td>
                                                <td>{{redMax}} ({{redMaxCountry}})</td>
                                                <!-- <td>{{redMediun}}</td> -->
                                            </tr>
                                            <tr>
                                                <th class="text-oragne ">{{'gameLabel.Orange' |translate}}</th>
                                                <td>{{orangeTotal}}</td>
                                                <td>{{orangeMin}} ({{orangeMinCountry}})</td>
                                                <td>{{orangeMax}} ({{orangeMaxCountry}})</td>
                                                <!-- <td>{{orangeMediun}}</td> -->
                                            </tr>
                                            <tr>
                                                <th class="text-yellow">{{'gameLabel.Yellow' |translate}}</th>
                                                <td>{{yellowTotal}}</td>
                                                <td>{{yellowMin}} ({{yellowMinCountry}})</td>
                                                <td>{{yellowMax}} ({{yellowMaxCountry}})</td>
                                                <!-- <td>{{yellowMediun}}</td> -->
                                            </tr>
                                            <tr>
                                                <th class="text-green">{{'gameLabel.Green' |translate}}</th>
                                                <td>{{greenTotal}}</td>
                                                <td>{{greenMin}} ({{greenMinCountry}})</td>
                                                <td>{{greenMax}} ({{greenMaxCountry}})</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <!-- <div class="col d-flex justify-content-center">
                                        <button type="submit" class=" btn-primary2 px-2"
                                            (click)="dotPlotGraph()">{{'gameLabel.Selected_subgoal_state_chart'
                                            |translate}}</button>
                                        <button type="submit" class=" btn-primary2 px-2"
                                            (click)="generateMultipleLineChart()" style="padding-right: 3px;">
                                            {{'gameLabel.Path_to_Success_chart' |translate}}</button>

                                    </div> -->
                                <div class="row justify-content-center">
                                    <div class="col-md-12 mx-auto">
                                        <div class="row justify-content-center">

                                            <div style="display: block;" class="chart" *ngIf="chartReady">
                                                <canvas baseChart height="300" width="800" [datasets]="labelMFL"
                                                    [labels]="lineChartLabels" [options]="lineChartOptions"
                                                    [colors]="chartColors" [chartType]="lineChartType"
                                                    (chartHover)="chartHovered($event)"
                                                    (chartClick)="chartClicked($event)"></canvas>
                                            </div>
                                        </div>
                                        <!-- <div class="row justify-content-center" *ngIf="viewGraph">
                                                <div style="display: block;" class="chart" *ngIf="chartReadySecond">
                                                    <canvas baseChart height="300" width="800"
                                                        [datasets]="lineChartData" [labels]="lineChartLabels"
                                                        [options]="lineChartOptions" [colors]="lineChartColors"
                                                        [legend]="lineChartLegend" [chartType]="lineChartType"
                                                        [plugins]="lineChartPlugins"></canvas>
                                                </div>
                                            </div> -->
                                    </div>
                                </div>

                                <div class="row mt-4" style="float: right;">
                                    <div class="ccol-12 text-right p-0">
                                        <a (click)="getSdgSubGoalMapData()">
                                            <button type="submit" class="btn btn-primary2 px-2" data-toggle="modal"
                                                data-target="#home_sdg_country_map_modal" [disabled]="!disabledButton"
                                                data-dismiss="modal"
                                                style="margin-right: 3px;">{{'gameLabel.Select_country_from_the_map'
                                                |translate}} </button>
                                        </a>
                                        <a (click)="sdgCountryList()">
                                            <button type="submit" class="btn btn-primary2 px-2" data-toggle="modal"
                                                data-target="#home_sdg_country_modal" [disabled]="!disabledButton"
                                                data-dismiss="modal">{{'gameLabel.Select_country_from_list'
                                                |translate}} </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end of home_sdg_subgoal-graph_modal-->

    <!--home_sdg_country_modal-->
    <div class="modal fade new_cmn_modal sdg_modal md-overlay" id="home_sdg_country_modal" tabindex="-1"
        *ngIf="fourWindowFlag" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content border-0 bg-none">
                <div class="sdg_amenity_modal p-0">
                    <div class="modal-body p-0 bg-none">
                        <div class="">
                            <div class="container-fluid">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                    *ngIf="!modalWindowService.showSdgWithAssignMent">
                                    <span class="material-icons" (click)="closeAllMap()">close</span>
                                </button>
                                <div class="row align-items-center pb-4 border_white_op6">
                                    <div class="col-md-12 mx-auto">
                                        <div class="col-md-4 mx-auto text-center mx-4">
                                            <div class="pt-2">
                                                <figure class="mb-2"><img
                                                        src="assets/images/sdgicon/E_SDG_Logo_UN-Emblem-01_transparent.png"
                                                        alt="" class="img-fluid"></figure>
                                            </div>
                                            <div class="amenity_hdr col-5 mx-auto">
                                                <figure class="mb-0 w-100"><img src={{sdgImage}} alt=""
                                                        class="img-fluid"></figure>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mx-auto text-center mx-4">
                                            <p>
                                            <h5 class="mb-0 mt-3 text-primary font_b3 font-600 line-height-1">
                                                {{sdgSubGoalValue}} {{sdgTargetDesc}}</h5>
                                        </div>
                                        <br>
                                        <div class="col-12 text-center">
                                            <h3> {{'gameLabel.Country_List' |translate}}</h3><br>
                                            <span class="text-white">{{'gameLabel.Country_divided_in' |translate}}
                                                <span class="text-red text-underline">{{'gameLabel.major_challenges'
                                                    |translate}}</span>,
                                                <span class="text-oragne text-underline">
                                                    {{'gameLabel.significant_challenges' |translate}}</span>,
                                                <span class="text-yellow text-underline">{{'gameLabel.challenges_remain'
                                                    |translate}}</span>,
                                                <span class="text-success text-underline">
                                                    {{'gameLabel.goal_achivments' |translate}}</span>
                                                {{'gameLabel.and' |translate}}
                                                <span class="text-secondary text-underline"> {{'gameLabel.No_data'
                                                    |translate}} </span> &nbsp;{{'gameLabel.Category' |translate}}
                                            </span>
                                        </div>

                                    </div>
                                </div>


                                <div class="row justify-content-center">
                                    <div class="col-md-12 mx-auto">
                                        <div class="row justify-content-center">
                                            <div class="col-with-equal-width">
                                                <div class="box red_box">
                                                    <p class="m-0 removeBorder"> {{'gameLabel.major_challenges' |translate}}</p>
                                                    <ul class="list-unstyled">
                                                        <li *ngFor="let country of sdgRedCountryList">
                                                            <label [class.active]="r.checked">
                                                                <input #r type="radio" name="sdg_country_list"
                                                                    (click)="selectCountry(country,0)"
                                                                    (change)="radioButtonValue($event,0,0)">
                                                                {{country.country}}
                                                            </label>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-with-equal-width">
                                                <div class="box orange_box">
                                                    <p class="m-0 removeBorder"> {{'gameLabel.significant_challenges'
                                                        |translate}}</p>
                                                    <ul class="list-unstyled">
                                                        <li *ngFor="let country of sdgOrangeCountryList">
                                                            <label [class.active]="r.checked">
                                                                <input #r type="radio" name="sdg_country_list"
                                                                    (click)="selectCountry(country,1)"
                                                                    (change)="radioButtonValue($event,0,0)">
                                                                {{country.country}}
                                                            </label>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-with-equal-width">
                                                <div class="box yellow_box">
                                                    <p class="m-0 removeBorder"> {{'gameLabel.challenges_remain' |translate}}</p>
                                                    <ul class="list-unstyled">
                                                        <li *ngFor="let Yellowcountry of sdgYellowCountryList">
                                                            <label [class.active]="r.checked">
                                                                <input #r type="radio" name="sdg_country_list"
                                                                    (click)="selectCountry(Yellowcountry,2)"
                                                                    (change)="radioButtonValue($event,0,0)">
                                                                {{Yellowcountry.country}}
                                                            </label>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-with-equal-width">
                                                <div class="box green_box">
                                                    <p class="m-0 removeBorder"> {{'gameLabel.goal_achivments' |translate}}</p>
                                                    <ul class="list-unstyled">
                                                        <li *ngFor="let Greencountry of sdgGreenCountryList">
                                                            <label [class.active]="r.checked">
                                                                <input #r type="radio" name="sdg_country_list"
                                                                    (click)="selectCountry(Greencountry,3)"
                                                                    (change)="radioButtonValue($event,0,0)" id="Green">
                                                                {{Greencountry.country}}
                                                            </label>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-with-equal-width">
                                                <div class="box grey_box">
                                                    <p class="m-0 removeBorder"> {{'gameLabel.No_data' |translate}}</p>
                                                    <ul class="list-unstyled">
                                                        <li *ngFor="let Greycountry of sdgGrayCountryList">
                                                            <label [class.active]="r.checked">
                                                                <input #r type="radio" name="sdg_country_list"
                                                                    (click)="selectCountry(Greycountry,4)"
                                                                    (change)="radioButtonValue($event,0,0)">
                                                                {{Greycountry.country}}
                                                            </label>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-4">
                                    <div class="col-12 text-right p-0">
                                        <a>
                                            <button type="submit" class="btn btn-primary2 px-5 next_religion"
                                                [disabled]="!disabledButton" (click)="stateChange()"
                                                data-dismiss="modal">
                                                <span class="px-5"> {{'gameLabel.Select_City' |translate}}
                                                    &nbsp;&gt;</span></button>
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end of home_sdg_country_modal-->

    <!--home_sdg_country_map_modal-->
    <div class="modal fade new_cmn_modal sdg_modal  md-overlay" id="home_sdg_country_map_modal" tabindex="-1"
        role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content border-0 bg-none">
                <div class="sdg_amenity_modal p-0">
                    <div class="modal-body p-0 bg-none">
                        <div class="">
                            <div class="container-fluid">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                    *ngIf="!modalWindowService.showSdgWithAssignMent" (click)="closeAllMap()">
                                    <span class="material-icons">close</span>
                                </button>
                                <div class="row align-items-center pb-4 border_white_op6">
                                    <div class="col-md-12 mx-auto">
                                        <div class="col-md-4 mx-auto mx-4">
                                            <div class="pt-2">
                                                <figure class="mb-2"><img
                                                        src="assets/images/sdgicon/E_SDG_Logo_UN-Emblem-01_transparent.png"
                                                        alt="" class="img-fluid"></figure>
                                            </div>

                                        </div>
                                        <div class="col-md-8 mx-auto d-flex">
                                            <div class="amenity_hdr col-md-2 mx-auto">
                                                <figure class="mb-0 w-100"><img src={{sdgImage}} alt=""
                                                        class="img-fluid" style="width:65px"></figure>
                                            </div>

                                            <div class="col-md-12">
                                                <h5 class="mb-0 mt-3 text-primary font_b3 font-600 line-height-1">
                                                    {{sdgSubGoalValue}} {{sdgTargetDesc}}
                                                </h5>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="text-center">
                                            <h5>Selected Country Name : {{selectedCountryName}}</h5>
                                        </div>
                                        <br>
                                        <div class="col-12 text-center">
                                            <h3> {{'gameLabel.Country_List' |translate}}</h3><br>
                                            <span class="text-white">{{'gameLabel.Country_divided_in' |translate}}
                                                <span class="text-red text-underline">{{'gameLabel.major_challenges'
                                                    |translate}}</span>,
                                                <span class="text-oragne text-underline">
                                                    {{'gameLabel.significant_challenges' |translate}}</span>,
                                                <span class="text-yellow text-underline">{{'gameLabel.challenges_remain'
                                                    |translate}}</span>,
                                                <span class="text-success text-underline">
                                                    {{'gameLabel.goal_achivments' |translate}}</span>
                                                {{'gameLabel.and' |translate}}
                                                <span class="text-secondary text-underline"> {{'gameLabel.No_data'
                                                    |translate}} </span>&nbsp;{{'gameLabel.Category' |translate}}
                                            </span>
                                        </div>

                                    </div>
                                </div>


                                <div class="row justify-content-center">
                                    <div class="col-md-12 mx-auto">
                                        <div class="map_cmn-select world_map bg-white w-100">
                                            <div id="mapDiv" class="h-100 w-100>"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-4">
                                    <div class="col-12 text-right p-0">
                                        <a (click)="sdgCountryList()">
                                            <button type="submit" class="btn btn-primary2 px-2 "
                                                style="position: absolute;left: 0;" data-toggle="modal"
                                                data-target="#home_sdg_country_modal" [disabled]="!disabledButton"
                                                data-dismiss="modal">{{'gameLabel.Select_country_from_list'
                                                |translate}} </button>
                                        </a>
                                        <a>
                                            <button type="submit" class="btn btn-primary2 px-5 next_religion"
                                                [disabled]="!disabledButtonMap" (click)="stateChange()"
                                                data-dismiss="modal">
                                                <span class="px-5"> {{'gameLabel.Select_City' |translate}}
                                                    &nbsp;&gt;</span></button>
                                        </a>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--end of home_sdg_map_country_modal-->
<div class="md-overlay black_modal gamescreen d-flex align-items-center" *ngIf="showAlertFlag">
    <div class="modal-dialog modal-dialog-centered w700" role="document">
        <div class="modal-content h-auto">
            <div class="modal-body p-0" style="text-align: center; color: gray;">
                <span class="text-white moreinfo">{{msgText}}</span>
                <div class="d-flex justify-content-center w-100 btnPadding paddingClass">
                    <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1 " (click)="clickOk()">{{'gameLabel.Ok'
                        |translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="md-overlay black_modal gamescreen d-flex align-items-center" id="showInvestmentMetaDataWindow"
    *ngIf="moreInfoFlag">
    <div class="modal-dialog modal-dialog-centered w700" role="document">
        <div class="modal-content h-auto">
            <div class="modal-body p-0" style="text-align: left;">
                <span class="text-white moreinfo" [innerHTML]="moreInforStm"></span>
                <div class="d-flex justify-content-center w-100 btnPadding">
                    <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1 "
                        (click)="successMsgWindowClose()">{{'gameLabel.Ok' |translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-create-life-with-character-design class="md-overlay" *ngIf="modalWindowService.showcharacterDesignFlag">
</app-create-life-with-character-design>
<app-wait-screen class="md-overlay_wait_screen" *ngIf="modalWindowService.showWaitScreen"></app-wait-screen>