<div class="main_wraper d-flex flex-column justify-content-between glob_bg">

    <div class="main_wraper d-flex flex-column justify-content-between home_page">

        <!--header-->
        <header>
            <div class="logo mx-auto trans" data-aos="" data-aos-delay="100"><img src="assets/images/RL_logo.svg"
                    alt="">
            </div>
        </header>
        <!--end of header-->

        <!--main content-->
        <section class="home_dashboard pt-5 load_life_list">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-md-12 mx-auto mt-4">
                        <div class="listing_heading text-center position-relative mb-4">
                            <a (click)="goBack()" class="go_back_btn text-primary">
                                <i class="fa fa-arrow-left" aria-hidden="true" style="cursor: pointer;"></i>
                                {{'gameLabel.Back' |translate}}</a>
                            <h3 class="text-primary">
                                {{'gameLabel.View_a_life_diary_for_each_completed_life' |translate}}
                            </h3>
                        </div>
                        <div class="search-hero wdth-search">
                            <input class="form-control" type="text" name="search" [(ngModel)]="searchText"
                                autocomplete="off" placeholder="{{'gameLabel.search_Text' |translate}}">
                        </div>
                        <div class="col-md-12">
                            <div class="d-flex justify-content-between">
                                <div class="row">
                                    <label for="cars" claas="text-white">{{'gameLabel.No_of_rows' |translate}} :</label>
                        <select name="limit" id="limits" (change)="onChange($event)" class="classForDropDown">
                            <option class="classForDropDown" *ngFor="let pageArr of gameSummeryService.paginationArr" [value]="pageArr">{{pageArr}}</option>
                          </select>
                                </div>
                                <div class="row ">
                                    <pagination-controls (pageChange)="pageChange($event)" style="color: white;" class="my-pagination"></pagination-controls>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <table
                                class="table text-white v_center table-fixed-header bg_black text-center table-font-change">
                                <thead>
                                    <tr>
                                        <th scope="col" class="border-0 clm_1"> {{'gameLabel.Sr_no' | translate}}</th>
                                        <th scope="col" class="border-0 clm_1 text-left"> {{'gameLabel.Character_Name' |
                                            translate}}</th>
                                        <th scope="col" class="border-0 clm_1"> {{'gameLabel.Age' | translate}}</th>
                                        <th scope="col" class="border-0 clm_1"> {{'gameLabel.Sex' | translate}}</th>
                                        <th scope="col" class="border-0 clm_1"> {{'gameLabel.Country_Name' | translate}}
                                        </th>
                                        <th scope="col" class="border-0 clm_1"> {{'gameLabel.language' | translate}}
                                        </th>
                                        <th scope="col" class="border-0 clm_1">{{'gameLabel.Life_diary' |translate}}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="completed-life-tbl-ht">
                                    <tr *ngFor="let game of completeGameData | filter:searchText | paginate: config ,let i=index">
                                        <td class="clm_1">{{(i+1) + (config.itemsPerPage * (config.currentPage-1))}}</td>
                                        <td class="clm_1 text-left">{{game.full_name}}</td>
                                        <td class="clm_1">{{game.age}}</td>
                                        <td class="clm_1 text-uppercase">{{game.sex}}</td>
                                        <td class="clm_1">{{game.country}}</td>
                                        <td class="clm_1 text-uppercase">{{game.language }}</td>
                                        <td class="clm_1">
                                            <a
                                                class="text-primary d-flex align-content-center justify-content-center text-decoration-none">
                                                <span class="material-icons icons" style="cursor: pointer;"
                                                    (click)="clickDiary(game.game_id)">arrow_downward</span></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--end of main content-->

    </div>




    <app-wait-screen class="md-overlay_wait_screen" *ngIf="modalWindowService.showWaitScreen"></app-wait-screen>