<section class="home_dashboard pt-3 toolService ">
    <header>
        <div class="logo mx-auto trans" data-aos="" data-aos-delay="100"><img img src="assets/images/RL_logo.svg"
                alt="">
        </div>
    </header>
    <div class="listing_heading position-relative mb-4 col-md-12">
        <a class="go_back_btn text-primary" (click)="clickBack()">
            <i class="fa fa-arrow-left" aria-hidden="true" style="cursor: pointer;padding-left: 5px;"></i>
            {{'gameLabel.Back'
            |translate}}</a>
    </div>
    <div>
        <div class="container-fluid h-100 country_info">
            <div class="row h-100 align-items-center">
                <div class="col-md-10 mx-auto  align-items-center flex-column justify-content-center">
                    <div class="icons_row d-flex flex-wrap justify-content-center no-gutters">
                        <div class="icon">
                            <a (click)="clickCountryLearningTool()">
                                <img src="assets/images/startscreen/country-learning-tool.svg" alt=""
                                    style="cursor: pointer">
                                <p> {{'gameLabel.Compare_country_data' | translate }}</p>
                            </a>
                        </div>
                        <div class="icon">
                            <a (click)="clickCountryDisparityTool()">
                                <img src="assets/images/startscreen/disparity-tool.svg" alt="" style="cursor: pointer">
                                <p> {{'gameLabel.Country_disparity_visualization' | translate }}</p>
                            </a>
                        </div>
                        <div class="icon">
                            <a (click)="clickCountrySdgTool()">
                                <img src="assets/images/startscreen/sdg-tool.svg" alt="" style="cursor: pointer">
                                <p> {{'gameLabel.UN_SDGs_learning_tool' | translate }}</p>
                            </a>
                        </div>
                        <div class="icon">
                            <a (click)="clickCountryGroupTool()">
                                <img src="assets/images/startscreen/country-group-tool.svg" alt=""
                                    style="cursor: pointer;">
                                <p> {{'gameLabel.Learn_about_country_groups' | translate }}</p>
                            </a>
                        </div>
                    </div>
                    </div>


            </div>
        </div>

    </div>
</section>