<div class="main_wraper d-flex flex-column justify-content-between glob_bg">
    <header>
        <div class="logo mx-auto trans" data-aos="" data-aos-delay="100"><img img src="assets/images/RL_logo.svg"
                alt="">
        </div>
    </header>

    <a title="{{'gameLabel.Go_to_dashbord' | translate }}" data-toggle="tooltip" data-placement="left" class="tlp"
        style="cursor: pointer;" (click)="clickToExitButton()">
        <span class="material-icons " style="cursor: pointer;float: right;">login</span></a>
    <section class="home_dashboard v_center">
        <div class="container-fluid">
            <div class=" ">
                <div class="row align-items-center">
                    <div class="col-md-12 mx-auto">
                        <div class="col-md-4 mx-auto text-center mx-4">
                            <div class="">
                                <figure class="mb-4"><img
                                        src="assets/images/sdgicon/E_SDG_Logo_UN-Emblem-01_transparent.png" alt=""
                                        class="img-fluid"></figure>
                            </div>
                        </div>
                        <div class="col-md-12 mx-auto text-center mx-4">
                            <p class="mb-0 mt-3 text-primary2">
                                {{'gameLabel.Choose_a_sustainable_development_goal_(SDG)_challenge_to_live_a_life_in_a_country'
                                |translate}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" style="margin-top: 70px;">
                    <h2 class="text-center mt-0">{{'gameLabel.Welcome_to_RealLives_sdg_data_learning_tool' |translate}}
                    </h2>
                    <div class="d-flex justify-content-center mt-3">
                        <button type="button"
                            class="btn btn-blue-grad py-1 px-4 mr-3 col-2 assignment-main-div fontSize"
                            (click)="sdgHome()">{{'gameLabel.sdg_option_1' |translate}}</button>
                        <button type="button"
                            class="btn btn-blue-grad py-1 px-4 mr-3 col-2 assignment-main-div fontSize"
                            (click)="sdgCountrySelection()">{{'gameLabel.sdg_option_2'
                            |translate}}</button>
                        <button type="button"
                            class="btn btn-blue-grad py-1 px-4 mr-3 col-2 assignment-main-div fontSize"
                            (click)="sdgStatement()">{{'gameLabel.sdg_option_3'
                            |translate}}</button>

                    </div>
                </div>
            </div>
        </div>

    </section>
</div>