<div *ngIf="modalWindowShowHide.showPetFlag">
    <div class="new_cmn_modal full_width gamescreen" id="pet" tabindex="-1" role="dialog"
        aria-labelledby="dashboard_careerLabel" *ngIf="showDecision">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content h-auto" style="background: #000;">
                <div class="modal-header position-relative d-flex align-items-center justify-content-between">
                    <h5 class="modal-title text-white font-400 text-uppercase font_b8 d-flex align-items-center" id="">
                        <img class="imgSet" src="assets/images/peticon/pet.svg" alt="">
                        <span class="pl-3"> {{'gameLabel.Pet' |translate}}</span>
                    </h5>
                    <button type="button" class="close">
                        <span class="material-icons" (click)="OnCloseWindowPopup()">close</span>
                    </button>
                </div>
                <div class="modal-body p-0">
                    <div class="col-12 px-0 mx-auto">
                        <div class="col-md-12 exp_box pt-0 px-0">
                            <div class="row m-0">
                                <div class="col-md-12">
                                    <div class="alert {{alertClass}}" *ngIf="showAlertFlag">
                                        <button type="button" class="close" data-dismiss="alert">×</button>
                                        {{alertMsg}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 exp_txt d-flex ftr align-items-center justify-content-between">
                                <div class="row w-100">
                                    <div class="col-md-12">
                                        <h3 class="disblock text-center whiteline "> {{displayDecision.decisionText}} </h3>
                                    </div>
                                    <div class="col-12 py-4">
                                        <div class="row mx-0 justify-content-center mt-2 whiteline">
                                            <div class="col pets_ui"
                                                *ngFor="let pet of displayDecision.choiceArray ,let i=index">
                                                <div class="no-gutters">
                                                    <div class="row justify-content-center">
                                                        <div class="col-auto">
                                                            <div class="box radio_img text-center">
                                                                <label [class.active]="r.checked ">
                                                                    <input #r type="radio" name="pet"
                                                                    [disabled]="homeService.allPerson[constantService.FAMILY_SELF].dead ||homeService.allPerson[constantService.FAMILY_SELF].age<16"
                                                                        [value]='pet.Value'
                                                                        [(ngModel)]="selectedPetValue"
                                                                        (change)="setSelectedPet(pet.Value)">
                                                                    <figure>
                                                                        <img src={{pet.unSelectedImg}} alt=""
                                                                            class="pet1">
                                                                        <img src={{pet.selectedImg}} alt=""
                                                                            class="pet2">
                                                                    </figure>
                                                                </label>
                                                                <p class="m-0 text-uppercase font-600">
                                                                    {{pet.langString}}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto mx-auto ml-auto px-0 mt-2">
                                            <div class="d-flex justify-content-center w-100" style="padding-top: 10px;">
                                                <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1"
                                                    data-dismiss="modal" aria-label="Close" [disabled]="notShowPet"
                                                    (click)="clickPetDecision()">{{'gameLabel.Yes' |
                                                    translate}}</button>
                                                <button type="button" class="btn btn-blue-grad py-1 px-4 ml-1"
                                                    data-dismiss="modal" aria-label="Close"  [disabled]="notShowPet"
                                                    (click)="closePetDecision()">{{'gameLabel.No' |
                                                    translate}}</button>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="md-overlay black_modal gamescreen" id="dashboard_residence1" *ngIf="petTextAreaFlag">
        <div class="modal-dialog modal-dialog-centered w700" role="document">
            <div class="modal-content h-auto">
                <div class="modal-body p-0">
                    <h3 class="text-center">{{'gameLabel.Please name your pet' |translate}}</h3>
                    <div class="col-md-12 text-center">
                        <textarea rows="1" [(ngModel)]="textAreaValid" maxlength="10" minlength="2"
                            (ngModelChange)="doCheck()" [ngModelOptions]="{standalone: true}"></textarea>
                        <div class="col-auto mx-auto ml-auto px-0" style="padding-top: 8px;">
                            <div class="d-flex justify-content-center w-100">
                                <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1" data-dismiss="modal"
                                    aria-label="Close" [disabled]="textAreaOkButton"
                                    (click)="clickTextDecision()">{{'gameLabel.Yes' | translate}}</button>
                                <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1" data-dismiss="modal"
                                    aria-label="Close" (click)="closeTextAreaDecision()">{{'gameLabel.No' |
                                    translate}}</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <app-wait-screen class="md-overlay black_modal gamescreen" *ngIf="modalWindowShowHide.showWaitScreen">
    </app-wait-screen>