.disabled{
    opacity: 0.5;
}

.redClassForDel{
    color:red!important
  }
  .classForDropDown{
    height: 25px!important;
    margin-left: 8px!important;
  }
  .my-pagination /deep/  .ngx-pagination a {
    color: white!important;
    display: block;
    padding: .1875rem .625rem;
    border-radius: 0;
  }
  