<div class="main_wraper d-flex flex-column justify-content-between glob_bg" *ngIf="showLoadAnimation">
    <div class="logo mx-auto trans" data-aos="" data-aos-delay="100"><img src="assets/images/RL_logo.svg" alt=""></div>
    <video loop autoplay>
        <source src="assets/video/loading life_tital_1.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>


<div class="main_wraper d-flex flex-column justify-content-between home_page" *ngIf="!showLoadAnimation">

    <!--header-->
    <header>
        <div class="logo mx-auto trans" data-aos="" data-aos-delay="100"><img src="assets/images/RL_logo.svg" alt="">
        </div>
        <div class="top_nav">
            <ul class="list-unstyled m-0 d-flex align-items-center">
                <li *ngIf="!this.commonService.audio.muted">
                    <a id="vol-btn" title="Sound On" data-toggle="tooltip" data-placement="left"
                        class="tlp fa fa-volume-up " (click)="this.commonService.soundOnOff(true)">
                        <span class="glyphicon glyphicon-volume-down"></span>
                    </a>
                </li>

                <li *ngIf="this.commonService.audio.muted">
                    <a id="vol-btn1" title="Sound Off" data-toggle="tooltip" data-placement="left"
                        class="tlp fa fa-volume-down" (click)="this.commonService.soundOnOff(false)">
                        <span class="glyphicon glyphicon-volume-off"></span>
                    </a>
                </li>
            </ul>

        </div>
    </header>
    <!--end of header-->

    <!--main content-->
    <section class="home_dashboard pt-5 load_life_list">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-md-12 mx-auto mt-4">
                    <div class="listing_heading text-center position-relative mb-4">
                        <a (click)="goBack()" class="go_back_btn text-primary">
                            <i class="fa fa-arrow-left" aria-hidden="true" style="cursor: pointer;"></i>
                            {{'gameLabel.Back' |translate}}</a>
                        <h3 class="text-primary">
                            {{'gameLabel.Load_Any_Of_The_Following_Previously_Played_Completed_Life(s)' | translate}}
                        </h3>
                    </div>
                    <div class="search-hero wdth-search">
                        <input class="form-control" type="text" name="search" [(ngModel)]="searchText"
                            autocomplete="off" placeholder="{{'gameLabel.search_Text' |translate}}">
                    </div>
                    <div class="col-md-12">
                        <div class="d-flex justify-content-between">
                            <div class="row">
                                <label for="cars" claas="text-white">{{'gameLabel.No_of_rows' |translate}} :</label>
                    <select name="limit" id="limits" (change)="onChange($event)" class="classForDropDown">
                        <option class="classForDropDown" *ngFor="let pageArr of gameSummeryService.paginationArr" [value]="pageArr">{{pageArr}}</option>
                      </select>
                            </div>
                            <div class="row ">
                                <pagination-controls (pageChange)="pageChange($event)" style="color: white;" class="my-pagination"></pagination-controls>

                            </div>
                        </div>
                    </div>
                    <div class="">
                        <table
                            class="table text-white v_center table-fixed-header bg_black text-center table-font-change">
                            <thead>
                                <tr>
                                    <th scope="col" class="border-0 clm_1"> {{'gameLabel.Sr_no' | translate}}</th>
                                    <th scope="col" class="border-0 clm_1 text-left"> {{'gameLabel.Character_Name' |
                                        translate}}</th>
                                    <th scope="col" class="border-0 clm_1"> {{'gameLabel.Age' | translate}}</th>
                                    <th scope="col" class="border-0 clm_1"> {{'gameLabel.Sex' | translate}}</th>
                                    <th scope="col" class="border-0 clm_1"> {{'gameLabel.Country_Name' | translate}}
                                    </th>
                                    <th scope="col" class="border-0 clm_1"> {{'gameLabel.See_Your_Life' | translate}}
                                    </th>
                                    <th scope="col" class="border-0 clm_1"> {{'gameLabel.Obituary' | translate}}</th>
                                    <th scope="col" class="border-0 clm_1"> {{'gameLabel.Game_Summary' | translate}}
                                    </th>
                                    <th scope="col" class="border-0 clm_1"> {{'gameLabel.Write_A_Letter' | translate}}
                                    </th>
                                    <th scope="col" class="border-0 clm_1 redClassForDel">{{'gameLabel.Delete' |translate}}</th>
                                </tr>
                            </thead>
                            <tbody class="completed-life-tbl-ht">
                                <tr *ngFor="let game of completeGameData | filter:searchText| paginate: config  ,let i=index">
                                    <td class="clm_1">{{(i+1) + (config.itemsPerPage * (config.currentPage-1))}}</td>
                                    <td class="clm_1 text-left">{{game.full_name}} ({{game.language }})</td>
                                    <td class="clm_1">{{game.age}}</td>
                                    <td class="clm_1 text-uppercase">{{game.sex}}</td>
                                    <td class="clm_1">{{game.country}}</td>
                                    <td class="clm_1">
                                        <a
                                            class="text-primary d-flex align-content-center justify-content-center text-decoration-none">
                                            <span class="material-icons icons" style="cursor: pointer;"
                                                (click)="goToHome(game.game_id,game.countryId)">navigate_next</span></a>
                                    </td>
                                    <td class="clm_1">
                                        <a
                                            class="text-primary d-flex align-content-center justify-content-center text-decoration-none">
                                            <span class="material-icons icons" style="cursor: pointer;"
                                                (click)="obituaryClick(game.game_id,game.countryId)">navigate_next</span></a>
                                    </td>
                                    <td class="clm_1">
                                        <a
                                            class="text-primary d-flex align-content-center justify-content-center text-decoration-none"><span
                                                class="material-icons icons" style="cursor: pointer;"
                                                (click)="gameSummaryClick(game.game_id,game.countryId)">navigate_next</span></a>
                                    </td>
                                    <td class="clm_1">
                                        <a
                                            class="text-primary d-flex align-content-center justify-content-center text-decoration-none"><span
                                                class="material-icons icons" style="cursor: pointer;"
                                                (click)="rightALetterClick(game.game_id,game.countryId)">navigate_next</span></a>
                                    </td>

                                    <td class="clm_1">
                                        <a
                                            class="text-primary d-flex align-content-center justify-content-center text-decoration-none">
                                            <span
                                                class="material-icons icons redClassForDel" (click)="clickDeleteLife(game.game_id)"
                                                style="cursor: pointer;">navigate_next</span></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--end of main content-->

</div>
<div class="md-overlay black_modal gamescreen" id="confirm" *ngIf="showConfirmWindowFlag">
    <div class="modal-dialog modal-dialog-centered w700" role="document">
        <div class="modal-content h-auto">
            <div class="modal-body p-0">
                <p class="text-center">{{'gameLabel.deletemsg' |translate}}</p>
                <div class="d-flex justify-content-center w-100">
                    <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1" (click)="clickOk()">{{'gameLabel.Yes'
                        |translate}}</button>
                    <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1"
                        (click)="clickCancel()">{{'gameLabel.No' |translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="md-overlay black_modal gamescreen d-flex align-items-center" id="docInfo" *ngIf="docInfoFlag">
    <div class="modal-dialog modal-dialog-centered w700" role="document">
        <div class="modal-content h-auto">
            <div class="modal-body p-0" style="text-align: left;">
                <span class="text-white moreinfo">{{'gameLabel.docWarr' |translate}}</span>
                <div class="d-flex justify-content-center w-100 btnPadding" style="padding-top: 10px">
                    <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1 "
                        (click)="closeDoc()">{{'gameLabel.Ok' |translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>

<app-wait-screen class="md-overlay_wait_screen" *ngIf="modalWindowService.showWaitScreen"></app-wait-screen>