.textSize{
font-size: 15px;
}


.Size{
font-size: 20px;
}
  .whiteline{
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 5px;
  border-bottom:1px solid  #595b5d!important;
  }
  .businessWarrScroll{
    overflow: hidden;
  }


 .black_modal .modal-dialog.w1000 {
  max-width: 1300px;
}


 .black_modal .modal-dialog.w900 {
  max-width: 900px;
}

 .black_modal .modal-dialog.w100 {
  max-width: 1000px;
}
.margine{
  margin-right: 7px;
}


.red{
  color: red;
}

.green{
  color: green;
}

.mrg{
  margin-top: 5px;
}

.mrgR{
  margin-right: 30px;
}

.ml{
  margin-left: 100 !important
}


 .vertical {
      border-left: 1px solid  #595b5d;
      height: auto;
    }

    th, td {
  padding: 8px;
}

.tableClass{
  margin-left:auto;margin-right:auto;
}


.darkBor{
    margin-top: 5px;
    margin-bottom: 10px;
    padding-bottom: 5px;
  border-bottom:5px solid  #595b5d!important;
  }


  .sub-div h4 {
  color: #fff;
  margin: 0;
  font-size: 1.2rem;
  font-weight: 400;
  position: relative;
  top: 30%;
  transform: translateY(-50%);
}

.nameClass{
  margin-bottom: 8px;
margin-top: 8px;
margin-left: 5px
}

.female{
  color: #f28296;
}

.male{
  color:#1faee8
}

.assignment-main-div1 {
  padding: 0px;
}
 .sub-div-name h4 {
  color: #fff;
  margin: 0;
  font-size: 1.2rem;
  font-weight: 400;
  position: relative;
  top: 10%;
  transform: translateY(-50%);
}

.name-font{
font-size: 14px;
}

.left{
      text-align: left;
}

.tital{
  font-size: large;
  font-weight: bold;
}


table {
  border-collapse: collapse;
  width: 100%;
  font-size: 13px;
}

td, th {
  border: 1px solid #595b5d;
  text-align: left;
  padding: 5px;
}
.more-info {
  height: 80vh;
  overflow-y: auto;}

  .vartical-whiteline{
    margin-right: 15px;
  border-right:1px solid  #595b5d!important;
  }

  .card-font{
    font-size: 13px;
    }

    @media (max-width: 1024px) {
      .ipadFontSmall{
        font-size: small;
      }
      .ipadFontMedium{
        font-size: medium;
      }
      .ipadFontXSmall{
        font-size: x-small;
      }
     .margin{
        margin-top: 0px;
      }
      .manageBusinessClass{
        font-size: small;
      }
  }

  .fixWidth{
    width: 1px;
  white-space: nowrap;
  }
  .noWidth{
    width: 1px;
  white-space: rap;
  }