.btn_blue1 {
    background: #05defe;
    height: 50%;
    border-radius: 5px;
    color: #000;
  }
  .btn_blue1-single {
    background: #05defe;
    height: 90%;
    border-radius: 5px;
    color: #000;
  }
 
 
  @media (max-width: 1024px) {
  .font_s4-ipad {
    font-size: 0.60rem;
  }
  .btn_blue1.active {
    background: #05defe;
    height: 48%;
    border-radius: 5px;
    color: #000;
  }
 
  }
