<div class="content_ftr pt-2 py-4 text-white-80 cap">
    <div class="select_map">
        <div class="map_cmn world_map bg-white h-100 w-100">
            <div  id="chartdiv" class="h-100 w-100>"></div>
        </div>
    </div>
</div>