.welathclass {
  padding-left: 0px;
  }

  .whiteline{
  border-bottom:1px solid  #595b5d!important;
  }

  .incomeLabel{
    background: #3b3b3b;
    padding-bottom: 8px;
    border-radius: 15px;
  }

  .konwmorebtn{padding: 0rem; border-radius: 1; color: white; background-color: aqua;}

  .wrapWord {
    display: inline-block;
    max-width: min-content;
  }

  .parent {
  text-align: center;
}
.child {
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: middle;
}

.colour{
  color: #d1cbcb
}

.colourRed{
  color: #e30000 !important;

}
.colourGreen{
   color:#34db00

}
.colourBlue{
   color:#0000FF

}
.colourOrange{
    color:#e76b00

}
.colourYellow{
color:#FFF600
}

.h75{
  height: 75%;
}

.table-bordered-red{
    border-bottom: 2px solid #e30000!important;
    border-top: 2px solid #e30000!important;
        border-left: 2px solid #e30000!important;
            border-right: 2px solid #e30000!important;

}

.table-bordered-green{
    border-bottom: 2px solid #34db00!important;
    border-top: 2px solid #34db00!important;
        border-left: 2px solid #34db00!important;
            border-right: 2px solid #34db00!important;

}

.table-bordered-orange{
    border-bottom: 2px solid #e76b00!important;
    border-top: 2px solid #e76b00!important;
        border-left: 2px solid #e76b00!important;
            border-right: 2px solid #e76b00!important;

}

.table-bordered-yellow{
    border-bottom: 2px solid #FFF600!important;
    border-top: 2px solid #FFF600!important;
        border-left: 2px solid #FFF600!important;
            border-right: 2px solid #FFF600!important;

}

.table-bordered-blue{
    border-bottom: 2px solid #0000FF!important;
    border-top: 2px solid #0000FF!important;
        border-left: 2px solid #0000FF!important;
            border-right: 2px solid #0000FF!important;

}

.font_b2_new {
  font-size: 1.4rem;
}

.h3_font {
  font-size: 1.3rem;
}

.fontSize{
  font-size: 16px!important;
}

.colourRed1{
  color: #ff5144 !important;
}
.infoborder{
    border-bottom:1px solid  #2d2f30!important;
}

.newTableFontSize{
  font-size: medium!important;
}
 
.status-tr-1 {
  height: 112px !important;
}
.right {
  text-align: right;
  width: 100%;
} 
.flag_size{max-width: 200px;}
.child figure{margin-bottom: 0;}
.parent .child{min-height: 193.11px;}
.tb-1 .table tbody tr td {
    font-size: xx-small;
    padding: 10px 5px;
    color: #fff;
    background: #202020;
    /* border: 1px solid #565656 !important; */
  }

  .box1 {
  background-color: #3f51b54f;
  border: 3px solid #135570;
  padding: 50px;
  margin: 15px;
 border-radius: 15px;
 height: fit-content;
 align-items: center;
}

.border-right {
    border-right: 1px solid gray;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.center1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.fade-in-image { animation: fadeIn 8s; }
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.card{
height: fit-content; 
margin-left: 250px;
}


.incomeTable {
  border:1px solid #333;
  padding-left: 9px;
    padding-right: 6px;
    padding-top: 6px;
padding-bottom: 6px;

}
.fitwidth {
  width: 1px;
  white-space: nowrap;
}


.newtableincome{
    margin-bottom:5px; 
     margin-left: 100px;
}

.play_life .play_life_amenity .box3 {
  background-color: #1b1b1e4f;
  border: 1px solid;
  padding: 10px 20px;
  margin: 0 0.5rem 1rem;
  border-radius: 10px;
   height: fit-content;
 align-items: center;

}

  .play_life_amenity {
    height: 65vh;
    overflow: auto
  }

.play_life .play_life_amenity .box .font_b7 {
  
  color: white !important;
}

.fontChall{
  font-size: 1.3rem
}
@media (max-width: 1024px) {
  .card{
height: fit-content; margin-left: 150px;
}
}
