body,
html {
  background: white!important;
}
.heading{
    color: black !important;
    letter-spacing: 1px!important;
    font-size: 85px!important;
}

.baground{
    background-color: gray;
}
table, th, td {
  border:1px solid black;
  color: black;
}

.tableColour{
    color: black !important;
    letter-spacing: 1px!important;
    font-size: 85px!important;
}

.tableColour{
background-color: gray;
}

.middle{
    color: black !important;
    letter-spacing: 1px!important;
    font-size: 25px!important;
    font-style: italic;
}
.padding{
    padding-right: 10px;
}

.text-color{
    color: black !important;
}

.pageBag{
    background-color: white;
    padding-top: 20px;
}

.text-bold{
    font-weight: bold
}
.ml {
  border-left: 6px solid black;
  height: 500px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}

.map_cmn {
    height: 47vh;
}

.box{
    background-color: lightgrey;
  width: 300px;
  border: 7px solid green;
  padding: 50px;
  /* margin: 20px; */
}


.middle{
    color: black !important;
    letter-spacing: 1px!important;
    font-size: 25px!important;
    font-style: italic;
}
.padding{
    padding-right: 10px;
}

.text-color{
    color: black !important;
}

.pageBag{
    background-color: white!important;
}

.text-bold{
    font-weight: bold
}
.ml {
  border-left: 6px solid black;
  height: 500px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}

.map_cmn {
    height: 47vh;
}

.box{
    background-color: lightgrey;
  width: 300px;
  border: 7px solid green;
  padding: 50px;
  /* margin: 20px; */
}
.commnent-box{border: 1px solid black;   color: black;}
.for-row-nowrap .row{ display: flex;  margin: 0;  justify-content: flex-end;}
 .clf-table tr td{padding: 10px;} 

/* .clf-table tr td{padding: 10px; font-size: 0.8rem;} */

.table-inequality th{background-color: #fff !important;  color: #000!important;}
td{padding: 10px;}
.familytbl
    tr td {padding: 10px;}
    .familytbl th{padding: 10px;}
.sdg-bottom th, .sdg-bottom td{padding: 10px;}
.dark-bg-logo{background-color: #000;} 
 /* .header {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
} */

.close{
    height: 3rem;
    background: #0073c7;
    border-radius: 50%;
    z-index: 100;
    width: 80px;
    margin-top: 8px;
    height: 80px;
    opacity: 1;
    box-shadow: none;
    text-shadow: none;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.close1{
    height: 3rem;
    background: #0073c7;
    border-radius: 50%;
    z-index: 100;
    width: 40px;
    height: 40px;
    opacity: 1;
    box-shadow: none;
    text-shadow: none;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.closeSdg{
    height: 3rem;
    background: #0073c7;
    border-radius: 50%;
    z-index: 100;
    width: 50px;
    margin-right: -38px;
    margin-top: -47px;
    height: 50px;
    opacity: 1;
    box-shadow: none;
    text-shadow: none;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
}

.commnent-box textarea{width: 100%;  height: 85%; border: 0;}
.commnent-box button{
    text-align: center; 
    display: block; 
    margin: auto; 
    position: absolute;
    bottom: 10px;
    right: 50%;
    transform: translateX(50%);
}
.full-width-txt-ara-btn{    
    position: relative!important;
    float: right;
    right: 0!important;
    margin-top: 10px!important;
    transform: none !important;
    bottom: -11px!important;
}

.full-width-txt-ara{width: 90%!important;}

.sdg-overflow{overflow: auto;}

.border{
    	border: 1px solid black!important;
}
.table-bordered-red{
    border-bottom: 2px solid #e30000!important;
    border-top: 2px solid #e30000!important;
        border-left: 2px solid #e30000!important;
            border-right: 2px solid #e30000!important;

}

.table-bordered-green{
    border-bottom: 2px solid #34db00!important;
    border-top: 2px solid #34db00!important;
        border-left: 2px solid #34db00!important;
            border-right: 2px solid #34db00!important;

}

.table-bordered-orange{
    border-bottom: 2px solid #e76b00!important;
    border-top: 2px solid #e76b00!important;
        border-left: 2px solid #e76b00!important;
            border-right: 2px solid #e76b00!important;

}

.table-bordered-yellow{
    border-bottom: 2px solid #FFF600!important;
    border-top: 2px solid #FFF600!important;
        border-left: 2px solid #FFF600!important;
            border-right: 2px solid #FFF600!important;

}

.table-bordered-blue{
    border-bottom: 2px solid #0000FF!important;
    border-top: 2px solid #0000FF!important;
        border-left: 2px solid #0000FF!important;
            border-right: 2px solid #0000FF!important;

}
.pageBagRed{
    background-color: #e30000!important;
}

.textClass{
    text-align: left;
font-size: 18;
}
.textRed{
color: #e30000!important;
}

.sticky {
  position: fixed!important;
  top: 0;
  width: 100%;
  z-index: 2
}
.textgreen{
  color: #34db00!important;
}
.page {
  size: A4 landscape;
  margin: 20mm;
}
.large{
    font-size: x-large!important;
}

.warrClass{
    background: #c9baba;
    font-size: smaller;
}
#sdg_amenity_modal1 .modal-dialog {
  max-width: 1200px
}

#sdg_amenity_modal1 .modal-dialog {
  max-width: 1200px
}

.sdg_amenity_modal1 {
  width: 100%;
  border: 1px solid;
  border-color: rgba(255, 255, 255, 0.3);
  padding: 2.0rem 1rem;
  margin: auto;
  background: #000;
  position: relative;
  border-radius: 15px;
}

.sdg_amenity_modal1 .amenity_hdr {
  width: 100%
}

.sdg_amenity_modal1 .amenity_hdr figure {
  width: 9rem;
  margin-right: 0.5rem;
}

.sdg_amenity_modal1 .amenity_hdr figure img {
  width: 100%;
  border-radius: 9px;
}

.sdg_amenity_modal1 .amenity_cnt {
  margin: 1.0rem 0;
}

/* .sdg_amenity_modal1 .small{font-size: 100%!important;} */

.sdg_amenity_modal1 table td {
  padding: 0.5rem;
  vertical-align: middle;
  line-height: 1.2;
  font-size: 0.85rem;
}



.sdg_amenity_modal1 .flag {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sdg_amenity_modal1 .flag img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.sdg_amenity_modal1 .close {
  top: -2rem;
  right: -2rem;
  position: absolute;
}


.sdg_amenity_modal1.right_side {
  color: #fff;
  padding: 1rem 0;
  border: 0;
  font-size: 90%;
}

.sdg_amenity_modal1.right_side .amenity_hdr figure {
  width: 4rem;
}

.sdg_amenity_modal1.right_side .amenity_hdr p {
  line-height: 1.2;
}

.sdg_amenity_modal1.right_side .flag {
  height: 2rem;
  width: auto;
}

.sdg_amenity_modal1.right_side tbody {
  display: block;
  overflow-y: auto;
  max-height: 14rem;
  width: 100%;
  overflow-x: hidden;
}

.close_new {
  background: #053f73;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  color: #fff;
  border: 0;
}

.sdg_amenity_modal1.right_side thead tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.sdg_amenity_modal1.right_side tr td:nth-child(2),
.sdg_amenity_modal1.right_side tr td:nth-child(4) {
  width: 20px;
}

.sdg_amenity_modal1.right_side tr td:nth-child(3) {
  width: 170px;
  background: rgba(37, 150, 190, 0.2);
  border-radius: 8px;
}

.sdg_amenity_modal1.right_side thead,
.sdg_amenity_modal1.right_side tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.sdg_amenity_modal1.right_side thead {
  width: calc(100% - 1em)
}

header .logo1 {
  
  text-align: center;
  border-color: rgba(255, 255, 255, 0.2);
  background: #000;
}

header .logo1 img {
  width: 300px;
  /*height: 6.4rem;*/
}
 .logoNo{
        display: none;
  }




@media (min-width: 1200px){

.well_graph-ipad {
    overflow: auto;
}


}
@media (max-width: 1200px){
    .full-width-txt-ara-btn{bottom: 0px!important;}
}

@media print {
.logoNo{
        display:block!important;
  }
 
  .logo{
        display: none;
  }
   .logopadding{
    padding-top: 150px!important;
}
.savebtn{
    display: none;
}
.print{
     page-break-after: auto;
}

}