<div *ngIf="modalWindowShowHide.showActionResidence">
    <!--dashboard_residence-->
    <div>
        <div class=" new_cmn_modal full_width gamescreen animated zoomIn" id="dashboard_residence" tabindex="-1" role="dialog" aria-labelledby="dashboard_careerLabel">
        <!--<div class="new_cmn_modal full_width gamescreen" id="dashboard_resident">-->
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header position-relative d-flex align-items-center justify-content-between">
                        <h5 class="modal-title text-white font-400 text-uppercase font_b8 d-flex align-items-center" id="">
                            <img class="image" src="assets/images/action-residence.png" alt=""> 
                            <span class="pl-3"> {{'gameLabel.RESIDENCE' |translate}}</span>
                        </h5>
                        <button type="button" class="close" (click)="close()">
                            <!--<span aria-hidden="true">&times;</span>-->
                            <span class="material-icons">close</span>
                        </button>
                    </div>
                    <div class="modal-body p-0">
                        <div class="bg-white py-3 h-100">
                            <div class="col-md-12 pam popbo-x">
                                <div class="dbm">
                                    <div class="container-fluid p-0">
                                        <div class="row m-0">
                                            <div class="col-md-12" >
                                                <div class="alert {{alertClass}}" *ngIf="showAlertFlag">
                                                    <button type="button" class="close" data-dismiss="alert">×</button>
                                                    <strong>{{alertType}}</strong> {{alertMsg}}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row m-0">
                                            <div class="col-md-4">
                                                <div class="card w-100 blue_heading_card">
                                                    <div class="card-header d-flex align-items-cente pt-1 pb-1 justify-content-between no-gutters align-items-center">
                                                        <div class="col d-flex align-items-center">

                                                            <div class="icon actionicon" *ngIf="homeService.allPerson[constantService.FAMILY_SELF].current_residence.livingWith==='PARENT'">
                                                                <img src="assets/images/move_in.svg" alt="" height="auto">
                                                            </div>
                                                            <div class="icon actionicon" *ngIf="homeService.allPerson[constantService.FAMILY_SELF].current_residence.livingWith==='OWN'">
                                                                <img src="assets/images/move_out.svg" alt="" height="auto">
                                                            </div>  
                                                                                                                     
                                                             <div class="text-uppercase d-flex align-items-center">{{homeService.allPerson[constantService.FAMILY_SELF].current_residence.displayName}}</div>
                                                        </div>
                                                        <div class="col-auto font_s1"><p class="m-0"> {{'gameLabel.AGE' |translate}} {{homeService.allPerson[constantService.FAMILY_SELF].current_residence.fromAge}} to {{homeService.allPerson[constantService.FAMILY_SELF].age}}</p></div>
                                                    </div>
                                                    <div class="card-body height-13 p-0 d-flex align-items-center justify-content-center flex-column">
                                                        <div class="w-100 text-center defaut_progress">
                                                            <div class="col-12 mx-auto text-dark font-500">
                                                                <p class="mb-2"> {{'gameLabel.Residence_Type' |translate}}: {{financeService.shelter[homeService.allPerson[constantService.FAMILY_SELF].current_residence.shelterIndex].name}}</p>
                                                                  <p class="mb-2"> {{'gameLabel.Residence_City' |translate}}: {{this.homeService.allPerson[this.constantService.FAMILY_SELF].current_residence.cityName}}</p>
                                                                <p class="mb-2">{{'gameLabel.State' |translate}}: {{homeService.allPerson[constantService.FAMILY_SELF].current_residence.state}}</p>
                                                                <p class="mb-2">{{'gameLabel.Country' |translate}}: {{homeService.allPerson[constantService.FAMILY_SELF].current_residence.countryName}}</p>
                                                            </div>
                                                            <div class="top_devider mb-3"></div>
                                                            <div class="col-12 mx-auto text-dark font-500" *ngIf=" ((homeService.allPerson[constantService.FAMILY_MOTHER].living_at_home ||homeService.allPerson[constantService.FAMILY_FATHER].living_at_home ) && (!homeService.allPerson[constantService.FAMILY_FATHER].dead || !homeService.allPerson[constantService.FAMILY_MOTHER].dead))">
                                                                <button type="button" class="btn btn_blue font_s4 active"
                                                                [disabled]="homeService.allPerson[constantService.FAMILY_SELF].dead || homeService.allPerson[constantService.FAMILY_SELF].age<=10 
                                                                || homeService.allPerson[constantService.FAMILY_SELF].current_residence.livingWith=='BARICATE' || homeService.allPerson[constantService.FAMILY_SELF].current_residence.livingWith=='PRISON' ||homeService.allPerson[constantService.FAMILY_SELF].job.JobName===constantService.JOB_SOLDIER"
                                                                (click)="moveOut()">{{'gameLabel.MOVE_OUT' |translate}}</button>
                                                              </div>
                                            
                                                            <div class="col-12 mx-auto text-dark font-500" *ngIf="!homeService.allPerson[this.constantService.FAMILY_MOTHER].living_at_home 
                                                            && !homeService.allPerson[constantService.FAMILY_FATHER].living_at_home">
                                                                <button type="button" class="btn btn_blue font_s4 active" (click)="moveIn()" *ngIf="((!homeService.allPerson[constantService.FAMILY_MOTHER].dead || !homeService.allPerson[constantService.FAMILY_FATHER].dead))"
                                                                [disabled]="homeService.allPerson[constantService.FAMILY_SELF].dead || 
                                                                homeService.allPerson[constantService.FAMILY_SELF].current_residence.livingWith=='BARICATE' 
                                                                || homeService.allPerson[constantService.FAMILY_SELF].current_residence.livingWith=='PRISON'
                                                                ||homeService.allPerson[constantService.FAMILY_SELF].job.JobName===constantService.JOB_SOLDIER"> {{'gameLabel.MOVE_IN' |translate}} 
                                                            </button>
                                                            <button type="button" class="btn btn_blue font_s4 active" (click)="moveBackToHomeCountry()" *ngIf="(homeService.allPerson[constantService.FAMILY_MOTHER].country.country!==homeService.allPerson[constantService.FAMILY_SELF].country.country && (homeService.allPerson[constantService.FAMILY_MOTHER].dead && homeService.allPerson[constantService.FAMILY_FATHER].dead))"
                                                            [disabled]="homeService.allPerson[constantService.FAMILY_SELF].dead || 
                                                            homeService.allPerson[constantService.FAMILY_SELF].current_residence.livingWith=='BARICATE' 
                                                            || homeService.allPerson[constantService.FAMILY_SELF].current_residence.livingWith=='PRISON'
                                                            ||homeService.allPerson[constantService.FAMILY_SELF].job.JobName===constantService.JOB_SOLDIER">{{'gameLabel.Move_to_home_country' |translate}} 
                                                        </button>
                                                                <button type="button" class="btn btn_blue font_s4 active"  (click)="changeCity()" 
                                                                [disabled]="homeService.allPerson[constantService.FAMILY_SELF].dead || homeService.allPerson[constantService.FAMILY_SELF].current_residence.livingWith=='BARICATE' || homeService.allPerson[constantService.FAMILY_SELF].current_residence.livingWith=='PRISON'||homeService.allPerson[constantService.FAMILY_SELF].job.JobName===constantService.JOB_SOLDIER"
                                                                >{{'gameLabel.CHANGE_CITY' |translate}}</button>
                                                                <button type="button" class="btn btn_blue font_s4 active" (click)="changeCountry()"
                                                                [disabled]="homeService.allPerson[constantService.FAMILY_SELF].dead || homeService.allPerson[constantService.FAMILY_SELF].current_residence.livingWith=='BARICATE' || homeService.allPerson[constantService.FAMILY_SELF].current_residence.livingWith=='PRISON'||homeService.allPerson[constantService.FAMILY_SELF].job.JobName===constantService.JOB_SOLDIER
                                                                ||homeService.allPerson[constantService.FAMILY_SELF].age<18"
                                                                >{{'gameLabel.EMIGRATE' |translate}}</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div id="" class="auto_width content horizontal-images py-0">
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            <div class="col-md-4 mb-3" *ngFor="let gameLabel of allDisplayResidenceList">
                                                                <div class="card w-100 h-100">
                                                                    <div class="card-header py-1 height-auto boxheading_cmn d-flex align-items-cente pt-1 pb-1 justify-content-between no-gutters align-items-center blueborbottom">
                                                                        <div class="col d-flex align-items-center">

                                                                            <div class="icon actionicon" *ngIf="gameLabel.livingWith==='PARENT'">
                                                                                <img src="assets/images/move_in.svg" alt="" height="auto">
                                                                            </div>
                                                                            <div class="icon actionicon" *ngIf="gameLabel.livingWith==='OWN'">
                                                                                <img src="assets/images/move_out.svg" alt="" height="auto">
                                                                            </div>
                                                                            <div class="icon actionicon" *ngIf="gameLabel.livingWith!=='OWN' && gameLabel.livingWith!=='PARENT'">
                                                                                <img src="assets/images/orphan.svg" alt="" height="auto">
                                                                            </div> 
                                                                            <div class="text-uppercase d-flex align-items-center">{{gameLabel.displayName}}</div>
                                                                        </div>
                                                                        <div class="col-auto font_s1 fontforSmall"><p class="m-0 fontforSmall">{{'gameLabel.MOVE_IN' |translate}} {{gameLabel.fromAge}} to {{gameLabel.toAge}}</p></div>
                                                                    </div>
                                                                    <div class="card-body p-0 d-flex align-items-top flex-column h-auto overflow-hidden bg-light">
                                                                        <div class="w-100 text-dark py-3 pl-3">
                                                                            <div class="row no-gutters text-center">
                                                                                <div class="col max-height-4-5 pr-2 font-300">
                                                                                    <p class="mb-2 font-600"> {{'gameLabel.Residence_Type' |translate}}: {{financeService.shelter[gameLabel.shelterIndex].name}}</p>
                                                                                    <p class="mb-2"> {{'gameLabel.Residence_City' |translate}}: {{gameLabel.cityName}}</p>
                                                                                    <p class="mb-2"> {{'gameLabel.State' |translate}}: {{gameLabel.state}}</p>
                                                                                    <p class="mb-2">{{'gameLabel.Country' |translate}}: {{gameLabel.countryName}}</p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

       
        <div class="md-overlay black_modal gamescreen" id="dashboard_residence2" *ngIf="confirmBoxMoveOutShowFlag || confirmBoxMoveInShowFlag || confirmBoxMoveChangeCityFlag || confirmBoxChangeCountryShowFlag || illegalEmigrateFlag">
        <!--<div class="black_modal gamescreen" id="dashboard_resident2">-->
            <div class="modal-dialog modal-dialog-centered w700" role="document">
                <div class="modal-content h-auto">
                    <div class="modal-body p-0">
                        <p class="text-center">{{messageText}}</p>
                        <div class="d-flex justify-content-center w-100" *ngIf="confirmBoxMoveOutShowFlag">
                            <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1" (click)="confirmMoveOutYes()">{{'gameLabel.Yes' | translate}}</button>
                            <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1" (click)="confirmMoveOutNo()">{{'gameLabel.No' | translate}}</button>
                        </div>

                        <div class="d-flex justify-content-center w-100" *ngIf="confirmBoxMoveInShowFlag">
                            <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1" (click)="confirmMoveInYes()">{{'gameLabel.Yes' | translate}}</button>
                            <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1" (click)="confirmMoveInNo()">{{'gameLabel.No' | translate}}</button>
                        </div>

                        <div class="d-flex justify-content-center w-100" *ngIf="confirmBoxMoveChangeCityFlag">
                            <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1" (click)="confirmChangeCityYes()">{{'gameLabel.Yes' | translate}}</button>
                            <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1" (click)="confirmChangeCityNo()">{{'gameLabel.No' | translate}}</button>
                        </div>
                        <div class="d-flex justify-content-center w-100" *ngIf="confirmBoxChangeCountryShowFlag">
                            <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1" (click)="confirmChangeCountryYes()">{{'gameLabel.Yes' | translate}}</button>
                            <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1" (click)="confirmChangeCountryNo()">{{'gameLabel.No' | translate}}</button>
                        </div>
                        <div class="d-flex justify-content-center w-100" *ngIf="illegalEmigrateFlag">
                            <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1" (click)="elligalChangeCountryYes()">{{'gameLabel.Yes' | translate}}</button>
                            <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1" (click)="elligalChangeCountryNo()">{{'gameLabel.No' | translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="md-overlay new_cmn_modal full_width gamescreen h_100" id="displayList"  *ngIf="dispalyCityListFlag">
                <div class="modal-dialog modal-dialog-centered h-100" role="document">
                    <div class="modal-content h-100">
                        <div class="modal-body p-0" style="height: cal(100% - 4rem);">
                            <button type="button" class="close position-absolute"  style="right: 0; top: 7px;" (click)="closeCityList()">
                                <span class="material-icons">close</span>
                            </button>
                            <div class="col-md-12 pam popbox" style="min-height: 100%;">
                                <div class="">
                                    <div class="row m-0">
                                        <div class="col-md-12">
                                            <p class="mb-5 text-center text-dark font-500">{{type}}</p>
                                        </div>
                                    </div>
                                    <div class="row m-0" *ngIf="showCityList">
                                        <div class="col-md-3" *ngFor="let city of cityList, let i=index">
                                            <div class="box radio_img trans scale1_2">
                                                <label class="abc d-flex align-items-center justify-content-center w-100 p-2" [class.active]="r.checked">
                                                    <input #r type="radio"
                                                    name="city"
                                                    value="{{i}}"
                                                    (change)="selectCityCountryRadioButtonValue($event)">
                                                    <p class="m-0 text-uppercase font-600">{{city.cityName}}</p>
                                                </label>
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="row m-0" *ngIf="showCountryList">
                                        <div class="col-md-3" *ngFor="let country of countryList, let i=index">
                                            <div class="box radio_img trans scale1_2 mb-4">
                                                <label class="abc d-flex align-items-center justify-content-center w-100 p-2" [class.active]="p.checked">
                                                    <input #p type="radio"
                                                    name="country"
                                                    value="{{i}}"
                                                    (change)="selectCityCountryRadioButtonValue($event)">
                                                    <p class="m-0 text-uppercase font-600">{{country.country}}</p>
                                                </label>
                                            </div>
                                        </div>
                                    </div> 

                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>
            </div>


        <div class="md-overlay black_modal gamescreen {{messageClass}}" id="dashboard_residence" *ngIf="successMsgFlag">
            <!--<div class="black_modal gamescreen" id="dashboard_resident2">-->
                <div class="modal-dialog modal-dialog-centered w700" role="document">
                    <div class="modal-content h-auto">
                        <div class="modal-body p-0">
                            <p class="text-center text-white">{{messageText}}</p>
                            <div class="d-flex justify-content-center w-100">
                                <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1" (click)="successMsgWindowClose()">{{'gameLabel.Ok'| translate}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="md-overlay black_modal gamescreen" id="confirm" *ngIf="setSelectedCityCountryShow">
                    <div class="modal-dialog modal-dialog-centered w700" role="document">
                        <div class="modal-content h-auto">
                            <div class="modal-body p-0">
                                <p class="text-center">{{messageText}}</p>
                                <div class="d-flex justify-content-center w-100">
                                    <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1" (click)="setSelectedCityCountryYes()">{{'gameLabel.Ok'| translate}}</button>
                                    <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1" (click)="setSelectedCityCountryNo()">{{'gameLabel.Cancle' |translate}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
</div>

<div class="md-overlay new_cmn_modal full_width gamescreen h_100" id="showmap" *ngIf="map">
    <div class="modal-dialog modal-dialog-centered h-100" role="document">
        <div class="modal-content h-100">
            <div class="modal-body p-0">
                <button type="button" class="close position-absolute"  style="right: 0; top: 7px;" (click)="closeMap()">
                    <span class="material-icons">close</span>
                </button>
                 <div class="map_cmn world_map bg-white h-100 w-100" *ngIf="map">
                    <app-map-poc-two h-100 w-100></app-map-poc-two>
                    <!-- <agm-map   class="h-100 w-100" [latitude]="lat" [longitude]="lng" [zoom]='zoom'>
                        <agm-marker *ngFor="let coordinate of start_end_mark; let i=index"
                        [latitude]="coordinate[0]"
                        [longitude]="coordinate[1]" [agmFitBounds]="true" (markerClick)="markerClick(infowindow,i)">
                        <agm-info-window #infowindow>
                            <strong style="color: black">{{labelName}}</strong>
                          </agm-info-window>                    </agm-marker>
                        <agm-polyline [visible]="true" [strokeWeight]="3" [strokeColor]="'#07b57a'">
                              <agm-polyline-point
                              *ngFor="let coordinate of latlng; let i=index"
                              [latitude]="coordinate[0]"
                              [longitude]="coordinate[1]">
          
          </agm-polyline-point>
          <agm-icon-sequence [strokeColor]="'blue'" [repeat]="'10px'" [offset]="0" [strokeWeight]="3"  [scale]="2" [strokeOpacity]="100"  [path]="'M 0,-1 0,1'">
        </agm-icon-sequence>
          </agm-polyline>
          
                      </agm-map> -->
                </div>
            </div>
           
        </div>
    </div>
</div>






<app-wait-screen class="md-overlay_wait_screen black_modal gamescreen" *ngIf="modalWindowShowHide.showWaitScreen"></app-wait-screen>
