<div class="tab-pane fade show active" *ngIf="modalWindowShowHide.showBugReport">
    <div class="row mdl_cnt_rw text-white">
        <div class="col-12 mx-auto align-items-center">
            <div class="container-fluid tabs_wraper">
                <div class="row summary-part">
                    <div class="col-lg-12 px-0">
                        <div class="summary-wrapper">
                            <div class="summary-title">
                                <h2><img src="assets/images/endscreenicon/bug report-icon.svg" alt="Bug Report" />  {{'gameLabel.BUG_REPORT' |translate}}</h2>
                            </div>
                            <div class="clearfix"></div>
                            <div class="text-block bug-report">
                                <p>{{'gameLabel.bug_desc' |translate}}</p>
                                <div class="clearfix"></div>
                                <textarea class="form-control" rows="5" [(ngModel)]="bugreport.bugDiscription"></textarea>
                                <input class="submit-issue {{disablebuttonAfterOnClick}} {{saveDisableEnableFlag}}" type="button" name="save" value="Save" (click)="saveBugReport()" />
                            </div>
                        </div>
                    </div>
                </div>	
            </div>
        </div>
    </div>
</div>

<div class="phl" bsModal #decisionforConfirm="bs-modal" class="modal fade md-overlay" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="false">
    <div class="conformationpopup centered">
      <div class="pal text-center">
        <div> <span>
      {{'gameLabel.Your_bug_report_saved_succesfully' |translate}}</span>
          <br>
          <br>
          <button type="button" class="btn mlm btn_sk " (click)="decisionforConfirm.hide()">{{'gameLabel.Ok' |translate}}</button>
        </div>
      </div>
    </div>
  </div>