.disparity_modal .tab-content1 {
  line-height: 25px;
  border: 0px solid #ddd;
  border-top: none;
  border-bottom: 1px solid #333;
  color: #fff;
  padding: 1rem;
  font-size: 1rem;
  margin-top: 5px !important;
}

.btnActive{
  border: 3px solid red
}

.countrySelectionClass{
  border: 6px solid white;
}



.tabClass{
  margin-top: -25px;
}

.fontSize{
  font-size: large;
}

