<section class="home_dashboard pt-3 ">
    <header>
        <div class="logo mx-auto trans" data-aos="" data-aos-delay="100"><img img src="assets/images/RL_logo.svg"
                alt="">
        </div>
    </header>
    <div class="listing_heading position-relative mb-4 col-md-12">
        <a class="go_back_btn text-primary" (click)="clickBack(state)">
            <i class="fa fa-arrow-left" aria-hidden="true" style="cursor: pointer;padding-left: 5px;"></i>
            {{'gameLabel.Back'
            |translate}}</a>
        <a title="{{'gameLabel.Go_to_dashbord' | translate }}" data-toggle="tooltip" data-placement="left" class="tlp"
            style="cursor: pointer;" (click)="clickToExitButton()">
            <span class="material-icons " style="cursor: pointer;float: right;">login</span></a>
    </div>

    <div>
        <div class="container-fluid h-100 country_info" *ngIf="state==='pageOne'">
            <div class="container-fluid disparity_country">
                <div class="row align-items-center h-100">
                    <div class="col-md-12 mx-auto">
                        <h2 class="text-primary pb-3 text-center font_b6 font-600 mb-0">
                            {{'gameLabel.Comparative_Disparity_Between_Countries'| translate}}
                            {{phpToolService.selectedBornCountryObject.country}} {{'gameLabel.and' |translate}}
                            {{phpToolService.selectedRegisterCountryObject.country}} </h2>
                        <div class="row justify-content-center">
                            <div class="col-auto d-flex align-items-center">
                                <span class="color_display bg-danger mr-2"></span>
                                <p class="mb-0"> {{'gameLabel.Bad_Indicators' | translate}}</p>
                            </div>
                            <div class="col-auto d-flex align-items-center">
                                <span class="color_display bg-success mr-2"></span>
                                <p class="mb-0">{{'gameLabel.Good_Indicators' | translate}}</p>
                            </div>
                        </div>
                        <div class=col-md-12>
                            <div class="d-flex justify-content-center mt-5">
                                <button class="btn btn-blue-grad py-1 px-4 mr-3 btnActive"
                                    (click)="clickPageOne()">{{'gameLabel.Demographics'
                                    |translate}}</button>
                                <button class="btn btn-blue-grad py-1 px-4 mr-3"
                                    (click)="clickPageTwo()">{{'gameLabel.Per_Capita'
                                    |translate}}</button>
                                <button class="btn btn-blue-grad py-1 px-4 mr-3"
                                    (click)="clickPageThree()">{{'gameLabel.Labour_force_by_occupation'
                                    |translate}}</button>
                                <button class="btn btn-blue-grad py-1 px-4 mr-3"
                                    (click)="clickPageFour()">{{'gameLabel.Index_Ranking'
                                    |translate}}</button>
                                <a (click)="clickPageFive()" class="playBtn">
                                    <img src="assets/images/end-tool-button.svg" alt=""
                                        style="cursor: pointer;width: 160px">
                                    <!-- <img src="assets/images/startscreen/New%20Life.png" alt="" style="cursor: pointer"> -->
                                </a>
                            </div>
                        </div>
                        <div class="content">
                            <div class="disparity_modal">
                                <div class="container-fluid mt-5">
                                    <div class="row disparity_new_ui">
                                        <div class="col-md-12 mx-auto">
                                            <nav class="tabClass">
                                                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                                    <a id="nav-home-tab" class="nav-item nav-link active"
                                                        data-toggle="tab" href="#nav-home" role="tab"
                                                        aria-controls="nav-home" aria-selected="true"
                                                        (click)="tabClickDemo()"><span>{{'gameLabel.Demographics'
                                                            |translate}}</span></a>
                                                </div>
                                            </nav>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="tab-content1 py-3 px-3 h-100" id="nav-tabContent">
                                                <div class="tab-pane fade show active " id="nav-home" role="tabpanel"
                                                    aria-labelledby="nav-home-tab">
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            <div class="col-md-9">
                                                                <div class="row">
                                                                    <div class="col-md-7">
                                                                        <div class="disparity_table">
                                                                            <table width="100%" border="0"
                                                                                cellspacing="0" cellpadding="0">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <th>&nbsp;</th>
                                                                                        <th align="center">
                                                                                            <div
                                                                                                class="disparity_table_heading text-center">
                                                                                                <h4>{{phpToolService.selectedBornCountryObject.country}}
                                                                                                </h4>
                                                                                                <div><img alt=""
                                                                                                        class="img-fluid flagBorder"
                                                                                                        src="/assets/images/flags-big/{{phpToolService.selectedBornCountryObject.Code | lowercase}}.png">
                                                                                                </div>
                                                                                                <h6 class="text-white">
                                                                                                    {{'gameLabel.Country_you_are_born_in'
                                                                                                    |translate}}
                                                                                                    {{phpToolService.selectedBornCountryObject.country}}
                                                                                                </h6>
                                                                                            </div>
                                                                                        </th>
                                                                                        <th align="center">
                                                                                            <div
                                                                                                class="disparity_table_heading text-center">
                                                                                                <h4>{{phpToolService.selectedRegisterCountryObject.country}}
                                                                                                </h4>
                                                                                                <div><img alt=""
                                                                                                        class="img-fluid flagBorder"
                                                                                                        src="/assets/images/flags-big/{{phpToolService.selectedRegisterCountryObject.Code | lowercase}}.png">
                                                                                                </div>
                                                                                                <h6 class="text-white">
                                                                                                    {{'gameLabel.Country_you_are_from'
                                                                                                    |translate}}
                                                                                                    {{phpToolService.selectedRegisterCountryObject.country}}
                                                                                                </h6>
                                                                                            </div>
                                                                                        </th>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td><span><button
                                                                                                    class="disparity_modal_btn"
                                                                                                    (click)="onButtonClickGraphChange(phpToolService.selectedBornCountryObject.Population,phpToolService.selectedRegisterCountryObject.Population,'Population',3)">{{'gameLabel.Population'
                                                                                                    |translate}}</button></span>
                                                                                        </td>
                                                                                        <td align="center"><span
                                                                                                class="text-white">{{checkPopulationFormat(phpToolService.selectedBornCountryObject.Population)}}
                                                                                                {{checkFormat}}</span>
                                                                                        </td>
                                                                                        <td align="center"><span
                                                                                                class="text-white">{{checkPopulationFormat(phpToolService.selectedRegisterCountryObject.Population)}}
                                                                                                {{checkFormat}}</span>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr class="">
                                                                                        <td><span><button
                                                                                                    class="disparity_modal_btn"
                                                                                                    (click)="onButtonClickGraphChange(phpToolService.selectedBornCountryObject.SexRatio,phpToolService.selectedRegisterCountryObject.SexRatio,'Sex Ratio',0)">{{'gameLabel.Sex_Ratio'
                                                                                                    |translate}}</button></span>
                                                                                        </td>
                                                                                        <td align="center"><span
                                                                                                [class]="checkCssForSpecific1(phpToolService.selectedBornCountryObject.SexRatio,phpToolService.selectedRegisterCountryObject.SexRatio)">{{phpToolService.selectedBornCountryObject.SexRatio}}</span>
                                                                                        </td>
                                                                                        <td align="center"><span
                                                                                                [class]="checkCssForSpecific1(phpToolService.selectedRegisterCountryObject.SexRatio,phpToolService.selectedBornCountryObject.SexRatio)">{{phpToolService.selectedRegisterCountryObject.SexRatio}}</span>
                                                                                        </td>

                                                                                    </tr>
                                                                                    <tr class="">
                                                                                        <td><span><button
                                                                                                    class="disparity_modal_btn"
                                                                                                    (click)="onButtonClickGraphChange(phpToolService.selectedBornCountryObject.BirthRate,phpToolService.selectedRegisterCountryObject.BirthRate,'Birth Ratio',1)">
                                                                                                    {{'gameLabel.Birth_Rate'
                                                                                                    |translate}}
                                                                                                </button>
                                                                                            </span></td>
                                                                                        <td align="center"><span
                                                                                                [class]="checkCss1(phpToolService.selectedBornCountryObject.BirthRate,phpToolService.selectedRegisterCountryObject.BirthRate)">{{phpToolService.selectedBornCountryObject.BirthRate}}</span>
                                                                                        </td>
                                                                                        <td align="center"><span
                                                                                                [class]="checkCss1(phpToolService.selectedRegisterCountryObject.BirthRate,phpToolService.selectedBornCountryObject.BirthRate)">{{phpToolService.selectedRegisterCountryObject.BirthRate}}</span>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr class="">
                                                                                        <td><span><button
                                                                                                    class="disparity_modal_btn"
                                                                                                    (click)="onButtonClickGraphChange(phpToolService.selectedBornCountryObject.DeathRate,phpToolService.selectedRegisterCountryObject.DeathRate,'Death Ratio',0)">{{'gameLabel.Death_Rate'
                                                                                                    |translate}}</button></span>
                                                                                        </td>
                                                                                        <td align="center"><span
                                                                                                [class]="checkCssForSpecific1(phpToolService.selectedBornCountryObject.DeathRate,phpToolService.selectedRegisterCountryObject.DeathRate)">{{phpToolService.selectedBornCountryObject.DeathRate}}</span>
                                                                                        </td>
                                                                                        <td align="center"><span
                                                                                                [class]="checkCssForSpecific1(phpToolService.selectedRegisterCountryObject.DeathRate,phpToolService.selectedBornCountryObject.DeathRate)">{{phpToolService.selectedRegisterCountryObject.DeathRate}}</span>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr class="">
                                                                                        <td><span><button
                                                                                                    class="disparity_modal_btn"
                                                                                                    (click)="onButtonClickGraphChange(phpToolService.selectedBornCountryObject.InfantMortalityRate,phpToolService.selectedRegisterCountryObject.InfantMortalityRate,'Infant Mortality Rate',0)">{{'gameLabel.Infant_Mortality_Rate'
                                                                                                    |translate}}</button></span>
                                                                                        </td>
                                                                                        <td align="center"><span
                                                                                                [class]="checkCssForSpecific1(phpToolService.selectedBornCountryObject.InfantMortalityRate,phpToolService.selectedRegisterCountryObject.InfantMortalityRate)">{{phpToolService.selectedBornCountryObject.InfantMortalityRate}}</span>
                                                                                        </td>
                                                                                        <td align="center"><span
                                                                                                [class]="checkCssForSpecific1(phpToolService.selectedRegisterCountryObject.InfantMortalityRate,phpToolService.selectedBornCountryObject.InfantMortalityRate)">{{phpToolService.selectedRegisterCountryObject.InfantMortalityRate}}</span>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-5">
                                                                        <div
                                                                            class=" h-100 d-flex align-items-center justify-content-center flex-column p-3 text-center">
                                                                            {{'gameLabel.Graph' |translate}}
                                                                            <ngx-charts-bar-horizontal [view]="view"
                                                                                [scheme]="colorScheme"
                                                                                [results]="single" [gradient]="gradient"
                                                                                [xAxis]="showXAxis" [yAxis]="showYAxis"
                                                                                [legend]=false
                                                                                [showXAxisLabel]="showXAxisLabel"
                                                                                [xAxisLabel]="xAxisLabel"
                                                                                [yAxisLabel]="yAxisLabel"
                                                                                [showGridLines]="false"
                                                                                (activate)="onActivate($event)"
                                                                                (deactivate)="onDeactivate($event)"
                                                                                style="fill: white">
                                                                            </ngx-charts-bar-horizontal>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div
                                                                    class="h-100 d-flex align-items-center justify-content-center flex-column p-3 ">
                                                                    <h3 class="text-center font_b6 font-500 mb-0">
                                                                        {{sentenceTextWindow1}} </h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>


                                    </div>
                                    <!-- <div class="row justify-content-center no-gutters px-5 mt-4">
                                        <div class="col-md-6 mx-1">
                                            <a (click)="clickNext(state)">
                                                <button type="button"
                                                    class="btn btn-primary2 w-100 text-dark mx-1 border-0 font_b2 next_step next_step new-for-btn-sty">
                                                    <span class="nxt-btn-combine-class"> <span class="nxt-btn-text">Next
                                                            &nbsp;&gt; </span>
                                                    </span>
                                                </button>
                                            </a>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid h-100 country_info" *ngIf="state==='pageTwo'">
            <div class="container-fluid disparity_country">
                <div class="row align-items-center h-100">
                    <div class="col-md-12 mx-auto">
                        <h3 class="text-primary pb-3 text-center font_b6 font-600 mb-0">
                            {{'gameLabel.Comparative_Disparity_Between_Countries'| translate}}
                            {{phpToolService.selectedBornCountryObject.country}} {{'gameLabel.and' |translate}}
                            {{phpToolService.selectedRegisterCountryObject.country}} </h3>
                        <div class="row justify-content-center">
                            <div class="col-auto d-flex align-items-center">
                                <span class="color_display bg-danger mr-2"></span>
                                <p class="mb-0"> {{'gameLabel.Bad_Indicators' | translate}}</p>
                            </div>
                            <div class="col-auto d-flex align-items-center">
                                <span class="color_display bg-success mr-2"></span>
                                <p class="mb-0">{{'gameLabel.Good_Indicators' | translate}}</p>
                            </div>
                        </div>
                        <div class=col-md-12>
                            <div class="d-flex justify-content-center mt-5">
                                <button class="btn btn-blue-grad py-1 px-4 mr-3"
                                    (click)="clickPageOne()">{{'gameLabel.Demographics'
                                    |translate}}</button>
                                <button class="btn btn-blue-grad py-1 px-4 mr-3 btnActive"
                                    (click)="clickPageTwo()">{{'gameLabel.Per_Capita'
                                    |translate}}</button>
                                <button class="btn btn-blue-grad py-1 px-4 mr-3"
                                    (click)="clickPageThree()">{{'gameLabel.Labour_force_by_occupation'
                                    |translate}}</button>
                                <button class="btn btn-blue-grad py-1 px-4 mr-3"
                                    (click)="clickPageFour()">{{'gameLabel.Index_Ranking'
                                    |translate}}</button>
                                <a (click)="clickPageFive()" class="playBtn">
                                    <img src="assets/images/end-tool-button.svg" alt=""
                                        style="cursor: pointer;width: 160px">
                                    <!-- <img src="assets/images/startscreen/New%20Life.png" alt="" style="cursor: pointer"> -->
                                </a>
                            </div>
                        </div>
                        <div class="content">
                            <div class="disparity_modal">
                                <div class="container-fluid mt-5">
                                    <div class="row disparity_new_ui">
                                        <div class="col-md-12 mx-auto">
                                            <nav class="tabClass">
                                                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">

                                                    <a id="nav-profile-tab" class="nav-item nav-link active"
                                                        data-toggle="tab" href="#nav-profile" role="tab"
                                                        aria-controls="nav-profile" aria-selected="false">
                                                        <span>{{'gameLabel.Per_Capita' |translate}}</span></a>
                                                </div>
                                            </nav>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="tab-content1 py-3 px-3 h-100" id="nav-tabContent">
                                                <div class="tab-pane fade show active  " id="nav-profile"
                                                    role="tabpanel" aria-labelledby="nav-profile-tab"
                                                    *ngIf="onClickPerCapita">
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            <div class="col-md-9">
                                                                <div class="row">
                                                                    <div class="col-md-7">
                                                                        <div class="disparity_table">
                                                                            <table width="100%" border="0"
                                                                                cellspacing="0" cellpadding="0">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <th>&nbsp;</th>
                                                                                        <th align="center">
                                                                                            <div
                                                                                                class="disparity_table_heading text-center">
                                                                                                <h4>{{phpToolService.selectedBornCountryObject.country}}
                                                                                                </h4>
                                                                                                <div><img alt=""
                                                                                                        class="img-fluid flagBorder"
                                                                                                        src="/assets/images/flags-big/{{phpToolService.selectedBornCountryObject.Code | lowercase}}.png">
                                                                                                </div>
                                                                                                <h6 class="text-white">
                                                                                                    {{'gameLabel.Country_you_are_born_in'
                                                                                                    |translate}}
                                                                                                    {{phpToolService.selectedBornCountryObject.country}}
                                                                                                </h6>
                                                                                            </div>
                                                                                        </th>
                                                                                        <th align="center">
                                                                                            <div
                                                                                                class="disparity_table_heading text-center">
                                                                                                <h4>{{phpToolService.selectedRegisterCountryObject.country}}
                                                                                                </h4>
                                                                                                <div><img alt=""
                                                                                                        class="img-fluid flagBorder"
                                                                                                        src="/assets/images/flags-big/{{phpToolService.selectedRegisterCountryObject.Code | lowercase}}.png">
                                                                                                </div>
                                                                                                <h6 class="text-white">
                                                                                                    {{'gameLabel.Country_you_are_from'
                                                                                                    |translate}}
                                                                                                    {{phpToolService.selectedRegisterCountryObject.country}}
                                                                                                </h6>
                                                                                            </div>
                                                                                        </th>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td><span><button
                                                                                                    class="disparity_modal_btn"
                                                                                                    (click)="onButtonClickGraphChange(phpToolService.selectedBornCountryObject.PrimarySchool,phpToolService.selectedRegisterCountryObject.PrimarySchool,'Primary School',1)">{{'gameLabel.Primary_School_Enrollment'
                                                                                                    |translate}}</button></span>
                                                                                        </td>
                                                                                        <td align="center"><span
                                                                                                [class]="checkCss1(phpToolService.selectedBornCountryObject.PrimarySchool,phpToolService.selectedRegisterCountryObject.PrimarySchool)">{{phpToolService.selectedBornCountryObject.PrimarySchool}}</span>
                                                                                        </td>
                                                                                        <td align="center"><span
                                                                                                [class]="checkCss1(phpToolService.selectedRegisterCountryObject.PrimarySchool,phpToolService.selectedBornCountryObject.PrimarySchool)">{{phpToolService.selectedRegisterCountryObject.PrimarySchool}}</span>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr class="">
                                                                                        <td><span><button
                                                                                                    class="disparity_modal_btn"
                                                                                                    (click)="onButtonClickGraphChange(phpToolService.selectedBornCountryObject.UnEmploymentRate,phpToolService.selectedRegisterCountryObject.UnEmploymentRate,'UnEmployment Rate',0)">{{'gameLabel.Unemployment_Rate'
                                                                                                    |translate}}</button></span>
                                                                                        </td>
                                                                                        <td align="center"><span
                                                                                                [class]="checkCssForSpecific1(phpToolService.selectedBornCountryObject.UnEmploymentRate,phpToolService.selectedRegisterCountryObject.UnEmploymentRate)">{{phpToolService.selectedBornCountryObject.UnEmploymentRate}}</span>
                                                                                        </td>
                                                                                        <td align="center"><span
                                                                                                [class]="checkCssForSpecific1(phpToolService.selectedRegisterCountryObject.UnEmploymentRate,phpToolService.selectedBornCountryObject.UnEmploymentRate)">{{phpToolService.selectedRegisterCountryObject.UnEmploymentRate}}</span>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr class="">
                                                                                        <td><span><button
                                                                                                    class="disparity_modal_btn"
                                                                                                    (click)="onButtonClickGraphChange(phpToolService.selectedBornCountryObject.PerCapitaElectricityConsumption,phpToolService.selectedRegisterCountryObject.PerCapitaElectricityConsumption,'Access to Electricity',1)">
                                                                                                    {{'gameLabel.Access_to_Electricity'
                                                                                                    |translate}}
                                                                                                </button>
                                                                                            </span></td>
                                                                                        <td align="center"><span
                                                                                                [class]="checkCss1(phpToolService.selectedBornCountryObject.PerCapitaElectricityConsumption,phpToolService.selectedRegisterCountryObject.PerCapitaElectricityConsumption)">{{phpToolService.selectedBornCountryObject.PerCapitaElectricityConsumption}}</span>
                                                                                        </td>
                                                                                        <td align="center"><span
                                                                                                [class]="checkCss1(phpToolService.selectedRegisterCountryObject.PerCapitaElectricityConsumption,phpToolService.selectedBornCountryObject.PerCapitaElectricityConsumption)">{{phpToolService.selectedRegisterCountryObject.PerCapitaElectricityConsumption}}</span>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr class="">
                                                                                        <td><span><button
                                                                                                    class="disparity_modal_btn"
                                                                                                    (click)="onButtonClickGraphChange(phpToolService.selectedBornCountryObject.PerCapitaHealthConsumption,phpToolService.selectedRegisterCountryObject.PerCapitaHealthConsumption,'Health Exp. per capita',1)">{{'gameLabel.Health_Exp_per_capita'
                                                                                                    |translate}}</button></span>
                                                                                        </td>
                                                                                        <td align="center"><span
                                                                                                [class]="checkCss1(phpToolService.selectedBornCountryObject.PerCapitaHealthConsumption,phpToolService.selectedRegisterCountryObject.PerCapitaHealthConsumption)">{{phpToolService.selectedBornCountryObject.PerCapitaHealthConsumption}}</span>
                                                                                        </td>
                                                                                        <td align="center"><span
                                                                                                [class]="checkCss1(phpToolService.selectedRegisterCountryObject.PerCapitaHealthConsumption,phpToolService.selectedBornCountryObject.PerCapitaHealthConsumption)">{{phpToolService.selectedRegisterCountryObject.PerCapitaHealthConsumption}}</span>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-5">
                                                                        <div
                                                                            class=" h-100 d-flex align-items-center justify-content-center flex-column p-3 text-center">
                                                                            {{'gameLabel.Graph' |translate}}
                                                                            <ngx-charts-bar-horizontal [view]="view"
                                                                                [scheme]="colorScheme"
                                                                                [results]="single" [gradient]="gradient"
                                                                                [xAxis]="showXAxis" [yAxis]="showYAxis"
                                                                                [legend]=false
                                                                                [showXAxisLabel]="showXAxisLabel"
                                                                                [showGridLines]="false"
                                                                                [xAxisLabel]="xAxisLabel"
                                                                                [yAxisLabel]="yAxisLabel"
                                                                                (activate)="onActivate($event)"
                                                                                style="fill: white"
                                                                                (deactivate)="onDeactivate($event)">
                                                                            </ngx-charts-bar-horizontal>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div
                                                                    class="h-100 d-flex align-items-center justify-content-center flex-column p-3 font-600">
                                                                    <h3 class="text-center font_b6 font-500 mb-0">
                                                                        {{sentenceTextWindow1}} </h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>


                                    </div>
                                    <!-- <div class="row justify-content-center no-gutters px-5 mt-4">
                                                    <div class="col-md-6 mx-1">
                                                        <a (click)="clickNext(state)">
                                                            <button type="button"
                                                                class="btn btn-primary2 w-100 text-dark mx-1 border-0 font_b2 next_step next_step new-for-btn-sty">
                                                                <span class="nxt-btn-combine-class"> <span class="nxt-btn-text">Next
                                                                        &nbsp;&gt; </span>
                                                                </span>
                                                            </button>
                                                        </a>
                                                    </div>
                                                </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid h-100 country_info" *ngIf="state==='pageThree'">
            <div class="container-fluid disparity_country">
                <div class="row align-items-center h-100">
                    <div class="col-md-12 mx-auto">
                        <h3 class="text-primary pb-3 text-center font_b6 font-600 mb-0">
                            {{'gameLabel.Comparative_Disparity_Between_Countries'| translate}}
                            {{phpToolService.selectedBornCountryObject.country}} {{'gameLabel.and' |translate}}
                            {{phpToolService.selectedRegisterCountryObject.country}} </h3>
                        <div class="row justify-content-center">
                            <div class="col-auto d-flex align-items-center">
                                <span class="color_display bg-danger mr-2"></span>
                                <p class="mb-0"> {{'gameLabel.Bad_Indicators' | translate}}</p>
                            </div>
                            <div class="col-auto d-flex align-items-center">
                                <span class="color_display bg-success mr-2"></span>
                                <p class="mb-0">{{'gameLabel.Good_Indicators' | translate}}</p>
                            </div>
                        </div>
                        <div class=col-md-12>
                            <div class="d-flex justify-content-center mt-5">
                                <button class="btn btn-blue-grad py-1 px-4 mr-3"
                                    (click)="clickPageOne()">{{'gameLabel.Demographics'
                                    |translate}}</button>
                                <button class="btn btn-blue-grad py-1 px-4 mr-3"
                                    (click)="clickPageTwo()">{{'gameLabel.Per_Capita'
                                    |translate}}</button>
                                <button class="btn btn-blue-grad py-1 px-4 mr-3 btnActive"
                                    (click)="clickPageThree()">{{'gameLabel.Labour_force_by_occupation'
                                    |translate}}</button>
                                <button class="btn btn-blue-grad py-1 px-4 mr-3"
                                    (click)="clickPageFour()">{{'gameLabel.Index_Ranking'
                                    |translate}}</button>
                                <a (click)="clickPageFive()" class="playBtn">
                                    <img src="assets/images/end-tool-button.svg" alt=""
                                        style="cursor: pointer;width: 160px">
                                    <!-- <img src="assets/images/startscreen/New%20Life.png" alt="" style="cursor: pointer"> -->
                                </a>
                            </div>
                        </div>
                        <div class="content">
                            <div class="disparity_modal">
                                <div class="container-fluid mt-5">
                                    <div class="row disparity_new_ui">
                                        <div class="col-md-12 mx-auto">
                                            <nav class="tabClass">
                                                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                                    <a id="nav-contact-tab" class="nav-item nav-link active"
                                                        data-toggle="tab" href="#nav-contact" role="tab"
                                                        aria-controls="nav-contact" aria-selected="false">
                                                        <span>{{'gameLabel.Labour_force_by_occupation'
                                                            |translate}}</span></a>
                                                </div>
                                            </nav>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="tab-content1 py-3 px-3 h-100" id="nav-tabContent">

                                                <div class="tab-pane fade show active " id="nav-contact" role="tabpanel"
                                                    aria-labelledby="nav-contact-tab">
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            <div class="col-md-9">
                                                                <div class="row">
                                                                    <div class="col-md-7">
                                                                        <div class="disparity_table">
                                                                            <table width="100%" border="0"
                                                                                cellspacing="0" cellpadding="0">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <th>&nbsp;</th>
                                                                                        <th align="center">
                                                                                            <div
                                                                                                class="disparity_table_heading text-center">
                                                                                                <h4>{{phpToolService.selectedBornCountryObject.country}}
                                                                                                </h4>
                                                                                                <div><img alt=""
                                                                                                        class="img-fluid flagBorder"
                                                                                                        src="/assets/images/flags-big/{{phpToolService.selectedBornCountryObject.Code | lowercase}}.png">
                                                                                                </div>
                                                                                                <h6 class="text-white">
                                                                                                    {{'gameLabel.Country_you_are_born_in'
                                                                                                    |translate}}
                                                                                                    {{phpToolService.selectedBornCountryObject.country}}
                                                                                                </h6>
                                                                                            </div>
                                                                                        </th>
                                                                                        <th align="center">
                                                                                            <div
                                                                                                class="disparity_table_heading text-center">
                                                                                                <h4>{{phpToolService.selectedRegisterCountryObject.country}}
                                                                                                </h4>
                                                                                                <div><img alt=""
                                                                                                        class="img-fluid flagBorder"
                                                                                                        src="/assets/images/flags-big/{{phpToolService.selectedRegisterCountryObject.Code | lowercase}}.png">
                                                                                                </div>
                                                                                                <h6 class="text-white">
                                                                                                    {{'gameLabel.Country_you_are_from'
                                                                                                    |translate}}
                                                                                                    {{phpToolService.selectedRegisterCountryObject.country}}
                                                                                                </h6>
                                                                                            </div>
                                                                                        </th>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td><span
                                                                                                class="text-white">{{'gameLabel.Agriculture'
                                                                                                | translate}}</span>
                                                                                        </td>
                                                                                        <td align="center"><span
                                                                                                class="text-white">{{phpToolService.selectedBornCountryObject.Agriculture.toFixed(2)}}%</span>
                                                                                        </td>
                                                                                        <td align="center"><span
                                                                                                class="text-white">{{phpToolService.selectedRegisterCountryObject.Agriculture.toFixed(2)}}%</span>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr class="">
                                                                                        <td><span
                                                                                                class="text-white">{{'gameLabel.Service'
                                                                                                | translate}}</span>
                                                                                        </td>
                                                                                        <td align="center"><span
                                                                                                class="text-white">{{phpToolService.selectedBornCountryObject.Services.toFixed(2)}}%</span>
                                                                                        </td>
                                                                                        <td align="center"><span
                                                                                                class="text-white">{{phpToolService.selectedRegisterCountryObject.Services.toFixed(2)}}%</span>
                                                                                        </td>

                                                                                    </tr>
                                                                                    <tr class="">
                                                                                        <td><span
                                                                                                class="text-white">{{'gameLabel.Industry'
                                                                                                | translate}}</span>
                                                                                        </td>
                                                                                        <td align="center"><span
                                                                                                class="text-white">{{phpToolService.selectedBornCountryObject.industry.toFixed(2)}}%</span>
                                                                                        </td>
                                                                                        <td align="center"><span
                                                                                                class="text-white">{{phpToolService.selectedRegisterCountryObject.industry.toFixed(2)}}%</span>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-5">
                                                                        <div
                                                                            class=" h-100 d-flex align-items-center justify-content-center flex-column p-3 text-center">
                                                                            {{'gameLabel.Graph' |translate}}
                                                                            <ngx-charts-bar-horizontal-stacked
                                                                                [view]="view1" [scheme]="colorScheme1"
                                                                                [results]="multi" [gradient]="gradient"
                                                                                [xAxis]="showXAxis" [yAxis]="showYAxis"
                                                                                [legend]="showLegend1"
                                                                                [legendPosition]="'below'"
                                                                                [showXAxisLabel]="showXAxisLabel"
                                                                                [showGridLines]="false"
                                                                                [xAxisLabel]="xAxisLabel"
                                                                                [yAxisLabel]="yAxisLabel"
                                                                                style="fill: white">
                                                                            </ngx-charts-bar-horizontal-stacked>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div
                                                                    class="h-100 d-flex align-items-center justify-content-center flex-column p-3 font-600">
                                                                    <h3 class="text-center font_b6 font-500 mb-0">
                                                                        {{labourForceString1}}
                                                                        <br>{{labourForceString2}}
                                                                    </h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>


                                    </div>
                                    <!-- <div class="row justify-content-center no-gutters px-5 mt-4">
                                                    <div class="col-md-6 mx-1">
                                                        <a (click)="clickNext(state)">
                                                            <button type="button"
                                                                class="btn btn-primary2 w-100 text-dark mx-1 border-0 font_b2 next_step next_step new-for-btn-sty">
                                                                <span class="nxt-btn-combine-class"> <span class="nxt-btn-text">Next
                                                                        &nbsp;&gt; </span>
                                                                </span>
                                                            </button>
                                                        </a>
                                                    </div>
                                                </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid h-100 country_info" *ngIf="state==='pageFour'">
            <div class="container-fluid disparity_country">
                <div class="row align-items-center h-100">
                    <div class="col-md-12 mx-auto">
                        <h3 class="text-primary pb-3 text-center font_b6 font-600 mb-0">
                            {{'gameLabel.Comparative_Disparity_Between_Countries'| translate}}
                            {{phpToolService.selectedBornCountryObject.country}} {{'gameLabel.and' |translate}}
                            {{phpToolService.selectedRegisterCountryObject.country}} </h3>
                        <div class="row justify-content-center">
                            <div class="col-auto d-flex align-items-center">
                                <span class="color_display bg-danger mr-2"></span>
                                <p class="mb-0"> {{'gameLabel.Bad_Indicators' | translate}}</p>
                            </div>
                            <div class="col-auto d-flex align-items-center">
                                <span class="color_display bg-success mr-2"></span>
                                <p class="mb-0">{{'gameLabel.Good_Indicators' | translate}}</p>
                            </div>
                        </div>
                        <div class=col-md-12>
                            <div class="d-flex justify-content-center mt-5">
                                <button class="btn btn-blue-grad py-1 px-4 mr-3"
                                    (click)="clickPageOne()">{{'gameLabel.Demographics'
                                    |translate}}</button>
                                <button class="btn btn-blue-grad py-1 px-4 mr-3"
                                    (click)="clickPageTwo()">{{'gameLabel.Per_Capita'
                                    |translate}}</button>
                                <button class="btn btn-blue-grad py-1 px-4 mr-3"
                                    (click)="clickPageThree()">{{'gameLabel.Labour_force_by_occupation'
                                    |translate}}</button>
                                <button class="btn btn-blue-grad py-1 px-4 mr-3 btnActive"
                                    (click)="clickPageFour()">{{'gameLabel.Index_Ranking'
                                    |translate}}</button>
                                <a (click)="clickPageFive()" class="playBtn">
                                    <img src="assets/images/end-tool-button.svg" alt=""
                                        style="cursor: pointer;width: 160px">
                                    <!-- <img src="assets/images/startscreen/New%20Life.png" alt="" style="cursor: pointer"> -->
                                </a>
                            </div>
                        </div>
                        <div class="content">
                            <div class="disparity_modal">
                                <div class="container-fluid mt-5">
                                    <div class="row disparity_new_ui">
                                        <div class="col-md-12 mx-auto">
                                            <nav class="tabClass">
                                                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                                    <a id="nav-about-tab" class="nav-item nav-link active"
                                                        data-toggle="tab" href="#nav-about" role="tab"
                                                        aria-controls="nav-about" aria-selected="false">
                                                        <span>{{'gameLabel.Index_Ranking' |translate}}</span></a>
                                                </div>
                                            </nav>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="tab-content1 py-3 px-3 h-100" id="nav-tabContent">
                                                <div class="tab-pane fade show active " id="nav-about" role="tabpanel"
                                                    aria-labelledby="nav-about-tab">
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            <div class="col-md-9">
                                                                <div class="row">
                                                                    <div class="col-md-7">
                                                                        <div class="disparity_table">
                                                                            <table width="100%" border="0"
                                                                                cellspacing="0" cellpadding="0">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <th>&nbsp;</th>
                                                                                        <th align="center">
                                                                                            <div
                                                                                                class="disparity_table_heading text-center">
                                                                                                <h4>{{phpToolService.selectedBornCountryObject.country}}
                                                                                                </h4>
                                                                                                <div><img alt=""
                                                                                                        class="img-fluid"
                                                                                                        src="/assets/images/flags-big/{{phpToolService.selectedBornCountryObject.Code | lowercase}}.png">
                                                                                                </div>
                                                                                                <h6 class="text-white">
                                                                                                    {{'gameLabel.Country_you_are_born_in'
                                                                                                    |translate}}
                                                                                                    {{phpToolService.selectedBornCountryObject.country}}
                                                                                                </h6>
                                                                                            </div>
                                                                                        </th>
                                                                                        <th align="center">
                                                                                            <div
                                                                                                class="disparity_table_heading text-center">
                                                                                                <h4>{{phpToolService.selectedRegisterCountryObject.country}}
                                                                                                </h4>
                                                                                                <div><img alt=""
                                                                                                        class="img-fluid flagBorder"
                                                                                                        src="/assets/images/flags-big/{{phpToolService.selectedRegisterCountryObject.Code | lowercase}}.png">
                                                                                                </div>
                                                                                                <h6 class="text-white">
                                                                                                    {{'gameLabel.Country_you_are_from'
                                                                                                    |translate}}
                                                                                                    {{phpToolService.selectedRegisterCountryObject.country}}
                                                                                                </h6>
                                                                                            </div>
                                                                                        </th>
                                                                                    </tr>
                                                                                    <tr class="">
                                                                                        <td><span><button
                                                                                                    class="disparity_modal_btn"
                                                                                                    (click)="onButtonClickGraphChange(phpToolService.selectedBornCountryObject.ppp,phpToolService.selectedRegisterCountryObject.ppp,'PPP',1)">{{'gameLabel.PPP'
                                                                                                    |translate}}</button></span>
                                                                                        </td>
                                                                                        <td align="center"><span
                                                                                                [class]="checkCss1(phpToolService.selectedBornCountryObject.ppp,phpToolService.selectedRegisterCountryObject.ppp)">{{phpToolService.selectedBornCountryObject.ppp}}</span>
                                                                                        </td>
                                                                                        <td align="center"><span
                                                                                                [class]="checkCss1(phpToolService.selectedRegisterCountryObject.ppp,phpToolService.selectedBornCountryObject.ppp)">{{phpToolService.selectedRegisterCountryObject.ppp}}</span>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr class="">
                                                                                        <td><span><button
                                                                                                    class="disparity_modal_btn"
                                                                                                    (click)="onButtonClickGraphChange(phpToolService.selectedBornCountryObject.gini,phpToolService.selectedRegisterCountryObject.gini,'Gini',0)">
                                                                                                    {{'gameLabel.GINI'
                                                                                                    |translate}}</button>
                                                                                            </span></td>
                                                                                        <td align="center"><span
                                                                                                [class]="checkCssForSpecific1(phpToolService.selectedBornCountryObject.gini,phpToolService.selectedRegisterCountryObject.gini)">{{phpToolService.selectedBornCountryObject.gini}}</span>
                                                                                        </td>
                                                                                        <td align="center"><span
                                                                                                [class]="checkCssForSpecific1(phpToolService.selectedRegisterCountryObject.gini,phpToolService.selectedBornCountryObject.gini)">{{phpToolService.selectedRegisterCountryObject.gini}}</span>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr class="">
                                                                                        <td><span><button
                                                                                                    class="disparity_modal_btn"
                                                                                                    (click)="onButtonClickGraphChange(phpToolService.selectedBornCountryObject.SdgiRank,phpToolService.selectedRegisterCountryObject.SdgiRank,'Sdgi Rank',0)">{{'gameLabel.SDG_rank'
                                                                                                    |
                                                                                                    translate}}</button></span>
                                                                                        </td>
                                                                                        <td align="center"><span
                                                                                                [class]="checkCssForSpecific1(phpToolService.selectedBornCountryObject.SdgiRank,phpToolService.selectedRegisterCountryObject.SdgiRank)">{{phpToolService.selectedBornCountryObject.SdgiRank}}</span>
                                                                                        </td>
                                                                                        <td align="center"><span
                                                                                                [class]="checkCssForSpecific1(phpToolService.selectedRegisterCountryObject.SdgiRank,phpToolService.selectedBornCountryObject.SdgiRank)">{{phpToolService.selectedRegisterCountryObject.SdgiRank}}</span>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr class="">
                                                                                        <td><span><button
                                                                                                    class="disparity_modal_btn"
                                                                                                    (click)="onButtonClickGraphChange(phpToolService.selectedBornCountryObject.HappinessRank,phpToolService.selectedRegisterCountryObject.HappinessRank,'Happiness Score',0)">{{'gameLabel.Happiness_Rank'
                                                                                                    |translate}}</button></span>
                                                                                        </td>
                                                                                        <td align="center"><span
                                                                                                [class]="checkCssForSpecific1(phpToolService.selectedBornCountryObject.HappinessRank,phpToolService.selectedRegisterCountryObject.HappinessRank)">{{phpToolService.selectedBornCountryObject.HappinessRank}}</span>
                                                                                        </td>
                                                                                        <td align="center"><span
                                                                                                [class]="checkCssForSpecific1(phpToolService.selectedRegisterCountryObject.HappinessRank,phpToolService.selectedBornCountryObject.HappinessRank)">{{phpToolService.selectedRegisterCountryObject.HappinessRank}}</span>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr class="">
                                                                                        <td><span><button
                                                                                                    class="disparity_modal_btn"
                                                                                                    (click)="onButtonClickGraphChange(phpToolService.selectedBornCountryObject.HDI,phpToolService.selectedRegisterCountryObject.HDI,'Hdi',1)">{{'gameLabel.HDI'
                                                                                                    |translate}}</button></span>
                                                                                        </td>
                                                                                        <td align="center"><span
                                                                                                [class]="checkCss1(phpToolService.selectedBornCountryObject.HDI,phpToolService.selectedRegisterCountryObject.HDI)">{{phpToolService.selectedBornCountryObject.HDI}}</span>
                                                                                        </td>
                                                                                        <td align="center"><span
                                                                                                [class]="checkCss1(phpToolService.selectedRegisterCountryObject.HDI,phpToolService.selectedBornCountryObject.HDI)">{{phpToolService.selectedRegisterCountryObject.HDI}}</span>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr class="">
                                                                                        <td><span><button
                                                                                                    class="disparity_modal_btn"
                                                                                                    (click)="onButtonClickGraphChange(phpToolService.selectedBornCountryObject.corruption,phpToolService.selectedRegisterCountryObject.corruption,'Corruption',1)">{{'gameLabel.Corruption'
                                                                                                    |translate}}</button></span>
                                                                                        </td>
                                                                                        <td align="center"><span
                                                                                                [class]="checkCss1(phpToolService.selectedBornCountryObject.corruption,phpToolService.selectedRegisterCountryObject.corruption)">{{phpToolService.selectedBornCountryObject.corruption}}</span>
                                                                                        </td>
                                                                                        <td align="center"><span
                                                                                                [class]="checkCss1(phpToolService.selectedRegisterCountryObject.corruption,phpToolService.selectedBornCountryObject.corruption)">{{phpToolService.selectedRegisterCountryObject.corruption}}</span>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-5">
                                                                        <div
                                                                            class=" h-100 d-flex align-items-center justify-content-center flex-column p-3 text-center">
                                                                            {{'gameLabel.Graph' |translate}}
                                                                            <ngx-charts-bar-horizontal [view]="view"
                                                                                [scheme]="colorScheme"
                                                                                [results]="single" [gradient]="gradient"
                                                                                [xAxis]="showXAxis" [yAxis]="showYAxis"
                                                                                [legend]=false
                                                                                [showXAxisLabel]="showXAxisLabel"
                                                                                [xAxisLabel]="xAxisLabel"
                                                                                [yAxisLabel]="yAxisLabel"
                                                                                [showGridLines]="false"
                                                                                (activate)="onActivate($event)"
                                                                                style="fill: white"
                                                                                (deactivate)="onDeactivate($event)">
                                                                            </ngx-charts-bar-horizontal>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div
                                                                    class="h-100 d-flex align-items-center justify-content-center flex-column p-3 font-600">
                                                                    <h3 class="text-center font_b6 font-500 mb-0">
                                                                        {{sentenceTextWindow1}} </h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>


                                    </div>
                                    <!-- <div class="row justify-content-center no-gutters px-5 mt-4">
                                                    <div class="col-md-6 mx-1">
                                                        <a (click)="clickNext(state)">
                                                            <button type="button"
                                                                class="btn btn-primary2 w-100 text-dark mx-1 border-0 font_b2 next_step next_step new-for-btn-sty">
                                                                <span class="nxt-btn-combine-class"> <span class="nxt-btn-text">Next
                                                                        &nbsp;&gt; </span>
                                                                </span>
                                                            </button>
                                                        </a>
                                                    </div>
                                                </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid h-100 country_info" *ngIf="state==='pageFive'">
            <div>
                <div class="container-fluid">
                    <div class=" ">
                        <div class="md-col-12" style="margin-top: 150px">
                            <h2 class="text-center" style="margin-bottom: 50px;">{{msgText}}
                            </h2>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="content text-center" (click)="countrySelectionToPlayLifeFirst()">
                                        <div class=" border_white_op6 text-uppercase pb-3">
                                            <h2 class="text-primary2">
                                                {{phpToolService.selectedBornCountryObject.country}}
                                            </h2>
                                        </div>
                                        <figure [class]="classForCountryOne"><img style="width: 210;height: 140;"
                                                src="assets/images/flags-big/{{phpToolService.selectedBornCountryObject.Code | lowercase}}.png"
                                                alt="" class="img-fluid flagBorder">
                                        </figure>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="content text-center" (click)="countrySelectionToPlayLifeSecond()">
                                        <div class="border_white_op6 text-uppercase pb-3">
                                            <h2 class="text-primary2">
                                                {{phpToolService.selectedRegisterCountryObject.country}}
                                            </h2>
                                        </div>
                                        <figure [class]="classForCountryTwo"><img style="width: 210;height: 140;"
                                                src="assets/images/flags-big/{{phpToolService.selectedRegisterCountryObject.Code | lowercase}}.png"
                                                alt="" class="img-fluid flagBorder"></figure>

                                    </div>
                                </div>

                            </div>
                            <h3 class="text-center" style="margin-bottom: 20px;">
                                {{'gameLabel.Selected_country1'|translate}} :
                                {{selectedCountryName}}
                            </h3>
                            <div class="d-flex justify-content-center mt-3">
                                <a (click)="playReallives()" *ngIf="translationService.gameBuyFlag">
                                    <img src="assets/images/end-tool-button.svg" alt=""
                                        style="cursor: pointer;width: 220px">
                                    <!-- <img src="assets/images/startscreen/New%20Life.png" alt="" style="cursor: pointer"> -->
                                </a>

                                <button type="button" class="btn btn-blue-grad py-1 px-4 mr-3"
                                    *ngIf="!translationService.gameBuyFlag"
                                    (click)="buyNow()">{{'gameLabel.Buy_RealLives' |translate}}
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<app-wait-screen class="md-overlay_wait_screen" *ngIf="modalWindowService.showWaitScreen"></app-wait-screen>


<div class="md-overlay black_modal gamescreen d-flex align-items-center" id="more" *ngIf="playLifeWarrFlag">
    <div class="modal-dialog modal-dialog-centered w700" role="document">
        <div class="modal-content h-auto">
            <div class="modal-body p-0" style="text-align: left;">
                <span class="text-white moreinfo">{{msgText}}</span>
                <div class="d-flex justify-content-center w-100 btnPadding">
                    <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1 "
                        (click)="warrWindowClose()">{{'gameLabel.Ok' |translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>