<div class="tab-pane fade show active" *ngIf="modalWindowShowHide.showLetter">
    <div class="row mdl_cnt_rw text-white">
        <div class="col-12 mx-auto align-items-center">
            <div class="container-fluid tabs_wraper">
                <div class="row summary-part">
                    <div class="col-lg-12 px-0">
                        <div class="summary-wrapper">
                            <div class="summary-title">
                                <h2><img src="assets/images/endscreenicon/write a letter_icon.svg" alt="Write a letter" /> 
                                {{'gameLabel.WRITE A LETTER TO THE CHARACTER YOU JUST LIVED' | translate}}</h2>
                            </div>
                            <div class="clearfix"></div>


                            <div class="text-block write-letter" *ngIf="!editorDisableFlag">
                                <div class="clearfix"></div>
                                <ckeditor [(ngModel)]="letterData">
                                    <p [innerHTML]="letterData"></p>
                                </ckeditor>
                                <span class="submit-letter"  (click)="saveLetter()">{{'gameLabel.Save' | translate}}</span>
                            </div>



                            <div class="text-block write-letter" *ngIf="editorDisableFlag">
                                <div class="clearfix"></div>
                                <div class="form-control" style="height: 300px;">
                                    <p [innerHTML]="letterData | sanitizeHtml"></p>
                                </div>
                                <input class="submit-letter" type="button" name="save" *ngIf="editorDisableFlag"  (click)="editLetter()" value="{{'gameLabel.Click here to edit / type your letter' | translate}}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="phl" bsModal #decisionforConfirm="bs-modal" class="modal fade md-overlay" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="false">
    <div class="conformationpopup centered">
      <div class="pal text-center">
        <div> <span>
            {{successText}}</span>
          <br>
          <br>
          <button type="button" class="btn mlm btn_sk " (click)="decisionforConfirm.hide()">{{'gameLabel.Ok' | translate}}</button>
        </div>
      </div>
    </div>
  </div>