<div class="main_wraper d-flex flex-column home_page">

    <!--header-->
    <header>
        <div class="logo mx-auto trans" data-aos="" data-aos-delay="100"><img src="assets/images/RL_logo.svg" alt="">
        </div>
        <div class="top_nav">
            <ul class="list-unstyled m-0 d-flex align-items-center">
                <li *ngIf="!this.commonService.audio.muted">
                    <a id="vol-btn" title="Sound On" data-toggle="tooltip" data-placement="left"
                        class="tlp fa fa-volume-up " (click)="this.commonService.soundOnOff(true)">
                        <span class="glyphicon glyphicon-volume-down"></span>
                    </a>
                </li>

                <li *ngIf="this.commonService.audio.muted">
                    <a id="vol-btn1" title="Sound Off" data-toggle="tooltip" data-placement="left"
                        class="tlp fa fa-volume-down" (click)="this.commonService.soundOnOff(false)">
                        <span class="glyphicon glyphicon-volume-off"></span>
                    </a>
                </li>
            </ul>

        </div>
    </header>

    <div class="container-fluid mt-5" *ngIf="showGruopList">
        <div class="listing_heading text-center position-relative mb-4">
            <a class="go_back_btn text-primary" (click)="goHome()">
                <i class="fa fa-arrow-left" aria-hidden="true" style="cursor: pointer;"></i> {{'gameLabel.Back'
                |translate}}</a>
        </div>
        <div class="row">
            <div class="col-2 assignment-main-div" *ngFor="let list of groupList">
                <a (click)="clickOnGroup(list.subject_name,list.subject_id)" style="cursor: pointer;">
                    <div class="sub-div">
                        <h4>{{list.subject_name}}</h4>
                    </div>
                </a>
            </div>
        </div>

    </div>
    <!--end of header-->





    <!--main content-->
    <div class="home_dashboard pt-5 load_life_list" *ngIf="showAssignMentList">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-md-8 mx-auto mt-4">
                    <div class="listing_heading text-center position-relative mb-4">
                        <a (click)="goBack()" class="go_back_btn text-primary"><i class="fa fa-arrow-left"
                                aria-hidden="true"></i> {{'gameLabel.Back' | translate}}</a>
                        <h3 class="text-primary"> {{subjectName}} {{'gameLabel.Assignments_List' |translate}}</h3>
                    </div>

                    <div class="">
                        <table class="table text-white v_center table-fixed-header bg_black">
                            <thead>
                                <tr>
                                    <th scope="col" class="border-0 text-center"> {{'gameLabel.Assignments_Name' |
                                        translate}}</th>
                                </tr>
                            </thead>
                            <tbody class="load_life_list_table">
                                <tr *ngFor="let assign of assignMentList">
                                    <td (click)="clickOnGenarate(assign.asid,assign.country_name)">{{assign.name}}</td>
                                    <td class="clm_1">
                                        <a
                                            class="text-primary d-flex align-content-center justify-content-center text-decoration-none">
                                            <span class="material-icons icons" (click)="clickOnGenarate(assign.asid,assign.country_name)"
                                                style="cursor: pointer;">navigate_next</span></a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end of main content-->

</div>


<div class="md-overlay black_modal gamescreen" id="dashboard_residence" *ngIf="successMsgFlag">
    <div class="modal-dialog modal-dialog-centered w700" role="document">
        <div class="modal-content h-auto">
            <div class="modal-body p-0">
                <a class="go_back_btn text-primary" (click)="back()">
                    <i class="fa fa-arrow-left" aria-hidden="true" style="cursor: pointer;"></i> {{'gameLabel.Back'
                    |translate}}</a>
                <p class="text-center">{{messageText}}</p>
                <input type="text" class="form-control only_number" placeholder="Please enter country here..."
                    [(ngModel)]="country">
                <div class="d-flex justify-content-center w-100 mt-3">
                    <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1" (click)="ansClick()"
                        [disabled]="country==='' ">{{'gameLabel.Next' |translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="md-overlay black_modal gamescreen d-flex align-items-center" *ngIf="showSuccessMsgFlag">
    <div class="modal-dialog modal-dialog-centered w700" role="document">
        <div class="modal-content h-auto">
            <div class="modal-body p-0" style="text-align: center;">
                <span class="text-white moreinfo">{{moreInforStm}}</span>
                <div class="d-flex justify-content-center w-100 btnPadding">
                    <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1 " style="margin-top: 20px"
                        (click)="successWindowOk()">{{'gameLabel.Ok' |translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="md-overlay black_modal gamescreen d-flex align-items-center" *ngIf="correctAnsFlag">
    <div class="modal-dialog modal-dialog-centered w700" role="document">
        <div class="modal-content h-auto">
            <div class="modal-body p-0" style="text-align: center;">
                <span class="text-white moreinfo">{{messageText}}</span>
                <div class="d-flex justify-content-center w-100 btnPadding">
                    <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1 " style="margin-top: 20px"
                        (click)="generateLife()">{{'gameLabel.Ok' |translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="md-overlay black_modal gamescreen d-flex align-items-center" *ngIf="showSuccessMsgFlagLoadLife">
    <div class="modal-dialog modal-dialog-centered w700" role="document">
        <div class="modal-content h-auto">
            <div class="modal-body p-0" style="text-align: center; color: gray;">
                <span class="text-white moreinfo">{{moreInforStm}}</span>
                <div class="d-flex justify-content-center w-100 btnPadding paddingClass">
                    <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1 "
                        (click)="successWindowOkLoadLife()">{{'gameLabel.Ok' |translate}}</button>
                    <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1 "
                        (click)="loadIncompleteLife()">{{'gameLabel.Go_to_Incomplete_lives' |translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>

<app-wait-screen class="md-overlay_wait_screen" *ngIf="modalWindowService.showWaitScreen"></app-wait-screen>