<div id="organdonationcertificatepopup" class="md-overlay  gamescreen" role="dialog" bsModal #decisionModelOrganDonationCertificate="bs-modal" *ngIf="modalWindowShowHide.showOrganDonationCertificate" >
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="popupmakesmall">
          <div class="modal-body certificatemanindiv">
            <div class="d-flex justify-content-end" style="justify-content: end;">
              <img src="assets\images\close_icon.png" class="mb-3" width="34" height="33" alt="" (click)="OnCloseWindowPopup()" />
          </div>
            <table class="table table-responsive">
              <tbody>
              <tr>
                <td>
                  <img src="assets/images/organcertificate/topbg.jpg">
                </td>
              </tr>
              <tr>
                <td>
                  <div class="certificatemiddlesection">
  
                    <div class="row">
                      <div class="col-lg-12">
                        <p class="certificatetext">
                          {{'gameLabel.This_is_to_certify_that' |translate}} <b>{{homeService.allPerson[this.constantService.FAMILY_SELF].full_name}}</b> {{'gameLabel.has_opted_for_the_compassionate_decision_of_posthumously_donating_his_organ(s)_to_help_other_humans_in_need' |translate}}
                        </p>
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-lg-12 organsdivcertification">
                        <div class="organimage" *ngFor="let organ of organeDonationObj">
                          <div *ngIf="organ.organStatus === true">
                            <img src="{{organ.certificateLink}}" class="{{organ.organName | lowercase }}">
                            <p>
                              {{organ.organName}}
                            </p>
                          </div>
  
                        </div>
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="quote">
                          {{'gameLabel.To_help_another_human_being_is_to_help_the_entire_world' |translate}}
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="certificatebottom">
                  <a href="https://reallivesworld.com" target="_blank">www.reallivesworld.com</a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>