<app-translation *ngIf="modalWindowService.showLanguageWindow"> </app-translation> 

<app-wait-screen class="md-overlay_wait_screen" *ngIf="modalWindowService.showWaitScreen"></app-wait-screen>

<app-create-life-with-group-id  class="md-overlay" *ngIf="modalWindowService.showCharacterDesighWithGropuFlag"></app-create-life-with-group-id>

<app-create-life-with-sdg class="" *ngIf="modalWindowService.showchearacterDesignSdgFlag"></app-create-life-with-sdg>
<app-create-life-with-character-design  class="md-overlay" *ngIf="modalWindowService.showcharacterDesignFlag"></app-create-life-with-character-design>
