.countryGroup{
    padding-right: 27px;
    padding-top: 20px;
}

.titleCls{
    padding-top: 50px;
}

.fobtn-css button {
  background: #6be9fc;
  border: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  height: 45px;
}
.assignment-main-div {
    padding: 5px!important;
    margin-top: -10px!important
}

.playBtn{
  margin-left: 250px;

}

.borderRed{
  border: 3px solid red!important;
}