<section class="home_dashboard pt-3 ">
    <header>
        <div class="logo mx-auto trans" data-aos="" data-aos-delay="100"><img img src="assets/images/RL_logo.svg"
                alt="">
        </div>
    </header>
    <div class="listing_heading position-relative mb-4 col-md-12">
        <a class="go_back_btn text-primary" (click)="clickBack(state)" *ngIf="state!=='country-group-category'">
            <i class="fa fa-arrow-left" aria-hidden="true" style="cursor: pointer;padding-left: 5px;"></i>
            {{'gameLabel.Back'
            |translate}}</a>
        <a title="{{'gameLabel.Go_to_dashbord' | translate }}" data-toggle="tooltip" data-placement="left" class="tlp"
            style="cursor: pointer;" (click)="clickToExitButton()">
            <span class="material-icons " style="cursor: pointer;float: right;">login</span></a>
    </div>
    <div *ngIf="state == 'country-group-category'">
        <div class="container-fluid h-100 country_info">
            <div class="row h-100 align-items-center">
                <div class="col-md-12">
                    <h2 class="text-center">{{'gameLabel.Select_country_group_Category' |translate}}</h2>
                    <div class="d-flex flex-wrap justify-content-center no-gutters">
                        <div class="col-2 assignment-main-div" *ngFor="let c of countryGroupCatergory"
                            style="padding-right: 10px;">
                            <a (click)="selectCat(c.Category_id,c.Category_name)" style="cursor: pointer;">
                                <div class="sub-div">
                                    <h4>{{c.Category_name}}</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- <div class="row justify-content-center no-gutters px-5 mt-4">
                        <div class="col-md-4 mx-1">
                            <a (click)="clickNext(state)">
                                <button type="button"
                                    class="btn btn-primary2 w-100 text-dark mx-1 border-0 font_b2 next_step new-for-btn-sty">
                                    <span class="nxt-btn-combine-class"> <span class="nxt-btn-text">
                                            {{'gameLabel.Next' |translate}} &nbsp;&gt;
                                        </span>
                                    </span>
                                </button>
                            </a>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>

    </div>

    <div class="city_wraper_main h-100" *ngIf="state==='group'">
        <div class="row size_row h-100 titleCls">
            <div class="col-6 text-center ">
                <h2> {{groupTitle}}</h2>
                <form class="w-100">
                    <div class="d-flex flex-wrap justify-content-center no-gutters city_wraper">
                        <div class="col-4 countryGroup" *ngFor="let group of groupList ,  let i = index">
                            <div class="box radio_img fontforSmall">
                                <label [class.active]="r.checked ">
                                    <input #r type="radio" name="group" value="{{i}}" [checked]="(i === 0)"
                                        (change)="allRadioButtonValue($event)">
                                    <p class="m-0 text-uppercase font-600">{{group.Group_display_name}}
                                    </p>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-5">
                        <button type="button" (click)="shuffleCountry()"
                            class="btn btn-primary2 mx-2 next_religion_btn">
                            {{'gameLabel.Shuffle_country_group' | translate}}</button>
                        <button type="button" (click)="aToz()" class="btn btn-primary2 mx-2 next_religion_btn">
                            {{'gameLabel.AtoZ_Group' |
                            translate}}</button>
                        <button type="button" class="btn btn-primary2 mx-2 next_religion_btn" (click)="selectCountry()">
                            {{'gameLabel.View_country' |translate}}
                            &nbsp;&gt;</button>

                    </div>

                </form>
            </div>
            <div class="col-6">
                <iframe class="h-100 w-100" [src]="webLink |byPassSecurity">
                    <p>Your browser does not support iframes.</p>
                </iframe>
            </div>
        </div>
    </div>

    <div class="city_wraper_main h-100" *ngIf="this.state==='country'">
        <div class="row size_row h-100">
            <div class="col-12 text-center titleCls">
                <h2> {{countryInfo}}</h2>
                <form class="w-100">
                    <div class="d-flex flex-wrap justify-content-center no-gutters city_wraper">
                        <div class="col-2 assignment-main-div" *ngFor="let country of countryList,let i = index"
                            style="padding-right: 10px;">
                            <a>
                                <div class="sub-div">
                                    <label>
                                        <figure><img src="assets/images/flags-big/{{country.Code | lowercase}}.png"
                                                alt="" style="height: 60px;">
                                        </figure>
                                        <p class="m-0 text-uppercase font-600">{{country.country}}</p>
                                    </label>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-5">
                        <button type="button" (click)="clickNext(state)"
                            class="btn btn-primary2 mx-2 next_religion_btn">
                            {{'gameLabel.View_comparative_data_of_country' | translate}}</button>
                    </div>
                </form>


            </div>

        </div>
    </div>

    <div class="city_wraper_main h-100" *ngIf="this.state==='graph'">
        <div class="row size_row h-100">
            <div class="col-12 text-center titleCls">
                <h2> {{'gameLabel.Data_on_selected_indicators_compared_by_country' |translate}}</h2>
                <div class="fobtn-css" style="height: 400px;">
                    <button [class]="classOne" (click)="clickPopulation()">{{'gameLabel.Population'
                        |translate}}</button>
                    <button [class]="classTwo" (click)="clickSdg()">{{'gameLabel.SDG'
                        |translate}}</button>
                    <button [class]="classThree" (click)="clickGini()">{{'gameLabel.income_inequality'
                        |translate}}</button>
                    <button [class]="classFour" (click)="clickHappiness()"> {{'gameLabel.Happiness'
                        |translate}}</button>
                    <button [class]="classFive" (click)="clickppp()"> {{'gameLabel.PPP' |translate}}</button>
                    <button [class]="classSix" (click)="clickHdi()">{{'gameLabel.HDI' |translate}}</button>
                    <a (click)="clickNext(state)" class="">
                        <img src="assets/images/end-tool-button.svg" alt="" style="cursor: pointer;width: 160px">
                        <!-- <img src="assets/images/startscreen/New%20Life.png" alt="" style="cursor: pointer"> -->
                    </a>
                    <!-- <button (click)="clickNext(state)">{{'gameLabel.Next' |translate}}</button> -->

                    <div class="row justify-content-center">
                        <div class="col-auto d-flex align-items-center" *ngIf="!dispalyOnlyOneLegent">
                            <span class="color_display bg-danger mr-2"></span>
                            <p class="mb-0"> {{'gameLabel.Bad_Indicators' | translate}}</p>
                        </div>
                        <div class="col-auto d-flex align-items-center" *ngIf="!dispalyOnlyOneLegent">
                            <span class="color_display bg-success mr-2"></span>
                            <p class="mb-0">{{'gameLabel.Good_Indicators' | translate}}</p>
                        </div>
                        <div class="col-auto d-flex align-items-center">
                            <span class="color_display mediun mr-2"></span>
                            <p class="mb-0"> {{'gameLabel.Median' | translate}}</p>
                        </div>
                    </div>
                    <div *ngIf="!compaireCountryFlag">
                        <ngx-charts-bar-horizontal [view]="view" [scheme]="colorScheme" [results]="single"
                            [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend"
                            [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [showGridLines]="false"
                            [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" style="fill: #fff; ">
                        </ngx-charts-bar-horizontal>
                    </div>

                </div>
                <!-- <div class="select_map" style="height: 300px; width: 100%;">
                    <agm-map class="h-100 w-100" [latitude]='lat' [longitude]='lng' [zoom]='mapZoom'>
                        <agm-marker *ngFor="let marker of markers ,let i=index" [latitude]="marker.lat"
                            [longitude]="marker.lng" [label]="{text:marker.code}"
                            (markerClick)="countryMarkerClick(marker)">
                            <agm-info-window><strong style="color: black"> {{ marker.label }}</strong>
                            </agm-info-window>
                        </agm-marker>
                    </agm-map>
                </div> -->
            </div>
        </div>
    </div>

    <div class="city_wraper_main h-100" *ngIf="this.state==='reallives'">
        <div class="container-fluid">
            <div class="md-col-12" style="margin-top: 100px">
                <h2 class="text-center" style="margin-bottom: 50px;"> {{msgText}}
                </h2>

                <div class="d-flex flex-wrap justify-content-center no-gutters city_wraper">

                    <div class="col-2 assignment-main-div" *ngFor="let country of countryList,let i = index" style="padding-right: 10px; padding-left:
                    10px;">
                        <div class="box radio_img fontforSmall">
                            <label [class.active]="r.checked " style="height: 125px">
                                <input #r type="radio" name="country" value="{{i}}"
                                    (change)="allRadioButtonValueCountrySelect($event)">
                                <figure><img src="assets/images/flags-big/{{country.Code | lowercase}}.png" alt=""
                                        style="width: 60px;">
                                </figure>
                                <p class="m-0 text-uppercase font-600">{{country.country}}</p>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-center mt-5">
                    <a (click)="playReallives()" *ngIf="translationService.gameBuyFlag">
                        <img src="assets/images/end-tool-button.svg" alt="" style="cursor: pointer;width: 220px">
                        <!-- <img src="assets/images/startscreen/New%20Life.png" alt="" style="cursor: pointer"> -->
                    </a>
                    <button type="button" class="btn btn-blue-grad py-1 px-4 mr-3"
                        *ngIf="!translationService.gameBuyFlag" (click)="buyNow()">{{'gameLabel.Buy_RealLives'
                        |translate}}
                    </button>
                </div>
            </div>

        </div>
    </div>

</section>

<app-wait-screen class="md-overlay" *ngIf="modalWindowService.showWaitScreen"></app-wait-screen>

<div class="md-overlay black_modal gamescreen d-flex align-items-center" id="more" *ngIf="playLifeWarrFlag">
    <div class="modal-dialog modal-dialog-centered w700" role="document">
        <div class="modal-content h-auto">
            <div class="modal-body p-0" style="text-align: left;">
                <span class="text-white moreinfo">{{msgText}}</span>
                <div class="d-flex justify-content-center w-100 btnPadding">
                    <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1 "
                        (click)="warrWindowClose()">{{'gameLabel.Ok' |translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>