<div class="md-overlay new_cmn_modal full_width gamescreen" tabindex="-1" role="dialog"
    *ngIf="toolService.showKnowMore">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header position-relative d-flex align-items-center justify-content-between">
                <h5 class="modal-title text-white font-400 text-uppercase font_b8 d-flex align-items-center" id="">
                    <img src="assets/images/edu_head_icon.png" alt="">
                    <span class="pl-3">{{'gameLabel.KNOW_MORE_ABOUT_THE_COUNTRY' |translate}}</span>
                </h5>
                <button type="button" class="close" (click)="closeReadMore()">
                    <!--<span aria-hidden="true">&times;</span>-->
                    <span class="material-icons">close</span>
                </button>
            </div>
            <div class="modal-body p-0 rem-scroll">
                <div class="col-md-12 popbox_white h-100 pt-0">
                    <div class="row h-100">
                        <div class="col-12 py-3">
                            <div class="h-100">
                                <ul class="nav nav-tabs map_btn_new" id="country_info" role="tablist">
                                    <li class="nav-item" style="cursor: pointer;">
                                        <a class="nav-link {{lonlyClassForTab}}"
                                            (click)="displayData('Lonly')">{{'gameLabel.CIA_Factbook' | translate}} </a>
                                    </li>
                                    <li class="nav-item" style="cursor: pointer;">
                                        <a class="nav-link {{unescoClassForTab}}" (click)="displayData('sdg')">
                                            {{'gameLabel.SDG' | translate}}</a>
                                    </li>
                                    <li class="nav-item" style="cursor: pointer;">
                                        <a class="nav-link {{healthClassForTab}}" (click)="displayData('health')">
                                            {{'gameLabel.Health_Profile' | translate}}</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="country_infoContent">

                                    <div class="tab-pane fade show active h-100" *ngIf="displayLonly">
                                        <div class="h-100">
                                            <div class="h-100 bg-white">
                                                <iframe class="h-100 w-100"
                                                    [src]="ciaUrl+toolService.konwMoreCountry.country.toLowerCase() |byPassSecurity"
                                                    width="100%">
                                                    <p>Your browser does not support iframes.</p>
                                                </iframe>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade show active h-100" *ngIf="displayUnesco">
                                        <div class="h-100">
                                            <div class="h-100 bg-white">
                                                <iframe class="h-100 w-100" [src]="sdgUrl+sdgCountry |byPassSecurity"
                                                    width="100%">
                                                    <p>Your browser does not support iframes.</p>
                                                </iframe>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade show active h-100" *ngIf="disaplayHealth">
                                        <div class="h-100">
                                            <div class="h-100 bg-white">
                                                <iframe class="h-100 w-100"
                                                    [src]="helathUrl+countryShort|byPassSecurity" width="100%">
                                                    <p>Your browser does not support iframes.</p>
                                                </iframe>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>