
<div *ngIf="bloodDonationDecisionFlag" [config]="{backdrop: 'static' ,keyboard :false,show: true}" bsModal
    #decisionForOrganDonation="bs-modal" class=" new_cmn_modal full_width gamescreen" tabindex="-1" role="dialog"
    aria-labelledby="dialog-auto-name" aria-hidden="false">
    <div class="modal fade new_cmn_modal full_width gamescreen show" id="life_decision_with_radio" tabindex="-1"
        role="dialog" aria-labelledby="life_decision_with_radio" aria-modal="true" style="display: block;">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content h-auto" style="background: #000;">
                <div class="modal-header position-relative d-flex align-items-center justify-content-between">
                    <h5 class="modal-title text-white font-400 text-uppercase font_b8 d-flex align-items-center" id="">
                        <img class="imgSet" src="assets/images/organs/organ-donation-inner.svg" alt="">
                        <span class="pl-3"> {{'gameLabel.Organ_And_Blood_Donation' | translate}}</span>
                    </h5>
                    <button type="button" class="close">
                        <span class="material-icons" (click)="OnCloseWindowPopup()">close</span>
                    </button>
                </div>
                <div class="modal-body p-0">
                    <div class="col-12 px-0 mx-auto">
                        <div class="col-md-12 exp_box pt-0 px-0">
                            <div class="row m-0">
                                <div class="col-md-12">
                                    <div class="alert {{alertClass}}" *ngIf="showAlertFlag">
                                        <button type="button" class="close" data-dismiss="alert">×</button>
                                        <strong>{{alertType}}</strong> {{alertMsg}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 exp_txt d-flex ftr align-items-center justify-content-between">
                                <div class="row w-100">
                                    <div class="col-md-12">
                                        <h3 class="disblock text-center"> {{'gameLabel.kindly make a choice of the
                                            organ(s) that you wish to donate' | translate}} </h3>
                                    </div>
                                    <div class="col-9 py-4">
                                        <p class="mb-0 font-600 text-center">{{'gameLabel.Organ_donation' |translate}}</p>
                                        <div class="row mx-0 justify-content-center mt-3">
                                            <div class="col-auto" *ngFor="let organ of newOrganObject ,let i=index">
                                                <div class="box radio_img">
                                                    <label class="abc {{organ.active}}">
                                                        <input type="checkbox" [(ngModel)]="organ.organStatus"
                                                            (ngModelChange)="check(i,organ.organStatus)"
                                                            [ngModelOptions]="{standalone: true}"
                                                            [disabled]="homeService.allPerson[constantService.FAMILY_SELF].dead || homeService.allPerson[constantService.FAMILY_SELF].age<18">
                                                        <figure><img src={{organ.imageLink}} alt=""></figure>
                                                        <p class="m-0 text-uppercase font-600 text-center">
                                                            {{organ.organName}}</p>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mx-0 justify-content-center mt-3">
                                            <div class="d-flex justify-content-center w-100">
                                                <button type="button" class="btn border-radius btn-blue-grad"
                                                    [disabled]="disableSaveButton"
                                                    (click)="saveOrganData()">{{'gameLabel.Save your Choice' |
                                                    translate}}</button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3 text-center right_cnt">
                                        <div class="py-4">
                                            <p class="mb-0 font-600 text-center">{{'gameLabel.Blood_Donation' |
                                                translate}}</p>
                                            <div class="col-auto mx-auto">
                                                <div class="box radio_img">
                                                    <label style="margin-top: 14px;">
                                                        <input type="checkbox" name="blood"
                                                            [(ngModel)]="this.homeService.allPerson[this.constantService.FAMILY_SELF].blood_donation_flag"
                                                            [disabled]="homeService.allPerson[constantService.FAMILY_SELF].age<18 ||homeService.allPerson[constantService.FAMILY_SELF].dead"
                                                            (click)="selectedValueForBlood()">
                                                        <figure><img src="assets/images/organs/blood-donation-color.png"
                                                                alt=""></figure>
                                                        <p class="m-0 text-uppercase font-600 text-center">
                                                            {{'gameLabel.Blood_Donation' | translate}}</p>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div [config]="{backdrop: 'static' ,keyboard :false}" bsModal #decisionModelBloodDonationYear="bs-modal"
    class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-auto-name" aria-hidden="false">
    <div class="modal fade new_cmn_modal full_width gamescreen show" id="bloodDonationSelf" tabindex="-1" role="dialog"
        aria-labelledby="life_decision_with_radio" aria-modal="true" style="display: block;">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content h-auto" style="background: #000;">
                <div class="modal-body p-0">
                    <div class="col-11 mx-auto">

                        <div class="col-md-12 exp_box pt-2 px-0">
                            <div class="col-md-12">
                                <div class="d-flex align-items-center justify-content-center">
                                    <img src="assets/images/life_event.png" class="mrs" alt="" width="16" height="7">
                                    {{'gameLabel.Life Decision' | translate}}
                                    <span class="font11px"> {{'gameLabel.at_Age' | translate}}
                                        {{this.homeService.allPerson[this.constantService.FAMILY_SELF].age}}</span>
                                </div>

                                <span class="disblock event_text"> {{'gameLabel.How frequently would you like to donate
                                    blood?' | translate}} </span>
                            </div>

                            <div class="col-md-12 exp_txt d-flex ftr align-items-center justify-content-between">
                                <div class="row mx-0 w-100">
                                    <div class="col-12">
                                        <div class="col-md-12 d-flex justify-content-between align-items-start p-0">
                                            <span class="d-flex pr-3 align-items-center">
                                                <img src="assets/images/action.png" class="mrs" alt="">
                                                {{'gameLabel.Action' | translate}}
                                            </span>
                                        </div>
                                    </div>

                                    <div class="justify-content-center no-gutters city_wraper w-100">
                                        <div class="row mx-0 w-100 justify-content-center">
                                            <div class="col-2"
                                                *ngFor="let blood of blood_donation_yearArray ,let i=index">
                                                <div class="box radio_img text-center">
                                                    <label [class.active]="r.checked ">
                                                        <input #r type="radio" name="blood" [value]='blood.year'
                                                            [(ngModel)]="bloodYear"
                                                            (change)="setSelectedBloodYear(blood.year)">
                                                        <p class="m-0 text-uppercase font-600"> {{blood.display}}</p>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 ml-auto text-center px-0">
                                        <div class="d-flex justify-content-center w-100">
                                            <button type="button" class="btn border-radius btn-blue-grad px-3"
                                                (click)="selectedYear()">{{'gameLabel.Yes' | translate}}</button>
                                            <button type="button" class="btn border-radius btn-blue-grad px-3"
                                                (click)="cancelSelectedYear()">{{'gameLabel.No' | translate}}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- <div class="col-lg-12 ptm pbm factoid_area d-flex justify-content-center" *ngIf="displayDecision.factroid!==''">
                        <span class="d-flex pr-2 align-items-center">
                            <img src="images/i.png" class="mrs" alt="" width="16" height="16"> FACTOID
                        </span>
                    </div>
                    <div class="col-lg-12 ptm pbm factoid_area d-flex justify-content-center">
                        <div class="colorb6b6b6">
                            {{displayDecision.factroid}}
                        </div>
                    </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="md-overlay black_modal gamescreen" id="dashboard_residence" *ngIf="successMsgFlag">
    <!--<div class="black_modal gamescreen" id="dashboard_resident2">-->
    <div class="modal-dialog modal-dialog-centered w700" role="document">
        <div class="modal-content h-auto">
            <div class="modal-body p-0">
                <p class="text-center">{{'gameLabel.Updated Successfully' | translate}}</p>
                <div class="d-flex justify-content-center w-100">
                    <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1"
                        (click)="successMsgWindowClose()">{{'gameLabel.Ok' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>

<app-organ-donation-certificate *ngIf="modalWindowShowHide.showOrganDonationCertificate">
</app-organ-donation-certificate>
<app-wait-screen class="md-overlay_wait_screen black_modal gamescreen" *ngIf="modalWindowShowHide.showWaitScreen">
</app-wait-screen>