<div *ngIf="modalWindowShowHide.showFamilyCapsuleWindow">
    <div class="new_cmn_modal full_width gamescreen animated bounceInDown" id="family_modal" tabindex="-1" role="dialog"
        aria-labelledby="country_readmore_modallLabel">
        <!--<div class="new_cmn_modal full_width gamescreen" id="family_modal">-->
        <div class="modal-dialog modal-dialog-centered family_tree_wraper" role="document">
            <div class="modal-content">
                <div class="modal-header position-relative d-flex align-items-center justify-content-between">
                    <h5 class="modal-title text-white font-400 text-uppercase font_b8 d-flex align-items-center" id="">
                        <img class="image" src="assets/images/family_icon.svg" alt="">
                        <span class="pl-3"> {{'gameLabel.Family' | translate}} </span>
                    </h5>
                    <div class="position-relative d-flex align-items-center justify-content-center flex-grow-1"
                        style="cursor: pointer;">
                        <button class="btn btn-blue-grad py-1 px-4 mr-3"
                            *ngIf="siblingPopupFlag"
                            (click)="clickViewSiblingFamily()">{{'gameLabel.siblings_family' |translate}}</button>
                        <button class="btn btn-blue-grad py-1 px-4 mr-3"
                            *ngIf="childrenPopupFlag"
                            (click)="clickViewChildrenFamily()">{{'gameLabel.childrens_family' |translate}}</button>
                        <button class="btn btn-blue-grad py-1 px-4 mr-3"
                            *ngIf="grandChildPopupFlag"
                            (click)="clickViewGrandChildrenFamily()">{{'gameLabel.grand_children_family'
                            |translate}}</button>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <!--<span aria-hidden="true">&times;</span>-->
                        <span class="material-icons" (click)="closeWindow()">close</span>
                    </button>
                </div>
                <div class="modal-body p-0">
                    <div class="col-md-12 popbox_white h-100">
                        <div class="row h-100 m-0">
                            <div class="col-9 h-100">
                                <div class="h-100-5">
                                    <div class="content text-dark h-100">
                                        <div class="tp">
                                            <div class="container-fluid p-0">
                                                <div class="row no-gutters">
                                                    <div class="col-auto clm">
                                                        <div
                                                            class="box bg-grey d-flex align-items-center flex-column justify-content-center">
                                                            <p class="mb-0 font-600"> {{'gameLabel.Family_Income_month'
                                                                | translate}} </p>
                                                            <p class="mb-0 tlp" data-toggle="tooltip"
                                                                data-placement="bottom" title="{{currencyName}}"
                                                                style="cursor: pointer;">
                                                                {{commonService.checkNumberFormat(mainPerson.expense.householdIncome)}}
                                                                ({{mainPerson.country.currency_code}})</p>
                                                            <p class="mb-0 tlp" data-toggle="tooltip"
                                                                data-placement="bottom"
                                                                title="{{constantService.US_CURRENCYNAME}}"
                                                                style="cursor: pointer;"> {{
                                                                commonService.checkNumberFormat(salaryinregistercountry)}}
                                                                ({{constantService.US_CURRENCYCODE}}) </p>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto clm">
                                                        <div
                                                            class="box bg-grey d-flex align-items-center flex-column justify-content-center">
                                                            <p class="mb-0 font-600">{{'gameLabel.Family_Expenses_month'
                                                                | translate}}</p>
                                                            <p class="mb-0 tlp" data-toggle="tooltip"
                                                                data-placement="bottom" title="{{currencyName}}"
                                                                style="cursor: pointer;">
                                                                {{commonService.checkNumberFormat(mainPerson.expense.householdExpenses)}}
                                                                ({{mainPerson.country.currency_code}})</p>
                                                            <p class="mb-0 tlp" data-toggle="tooltip"
                                                                data-placement="bottom" title="{{currencyName}}"
                                                                style="cursor: pointer;">{{
                                                                commonService.checkNumberFormat(expensesinRegisterCountry)}}
                                                                ({{constantService.US_CURRENCYCODE}})</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto clm">
                                                        <div
                                                            class="box bg-grey d-flex align-items-center flex-column justify-content-center">
                                                            <p class="mb-0 font-600">{{'gameLabel.Family_Net_Worth' |
                                                                translate}}</p>
                                                            <p class="mb-0">
                                                                {{commonService.checkNumberFormat(mainPerson.expense.householdNetWorth)}}
                                                                ({{mainPerson.country.currency_code}})
                                                            </p>
                                                            <p class="mb-0"> {{
                                                                commonService.checkNumberFormat(netWorthinRegisterCountry)}}
                                                                ({{constantService.US_CURRENCYCODE}})</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto clm">
                                                        <div
                                                            class="box bg-grey2 d-flex align-items-center flex-column justify-content-center">
                                                            <p class="mb-0 font-600"> {{'gameLabel.Official_Language' |
                                                                translate}}</p>
                                                            <p class="mb-0">{{mainPerson.language.languagename |
                                                                truncate : 25}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto clm">
                                                        <div
                                                            class="box bg-grey2 d-flex align-items-center flex-column justify-content-center">
                                                            <p class="mb-0 font-600">{{'gameLabel.Religion' |
                                                                translate}}</p>
                                                            <p class="mb-0">{{mainPerson.religion.religion}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mdl py-3">
                                            <div class="row m-0">
                                                <div class="col-md-12">
                                                    <h3 class="text-uppercase mb-3">{{'gameLabel.FAMILY_TREE' |
                                                        translate}}</h3>
                                                </div>
                                            </div>
                                            <div class="row m-0">
                                                <div class="col-md-4 " *ngFor="let arr1 of level1Arr">
                                                    <div class="box h-100 {{arr1.deadClass}} ">
                                                        <div class="hdr d-flex align-items-center">
                                                            <figure><img src="{{arr1.image}}" class="" alt=""></figure>
                                                            <span class="name fontforSmall"> {{arr1.name}} </span>
                                                            <span class="moveOut fontforSmall">{{arr1.moveOut}}</span>
                                                        </div>
                                                        <div class="{{arr1.class}}">
                                                            <div
                                                                class="row mx-0 align-items-center justify-content-between ">
                                                                <div class="col-auto">
                                                                    <h4
                                                                        class="font-600 text-white text-uppercase m-0 p-0">
                                                                        {{arr1.identity}}</h4>
                                                                </div>
                                                                <div class="col-auto">
                                                                    <p class="mb-0 text-center font-500">
                                                                        {{arr1.age}}<br>{{'gameLabel.YEAR_OLD' |
                                                                        translate}}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="content">
                                                            <h4 class="mb-3 mt-3 font-600 text-center text-dark tlp"
                                                                data-toggle="tooltip" data-placement="bottom"
                                                                title="{{arr1.jobName}}" style="cursor: pointer;">
                                                                {{arr1.jobName}}</h4>
                                                            <ul class=" list-unstyled text-dark">
                                                                <li class="border-bottom">{{'gameLabel.Education' |
                                                                    translate}} : {{arr1.education}}</li>
                                                                <li [class]="arr1.healthClass">{{'gameLabel.Health' |
                                                                    translate}} : {{arr1.health}}</li>
                                                                <li [class]="arr1.healthClassForStatus">
                                                                    {{'gameLabel.Health_Problems' | translate}} :
                                                                    {{arr1.healthProblem}}</li>
                                                                <li class="tlp" data-toggle="tooltip"
                                                                    data-placement="right" title="{{arr1.currencyName}}"
                                                                    style="cursor: pointer;">{{'gameLabel.Income' |
                                                                    translate}} : {{arr1.income | number}}
                                                                    {{arr1.currencyCode}}</li>
                                                                <li class=" tlp" data-toggle="tooltip"
                                                                    data-placement="right"
                                                                    title="{{registerCountryCode}}"
                                                                    style="cursor: pointer;">{{'gameLabel.In' |
                                                                    translate}}
                                                                    {{this.homeService.allPerson[this.constantService.FAMILY_SELF].register_country.currency_code}}
                                                                    : {{arr1.registerIncome | number}}
                                                                    {{registerCountryCode}}</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row m-0">
                                                <div class="col-md-4" *ngFor="let arr2 of level2Arr">
                                                    <div class="box h-100 {{arr2.deadClass}}">
                                                        <div class="hdr d-flex align-items-center">
                                                            <figure><img src="{{arr2.image}}" class="" alt=""></figure>
                                                            <span class="name fontforSmall"> {{arr2.name}} </span>
                                                            <span class="moveOut fontforSmall">{{arr2.moveOut}}</span>
                                                        </div>
                                                        <div class="{{arr2.class}}">
                                                            <div
                                                                class="row mx-0 align-items-center justify-content-between">
                                                                <div class="col-auto">
                                                                    <h4
                                                                        class="font-600 text-white text-uppercase m-0 p-0">
                                                                        {{arr2.identity}}</h4>
                                                                </div>
                                                                <div class="col-auto">
                                                                    <p class="mb-0 text-center font-500">
                                                                        {{arr2.age}}<br>{{'gameLabel.YEAR_OLD' |
                                                                        translate}}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="content">
                                                            <h4 class="mb-3 mt-3 font-600 text-center text-dark tlp"
                                                                data-toggle="tooltip" data-placement="bottom"
                                                                title="{{arr2.jobName}}" style="cursor: pointer;">
                                                                {{arr2.jobName}}</h4>
                                                            <ul class=" list-unstyled">
                                                                <li class="border-bottom">{{'gameLabel.Education' |
                                                                    translate}} : {{arr2.education}}</li>
                                                                <li [class]="arr2.healthClass">{{'gameLabel.Health' |
                                                                    translate}} : {{arr2.health}}</li>
                                                                <li [class]="arr2.healthClassForStatus">
                                                                    {{'gameLabel.Health_Problems'
                                                                    | translate}} : {{arr2.healthProblem}}</li>
                                                                <li class="tlp" data-toggle="tooltip"
                                                                    data-placement="right" title="{{arr2.currencyName}}"
                                                                    style="cursor: pointer;">{{'gameLabel.Income' |
                                                                    translate}} : {{arr2.income | number}}
                                                                    {{arr2.currencyCode}}</li>
                                                                <li class=" tlp" data-toggle="tooltip"
                                                                    data-placement="right"
                                                                    title="{{registerCountryCode}}"
                                                                    style="cursor: pointer;">{{'gameLabel.In' |
                                                                    translate}}
                                                                    {{this.homeService.allPerson[this.constantService.FAMILY_SELF].register_country.currency_code}}
                                                                    : {{arr2.registerIncome | number}}
                                                                    {{registerCountryCode}}</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row m-0">
                                                <div class="col-md-4" *ngFor="let arr3 of level3Arr">
                                                    <div class="box h-100 {{arr3.deadClass}}">
                                                        <div class="hdr d-flex align-items-center">
                                                            <figure><img src="{{arr3.image}}" class="" alt=""></figure>
                                                            <span class="name fontforSmall"> {{arr3.name}} </span>
                                                            <span class="moveOut fontforSmall">{{arr3.moveOut}}</span>
                                                        </div>
                                                        <div class="{{arr3.class}}">
                                                            <div
                                                                class="row mx-0 align-items-center justify-content-between">
                                                                <div class="col-auto">
                                                                    <h4
                                                                        class="font-600 text-white text-uppercase m-0 p-0">
                                                                        {{arr3.identity}}</h4>
                                                                </div>
                                                                <div class="col-auto">
                                                                    <p class="mb-0 text-center font-500">
                                                                        {{arr3.age}}<br>{{'gameLabel.YEAR_OLD' |
                                                                        translate}}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="content">
                                                            <h4 class="mb-3 mt-3 font-600 text-center text-dark tlp"
                                                                data-toggle="tooltip" data-placement="bottom"
                                                                title="{{arr3.jobName}}" style="cursor: pointer;">
                                                                {{arr3.jobName}}</h4>
                                                            <ul class=" list-unstyled">
                                                                <li class="border-bottom">{{'gameLabel.Education' |
                                                                    translate}} : {{arr3.education}}</li>
                                                                <li [class]="arr3.healthClass">{{'gameLabel.Health' |
                                                                    translate}} : {{arr3.health}}</li>
                                                                <li [class]="arr3.healthClassForStatus">
                                                                    {{'gameLabel.Health_Problems'
                                                                    | translate}} : {{arr3.healthProblem}}</li>
                                                                <li class="tlp" data-toggle="tooltip"
                                                                    data-placement="right" title="{{arr3.currencyName}}"
                                                                    style="cursor: pointer;">{{'gameLabel.Income' |
                                                                    translate}} : {{arr3.income | number}}
                                                                    {{arr3.currencyCode}}</li>
                                                                <li class=" tlp" data-toggle="tooltip"
                                                                    data-placement="right"
                                                                    title="{{registerCountryCode}}"
                                                                    style="cursor: pointer;">{{'gameLabel.In' |
                                                                    translate}}
                                                                    {{this.homeService.allPerson[this.constantService.FAMILY_SELF].register_country.currency_code}}
                                                                    : {{arr3.registerIncome | number}}
                                                                    {{registerCountryCode}}</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row m-0">
                                                <div class="col-md-4" *ngFor="let arr4 of level4Arr">
                                                    <div class="box h-100 {{arr4.deadClass}}">
                                                        <div class="hdr d-flex align-items-center">
                                                            <figure><img src="{{arr4.image}}" class="" alt=""></figure>
                                                            <span class="name fontforSmall"> {{arr4.name}} </span>
                                                            <span class="moveOut fontforSmall">{{arr4.moveOut}}</span>
                                                        </div>
                                                        <div class="{{arr4.class}}">
                                                            <div
                                                                class="row mx-0 align-items-center justify-content-between">
                                                                <div class="col-auto">
                                                                    <h4
                                                                        class="font-600 text-white text-uppercase m-0 p-0">
                                                                        {{arr4.identity}}</h4>
                                                                </div>
                                                                <div class="col-auto">
                                                                    <p class="mb-0 text-center font-500">
                                                                        {{arr4.age}}<br>{{'gameLabel.YEAR_OLD' |
                                                                        translate}}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="content">
                                                            <h4 class="mb-3 mt-3 font-600 text-center text-dark tlp"
                                                                data-toggle="tooltip" data-placement="bottom"
                                                                title="{{arr4.jobName}}" style="cursor: pointer;">
                                                                {{arr4.jobName}}</h4>
                                                            <ul class=" list-unstyled">
                                                                <li class="border-bottom">{{'gameLabel.mother_name' |
                                                                    translate}} : {{arr4.motherName}}</li>
                                                                <li class="border-bottom">{{'gameLabel.father_name' |
                                                                    translate}} : {{arr4.fatherName}}</li>
                                                                <li class="border-bottom">{{'gameLabel.Education' |
                                                                    translate}} : {{arr4.education}}</li>
                                                                <li [class]="arr4.healthClass">{{'gameLabel.Health' |
                                                                    translate}} : {{arr4.health}}</li>
                                                                <li [class]="arr4.healthClassForStatus">
                                                                    {{'gameLabel.Health_Problems'
                                                                    | translate}} : {{arr4.healthProblem}}</li>
                                                                <li class="tlp" data-toggle="tooltip"
                                                                    data-placement="right" title="{{arr4.currencyName}}"
                                                                    style="cursor: pointer;">{{'gameLabel.Income' |
                                                                    translate}} : {{arr4.income | number}}
                                                                    {{arr4.currencyCode}}</li>
                                                                <li class=" tlp" data-toggle="tooltip"
                                                                    data-placement="right"
                                                                    title="{{registerCountryCode}}"
                                                                    style="cursor: pointer;">{{'gameLabel.In' |
                                                                    translate}}
                                                                    {{this.homeService.allPerson[this.constantService.FAMILY_SELF].register_country.currency_code}}
                                                                    : {{arr4.registerIncome | number}}
                                                                    {{registerCountryCode}}</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row bg-grey common-background">
                                            <div class="col-md-12">
                                                <div class="row dark-bg"
                                                    style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
                                                    <div class="col-md-6 pad-bck-style text-center">
                                                        <h4 class="font-500 text-dark">
                                                            {{'gameLabel.YEARLY_INCOME_COMPARISON_IN_USD' | translate}}
                                                        </h4>
                                                    </div>
                                                    <div class="col-md-6 pad-bck-style text-center">
                                                        <h4 class="font-500 text-dark">
                                                            {{'gameLabel.Income_distribution_in' | translate}}
                                                            {{this.homeService.allPerson[this.constantService.FAMILY_SELF].country.country}}
                                                        </h4>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="btm bg-grey col-md-6 ">


                                                <div>
                                                    <ngx-charts-bar-horizontal-2d [view]="view" [scheme]="colorScheme"
                                                        [schemeType]="schemeType" [results]="multi"
                                                        [gradient]="gradient" [yAxis]="showYAxis"
                                                        [showYAxisLabel]="showYAxisLabel" [trimYAxisTicks]="yTrimValue"
                                                        [maxYAxisTickLength]=maxLenght [xAxisLabel]="xAxisLabel"
                                                        (select)="onSelect($event)"
                                                        [dataLabelFormatting]="formatDataLabel"
                                                        [showDataLabel]="showDataLabel">
                                                    </ngx-charts-bar-horizontal-2d>
                                                </div>
                                            </div>
                                            <div class=" col-md-6 btm text-dark">

                                                <table class="family-capsule-table mx-auto">
                                                    <tr>
                                                        <th> {{'gameLabel.Economic_status' | translate}}</th>
                                                        <th class=""> {{'gameLabel.Min_income' | translate}}&nbsp;</th>
                                                        <th>{{'gameLabel.Max income' | translate}}&nbsp;</th>
                                                        <th>{{'gameLabel.Population%' | translate}}&nbsp; </th>
                                                    </tr>
                                                    <tr>
                                                        <td>{{'gameLabel.Extremely_poor' | translate}}</td>
                                                        <td>{{'gameLabel.Less' | translate}}</td>
                                                        <td>{{commonService.checkNumberFormat(commonService.firstValueI)}}
                                                        </td>
                                                        <td> 10%</td>
                                                    </tr>
                                                    <tr>
                                                        <td>{{'gameLabel.poor' | translate}}</td>
                                                        <td>{{commonService.checkNumberFormat(commonService.firstValueI)}}
                                                        </td>
                                                        <td>{{commonService.checkNumberFormat(commonService.secondValueI)}}
                                                        </td>
                                                        <td> 30%</td>
                                                    </tr>
                                                    <tr>
                                                        <td>{{'gameLabel.Middle_income' | translate}}</td>
                                                        <td>{{commonService.checkNumberFormat(commonService.secondValueI)}}
                                                        </td>
                                                        <td>{{commonService.checkNumberFormat(commonService.thirdValueI)}}
                                                        </td>
                                                        <td> 56%</td>
                                                    </tr>
                                                    <tr>
                                                        <td>{{'gameLabel.Rich' | translate}} </td>
                                                        <td>{{commonService.checkNumberFormat(commonService.thirdValueI)}}
                                                        </td>
                                                        <td>{{commonService.checkNumberFormat(commonService.fourthValueI)}}
                                                        </td>
                                                        <td> 3.99%</td>

                                                    </tr>
                                                    <tr>
                                                        <td>{{'gameLabel.Super_rich' | translate}} </td>
                                                        <td>{{commonService.checkNumberFormat(commonService.fourthValueI)}}
                                                        </td>
                                                        <td>{{'gameLabel.More' | translate}}</td>
                                                        <td> 0.01%</td>

                                                    </tr>
                                                </table>
                                            </div>
                                        </div>



                                    </div>

                                </div>
                            </div>
                            <div class="col-3 h-100 fmly_right">
                                <div class="text-dark h-100 overflow-y-auto text-dark">
                                    <ul class="list-unstyled mb-3">
                                        <li
                                            class="border-bottom d-flex justify-content-between align-items-center heading">
                                            <div class="d-flex ">
                                                <span> {{'gameLabel.Diet_and_Shelter' | translate}}</span>
                                            </div>
                                        </li>
                                        <li class="border-bottom d-flex justify-content-between align-items-center">
                                            <div class="d-flex">
                                                <img alt="" class="mrm image" src="assets/images/diet_utility_b.png">
                                                <span>{{'gameLabel.Diet' | translate}}</span>
                                            </div>
                                            <div class="">
                                                <span>{{financeService.diet[mainPerson.expense.diet.dietIndex].name}}</span>
                                            </div>
                                        </li>
                                        <li class="border-bottom d-flex justify-content-between align-items-center">
                                            <div class="d-flex">
                                                <img alt="" class="mrm image"
                                                    src="assets/images/residence_utility_b.png">
                                                <span> {{'gameLabel.Home' | translate}}</span>
                                            </div>
                                            <div class="">
                                                <span>{{financeService.shelter[mainPerson.expense.shelter.shelterIndex].name}}</span>
                                            </div>
                                        </li>
                                    </ul>
                                    <ul class=" list-unstyled mb-3">
                                        <li
                                            class="border-bottom d-flex justify-content-between align-items-center heading">
                                            <div class="d-flex">
                                                <span> {{'gameLabel.Amenities' | translate}}</span>
                                            </div>
                                        </li>
                                        <li class="border-bottom d-flex justify-content-between align-items-center"
                                            *ngFor="let u of utilityService.dispalyUtilityArr">
                                            <div class="d-flex">
                                                <img alt="" class="mrm image" src="{{u.familyModalImage}}">
                                                <span>{{u.DisplayName}}</span>
                                            </div>
                                            <div class="{{u.checkUncheckClass}}">
                                                <span>{{u.value}}</span>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<app-sibling-family-tree class="md-overlay " *ngIf="modalWindowShowHide.showSiblingFamily"></app-sibling-family-tree>
<app-children-family-tree class="md-overlay " *ngIf="modalWindowShowHide.showChildrenFamily"></app-children-family-tree>
<app-grand-children-family-tree class="md-overlay " *ngIf="modalWindowShowHide.showGrandChildrenFamily">
</app-grand-children-family-tree>