<!--map window-->
<div class="new_cmn_modal sdg_modal" id="home_sdg_amenity_modal" tabindex="-1" role="dialog" data-backdrop="false"
    *ngIf="windowOne" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <a class="go_back_btn text-primary" (click)="backClick(state)">
        <i class="fa fa-arrow-left" aria-hidden="true" style="cursor: pointer;"></i> {{'gameLabel.Back' |translate}}</a>
    <a title="{{'gameLabel.Go_to_dashbord' | translate }}" data-toggle="tooltip" data-placement="left" class="tlp"
        style="cursor: pointer;" (click)="clickToExitButton()">
        <span class="material-icons " style="cursor: pointer;float: right;">login</span></a>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content border-0 bg-none">
            <div class="container-fluid sdg using_sdg sdgWindow sdgWindow" *ngIf="state==='goal'">
                <div class="row align-items-center">
                    <div class="col-md-12 mx-auto">
                        <div class="col-md-4 mx-auto text-center mx-4">
                            <div class="">
                                <figure class="mb-4"><img
                                        src="assets/images/sdgicon/E_SDG_Logo_UN-Emblem-01_transparent.png" alt=""
                                        class="img-fluid"></figure>
                            </div>
                        </div>
                        <div class="col-md-12 mx-auto text-center mx-4">
                            <p class="mb-0 mt-3 text-primary2">
                                {{'gameLabel.Choose_a_sustainable_development_goal_(SDG)_challenge_to_live_a_life_in_a_country'
                                |translate}}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row align-items-center mt-3">
                    <div class="col-md-12 mx-auto d-flex flex-wrap justify-content-center">
                        <div class="box">
                            <a (click)="sdgMapSelect(1)" style="cursor: pointer">
                                <img src="assets/images/sdgicon/sdg1_{{translationService.selectedLang.code}}.png"
                                    alt="">
                            </a>
                        </div>
                        <div class="box">
                            <a (click)="sdgMapSelect(2)" style="cursor: pointer">
                                <img src="assets/images/sdgicon/sdg2_{{translationService.selectedLang.code}}.png"
                                    alt="">
                            </a>
                        </div>
                        <div class="box">
                            <a (click)="sdgMapSelect(3)" style="cursor: pointer">
                                <img src="assets/images/sdgicon/sdg3_{{translationService.selectedLang.code}}.png"
                                    alt="">
                            </a>
                        </div>
                        <div class="box">
                            <a (click)="sdgMapSelect(4)" style="cursor: pointer">
                                <img src="assets/images/sdgicon/sdg4_{{translationService.selectedLang.code}}.png"
                                    alt="">
                            </a>
                        </div>
                        <div class="box">
                            <a (click)="sdgMapSelect(5)" style="cursor: pointer">
                                <img src="assets/images/sdgicon/sdg5_{{translationService.selectedLang.code}}.png"
                                    alt="">
                            </a>
                        </div>
                        <div class="box">
                            <a (click)="sdgMapSelect(6)" style="cursor: pointer">
                                <img src="assets/images/sdgicon/sdg6_{{translationService.selectedLang.code}}.png"
                                    alt="">
                            </a>
                        </div>
                        <div class="box">
                            <a (click)="sdgMapSelect(7)" style="cursor: pointer">
                                <img src="assets/images/sdgicon/sdg7_{{translationService.selectedLang.code}}.png"
                                    alt="">
                            </a>
                        </div>
                        <div class="box">
                            <a (click)="sdgMapSelect(8)" style="cursor: pointer">
                                <img src="assets/images/sdgicon/sdg8_{{translationService.selectedLang.code}}.png"
                                    alt="">
                            </a>
                        </div>
                        <div class="box">
                            <a (click)="sdgMapSelect(9)" style="cursor: pointer">
                                <img src="assets/images/sdgicon/sdg9_{{translationService.selectedLang.code}}.png"
                                    alt="">
                            </a>
                        </div>
                        <div class="box">
                            <a (click)="sdgMapSelect(10)" style="cursor: pointer">
                                <img src="assets/images/sdgicon/sdg10_{{translationService.selectedLang.code}}.png"
                                    alt="">
                            </a>
                        </div>
                        <div class="box">
                            <a (click)="sdgMapSelect(11)" style="cursor: pointer">
                                <img src="assets/images/sdgicon/sdg11_{{translationService.selectedLang.code}}.png"
                                    alt="">
                            </a>
                        </div>
                        <div class="box">
                            <a (click)="sdgMapSelect(12)" style="cursor: pointer">
                                <img src="assets/images/sdgicon/sdg12_{{translationService.selectedLang.code}}.png"
                                    alt="">
                            </a>
                        </div>
                        <div class="box">
                            <a (click)="sdgMapSelect(13)" style="cursor: pointer">
                                <img src="assets/images/sdgicon/sdg13_{{translationService.selectedLang.code}}.png"
                                    alt="">
                            </a>
                        </div>
                        <div class="box">
                            <a (click)="sdgMapSelect(14)" style="cursor: pointer">
                                <img src="assets/images/sdgicon/sdg14_{{translationService.selectedLang.code}}.png"
                                    alt="">
                            </a>
                        </div>
                        <div class="box">
                            <a (click)="sdgMapSelect(15)" style="cursor: pointer">
                                <img src="assets/images/sdgicon/sdg15_{{translationService.selectedLang.code}}.png"
                                    alt="">
                            </a>
                        </div>
                        <div class="box">
                            <a (click)="sdgMapSelect(16)" style="cursor: pointer">
                                <img src="assets/images/sdgicon/sdg16_{{translationService.selectedLang.code}}.png"
                                    alt="">
                            </a>
                        </div>
                        <div class="box">
                            <a (click)="sdgMapSelect(17)" style="cursor: pointer">
                                <img src="assets/images/sdgicon/sdg17_{{translationService.selectedLang.code}}.png"
                                    alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="state==='goalMap'">
                <div class="sdg_amenity_modal p-0">
                    <div class="modal-body p-0 bg-none">
                        <div class="">
                            <div class="container-fluid">

                                <div class="col-md-12 mx-auto">
                                    <div class="col-md-4 mx-auto mx-4">
                                        <div class="pt-2">
                                            <figure class="mb-2"><img
                                                    src="assets/images/sdgicon/E_SDG_Logo_UN-Emblem-01_transparent.png"
                                                    alt="" class="img-fluid"></figure>
                                        </div>

                                    </div>
                                    <br>
                                    <div class="col-12 text-center">
                                        <h3> {{sdgMapTitle}}</h3><br>
                                        <span class="text-white">{{'gameLabel.Country_divided_in' |translate}} <span
                                                class="text-red ">{{'gameLabel.major_challenges'
                                                |translate}}</span>,
                                            <span class="text-oragne ">
                                                {{'gameLabel.significant_challenges' |translate}}</span>,
                                            <span class="text-yellow ">{{'gameLabel.challenges_remain'
                                                |translate}}</span>,
                                            <span class="text-success "> {{'gameLabel.goal_achivments'
                                                |translate}}</span>
                                            {{'gameLabel.and' |translate}}
                                            <span class="text-secondary "> {{'gameLabel.No_data'
                                                |translate}}</span> {{'gameLabel.Category' |translate}} </span>
                                    </div>

                                </div>
                                <div class="d-flex flex-column align-items-stretch w-100 pt-2">
                                    <div class="map_cmn world_map bg-white w-100" *ngIf=data>
                                        <app-sdg-goal-map h-100 w-100></app-sdg-goal-map>
                                    </div>
                                </div>
                                <div class="row mt-2 " style="float: right;">
                                    <div class="col-12 btn_row p-0">
                                        <a (click)="sdgSelect(sdgId)">
                                            <button type="submit" class="btn btn-primary2 px-5">{{
                                                'gameLabel.Next' | translate}} &nbsp;&gt;</button>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="state==='subGoalList'">
                <div class="sdg_amenity_modal p-0 sdgSubWindow">
                    <div class="modal-body p-0 bg-none">
                        <div class="">
                            <div class="container-fluid">
                                <div class="row">

                                    <div class="col-6 px-4 py-3">
                                        <div class="col-md-8 p-0">
                                            <div class="">
                                                <figure class="mb-4"><img src="" alt="" class="img-fluid"></figure>
                                            </div>
                                        </div>
                                        <div class="amenity_hdr">
                                            <figure class="mb-0"><img src={{sdgImage}} alt=""></figure>
                                            <h3 class="text-primary2 mt-2">{{sdgTitle}}</h3>
                                        </div>
                                        <div class="amenity_cnt">
                                            <p class="line-height-2">{{sdgDescription}}</p>
                                        </div>
                                    </div>

                                    <div class="col-6 px-0 pt-3 bg-dark"
                                        style="padding-bottom: 4rem; border-radius: 15px;">
                                        <div class="d-flex flex-column align-items-stretch w-100 pt-2">
                                            <ul class="list-unstyled">
                                                <li class="py-3 border-bottom border_white_op6 px-5">
                                                    <span class="small text-primary2 font-italic">
                                                        {{'gameLabel.Please_select_below_Index_and_you_can_choose_country_you_want_to_live'
                                                        |translate}}</span>
                                                </li>
                                                <li *ngFor="let sdg of sdgTargets;let i=index"
                                                    class="border-bottom border_white_op6">
                                                    <label [class.active]="r.checked" class="py-3 px-5 mb-0 w-100">
                                                        <input #r type="radio" value={{i}} name="sdg_selection"
                                                            (change)="radioButtonValue($event,sdg.key,i,'',0)">
                                                        {{sdg.id}} : {{sdg.value}}
                                                    </label>
                                                </li>
                                            </ul>
                                            <div class="col-12 btn_row p-0">
                                                <a (click)="sdgGraphAndTableData()">
                                                    <button type="submit" class="btn btn-primary2 px-5"
                                                        [disabled]="!disabledButton">Next
                                                        &nbsp;&gt;</button>
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="state==='subGoalGraph'">
                <div class="sdg_amenity_modal p-0">
                    <div class="modal-body p-0 bg-none">
                        <div class="">
                            <div class="container-fluid">
                                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                     >
                                        <span class="material-icons">close</span>
                                    </button> -->
                                <div class="row align-items-center pb-4 border_white_op6">
                                    <div class="col-md-12 mx-auto">
                                        <div class="col-md-4 mx-auto mx-4">
                                            <div class="pt-2">
                                                <figure class="mb-2"><img
                                                        src="assets/images/sdgicon/E_SDG_Logo_UN-Emblem-01_transparent.png"
                                                        alt="" class="img-fluid"></figure>
                                            </div>

                                        </div>
                                        <div class="col-md-8 mx-auto d-flex ">
                                            <div class="amenity_hdr col-md-2 mx-auto">
                                                <figure class="mb-0 w-100"><img src={{sdgImage}} alt=""
                                                        class="img-fluid" style="width:65px"></figure>
                                            </div>
                                            <div class="col-md-12">
                                                <h5
                                                    class="mb-0 mt-3 text-primary font_b3 font-600 line-height-1 justify-content-center">
                                                    {{graphTitle}}</h5>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="col-12 text-center">
                                            <span class="text-white">{{'gameLabel.Country_divided_in' |translate}}
                                                <span class="text-red ">{{'gameLabel.major_challenges'
                                                    |translate}}</span>,
                                                <span class="text-oragne ">
                                                    {{'gameLabel.significant_challenges' |translate}}</span>,
                                                <span class="text-yellow ">{{'gameLabel.challenges_remain'
                                                    |translate}}</span>
                                                {{'gameLabel.and' |translate}}
                                                <span class="text-success ">
                                                    {{'gameLabel.goal_achivments' |translate}}</span>
                                                {{'gameLabel.Category' |translate}}
                                                <span class="text-secondary "> {{'gameLabel.No_data'
                                                    |translate}}</span> {{'gameLabel.Category' |translate}}
                                            </span>

                                        </div>

                                    </div>
                                </div>
                                <div class="row align-items-center pb-4 border_white_op6">
                                    <div class="col-md-12 mx-auto">
                                        <table style="width:100%">
                                            <th>
                                                {{'gameLabel.Category' |translate}}
                                            </th>
                                            <th>
                                                {{'gameLabel.Count' |translate}}

                                            </th>
                                            <th>
                                                {{'gameLabel.Min' |translate}}
                                                <span class="material-icons" style="cursor: pointer; font-size: small;"
                                                    (click)="clickMoreInfo()">info</span>

                                            </th>
                                            <th>
                                                {{'gameLabel.Max' |translate}}
                                                <span class="material-icons" style="cursor: pointer; font-size: small;"
                                                    (click)="clickMoreInfo()">info</span>
                                            </th>
                                            <tr>
                                                <th class="text-red">{{'gameLabel.Red' |translate}}</th>
                                                <td>{{redTotal}}</td>
                                                <td>{{redMin}} ({{redMinCountry}})</td>
                                                <td>{{redMax}} ({{redMaxCountry}})</td>
                                                <!-- <td>{{redMediun}}</td> -->
                                            </tr>
                                            <tr>
                                                <th class="text-oragne ">{{'gameLabel.Orange' |translate}}</th>
                                                <td>{{orangeTotal}}</td>
                                                <td>{{orangeMin}} ({{orangeMinCountry}})</td>
                                                <td>{{orangeMax}} ({{orangeMaxCountry}})</td>
                                                <!-- <td>{{orangeMediun}}</td> -->
                                            </tr>
                                            <tr>
                                                <th class="text-yellow">{{'gameLabel.Yellow' |translate}}</th>
                                                <td>{{yellowTotal}}</td>
                                                <td>{{yellowMin}} ({{yellowMinCountry}})</td>
                                                <td>{{yellowMax}} ({{yellowMaxCountry}})</td>
                                                <!-- <td>{{yellowMediun}}</td> -->
                                            </tr>
                                            <tr>
                                                <th class="text-green">{{'gameLabel.Green' |translate}}</th>
                                                <td>{{greenTotal}}</td>
                                                <td>{{greenMin}} ({{greenMinCountry}})</td>
                                                <td>{{greenMax}} ({{greenMaxCountry}})</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-md-12 mx-auto">
                                        <div style="display: block;" class="chart" *ngIf="chartReady">
                                            <canvas baseChart height="200" width="800" [datasets]="labelMFL"
                                                [labels]="lineChartLabels" [options]="lineChartOptions"
                                                [colors]="chartColors" [chartType]="lineChartType"
                                                (chartHover)="chartHovered($event)"
                                                (chartClick)="chartClicked($event)"></canvas>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-4" style="float: right;">
                                    <div class="ccol-12 text-right p-0">
                                        <a (click)="getSdgSubGoalMapData()">
                                            <button type="submit" class="btn btn-primary2 px-2"
                                                style="margin-right: 3px;">{{'gameLabel.View_country_from_map'
                                                |translate}} </button>
                                        </a>
                                        <a (click)="sdgCountryList()">
                                            <button type="submit"
                                                class="btn btn-primary2 px-2">{{'gameLabel.View_country_from_list'
                                                |translate}} </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="state==='subGoalCountryList'">
                <div class="sdg_amenity_modal p-0">
                    <div class="modal-body p-0 bg-none">
                        <div class="">
                            <div class="container-fluid">
                                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                       >
                                        <span class="material-icons">close</span>
                                    </button> -->
                                <div class="row align-items-center pb-4 border_white_op6">
                                    <div class="col-md-12 mx-auto">
                                        <div class="col-md-4 mx-auto text-center mx-4">
                                            <div class="pt-2">
                                                <figure class="mb-2"><img
                                                        src="assets/images/sdgicon/E_SDG_Logo_UN-Emblem-01_transparent.png"
                                                        alt="" class="img-fluid"></figure>
                                            </div>
                                            <div class="amenity_hdr col-5 mx-auto">
                                                <figure class="mb-0 w-100"><img src={{sdgImage}} alt=""
                                                        class="img-fluid"></figure>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mx-auto text-center mx-4">
                                            <p>
                                            <h5 class="mb-0 mt-3 text-primary font_b3 font-600 line-height-1">
                                                {{sdgSubGoalValue}} {{sdgTargetDesc}}</h5>
                                        </div>
                                        <br>
                                        <div class="col-12 text-center">
                                            <h3> {{'gameLabel.Country_List' |translate}}</h3><br>
                                            <span class="text-white">{{'gameLabel.Country_divided_in' |translate}}
                                                <span class="text-red ">{{'gameLabel.major_challenges'
                                                    |translate}}</span>,
                                                <span class="text-oragne ">
                                                    {{'gameLabel.significant_challenges' |translate}}</span>,
                                                <span class="text-yellow ">{{'gameLabel.challenges_remain'
                                                    |translate}}</span>,
                                                <span class="text-success ">
                                                    {{'gameLabel.goal_achivments' |translate}}</span>
                                                {{'gameLabel.and' |translate}}
                                                <span class="text-secondary "> {{'gameLabel.No_data'
                                                    |translate}}</span>{{'gameLabel.Category' |translate}} </span>
                                        </div>

                                    </div>
                                </div>


                                <div class="row justify-content-center">
                                    <div class="col-md-12 mx-auto">
                                        <div class="row justify-content-center">
                                            <div class="col-with-equal-width">
                                                <div class="box red_box red">
                                                    <p class="m-0"> {{'gameLabel.major_challenges' |translate}}</p>
                                                    <ul class="list-unstyled ">
                                                        <li *ngFor="let country of sdgRedCountryList">
                                                            <label [class.active]="r.checked" class="red">
                                                                <input #r type="radio" name="sdg_country_list"
                                                                    (change)="radioButtonValue($event,0,0,country,0)">
                                                                {{country.country}}
                                                            </label>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-with-equal-width">
                                                <div class="box orange_box orange">
                                                    <p class="m-0"> {{'gameLabel.significant_challenges'
                                                        |translate}}</p>
                                                    <ul class="list-unstyled">
                                                        <li *ngFor="let country of sdgOrangeCountryList">
                                                            <label [class.active]="r.checked" class="orange">
                                                                <input #r type="radio" name="sdg_country_list"
                                                                    (change)="radioButtonValue($event,0,0,country,1)">
                                                                {{country.country}}
                                                            </label>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-with-equal-width">
                                                <div class="box yellow_box yellow">
                                                    <p class="m-0"> {{'gameLabel.challenges_remain' |translate}}</p>
                                                    <ul class="list-unstyled">
                                                        <li *ngFor="let Yellowcountry of sdgYellowCountryList">
                                                            <label [class.active]="r.checked" class="yellow">
                                                                <input #r type="radio" name="sdg_country_list"
                                                                    (change)="radioButtonValue($event,0,0,Yellowcountry,2)">
                                                                {{Yellowcountry.country}}
                                                            </label>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-with-equal-width">
                                                <div class="box green green_box">
                                                    <p class="m-0"> {{'gameLabel.goal_achivments' |translate}}</p>
                                                    <ul class="list-unstyled">
                                                        <li *ngFor="let Greencountry of sdgGreenCountryList">
                                                            <label [class.active]="r.checked" class="green">
                                                                <input #r type="radio" name="sdg_country_list"
                                                                    (change)="radioButtonValue($event,0,0,Greencountry,3)"
                                                                    id="Green">
                                                                {{Greencountry.country}}
                                                            </label>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-with-equal-width">
                                                <div class="box grey grey_box">
                                                    <p class="m-0"> {{'gameLabel.No_data' |translate}}</p>
                                                    <ul class="list-unstyled">
                                                        <li *ngFor="let Greycountry of sdgGrayCountryList">
                                                            <label [class.active]="r.checked" class="grey">
                                                                <input #r type="radio" name="sdg_country_list"
                                                                    (change)="radioButtonValue($event,0,0,Greycountry,4)">
                                                                {{Greycountry.country}}
                                                            </label>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- <div class="row mt-4">
                                        <div class="col-12 text-right p-0">
                                            <a>
                                                <button type="submit" class="btn btn-primary2 px-5 next_religion"
                                                    [disabled]="!disabledButton" (click)="stateChange()"
                                                    data-dismiss="modal">
                                                    <span class="px-5"> {{'gameLabel.Select_City' |translate}}
                                                        &nbsp;&gt;</span></button>
                                            </a>
           
                                        </div>
                                    </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="state==='subGoalCountryMap'">
                <div class="sdg_amenity_modal p-0">
                    <div class="modal-body p-0 bg-none">
                        <div class="">
                            <div class="container-fluid">
                                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                        (click)="closeAllMap()">
                                        <span class="material-icons">close</span>
                                    </button> -->
                                <div class="row align-items-center pb-4 border_white_op6">
                                    <div class="col-md-12 mx-auto">
                                        <div class="col-md-4 mx-auto mx-4">
                                            <div class="pt-2">
                                                <figure class="mb-2"><img
                                                        src="assets/images/sdgicon/E_SDG_Logo_UN-Emblem-01_transparent.png"
                                                        alt="" class="img-fluid"></figure>
                                            </div>

                                        </div>
                                        <div class="col-md-8 mx-auto d-flex">
                                            <div class="amenity_hdr col-md-2 mx-auto">
                                                <figure class="mb-0 w-100"><img src={{sdgImage}} alt=""
                                                        class="img-fluid" style="width:65px"></figure>
                                            </div>
                                            <div class="col-md-12">
                                                <h5 class="mb-0 mt-3 text-primary font_b3 font-600 line-height-1">
                                                    {{sdgSubGoalValue}} {{sdgTargetDesc}}
                                                </h5>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="col-12 text-center">
                                            <h3> {{'gameLabel.Country_List' |translate}}</h3><br>
                                            <span class="text-white">{{'gameLabel.Country_divided_in' |translate}}
                                                <span class="text-red ">{{'gameLabel.major_challenges'
                                                    |translate}}</span>,
                                                <span class="text-oragne ">
                                                    {{'gameLabel.significant_challenges' |translate}}</span>,
                                                <span class="text-yellow ">{{'gameLabel.challenges_remain'
                                                    |translate}}</span>,
                                                <span class="text-success ">
                                                    {{'gameLabel.goal_achivments' |translate}}</span>
                                                {{'gameLabel.and' |translate}}
                                                <span class="text-secondary "> {{'gameLabel.No_data'
                                                    |translate}}</span> {{'gameLabel.Category' |translate}} </span>
                                        </div>

                                    </div>
                                </div>


                                <div class="row justify-content-center">
                                    <div class="col-md-12 mx-auto">
                                        <div class="map_cmn world_map bg-white w-100" *ngIf="divShow">
                                            <app-sdg-subgoal-map h-100 w-100></app-sdg-subgoal-map>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-4">
                                    <div class="col-12 text-right p-0">
                                        <a (click)="sdgCountryList()">
                                            <button type="submit"
                                                class="btn btn-primary2 px-2">{{'gameLabel.View_country_from_list'
                                                |translate}} </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end of map window-->
<div class="md-overlay black_modal gamescreen" id="confirm" *ngIf="plyLifeFlag ||SdgToolService.showPlayLifeWindow">
    <div class="modal-dialog modal-dialog-centered w700" role="document">
        <div class="modal-content h-auto">
            <div class="modal-body p-0">
                <p class="text-center">{{'gameLabel.sdg_play_life' |translate}}
                    {{SdgToolService.selectedCountry.country}}?</p>
                <div class="d-flex justify-content-center w-100">
                    <a (click)="playReallives()" class="py-1 px-4 mr-1" *ngIf="translationService.gameBuyFlag">
                        <img src="assets/images/end-tool-button.svg" alt="" style="cursor: pointer;width: 160px">
                        <!-- <img src="assets/images/startscreen/New%20Life.png" alt="" style="cursor: pointer"> -->
                    </a>
                    <button type="button" class="btn btn-blue-grad py-1 px-4 mr-3"
                        *ngIf="!translationService.gameBuyFlag" (click)="buyNow()">{{'gameLabel.Buy_RealLives'
                        |translate}}
                    </button>
                    <button type="button" class="btn btn-blue-grad py-1 mr-1"
                        (click)="clickCancel()">{{'gameLabel.Select_other_country' |translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>

<app-wait-screen class="md-overlay" *ngIf="modalWindowService.showWaitScreen"></app-wait-screen>