.col-with-equal-width{
    
    margin: 8px;
    overflow: auto;
    max-height: 630px;
}

.red{
    color: #b80000;
  text-align: center;
}

.yellow {
  color: #f2c314;
  text-align: center;
}

.green {
  color: #67a849;
  text-align: center;
}

.grey {
  color: #a1a1a1;
  text-align: center;
}

.orange {
  color: #FFA019;
  text-align: center;
}


.sdgWindow{
margin-top: 60px;
}

.sdgSubWindow{
margin-top: 120px;
}