<section class="home_dashboard pt-3 toolService " *ngIf="modalWindowService.showDairy">
    <header>
        <div class="logo mx-auto trans" data-aos="" data-aos-delay="100"><img img src="assets/images/RL_logo.svg"
                alt="">
        </div>
    </header>
    <div class="listing_heading position-relative mb-4 col-md-12">
        <a class="go_back_btn text-primary" (click)="clickToExitButton()">
            <i class="fa fa-arrow-left" aria-hidden="true" style="cursor: pointer;padding-left: 5px;"></i>
            {{'gameLabel.Back'
            |translate}}</a>
    </div>

    <div class="container-fluid h-100 country_info">
        <div class="row h-100 align-items-center">
            <div class="col-md-12">
                <h2 class="text-center text-primary2">{{'gameLabel.Your_expressions_on_the_life_events' |translate}}
                </h2>
                <table>
                    <tr>
                        <th class="text-primary2">{{'gameLabel.Sr_no'
                            |translate}}</th>
                        <th class="text-primary2">{{'gameLabel.Your_age' |translate}}</th>
                        <th class="text-primary2">{{'gameLabel.life_events' |translate}}</th>
                        <th class="text-primary2">{{'gameLabel.Expression' |translate}}</th>
                    </tr>
                    <tr *ngFor="let event of eventList,let i=index">
                        <td>{{i}}</td>
                        <td>{{event.game_age}}</td>
                        <td>{{event.text}}</td>
                        <td>{{event.expression}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>