@charset "UTF-8";
/* CSS Document */
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600';
	.tab-content {
		color: #1D1D1D;
		height: calc(100% - 50px);
	}
	/*div{ border:1px solid;}*/
	/*html, body {
		height: 100%;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		text-rendering: optimizeLegibility;
		text-rendering: geometricPrecision;
		font-smooth: always;
		font-smoothing: antialiased;
		-moz-font-smoothing: antialiased;
		-webkit-font-smoothing: antialiased;
		-webkit-font-smoothing: subpixel-antialiased;
	}
	body {
		color: #fff;
		background-image: url(../images/game_images/World_map.jpg);
		background-position: center;
		background-size: cover;
		font-family: 'Open Sans', sans-serif;
		font-weight: 300!important;
		font-size: 14px;
	}
	.container-fluid {
		min-height: 100%;
	}
	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	}*/
	/* spacing helpers
	p,m = padding,margin
	a,t,r,b,l,h,v = all,top,right,bottom,left,horizontal,vertical
	s,m,l,n = small(5px),medium(10px),large(20px),none(0px)
	*/

	.ptn, .pvn, .pan {
		padding-top: 0px;
	}
	.pts, .pvs, .pas {
		padding-top: 5px;
	}
	.ptm, .pvm, .pam {
		padding-top: 10px;
	}
	.ptl, .pvl, .pal {
		padding-top: 20px;
	}
	.prn, .phn, .pan {
		padding-right: 0px;
	}
	.prs, .phs, .pas {
		padding-right: 5px;
	}
	.prm, .phm, .pam {
		padding-right: 10px;
	}
	.prl, .phl, .pal {
		padding-right: 20px;
	}
	.pbn, .pvn, .pan {
		padding-bottom: 0px;
	}
	.pbs, .pvs, .pas {
		padding-bottom: 5px;
	}
	.pbm, .pvm, .pam {
		padding-bottom: 10px;
	}
	.pbl, .pvl, .pal {
		padding-bottom: 20px;
	}
	.pln, .phn, .pan {
		padding-left: 0px;
	}
	.pls, .phs, .pas {
		padding-left: 5px;
	}
	.plm, .phm, .pam {
		padding-left: 10px;
	}
	.pll, .phl, .pal {
		padding-left: 20px;
	}
	.mtn, .mvn, .man {
		margin-top: 0px;
	}
	.mts, .mvs, .mas {
		margin-top: 5px;
	}
	.mtm, .mvm, .mam {
		margin-top: 10px;
	}
	.mtl, .mvl, .mal {
		margin-top: 20px;
	}
	.mrn, .mhn, .man {
		margin-right: 0px;
	}
	.mrs, .mhs, .mas {
		margin-right: 5px;
	}
	.mrm, .mhm, .mam {
		margin-right: 10px;
	}
	.mrl, .mhl, .mal {
		margin-right: 20px;
	}
	.mbn, .mvn, .man {
		margin-bottom: 0px;
	}
	.mbs, .mvs, .mas {
		margin-bottom: 5px;
	}
	.mbm, .mvm, .mam {
		margin-bottom: 10px;
	}
	.mbl, .mvl, .mal {
		margin-bottom: 20px;
	}
	.mln, .mhn, .man {
		margin-left: 0px;
	}
	.mls, .mhs, .mas {
		margin-left: 5px;
	}
	.mlm, .mhm, .mam {
		margin-left: 10px;
	}
	.mll, .mhl, .mal {
		margin-left: 20px;
	}
	.left_pan {
		min-height: 100%;
		/*position: absolute;*/
	}
	.pad1 {
		padding: 1%;
	}
	.min100 {
		min-height: 99%;
		/*position: absolute;*/
	}
	.myself {
		background: #FFFFFF;
		border-radius: 4px;
		padding-left: 0;
		/*min-height: 50%;
		margin-top: 1%;*/
		border-right: 2px solid #2f2f30;
		transition: all linear .15s!important;
		border-left: 1px solid #bfbfbf;
		border-top: 1px solid #bfbfbf;
		border-bottom: 1px solid #bfbfbf;
	}
	.iam {
		background: url(../images/game_images/sq_bg.png) no-repeat;
		border-radius: 4px 0 0 4px;
		min-height: 100%;
		color: #fff;
		text-align: center;
		padding: 10px;
		font-size: 1.9rem;
		/*position: absolute;*/
	}
	.age {
		background: #00bcd4;
		border-radius: 4px 0 0 4px;
		min-height: 30%;
		color: #fff;
		text-align: center;
		padding: 10px;
		font-size: 20px;
		position: absolute;
	}
	.ageinternal {
		background: #00bcd4;
		min-height: 30%;
		color: #fff;
		text-align: center;
		padding: 10px;
		font-size: 20px;
	}
	.ageinternal1{
		background: #00bcd4;
		min-height: 30%;
		color: #fff;
		text-align: center;
		padding: 3px;
		font-size: 13px;
	}
	.tab-pane_big {
		background: #fff;
		padding-top: 10px;
		height: 450px;
		overflow-y: scroll;
	}
	.your_info {
		/*margin-left: 17.6667%;*/
		color: #2D2D2D;
		/* max-height: 102px; */
		max-height: 100%;
		overflow-x: auto;
	}
	.self_info {
		border-bottom: 1px solid #ccc;
		/* font-size: 18px; */
		padding: 5px;
	}
	.name {
		border-bottom: 1px solid #ccc;
		font-size: 18px;
		padding: 5px;
	}
	.bottom_action {
		/*bottom: 68px;*/
		padding: 5px 10px;
		border: 1px solid #000;
		/* min-height: 50px; */
		/*background-image: url(../images/game_images/action_bg.jpg);*/
		background: #0a4477;
		/*background-image: linear-gradient(#014b8b 1px, #01356200 1px),linear-gradient(to right, #014b8b 1px, #00234200 1px);
		background-size: 5px 5px;*/
		border-radius: 4px;
		/*background-size: auto 100%;
		width: 97.6%;
		margin-left: 15px;
		position: absolute;*/
		/* height: 60px; */
		-webkit-box-shadow: 0 2px 13px 3px rgba(0,0,0,0.4);
		-moz-box-shadow: 0 2px 13px 3px rgba(0,0,0,0.4);
		box-shadow: 0 2px 13px 3px rgba(0,0,0,0.4);
	}
	.bottom_action ul{
		margin: 0;
	}
	.family_box {
		border-bottom: 2px solid #ccc;
		border-top: 2px solid #ccc;
	}
	.family_box_one {
		border-bottom: 2px solid transparent;
		border-top: 2px solid transparent;
	}
	ul {
		list-style-type: none;
	}
	/* .bottom_action_group {
		margin: 0 auto;
		display: table;
		margin-left: -5%;
	}
	.bottom_action_group li {
		display: table-cell;
		width: 8%;
		color: #fff;
		text-align: center;
		font-size: 10px;
		text-transform: uppercase;
	} */
	.font300 {
		font-weight: 300;
	}
	.font100 {
		font-weight: 100;
	}
	.font12px {
		font-size: 12px;
	}
	.font16px {
		font-size: 16px;
	}
	.font14px {
		font-size: 14px;
	}
	.font11px {
		font-size: 11px;
	}
	.social_stat {
		font-size: 11px;
		margin-right: -10px;
		border-left: 1px solid #ccc;
		padding-left: 8px;
		color: #000;
	}
	.surround_data {
		/*padding-top: 6px;*/
		border-radius: 4px;
		/*margin-top: 3px;
		margin-bottom: 3px;*/
		height: 41px;
		background: url(../images/game_images/uti_bg.jpg) repeat-x;
		-webkit-box-shadow: 0 2px 13px 3px rgba(0,0,0,0.4);
		-moz-box-shadow: 0 2px 13px 3px rgba(0,0,0,0.4);
		box-shadow: 0 2px 13px 3px rgba(0,0,0,0.4);
	}
	.indication {
		/*height: 61px;
		padding-left: 0;*/
	}
	.align_bot {
		position: absolute;
		bottom: 0;
	}
	.right_nav {
		/*min-height: 100%;
		position: absolute;
		right: 5px;
		padding: 0 10px;*/
	}
	.player_online {
		color: #00bcd4;
		padding: 3px;
		font-size: 10px;
		text-transform: uppercase;
		text-align: right;
		padding-right: 18px;
	}
	.colorfff {
		color: #fff;
	}
	.color00bcd4 {
		color: #00bcd4;
	}
	.logo {
		/*color: #979797;
		font-size: 35px;
		line-height: 30px;
		text-align: right;
		font-weight: 300;*/
	}
	.login {
		font-size: 13px;
		line-height: 15px;
	}
	.absuposition {
		position: absolute;
	}
	.red4 {
		border-radius: 0 0 4px 4px;
	}
	.color4a4a4a {
		color: #4a4a4a;
	}
	.cont_info {
		color: #fff;
		font-weight: 300;
	}
	.compair_btn {
		color: #000000;
		font-size: 18px;
		background: #dedbdb;
		border-radius: 0 0 4px 4px;
	}
	.knob_holder {
		background: #030b12;
		color: #fff;
		margin-top: -5px;
		font-size: 10px;
	}
	.surround_data ul {
		display: table;
	}
	.surround_data ul li {
		/*display: table-cell;
		width: 1%;
		padding-top: 3px;*/
	}
	.indication ul {
		display: table;
	}
	.indication ul li {
		display: table-cell;
		/*width: 1%;*/
		padding-left: 0px;
		font-size: 10px;
		text-transform: uppercase;
		background-image: url(../images/game_images/divider.png);
		background-position: right;
		background-repeat: no-repeat;
		text-align: center;
	}
	.indication ul li span {
		font-size: 13px;
	}
	.center_data {
		background: #fff;
		color: #363636;
		border-radius: 4px;
		margin-top: 1%;
		min-height: 38%;
	}
	.panel-body {
		padding: 0;
	}
	.opacity {
		filter: alpha(opacity=50);
		-moz-opacity: 0.5;
		-khtml-opacity: 0.5;
		opacity: 0.5;
	}
	h4, .h4 {
		font-size: 18px;
		font-weight: bold;
		color: #00ABD2;
		margin-top: 0;
	}
	.margin3 {
		margin-top: 3%;
	}
	.accoholder {
		height: calc(100% - 207px);
		background: rgba(0,0,0,0.3);
		position: absolute;
		color: #ccc;
		border-radius: 4px;
		width: 100%;
	}
	.viewchanger {
		font-size: 10px;
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}
	.panel-body {
		height: 350px;
		overflow: scroll;
	}
	img.sdg_img {
		margin: 2px 3px;
	}
	.datalens {
		padding: 0;
		position: static;
	}
	.datalens li {
		margin: 0 0 7px 4px
	}
	.datalens li a {
		margin: 0 0 0 -19px;
	}
	.font_small_10 {
		font-size: 10px;
		text-transform: uppercase;
		color: #C8C8C8;
	}
	.notification:after {
		content: "";
		height: 7px;
		width: 7px;
		border-radius: 50%;
		background: red;
		position: absolute;
		margin: -3px 0 0 -5px;
	}
	.pad10 {
		padding: 0 10px;
	}
	img.map {
		width: 100%;
		height: auto;
	}
	.disblock {
		display: block;
	}
	.popbox {
		background: #ebebeb url( ../images/game_images/actionpop_bg.png) repeat-x bottom;
		/*padding: 10px;*/
	}
	.popbox_white {
		background: #ebebeb;
		padding: 10px;
	}
	.action_heading {
		background: url(../images/game_images/action_bgpop.jpg) repeat-x;
		color: #fff;
		padding: 10px;
		border-radius: 4px 4px 0 0;
		height: 47px;
	}
	.boxdeco {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f8f8f8+47,f8f8f8+100&1+0,0+100 */
		background: url( ../images/game_images/box_bg_trans.png) repeat-x top;
		border-right: 12px solid #ebebeb;
	}
	.boxdeco_white {
		background: #fff;
		border-right: 12px solid #ebebeb;
		color: #000000!important;
	}
	.boxdeco_white * {
		color: #000000;
	}
	.boxheading {
		height: 36px;
		font-weight: 300;
		color: #fff;
		font-size: 14px;
		padding-left: 0;
		background: url(../images/game_images/small_box_head.png) repeat-x;
		border-right: 12px solid #ebebeb;
		padding-right: 10px;
		padding-top: 8px;
	}
	.boxheading_gray {
		height: 36px;
		font-weight: 300;
		color: #fff;
		font-size: 14px;
		padding-left: 0px;
		background: url(../images/game_images/small_box_head_gray.png) repeat-x;
		border-right: 12px solid #ebebeb;
		padding-right: 10px;
	}
	.btn_new {
	}
	.boxheading_b_edu {
		height: 36px;
		font-weight: 300;
		color: #fff;
		font-size: 14px;
		padding-left: 0px;
		background: url(../images/game_images/small_box_head.png) repeat-x;
		padding-right: 10px;
		padding-top: 8px;
	}
	.boxheading_edu {
		height: 32px;
		font-weight: 300;
		color: #fff;
		font-size: 12px;
		padding-left: 0px;
		background: url(../images/game_images/small_box_head_gray.png);
		padding-right: 10px;
	}
	.colorb6b6b6 {color:#b6b6b6;
	}

	.edulist {
		margin: 15px 4% 0 0;
		padding: 0 0 0 15px;
		float: left;
	}
	.edulist li {
		padding: 0 0 10px;
		font-size: 14px;
	}
	.leilist {
		margin: 15px 4% 0 0;
		padding: 0 0 0 15px;
		float: left;
		width: 100%;
	}
	.leilist li {
		padding: 0 0 15px 0;
		font-size: 14px;
	}
	.age_font {
		font-size: 28px;
		text-align: center;
		border-bottom: 1px solid #ccc;
		padding-bottom: 2px;
	}
	.event_text {
		font-size: 18px;
		font-weight: 100;
		padding: 0 5px;
		display: block;
	}
	.sdg_icon {
		float: right;
		text-align: right;
		padding: 10px 8px 0 0;
	}
	.factoid_area {
		background: rgba(255,255,255, 0.1);
		color: #fff;
		padding: 7px 10px;
		border-radius: 8px;
	}
	.transborder {
		border-right: 20px solid rgba(235, 235, 235, .9);
		background: url( ../images/game_images/box_bg_trans.png) repeat-x top;
		border-radius: 15px;
	}
	.bbot {
		border-bottom: 1px solid #959595;
		width: 100%
	}
	.inmod {
		background: #fff;
		color: #000;
		padding: 10px;
		border: 1px solid #ccc;
	}
	.scrollbox {
		width: 80%;
		height: 250px;
		overflow-x: scroll;
	}
	.scrollbox_fin {
		width: 100%;
		height: 250px;
		overflow-x: scroll;
	}
	.widthbig {
		width: 10000px;
	}
	.jobtitl {
		width: 220px;
		border-right: 12px solid rgba(235, 235, 235, .9);
		background: url(../images/game_images/small_box_head_gray.png) repeat-x;
		height: 32px;
	}
	.jobtitl_big {
		border-right: 12px solid rgba(235, 235, 235, .9);
	}
	.jobdisc {
		background: url( ../images/game_images/box_bg_trans.png) repeat-x top;
		padding: 10px;
		font-size: 12px;
		color: #000;
		height: 200px;
		overflow-y: scroll;
	}
	.exp {
		background: url( ../images/game_images/actionpop_bg.png) repeat-x bottom, url(../images/game_images/box_bg_trans.png)repeat-x top;
		padding: 10px;
		font-size: 14px;
		color: #000;
	}
	.popboxheader {
		font-size: 22px;
		font-weight: 300;
	}
	.active_job {
		background: #ffffff;
		padding: 10px;
		font-size: 12px;
		color: #2a568a;
		height: 200px;
		overflow-y: scroll;
		width: 210px;
		float: left;
	}
	.job_btn_holder {
		width: 135px;
		padding: 10px;
		background: #fff;
		float: left;
		height: 200px;
		text-align: center;
	}
	.orangeborbottom {
		border-bottom: 3px solid #ff8528 !important;
	}
	.orangebortop {
		border-top: 3px solid #ff8528 !important;
	}
	.pinkborbottom {
		border-bottom: 3px solid #e597f0 !important;
	}
	.pinkbortop {
		border-top: 3px solid #e597f0 !important;
	}
	.col_4545 {
		color: #454545;
	}
	.bluebortop {
		border-top: 3px solid #3fe9ff !important;
	}
	.blueborbottom {
		border-bottom: 3px solid #3fe9ff !important;
	}
	.nav > li > a {
		color: #fff;
		font-size: 11px;
	}
	.country_sidebar {
		font-size: 21px;
		border-bottom: 1px solid #ccc;
		line-height: 24px;
		color: #3d3d3d;
	}
	.countryname {
		font-size: 18px;
		line-height: 24px;
		color: #3d3d3d;
	}
	.family_head {
		font-size: 18px;
		border-bottom: 1px solid #ccc;
		line-height: 24px;
		color: #3d3d3d;
	}
	.btn-info {
		color: #3d3d3d;
		background: #ececec;
		border: 1px solid #6f6f6f;
		border-radius: 0;
		font-size: 11px;
		text-transform: uppercase;
	}
	.political_txt {
		margin-right: 10px;
		padding: 5px;
		margin-top: 10px;
		color: #464646
	}
	.border_v {
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
	}
	.border_b {
		border-bottom: 1px solid #ccc;
	}
	.border_r {
		border-right: 1px solid #ccc;
	}
	.right_border {
		border-right: 1px solid #5A5A5A;
	}
	.h70 {
		height: 70px;
		overflow-y: scroll;
	}
	.datalens_holder {
		height: 70px;
		overflow-y: auto;
		overflow-x: hidden;
	}
	.express {
		border-bottom: 1px solid #ccc;
		border-top: 1px solid #fff;
		border-left: 1px solid #fff;
		border-right: 1px solid #fff;
		width: 100%;
		font-family: 'Kalam', cursive;
		font-size: 16px;
	}
	.country_box {
		max-height: 84%;
		overflow-y: auto;
		padding: 10px;
		margin-bottom: 10px;
		color: #fff;
	}
	.con_head {
		top: 0;
		padding: 10px 0 0 0;
		background: #FFFFFF;
		width: 92%;
	}
	.grd {
		padding: 10px 0 0 10px;
		width: 90%;
		background: rgba(255,255,255,1);
		background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 37%, rgba(255,255,255,0.6) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(37%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,0.6)));
		background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 37%, rgba(255,255,255,0.6) 100%);
		background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 37%, rgba(255,255,255,0.6) 100%);
		background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 37%, rgba(255,255,255,0.6) 100%);
		background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 37%, rgba(255,255,255,0.6) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
	}
	.lstxt {
		max-height: 90%;
		overflow-y: scroll;
		padding: 10px;
		margin-bottom: 10px;
		color: #1E1E1E;
	}
	/*.card {
	  background: #fff;
	  color:#2F2F2F;
	  border-radius: 2px;
	  display: inline-block;
	  height: 215px;
	  margin: 0.7rem;
	  position: relative;
	  padding:7px;
	  width: 215px;
	  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	  float:left;
	  overflow-y:scroll;
	}*/
.card-header-date {/* float: right; *//* margin: 23px 23px 0 0; *//* border-radius: 65%; *//* font-weight: bold; */	/* padding: 9px 11px; */	/*line-height: 15px; */	width: 45px;	height: 45px;	border-radius: 50%;	line-height: 16px;	padding: 5px 0;	position: absolute;	right: 5px;	top: 5px;}
	#family .card{border:none;}
	.card {
		cursor: default;
		width: 200px;
		float: left;
		margin-right: 15px;
		margin-bottom: 20px;
		border-radius: 8px!important;
	}
	.card-header_ma {
		width: 100%;
		height: 224px;
		background: url(../images/game_images/family_man.jpg) no-repeat;
		background-size: 300px 260px;
		border-radius: 1px 1px 0 0;
		-webkit-transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
		-ms-transition: all .3s ease-in-out;
		-o-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;
	}
	.card-header_fe {
		width: 100%;
		height: 223px;
		background: url(../images/game_images/family_woman.jpg) no-repeat;
		background-size: 300px 260px;
		border-radius: 1px 1px 0 0;
		-webkit-transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
		-ms-transition: all .3s ease-in-out;
		-o-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;
	}
	.card-header_fe {
		background-size: 100% auto;
		background-position: left top;
	}
	.card-header_ma {
		background-size: 100% auto;
		background-position: left top;
	}
	/*.card:hover .card-header {
		background-size: 300px 260px;
		background-position: -0px -16px;
	}*/
	.card-header-mask {
		/*height: 100%;*/
		-webkit-transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
		-ms-transition: all .3s ease-in-out;
		-o-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;
	}
	.card:hover .card-header-mask {
		background-color: rgba(0, 0, 0, .6);
	}
	.card-header-date, .card-body-header-category {
		text-transform: uppercase;
		background-color: #567caa;
		color: #FFF;
		font-weight: bold;
		text-align: center;
	}
	.card-body-header-category {
		position: absolute;
		font-size: 13px;
		top: -31px;
		left: 0;
		padding: 8px 14px;
		line-height: 15px;
	}
	/*
	.card-header-date {
		float: right;
		margin: 23px 23px 0 0;
		border-radius: 65%;
		font-weight: bold;
		padding: 9px 11px;
		line-height: 15px;
	}*/
	.card-header-date-day {
		font-size: 14px;
	}
	.card-header-date-month {
		font-size: 11px;
	}
	.card-body {
		background-color: #FFF;
		border-radius: 0 0 1px 1px;
		padding: 0 26px 25px 25px;
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
		margin-top: -15px;
		height: 105px;
		overflow-y: scroll;
	}
	#family .card-body{margin-top:-32px;}
	.card-body-header {
		position: absolute;
		/*left: 9;*/
		margin-left: -25px;
		padding: 0px 6px 0px 19px;
		background-color: #FFF;
		-webkit-transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
		-ms-transition: all .3s ease-in-out;
		-o-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;
		width: 200px;
	}
	.card:hover .card-body-header {
		margin-top: -104px;
	}
	#family .card:hover .card-body-header{margin-top: -99px;}
	h1 {
		color: #23282D;
		letter-spacing: -1px;
		font-size: 18px;
	}
	.card-body-header-sentence {
		color: #EF5A31;
		margin-top: 14px;
		font-size: 16px;
	}
	.card-body-header-sentence span {
		font-style: italic;
	}
	.card-body-description {
		opacity: 0;
		color: #757B82;
		line-height: 20px;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-ms-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
	}
	.card:hover .card-body-description {
		opacity: 1;
		-webkit-transition: all .5s ease-in-out;
		-moz-transition: all .5s ease-in-out;
		-ms-transition: all .5s ease-in-out;
		-o-transition: all .5s ease-in-out;
		transition: all .5s ease-in-out;
	}
	.card-body-footer {
		position: relative;
		z-index: 10;
		margin-top: 14px;
		font-size: 14px;
		color: #9FA5A8;
	}
	.icon {
		display: inline-block;
		vertical-align: middle;
		/* margin-right: 6px; */
	}
	.icon-time {
		margin-top: -3px;
		width: 10px;
		height: 17px;
		background: url(../images/game_images/icon-time.png) no-repeat;
	}
	.icon-comment {
		margin-top: -2px;
		margin-left: 12px;
		width: 14px;
		height: 14px;
		background: url(../images/game_images/icon-comment.png) no-repeat;
	}
	.jobrow {
		border-bottom: 1px solid #3d6493;
		padding: 5px 0;
	}
	.jobrow:hover {
		background: #2f5b90;
	}
	.dropdown-menu li a {
		color: #1F1F1F;
	}
	/*Switch */

	.lbl {
		position: relative;
		display: block;
		height: 15px;
		width: 36px;
		background: #57caff;
		border-radius: 100px;
		cursor: pointer;
		transition: all 0.3s ease;
	}
	.lbl:after {
		position: absolute;
		left: -2px;
		top: -1px;
		display: block;
		width: 15px;
		height: 16px;
		border-radius: 100px;
		background : #2c8cb9;
		box-shadow: 0px 3px 3px rgba(0,0,0,0.05);
		content: '';
		transition: all 0.3s ease;
		border: 2px solid #fff;
	}
	.lbl:active:after {
		transform: scale(1.15, 0.85);
	}
	.cbx:checked ~ label {
		background: #6fbeb5;
	}
	.cbx:checked ~ label:after {
		left: 24px;
		background: #179588;
	}
	.cbx:disabled ~ label {
		background: #d5d5d5;
		pointer-events: none;
	}
	.cbx:disabled ~ label:after {
		background: #bcbdbc;
	}

	/* @media only screen and (max-width: 1280px) and (max-width: 1280px) */

	@media only screen and (max-width: 1024px) {
	.country_box {
		max-height: 83%;
		overflow-y: scroll;
		padding: 10px;
		margin-bottom: 10px;
	}
	.event_text {
		font-size: 18px;
		font-weight: 100;
		padding: 0 5px;
		display: block;
		overflow-y: scroll;
		height: 61px;
	}
	.bottom_action {
		-webkit-transition-duration: 0.2s;
		transition-duration: 0.2s;
		width: 95.5%;
	}
	.iam {
		font-size: 16px;
		-webkit-transition-duration: 0.2s;
		transition-duration: 0.2s;
	}
	.nav-tabs > li {
		float: none;
		width: 101%;
	}
	.pal {
		padding-left: 10px;
		padding-bottom: 10px;
		padding-right: 10px;
		padding-top: 10px;
	}
	.logo {
		color: #979797;
		font-size: 30px;
		line-height: 30px;
		text-align: right;
		-webkit-transition-duration: 0.2s;
		transition-duration: 0.2s;
		font-weight: 300;
	}
	.col-md-9_1024 {
		width: 82%;
		text-align: right;
		line-height: 25px;
		float: right;
	}
	.col-md-8_1024 {
		width: 83%;
	}
	.indication ul {
		display: table;
		/* margin-left: -20px; */
	}
	.surround_data ul {
		display: table;
		margin-left: -20px;
	}
	.indication ul li span {
		font-size: 13px;
	}
	.container-fluid {
		width: 1024px;
	}
	/*.row{ width:770px;}*/
	.indication ul li {
		width: 8%;
	}
	.accoholder {
		height: calc(100% - 207px);
		position: absolute;
		color: #ccc;
		width: 100%;
	}
	.lstxt {
		max-height: 84%;
		overflow-y: scroll;
		padding: 10px;
		margin-bottom: 10px;
		color: #1E1E1E;
	}
	}

	/* @media only screen and (min-width: 1280px) */

	@media only screen and (min-width: 1280px) {
	.col-md-8_1024 {
		width: 83%;
	}
	.accoholder {
		height: calc(100% - 207px);
		position: absolute;
		color: #ccc;
		width: 100%;
	}
	.lstxt {
		max-height: 84%;
		overflow-y: scroll;
		padding: 10px;
		margin-bottom: 10px;
		color: #1E1E1E;
	}
	.event_text {
		font-size: 1.4rem;
		font-weight: 100;
		padding: 0 5px;
		display: block;
		height: 90px;
		overflow-y: scroll;
	}
	}

	/* @media only screen and (max-width: 1280px) and (max-width: 1280px) */

	@media only screen and (max-width: 1280px) and (max-width: 1280px) and (-webkit-min-device-pixel-ratio: 2) {
	.accoholder {
	/*height: calc(100% - 149px);*/}
	}
	.patbg {
		font-weight: bold;
		background: url(../images/bg.png)
	}
	.glow {
		background-image: url(../images/game_images/glowl.png), url(../images/glowr.png);
		background-position: 0.0%, 100%;
		background-repeat: no-repeat, no-repeat;
		padding: 15px;
	}
	.fontwe {
		font-weight: 300;
	}
	.event_colo_b {
		color: #5484b0;
		font-weight: 300
	}
	.exp_div {
		background: url(../images/game_images/exp_divider.png) no-repeat bottom left;
	}
	.centered {
		position: absolute;
		top: 47%;
		left: 48.2%;
		/* bring your own prefixes */
		transform: translate(-49%, -50%);
	}
	.exp_box {
		background: #fff;
		/*margin-top: 20px;*/
		color: #363636;
		border-radius: 4px;
	}
	.exp_txt {
		background: #e2e2e2;
		color: #353535;
		padding: 10px;
		border-bottom: 1px solid #ccc;
		-webkit-box-shadow: inset 0px 4px 15px -7px rgba(87,87,87,1);
		-moz-box-shadow: inset 0px 4px 15px -7px rgba(87,87,87,1);
		box-shadow: inset 0px 4px 15px -7px rgba(87,87,87,1);
	}
	.colorblack {
		color: black;
	}
	.border_popright {
		background-image: url(../images/game_images/div_popup.png);
		background-repeat: no-repeat;
		background-position: right;
	}
	.btn_sk {
		background: rgba(0,224,254,1);
		background: -moz-linear-gradient(top, rgba(0,224,254,1) 0%, rgba(0,224,254,1) 45%, rgba(0,186,211,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,224,254,1)), color-stop(45%, rgba(0,224,254,1)), color-stop(100%, rgba(0,186,211,1)));
		background: -webkit-linear-gradient(top, rgba(0,224,254,1) 0%, rgba(0,224,254,1) 45%, rgba(0,186,211,1) 100%);
		background: -o-linear-gradient(top, rgba(0,224,254,1) 0%, rgba(0,224,254,1) 45%, rgba(0,186,211,1) 100%);
		background: -ms-linear-gradient(top, rgba(0,224,254,1) 0%, rgba(0,224,254,1) 45%, rgba(0,186,211,1) 100%);
		background: linear-gradient(to bottom, rgba(0,224,254,1) 0%, rgba(0,224,254,1) 45%, rgba(0,186,211,1) 100%);
	 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e0fe', endColorstr='#00bad3', GradientType=0 );
	}
	.border_head {
		border-bottom: 1px dashed #ccc;
	}
	.total_holder {
		margin-top: 30px;
		padding-bottom: 10px;
		border-bottom: 1px dashed #6386b1;
		color: #000
	}
	.event_left_arrow, .event_right_arrow {
		line-height: 0;
		position: absolute;
		top: 50%;
		display: block;
		margin-top: -10px;
		padding: 0;
		cursor: pointer;
		outline: none;
	}
	.slick-prev {
		left: -40px;
	}
	.slick-next {
		right: -40px;
	}
	.age_btn {
		background: url(../images/game_images/btn_anim.png);
		background-repeat: no-repeat;
		background-position: 3px;
		width: 156px;
		height: 155px;
		padding: 105px 46px 0px 43px;
		margin: -90px -38px 0px 6px;
		display: block;
		animation: age_btn 0.5s steps(10) infinite;
	}
	.age_btn2 {
		background: url(../images/btn_anim2.png);
		background-repeat: no-repeat;
		background-position: 3px;
		width: 156px;
		height: 155px;
		padding: 105px 46px 0px 43px;
		margin: -90px -38px 0px 6px;
		display: block;
		animation: age_btn 0.5s steps(10) infinite;
	}
	 @keyframes age_btn {
	 0% {
	background-position: 3px;
	}
	 100% {
	background-position: -1547px;
	}
	}
	.agetxt {
		position: absolute;
		margin: -64px 0 0px 0;
		font-size: 20px;
		width: 81px;
		line-height: 15px;
		color: #143834;
	}
	a.age_btn span {
		color: #143834;
		font-size: 14px;
	}
	.small_age {
		display: block;
		background: rgba(0,0,0,0.6);
		border-radius: 50%;
		width: 28px;
		height: 28px;
		color: #fff!important;
		font-weight: bold;
		margin-left: 25px;
		padding: 3px;
		margin-top: -6px;
	}
	/* .flag {
		position: absolute;
		left: 50%;
		transform: translate(-49%, -50%);
		background: rgba(0,0,0,0.4);
		height: 43px;
		width: 336px;
		bottom: 113px;
		border-radius: 50px;
	} */
	.flg1 {
		padding: 12px 0 0 31px;
	}
	.flg2 {
		padding: 12px 30px 0 0;
	}
	.logo_img {
		width: 42px;
		height: 42px;
		background: url(../images/game_images/glob_logo.png);
		background-position: 0;
		animation: logo_anim 2s steps(20) infinite;
	}
	@keyframes logo_anim {
	 100% {
	background-position: -840px;
	}
	}
	.lin_he {
		line-height: 20px;
	}

	/* @media only screen and (min-width: 1280px) */

	@media all and (min-width: 1920px) and (max-width:2560px) {
	.bottom_action_group {
		margin: 0 auto;
		display: table;
		/*margin-left: -5%;*/
		margin-top: -20px;
	}
	}

/* new css added for bootstrap 4 updation */
strong{font-weight:600;}
.logo_loading {
    width: 80px;
    height: 80px;
    background: url(../images/glob_logo_80x80.png);
    background-position: 0;
	margin-right: auto;
    margin-left: auto;
    animation: logo_anim1 2s steps(20) infinite;
}
.centerDiv {
    margin-top: 20%;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
}
/* .cursorhidden {
    cursor: none;
    pointer-events: none;
} */
@keyframes logo_anim {
    100% {
        background-position: -840px;
    }
}

@keyframes logo_anim1 {
    100% {
        background-position: -1600px;
    }
}
.btn-sm, .btn-group-sm > .btn{font-size:12px;}
.custom-control-label{cursor:pointer;}
.btn-default{border-color:#ccc;}
.btn-default:hover{border-color:#adadad;}
.popbox .col-1, .popbox .col-2, .popbox .col-3, .popbox .col-4, .popbox .col-5, .popbox .col-6, .popbox .col-7, .popbox .col-8, .popbox .col-9, .popbox .col-10, .popbox .col-11, .popbox .col-12, .popbox .col, .popbox .col-auto, .popbox .col-sm-1, .popbox .col-sm-2, .popbox .col-sm-3, .popbox .col-sm-4, .popbox .col-sm-5, .popbox .col-sm-6, .popbox .col-sm-7, .popbox .col-sm-8, .popbox .col-sm-9, .popbox .col-sm-10, .popbox .col-sm-11, .popbox .col-sm-12, .popbox .col-sm, .popbox .col-sm-auto, .popbox .col-md-1, .popbox .col-md-2, .popbox .col-md-3, .popbox .col-md-4, .popbox .col-md-5, .popbox .col-md-6, .popbox .col-md-7, .popbox .col-md-8, .popbox .col-md-9, .popbox .col-md-10, .popbox .col-md-11, .popbox .col-md-12, .popbox .col-md, .popbox .col-md-auto, .popbox .col-lg-1, .popbox .col-lg-2, .popbox .col-lg-3, .popbox .col-lg-4, .popbox .col-lg-5, .popbox .col-lg-6, .popbox .col-lg-7, .popbox .col-lg-8, .popbox .col-lg-9, .popbox .col-lg-10, .popbox .col-lg-11, .popbox .col-lg-12, .popbox .col-lg, .popbox .col-lg-auto, .popbox .col-xl-1, .popbox .col-xl-2, .popbox .col-xl-3, .popbox .col-xl-4, .popbox .col-xl-5, .popbox .col-xl-6, .popbox .col-xl-7, .popbox .col-xl-8, .popbox .col-xl-9, .popbox .col-xl-10, .popbox .col-xl-11, .popbox .col-xl-12, .popbox .col-xl, .popbox .col-xl-auto {/*padding-left: 8px;padding-right: 8px;*/}
.popbox .card {width: 100%;margin:0 auto 15px auto;background-color:transparent;border:none;}
.popbox .card .card-header.boxheading.pts, .popbox .card .card-header.boxheading_gray.pts, .popbox .card .card-header.boxheading_b_edu.pts.pts, .widthbig .career-cards .card .card-header{padding: 8px 10px;border-right: none;background-size: 2px 100%;height:auto;}
.popbox .card:hover .card-header.boxheading.pts, .popbox .card:hover .card-header.boxheading_gray.pts, .popbox .card:hover .card-header.boxheading_b_edu.pts, .widthbig .career-cards .card:hover .card-header{background-size: 2px 100%;background-position: inherit;}
.popbox .card .card-header.boxheading.pts .mlm, .popbox .card .card-header.boxheading_gray.pts .mlm, .popbox .card .card-header.boxheading_b_edu.pts .mlm, .widthbig .career-cards .card .card-header .mlm{margin-left:0;}
.popbox .card .card-body.boxdeco_white, .popbox .card .card-body.boxdeco, .popbox .jobtitl_big .card .card-body, .widthbig .career-cards .card .card-body{margin-top: 0;height: auto;overflow: auto;border-right: none;padding:0px 15px 15px 15px;box-shadow:none;}
.popbox .card .card-body.boxdeco{background-color:#ebebeb;}
.popbox .card .card-body.boxdeco_white .progress, .popbox .card .card-body.boxdeco .progress{height: 4px;}
.popbox .card .card-body.boxdeco_white .text-center.mvl, .popbox .card .card-body.boxdeco .text-center.mvl{margin-bottom: 0;}
.custom-control-label .img-icn {width: 25px;height: 25px;display: inline-block;vertical-align: middle;text-align: center;margin-right: 5px;}
.jobtitl_big .active_job{width:calc(100% - 135px);}
.widthbig .career-cards {width: 220px;float: left;margin-right: 13px;height: 230px;}
.widthbig .career-cards .card .card-body{background: url(../images/game_images/box_bg_trans.png) repeat-x top;}
.scrollbox.col-md-8, .scrollbox_fin.col-md-10{overflow-y: hidden;}
.hidden{display:none;}
.card-header .mlm {margin-right: 5px;}
.indication ul li:last-child{background-image:none;}
.top-event-wrap{height:100px; background:#646464; margin-bottom:10px;}
.ageinternal.font12px {width: 100px;height: 100px;}
.ageinternal.font12pxnew {height: 93px;}
.ageinternal-text.pam {width: calc(100% - 100px);overflow-y: auto;float: left;height: 100px;font-size:20px;line-height:1.4}
.color4a4a4a a {color: #00bcd4;}
.dropdown-menu li a{font-size:14px;padding:3px 20px;white-space:nowrap;width:100%;float:left;}
.dropdown-menu li a:hover{color: #262626;text-decoration: none;background-color: #f5f5f5;}
.color4a4a4a .dropdown-menu{right:100%;left:inherit !important;border: 1px solid rgba(0, 0, 0, .15);  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);}
#family .card-body-header h1 {margin-top: 20px;}
#family .card-body-header p{margin-bottom:0;}
.income-comparison .progress{height:4px;background-color: #f5f5f5;box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);border-radius:4px;}
.design-character .custom-control-label::before {background-color: #ccc;
}
.summary-part .summary-wrapper .summary-title {
	background: url(../images/uti_bg.jpg) repeat-x;
	float: left;
	width: 100%;
	padding: 10px 15px;
	border-radius: 0.25rem;
	margin: 10px auto;
}
.summary-part .summary-wrapper h2 {
	font-size: 18px;
	text-transform: uppercase;
	margin: 0 auto;
}
.summary-part .summary-wrapper h2 img {
	display: inline-block;
	vertical-align: middle;
	height: 20px;
	width: auto;
	margin-right: 3px;
}
.summary-part .summary-wrapper h2 a {
	font-size: 11px;
	float: right;
	background: #00c0d7;
	color: #000;
	text-transform: capitalize;
	padding: 1px 7px;
	text-decoration:none;
	border-radius: 15px;
}
.comment-input textarea {
	height: 40px;
	background-color: #222222 !important;
	font-size: 14px;
	border: 1px solid #2f66a2 !important;
	box-shadow: none !important;
	color:#fff !important;
}
.comment-input input {
	float: right;
	margin-top: 5px;
	font-size: 12px;
	background: #00c0d7;
	border: none;
	color: #000;
	cursor:pointer;
}


.dead_btn {
    /* background: url(../assets/images/dead_btn.png); */
	background: url(../images/dead_btn.png);
    background-repeat: no-repeat;
	background-position: center;
    width: 250px;
    height: 250px;
	background-size: cover;
    padding: 100px 46px 0px 43px;

    display: block;
}

.game-summary .nav-tabs {border-bottom: 1px solid #00bcd4;}
.game-summary .nav-tabs > li {float: left;margin-bottom: -1px;}
.game-summary .nav-tabs > li > a {margin-right: 0;line-height: 1.42857143;border: 1px solid transparent;border-radius: 4px 4px 0 0;position: relative;display: block;padding: 10px 15px;font-size:12px;}
.game-summary .nav-tabs > li > a.active, .game-summary .nav-tabs > li > a.active:focus, .game-summary .nav-tabs > li > a.active:hover {	color: #00bcd4;cursor: default;background-color: #000;border: 1px solid #00bcd4;border-bottom-color: transparent;}
.game-summary .nav-tabs > li > a:hover {border-color: #00bcd4;text-decoration: none;background-color: #000;color:#00bcd4;border-bottom-color: transparent;}
.game-summary .tab-content > .active {display: block;color: #fff;padding:10px;}
.game-summary .organ-donate-cert {color: #00bcd4;padding:0;float: right;font-size: 12px;margin-top:-30px;margin-right:10px;}
.game-summary .organ-donate-cert:hover {color: #00bcd4;}
.game-summary .tab-content .title {border-bottom: 1px solid #4d4747;padding-bottom: 5px;margin-bottom: 5px;font-size: 12px;	font-weight: 600;}
.game-summary .tab-content ul {list-style-type: circle;padding-left: 15px;}
.game-summary .health-info .blocks {display: inline-block;vertical-align: top;margin-right: 15px;}
.game-summary .health-info textarea, .bug-report textarea {background-color: #222222 !important;font-size: 14px;border: 1px solid #2f66a2 !important;box-shadow: none !important;color: #fff !important;}
.text-block.game-summary {overflow: inherit;height: calc(100vh - 430px);}
.text-block.game-summary .tab-content {overflow: auto;height: 80%;}
.game-summary .save-overage, .bug-report .submit-issue, .write-letter .submit-letter{float: right;font-size: 12px;background: #00c0d7;border: none;color: #000;cursor: pointer;border-radius: 15px;}
.health-info {overflow: auto;width: 100%;white-space: nowrap;}
.text-block.write-letter {height: 230px;}

.tabs_wraper{max-height: 60vh; overflow-y: auto;}

.blue_cmn_btn_small{font-size: 12px;background: #00c0d7;border: none;color: #000;cursor: pointer;border-radius: 15px;}


