<div *ngIf="modalWindowShowHide.showCharity">
    <div class=" new_cmn_modal full_width gamescreen" id="pet" tabindex="-1" role="dialog"
        aria-labelledby="dashboard_careerLabel">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content h-auto" style="background: #000;">
                <div class="modal-header position-relative d-flex align-items-center justify-content-between">
                    <h5 class="modal-title text-white font-400 text-uppercase font_b8 d-flex align-items-center" id="">
                        <img class="imgSet" src="assets/images/charity.svg" alt="">
                        <span class="pl-3"> {{'gameLabel.Charity' |translate}}</span>
                    </h5>
                    <button type="button" class="close">
                        <span class="material-icons" (click)="OnCloseWindowPopup()">close</span>
                    </button>
                </div>
                <div class="modal-body p-0">
                    <div class="col-12 px-0 mx-auto">
                        <div class="col-md-12 exp_box pt-0 px-0">
                            <div class="col-md-12 exp_txt d-flex ftr  text-center">
                                <div class="row mx-auto">
                                    <div class="col-3" *ngFor="let c of charityObject, let i=index">
                                        <div class="box1 radio_img">
                                            <label class="w-100 px-2 py-3 text-center {{c.value}} ">
                                                <input type="checkbox"
                                                    [disabled]="homeService.allPerson[constantService.FAMILY_SELF].dead "
                                                    (click)="setSlectedOption(i)">
                                                        <figure><img src="{{c.img}}" alt="" class="ipadImage"></figure>
                                                        <p class="m-0 font-600 text-primary2 whiteline ">{{c.charityName}}</p>
                                                <p align="left" class="ipadFont">{{c.desc}}</p>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto mx-auto ml-auto px-0 ">
                                <div class="d-flex justify-content-center w-100 mb-5">
                                    <button type="button" class="btn btn-blue-grad py-1 px-4 ml-1 mt-2 mb-2"
                                        data-dismiss="modal" aria-label="Close"
                                        (click)="OnCloseWindowPopup()">{{'gameLabel.Ok'
                                        |
                                        translate}}</button>
                                    <button type="button" class="btn btn-blue-grad py-1 px-4 ml-1 mt-2 mb-2" [disabled]="certificateButtonFlag || notMakingCharityFlag"
                                        (click)="viewCertificate()">{{'gameLabel.View_certificate' |translate}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="md-overlay black_modal gamescreen" *ngIf="showDecisionFlag">
        <div class="modal-dialog modal-dialog-centered w700" role="document">
            <div class="modal-content h-auto">
                <div class="modal-body p-0">
                    <h3 class="text-center text-primary2" style="margin-bottom: 15px;">{{title}}
                    </h3>
                    <h4 class="text-center text-white" style="margin-bottom: 15px;">{{'gameLabel.Current household cash'
                        |translate}}
                        {{commonService.checkNumberFormat(homeService.allPerson[constantService.FAMILY_SELF].expense.householdCash)}}
                        {{homeService.allPerson[constantService.FAMILY_SELF].country.currency_code}}
                        ({{commonService.checkNumberFormat(((homeService.allPerson[constantService.FAMILY_SELF].expense.householdCash/homeService.allPerson[constantService.FAMILY_SELF].country.ExchangeRate)
                        *homeService.allPerson[constantService.FAMILY_SELF].register_country.ExchangeRate))}}
                        {{homeService.allPerson[constantService.FAMILY_SELF].register_country.currency_code}})
                    </h4>
                    <div class="col-md-8 mx-auto">
                        <div class="slidecontainer">
                            <div class="slidecontainer_cnt">
                                <div class="row justify-content-between">
                                    <div class="col-auto "> 0
                                        {{homeService.allPerson[constantService.FAMILY_SELF].country.currency_code}}
                                        ({{commonService.checkNumberFormat(((min/homeService.allPerson[constantService.FAMILY_SELF].country.ExchangeRate)
                                        *homeService.allPerson[constantService.FAMILY_SELF].register_country.ExchangeRate))}}
                                        {{homeService.allPerson[constantService.FAMILY_SELF].register_country.currency_code}})
                                    </div>
                                    <div class="col-auto ">
                                        {{commonService.checkNumberFormat(max)}}
                                        {{homeService.allPerson[constantService.FAMILY_SELF].country.currency_code}}
                                       ({{commonService.checkNumberFormat(((max/homeService.allPerson[constantService.FAMILY_SELF].country.ExchangeRate)
                                        *homeService.allPerson[constantService.FAMILY_SELF].register_country.ExchangeRate))}}
                                        {{homeService.allPerson[constantService.FAMILY_SELF].register_country.currency_code}})
                                    </div>
                                </div>
                            </div>
                            <input type="range" [(ngModel)]="selectedCharityAmount" min="0" max="{{max}}"
                                class="form-control pxll-2 col" name="charity" value="0">
                        </div>
                    </div>
                    <div class="col-md-12  text-center">
                        <p class="">
                            {{'gameLabel.Selected charity amount' |translate}}
                            {{commonService.checkNumberFormat(selectedCharityAmount)}}
                            {{homeService.allPerson[constantService.FAMILY_SELF].country.currency_code}}
                            ({{commonService.checkNumberFormat(((selectedCharityAmount/homeService.allPerson[constantService.FAMILY_SELF].country.ExchangeRate)
                            *
                            homeService.allPerson[constantService.FAMILY_SELF].register_country.ExchangeRate))}}
                            {{homeService.allPerson[constantService.FAMILY_SELF].register_country.currency_code }})
                        </p>
                    </div>
                    <div class="d-flex justify-content-center w-100">
                        <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1 mb-2 mt-2"
                            [disabled]="notMakingCharityFlag || selectedCharityAmount<=0" (click)="save()">{{'gameLabel.Save'
                            | translate}}</button>
                        <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1 mb-2 mt-2"
                            (click)="cancel()">{{'gameLabel.Cancel'
                            | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="md-overlay black_modal gamescreen" id="dashboard_residence" *ngIf="successMsgFlag">
        <div class="modal-dialog modal-dialog-centered w700" role="document">
            <div class="modal-content h-auto">
                <div class="modal-body p-0">
                    <p class="text-center">{{messageText}}</p>
                    <div class="d-flex justify-content-center w-100">
                        <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1"
                            (click)="successMsgWindowClose()">{{'gameLabel.Ok' |translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="md-overlay black_modal gamescreen" *ngIf="donationCertificateFlag">
        <div class="modal-dialog modal-dialog-centered w800" role="document">
            <div class="modal-content h-auto cert_bg">
                <div class="modal-header position-relative d-flex align-items-center justify-content-between">
                    <button type="button" class="close">
                        <span class="material-icons" (click)="closeCertificate()">close</span>
                    </button>
                </div>
                <div class="modal-body p-0 ">
                    <h1 class="text-center font">{{'gameLabel.CHARITY_DONATION_CERTICATE' |translate}}</h1>
                    <div class="line"></div>
                    <h4 class="text-center text-dark">{{'gameLabel.This_is_to_certify_that' |translate}}</h4>
                    <h2 class="text-center text-dark">{{homeService.allPerson[constantService.FAMILY_SELF].full_name}}
                    </h2>
                    <p class="text-center text-dark">{{'gameLabel.Has_succesfully_donated' |translate}}</p>
                    <h3 class="text-center text-dark" align="left" *ngIf="(homeService.allPerson[constantService.FAMILY_SELF].expense.charity).hasOwnProperty('totalFood')">{{'gameLabel.Total_charity' |translate}} ({{'gameLabel.charity_type1' |translate}}) : {{commonService.checkNumberFormat(homeService.allPerson[constantService.FAMILY_SELF].expense.charity.totalFood)}}
                            {{homeService.allPerson[constantService.FAMILY_SELF].country.currency_code}}
                            ({{commonService.checkNumberFormat((homeService.allPerson[constantService.FAMILY_SELF].expense.charity.totalFood/homeService.allPerson[constantService.FAMILY_SELF].country.ExchangeRate)*
                            homeService.allPerson[constantService.FAMILY_SELF].register_country.ExchangeRate)}}
                            {{homeService.allPerson[constantService.FAMILY_SELF].register_country.currency_code}} )
                    </h3>
                    <h3 class="text-center text-dark" align="left" *ngIf="(homeService.allPerson[constantService.FAMILY_SELF].expense.charity).hasOwnProperty('totalShelter')">{{'gameLabel.Total_charity' |translate}} ({{'gameLabel.charity_type2' |translate}}) : {{commonService.checkNumberFormat(homeService.allPerson[constantService.FAMILY_SELF].expense.charity.totalShelter)}}
                        {{homeService.allPerson[constantService.FAMILY_SELF].country.currency_code}}
                        ({{commonService.checkNumberFormat((homeService.allPerson[constantService.FAMILY_SELF].expense.charity.totalShelter/homeService.allPerson[constantService.FAMILY_SELF].country.ExchangeRate)*
                        homeService.allPerson[constantService.FAMILY_SELF].register_country.ExchangeRate)}}
                        {{homeService.allPerson[constantService.FAMILY_SELF].register_country.currency_code}})</h3>

                    <h3 class="text-center text-dark"align="left"  *ngIf="(homeService.allPerson[constantService.FAMILY_SELF].expense.charity).hasOwnProperty('totalEnvironment')">{{'gameLabel.Total_charity' |translate}} ({{'gameLabel.charity_type3' |translate}}) : {{commonService.checkNumberFormat(homeService.allPerson[constantService.FAMILY_SELF].expense.charity.totalEnvironment)}}
                        {{homeService.allPerson[constantService.FAMILY_SELF].country.currency_code}}
                        ({{commonService.checkNumberFormat((homeService.allPerson[constantService.FAMILY_SELF].expense.charity.totalEnvironment/homeService.allPerson[constantService.FAMILY_SELF].country.ExchangeRate)*
                        homeService.allPerson[constantService.FAMILY_SELF].register_country.ExchangeRate)}}
                        {{homeService.allPerson[constantService.FAMILY_SELF].register_country.currency_code}})</h3>

                    <h3 class="text-center text-dark"  align="left" *ngIf="(homeService.allPerson[constantService.FAMILY_SELF].expense.charity).hasOwnProperty('totalOrphanage')">{{'gameLabel.Total_charity' |translate}} ({{'gameLabel.charity_type4' |translate}}) : {{commonService.checkNumberFormat(homeService.allPerson[constantService.FAMILY_SELF].expense.charity.totalOrphanage)}}
                        {{homeService.allPerson[constantService.FAMILY_SELF].country.currency_code}}
                        ({{commonService.checkNumberFormat(((homeService.allPerson[constantService.FAMILY_SELF].expense.charity.totalOrphanage/homeService.allPerson[constantService.FAMILY_SELF].country.ExchangeRate)*
                        homeService.allPerson[constantService.FAMILY_SELF].register_country.ExchangeRate))}}
                        {{homeService.allPerson[constantService.FAMILY_SELF].register_country.currency_code}})</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<app-wait-screen class="md-overlay_wait_screen black_modal gamescreen" *ngIf="modalWindowShowHide.showWaitScreen">
</app-wait-screen>