
.box1 label {
  background: #ffffff;
  color: #333;
  border-radius: 10px;
  /* padding: 10px;  */
   /* display: flex; */
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  /* height: fixed; */
  height: 100% !important;
}
.box1 label.active {
  background: #0272d8 !important;
  color: #fff;
  border-radius: 10px;
}
.cert_bg {
  background: url("../../../assets/images/organs/chariity_certificate.png") no-repeat;
  background-position: center;
  background-size: cover;
}

.w800{
  max-width: 860px;
}

.line{
  border: solid 1px black;
}

.font{
  font-size: 30px;
}

.whiteline{
  border-bottom:1px solid  #595b5d!important;
  }


  
  @media (max-width: 1024px) {
    .ipadImage{
      height: 20px;
      width:20px;
    }
  
    .ipadFont{
      font-size: x-small;
    }
    
}