<div class="main_wraper d-flex flex-column justify-content-between glob_bg">
    <header>
        <div class="logo mx-auto trans" data-aos="" data-aos-delay="100"><img img src="assets/images/RL_logo.svg"
                alt="">
        </div>
    </header>
    <a title="{{'gameLabel.Go_to_dashbord' | translate }}" data-toggle="tooltip" data-placement="left" class="tlp"
        style="cursor: pointer;" (click)="clickToExitButton()">
        <span class="material-icons " style="cursor: pointer;float: right;">login</span></a>
    <section class="home_dashboard v_center">
        <div class="container-fluid">
            <div class=" ">
                <div class="md-col-12">
                    <h2 class="text-center mt-0">{{'gameLabel.Welcome_to_RealLives_data_lerning_tool' |translate}}</h2>
                    <h3 class="text-center mb-3 mt-3"></h3>
                    <div class="d-flex justify-content-center mt-3">
                        <button type="button"
                            class="btn btn-blue-grad py-1 px-4 mr-3 col-2 assignment-main-div fontSize"
                            (click)="clickdataLearningButtonMap()">{{'gameLabel.Select_country_from_the_map'
                            |translate}}</button>
                        <button type="button"
                            class="btn btn-blue-grad py-1 px-4 mr-3 col-2 assignment-main-div fontSize"
                            (click)="clickdataLearningButtonList()">{{'gameLabel.Select_country_from_list'
                            |translate}}</button>
                        <!-- <button type="button" class="btn btn-blue-grad py-1 px-4 mr-3" (click)="clickSdgButton()">Sdg
                            learning tool</button> -->
                    </div>
                </div>

            </div>
        </div>

    </section>
</div>