<div *ngIf="modalWindowShowHide.showCountryCapsule">
    <div class="tab-pane fade h-100 active show" role="tabpanel">
        <div class="h-100 pl-3">
            <div *ngIf="checkEmgrationFlag">
                <select [(ngModel)]="currentCountry" (change)="selected(currentCountry)">
                    <option *ngFor="let c of allCountries ,let i=index" [ngValue]="c"><span>{{c.country}} <img
                                src="assets/images/flags-big/{{(c.Code).toLowerCase()}}.png">
                        </span></option>
                </select>
            </div>

            <div class="country_info">
                <div class="hdr d-flex justify-content-between">
                    <div class="d-flex col-auto text-white mt-1">
                        <img src="assets/images/flags-big/{{(currentCountry.Code).toLowerCase()}}.png" alt=""
                            style="border: 1px solid #3a3737;                        ">
                        <p class="line-height-1 mb-0"><span class="font-600">{{currentCountry.country}}</span>
                            <br><span>{{currentCountry.Continents}}</span>
                        </p>
                    </div>
                </div>

                <div class="country_info_map">
                    <a class="text-primary small" style="cursor: pointer;"
                        (click)="clickReadMore()">{{'gameLabel.Know_more' | translate}}</a>
                    <p class="m-0 text-primary2 py-1 text-center small"> {{'gameLabel.Country_View' | translate}}</p>
                    <agm-map class="h-100 w-100" [latitude]="latitude" [longitude]="longitude" style="height: 300"
                        [zoom]="mapZoom">
                        <agm-marker class="h-100 w-100" [latitude]="latitude" [longitude]="longitude">
                            <agm-info-window><strong>{{cityName}}</strong></agm-info-window>
                        </agm-marker>
                    </agm-map>
                </div>
            </div>
            <div class="country_details">
                <div id="tableContainer" class="table-responsive tableContainer h-100">
                    <table class="table scrollTable" width="100%" cellspacing="0" cellpadding="0" border="0">
                        <thead class="fixedHeader">
                            <tr>
                                <td>&nbsp;</td>
                                <td class="countryflag">
                                    <div class="d-flex flex-column text-right justify-content-end">
                                        <img alt="China Flag"
                                            title={{homeService.allPerson[constantService.FAMILY_SELF].country.country}}
                                            data-toggle="tooltip" data-placement="top" style="cursor: pointer"
                                            src="./assets/images/flags-big/{{homeService.allPerson[constantService.FAMILY_SELF].country.Code | lowercase}}.png"
                                            class="mx-auto">
                                        <!-- <span class="text-center"> {{'gameLabel.(Country_you_are_born_in)' | translate:{ country:  homeService.allPerson[constantService.FAMILY_SELF].country.country } }}</span> -->
                                        <span class="text-center"> {{'gameLabel.Country_you_are_born_in' | translate
                                            }}</span>

                                    </div>
                                </td>
                                <td class="countryflag">
                                    <div class="d-flex flex-column text-right justify-content-end">
                                        <img alt="India Flag"
                                            title={{homeService.allPerson[constantService.FAMILY_SELF].register_country.country}}
                                            data-toggle="tooltip" data-placement="top" style="cursor: pointer"
                                            src="./assets/images/flags-big/{{homeService.allPerson[constantService.FAMILY_SELF].register_country.Code | lowercase}}.png"
                                            class="mx-auto">
                                        <span class="text-center">{{'gameLabel.Country_you_are_from' | translate
                                            }}</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="customdivider" colspan="3"></td>
                            </tr>
                        </thead>

                        <tbody class="scrollContent">
                            <tr class="firstrow">
                                <td class=""> {{'gameLabel.Capital' | translate}}</td>
                                <td>{{homeService.allPerson[constantService.FAMILY_SELF].country.Capital}}</td>
                                <td>{{homeService.allPerson[constantService.FAMILY_SELF].register_country.Capital}}</td>
                            </tr>
                            <!-- <tr class="second_row">
                                <td class="a"> {{'gameLabel.Date' | translate}} &amp; {{'gameLabel.Time' | translate}} </td>
                                <td class="b">
                                    <div style="color: #06d3f0;">{{selfTimer}}</div>
                                </td>
                                <td class="c">
                                    <div style="color: #06d3f0;">{{registerTimer}}</div>
                                </td>
                            </tr> -->
                            <tr>
                                <td class="">{{'gameLabel.Temperature' | translate}}</td>
                                <td class="">
                                    <div style="color: #06d3f0;">{{temprature}}<sup>°</sup>C</div>
                                </td>
                                <td class="">
                                    <div style="color: #06d3f0;">{{registertemprature}}<sup>°</sup>C</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="customdivider" colspan="3"></td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                            <tr>
                                                <td class="bg-darkblue hdng">{{'gameLabel.Prevalent_Parameters' |
                                                    translate}}</td>
                                                <td style="background: #081c31;"> <img alt="China Flag"
                                                        title={{homeService.allPerson[constantService.FAMILY_SELF].country.country}}
                                                        data-toggle="tooltip" data-placement="top"
                                                        style="cursor: pointer; width:40px;"
                                                        src="./assets/images/flags-big/{{homeService.allPerson[constantService.FAMILY_SELF].country.Code | lowercase}}.png"
                                                        class="mx-auto"></td>
                                                <td style="background: #081c31;"> <img alt="India Flag"
                                                        title={{homeService.allPerson[constantService.FAMILY_SELF].register_country.country}}
                                                        data-toggle="tooltip" data-placement="top"
                                                        style="cursor: pointer; width:40px;"
                                                        src="./assets/images/flags-big/{{homeService.allPerson[constantService.FAMILY_SELF].register_country.Code | lowercase}}.png"
                                                        class="mx-auto"></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span>{{'gameLabel.Population' | translate}}</span>
                                                </td>
                                                <td>{{commonService.checkNumberFormat(homeService.allPerson[constantService.FAMILY_SELF].country.Population)}}
                                                </td>
                                                <td>{{commonService.checkNumberFormat(homeService.allPerson[constantService.FAMILY_SELF].register_country.Population)}}
                                                </td>
                                            </tr>
                                            <tr>

                                                <td class=""><span style="cursor: pointer;" class="tlp"
                                                        data-toggle="tooltip" data-placement="top"
                                                        title="{'gameLabel.sexRatioTlp' | translate}}">{{'gameLabel.Sex_Ratio'
                                                        | translate}}</span></td>
                                                <td><span
                                                        [class]="checkCssForSpecific(homeService.allPerson[constantService.FAMILY_SELF].country.SexRatio,homeService.allPerson[constantService.FAMILY_SELF].register_country.SexRatio)">{{homeService.allPerson[constantService.FAMILY_SELF].country.SexRatio}}</span>
                                                </td>
                                                <td><span
                                                        [class]="checkCssForSpecific(homeService.allPerson[constantService.FAMILY_SELF].register_country.SexRatio,homeService.allPerson[constantService.FAMILY_SELF].country.SexRatio)">{{homeService.allPerson[constantService.FAMILY_SELF].register_country.SexRatio}}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class=""><span class="tlp" data-toggle="tooltip"
                                                        data-placement="top"
                                                        title="{{'gameLabel.birthTlp' | translate}}"
                                                        style="cursor: pointer;">{{'gameLabel.Birth_Rate' |
                                                        translate}}</span></td>
                                                <td><span
                                                        [class]="checkCss1(homeService.allPerson[constantService.FAMILY_SELF].country.BirthRate,homeService.allPerson[constantService.FAMILY_SELF].register_country.BirthRate)">{{homeService.allPerson[constantService.FAMILY_SELF].country.BirthRate}}</span>
                                                </td>
                                                <td><span
                                                        [class]="checkCss1(homeService.allPerson[constantService.FAMILY_SELF].register_country.BirthRate,homeService.allPerson[constantService.FAMILY_SELF].country.BirthRate)">{{homeService.allPerson[constantService.FAMILY_SELF].register_country.BirthRate}}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class=""><span class="tlp" data-toggle="tooltip"
                                                        data-placement="top"
                                                        title="{{'gameLabel.deathtlp' | translate}}"
                                                        style="cursor: pointer;">{{'gameLabel.Death_Rate' |
                                                        translate}}</span></td>
                                                <td><span
                                                        [class]="checkCssForSpecific1(homeService.allPerson[constantService.FAMILY_SELF].country.DeathRate,homeService.allPerson[constantService.FAMILY_SELF].register_country.DeathRate)">{{homeService.allPerson[constantService.FAMILY_SELF].country.DeathRate}}</span>
                                                </td>
                                                <td><span
                                                        [class]="checkCssForSpecific1(homeService.allPerson[constantService.FAMILY_SELF].register_country.DeathRate,homeService.allPerson[constantService.FAMILY_SELF].country.DeathRate)">{{homeService.allPerson[constantService.FAMILY_SELF].register_country.DeathRate}}</span>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td class=""><span class="tlp" data-toggle="tooltip"
                                                        data-placement="top"
                                                        title="{{'gameLabel.infantMortality' | translate}}"
                                                        style="cursor: pointer;">{{'gameLabel.Infant_Mortality_Rate' |
                                                        translate}}</span></td>
                                                <td><span
                                                        [class]="checkCssForSpecific1(homeService.allPerson[constantService.FAMILY_SELF].country.InfantMortalityRate,homeService.allPerson[constantService.FAMILY_SELF].register_country.InfantMortalityRate)">{{homeService.allPerson[constantService.FAMILY_SELF].country.InfantMortalityRate}}</span>
                                                </td>
                                                <td><span
                                                        [class]="checkCssForSpecific1(homeService.allPerson[constantService.FAMILY_SELF].register_country.InfantMortalityRate,homeService.allPerson[constantService.FAMILY_SELF].country.InfantMortalityRate)">{{homeService.allPerson[constantService.FAMILY_SELF].register_country.InfantMortalityRate}}</span>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td class=""><span class="tlp" data-toggle="tooltip"
                                                        data-placement="top"
                                                        title="{{'gameLabel.femaleSmoker' | translate}}"
                                                        style="cursor: pointer;">{{'gameLabel.Female_Smokers' |
                                                        translate}}</span></td>
                                                <td>{{homeService.allPerson[constantService.FAMILY_SELF].country.femaleSmoker}}
                                                </td>
                                                <td>{{homeService.allPerson[constantService.FAMILY_SELF].register_country.femaleSmoker}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class=""><span class="tlp" data-toggle="tooltip"
                                                        data-placement="top"
                                                        title="{{'gameLabel.maleSmoker' | translate}}"
                                                        style="cursor: pointer;">{{'gameLabel.Male_Smokers' |
                                                        translate}}</span></td>
                                                <td>{{homeService.allPerson[constantService.FAMILY_SELF].country.maleSmoker}}
                                                </td>
                                                <td>{{homeService.allPerson[constantService.FAMILY_SELF].register_country.maleSmoker}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="" colspan="3"></td>
                                            </tr>
                                            <tr>
                                                <td class="bg-darkblue hdng" colspan="3">{{'gameLabel.Per_Capita' |
                                                    translate}}</td>
                                            </tr>
                                            <tr>
                                                <td class=""><span>{{'gameLabel.Life_Expectancy' | translate}}</span>
                                                </td>
                                                <td>{{lifeExpectancy}}</td>
                                                <td>{{registerLifeExpectancy}}</td>
                                            </tr>
                                            <tr>
                                                <td class=""><span class="tlp" data-toggle="tooltip"
                                                        data-placement="top"
                                                        title="{{'gameLabel.unemployment' | translate}}"
                                                        style="cursor: pointer;">{{'gameLabel.Unemployment' |
                                                        translate}}</span></td>
                                                <td><span
                                                        [class]="checkCssForSpecific1(homeService.allPerson[constantService.FAMILY_SELF].country.UnEmploymentRate,homeService.allPerson[constantService.FAMILY_SELF].register_country.UnEmploymentRate)">{{homeService.allPerson[constantService.FAMILY_SELF].country.UnEmploymentRate}}</span>
                                                </td>
                                                <td><span
                                                        [class]="checkCssForSpecific1(homeService.allPerson[constantService.FAMILY_SELF].register_country.UnEmploymentRate,homeService.allPerson[constantService.FAMILY_SELF].country.UnEmploymentRate)">{{homeService.allPerson[constantService.FAMILY_SELF].register_country.UnEmploymentRate}}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class=""><span class="tlp" data-toggle="tooltip"
                                                        data-placement="top" title="{'gameLabel.ele' | translate}}"
                                                        style="cursor: pointer;"> {{'gameLabel.Electricity_Access' |
                                                        translate}}</span></td>
                                                <td><span
                                                        [class]="checkCss1(homeService.allPerson[constantService.FAMILY_SELF].country.PerCapitaElectricityConsumption,homeService.allPerson[constantService.FAMILY_SELF].register_country.PerCapitaElectricityConsumption)">{{homeService.allPerson[constantService.FAMILY_SELF].country.PerCapitaElectricityConsumption}}</span>
                                                </td>
                                                <td><span
                                                        [class]="checkCss1(homeService.allPerson[constantService.FAMILY_SELF].register_country.PerCapitaElectricityConsumption,homeService.allPerson[constantService.FAMILY_SELF].country.PerCapitaElectricityConsumption)">{{homeService.allPerson[constantService.FAMILY_SELF].register_country.PerCapitaElectricityConsumption}}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class=""><span class="tlp" data-toggle="tooltip"
                                                        data-placement="top"
                                                        title="This is percentage of population with access to electricity within the country."
                                                        style="cursor: pointer;">{{'gameLabel.Health_Expenses' |
                                                        translate}}</span></td>
                                                <td><span
                                                        [class]="checkCss1(homeService.allPerson[constantService.FAMILY_SELF].country.PerCapitaHealthConsumption,homeService.allPerson[constantService.FAMILY_SELF].register_country.PerCapitaHealthConsumption)">{{homeService.allPerson[constantService.FAMILY_SELF].country.PerCapitaHealthConsumption}}</span>
                                                </td>
                                                <td><span
                                                        [class]="checkCss1(homeService.allPerson[constantService.FAMILY_SELF].register_country.PerCapitaHealthConsumption,homeService.allPerson[constantService.FAMILY_SELF].country.PerCapitaHealthConsumption)">{{homeService.allPerson[constantService.FAMILY_SELF].register_country.PerCapitaHealthConsumption}}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="" colspan="3"></td>
                                            </tr>
                                            <tr>
                                                <td class="bg-darkblue hdng" colspan="3">
                                                    {{'gameLabel.Labour_force_by_occupation' | translate}}</td>
                                            </tr>
                                            <tr>
                                                <td class=""><span class="tlp" data-toggle="tooltip"
                                                        data-placement="top"
                                                        title="{{'gameLabel.agriculture' | translate}}"
                                                        style="cursor: pointer;"> {{'gameLabel.Agriculture' |
                                                        translate}}</span></td>
                                                <td>{{homeService.allPerson[constantService.FAMILY_SELF].country.Agriculture.toFixed(2)}}%
                                                </td>
                                                <td>{{homeService.allPerson[constantService.FAMILY_SELF].register_country.Agriculture.toFixed(2)}}%
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class=""><span class="tlp" data-toggle="tooltip"
                                                        data-placement="top" title="{{'gameLabel.service' | translate}}"
                                                        style="cursor: pointer;">{{'gameLabel.Service' |
                                                        translate}}</span></td>
                                                <td>{{homeService.allPerson[constantService.FAMILY_SELF].country.Services.toFixed(2)}}%
                                                </td>
                                                <td>{{homeService.allPerson[constantService.FAMILY_SELF].register_country.Services.toFixed(2)}}%
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class=""><span class="tlp" data-toggle="tooltip"
                                                        data-placement="top"
                                                        title="{{'gameLabel.industry' | translate}}"
                                                        style="cursor: pointer;"> {{'gameLabel.Industry' |
                                                        translate}}</span></td>
                                                <td>{{homeService.allPerson[constantService.FAMILY_SELF].country.industry.toFixed(2)}}%
                                                </td>
                                                <td>{{homeService.allPerson[constantService.FAMILY_SELF].register_country.industry.toFixed(2)}}%
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="" colspan="3"></td>
                                            </tr>
                                            <tr>
                                                <td class="bg-darkblue hdng" colspan="3"> {{'gameLabel.Index_Ranking' |
                                                    translate}}</td>
                                            </tr>
                                            <tr>
                                                <td class=""><span class="tlp" data-toggle="tooltip"
                                                        data-placement="top" title="{{'gameLabel.ppp' | translate}}"
                                                        style="cursor: pointer;">{{'gameLabel.Purchasing_Power_Parity(PPP)'
                                                        | translate}}</span></td>
                                                <td><span
                                                        [class]="checkCss1(homeService.allPerson[constantService.FAMILY_SELF].country.ppp,homeService.allPerson[constantService.FAMILY_SELF].register_country.ppp)">{{homeService.allPerson[constantService.FAMILY_SELF].country.ppp}}$</span>
                                                </td>
                                                <td><span
                                                        [class]="checkCss1(homeService.allPerson[constantService.FAMILY_SELF].register_country.ppp,homeService.allPerson[constantService.FAMILY_SELF].country.ppp)">{{homeService.allPerson[constantService.FAMILY_SELF].register_country.ppp}}$</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class=""><span class="tlp" data-toggle="tooltip"
                                                        data-placement="top" title="{{'gameLabel.gini' | translate}}"
                                                        style="cursor: pointer;">{{'gameLabel.GINI' | translate}}</span>
                                                </td>
                                                <td><span
                                                        [class]="checkCssForSpecific1(homeService.allPerson[constantService.FAMILY_SELF].country.gini,homeService.allPerson[constantService.FAMILY_SELF].register_country.gini)">{{homeService.allPerson[constantService.FAMILY_SELF].country.gini}}</span>
                                                </td>
                                                <td><span
                                                        [class]="checkCssForSpecific1(homeService.allPerson[constantService.FAMILY_SELF].register_country.gini,homeService.allPerson[constantService.FAMILY_SELF].country.gini)">{{homeService.allPerson[constantService.FAMILY_SELF].register_country.gini}}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class=""><span class="tlp" data-toggle="tooltip"
                                                        data-placement="top" title="{{'gameLabel.sdg' | translate}}"
                                                        style="cursor: pointer;">{{'gameLabel.SDG_rank' |
                                                        translate}}</span></td>
                                                <td><span
                                                        [class]="checkCssForSpecific1(homeService.allPerson[constantService.FAMILY_SELF].country.SdgiRank,homeService.allPerson[constantService.FAMILY_SELF].register_country.SdgiRank)">{{homeService.allPerson[constantService.FAMILY_SELF].country.SdgiRank}}</span>
                                                </td>
                                                <td><span
                                                        [class]="checkCssForSpecific1(homeService.allPerson[constantService.FAMILY_SELF].register_country.SdgiRank,homeService.allPerson[constantService.FAMILY_SELF].country.SdgiRank)">{{homeService.allPerson[constantService.FAMILY_SELF].register_country.SdgiRank}}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class=""><span class="tlp" data-toggle="tooltip"
                                                        data-placement="top"
                                                        title="{{'gameLabel.happiness' | translate}}"
                                                        style="cursor: pointer;">{{'gameLabel.Happiness_Rank' |
                                                        translate}}</span></td>
                                                <td><span
                                                        [class]="checkCssForSpecific1(homeService.allPerson[constantService.FAMILY_SELF].country.HappinessRank,homeService.allPerson[constantService.FAMILY_SELF].register_country.HappinessRank)">{{homeService.allPerson[constantService.FAMILY_SELF].country.HappinessRank}}</span>
                                                </td>
                                                <td><span
                                                        [class]="checkCssForSpecific1(homeService.allPerson[constantService.FAMILY_SELF].register_country.HappinessRank,homeService.allPerson[constantService.FAMILY_SELF].country.HappinessRank)">{{homeService.allPerson[constantService.FAMILY_SELF].register_country.HappinessRank}}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class=""><span class="tlp" data-toggle="tooltip"
                                                        data-placement="top" title="{{'gameLabel.hditlp' | translate}}"
                                                        style="cursor: pointer;">{{'gameLabel.HDI' | translate}}</span>
                                                </td>
                                                <td><span
                                                        [class]="checkCss1(homeService.allPerson[constantService.FAMILY_SELF].country.HDI,homeService.allPerson[constantService.FAMILY_SELF].register_country.HDI)">{{homeService.allPerson[constantService.FAMILY_SELF].country.HDI}}</span>
                                                </td>
                                                <td><span
                                                        [class]="checkCss1(homeService.allPerson[constantService.FAMILY_SELF].register_country.HDI,homeService.allPerson[constantService.FAMILY_SELF].country.HDI)">{{homeService.allPerson[constantService.FAMILY_SELF].register_country.HDI}}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class=""><span class="tlp" data-toggle="tooltip"
                                                        data-placement="top"
                                                        title="{{'gameLabel.corruption' | translate}}"
                                                        style="cursor: pointer;">{{'gameLabel.Corruption' |
                                                        translate}}</span></td>
                                                <td><span
                                                        [class]="checkCss1(homeService.allPerson[constantService.FAMILY_SELF].country.corruption,homeService.allPerson[constantService.FAMILY_SELF].register_country.corruption)">{{homeService.allPerson[constantService.FAMILY_SELF].country.corruption}}</span>
                                                </td>
                                                <td><span
                                                        [class]="checkCss1(homeService.allPerson[constantService.FAMILY_SELF].register_country.corruption,homeService.allPerson[constantService.FAMILY_SELF].country.corruption)">{{homeService.allPerson[constantService.FAMILY_SELF].register_country.corruption}}</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="md-overlay new_cmn_modal full_width gamescreen " tabindex="-1" role="dialog" *ngIf="readMoreFlag">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content">
            <div class="modal-header position-relative d-flex align-items-center justify-content-between">
                <h5 class="modal-title text-white font-400 text-uppercase font_b8 d-flex align-items-center" id="">
                    <img src="assets/images/edu_head_icon.png" alt="">
                    <span class="pl-3">{{'gameLabel.KNOW_MORE_ABOUT_THE_COUNTRY' |translate}}</span>
                </h5>
                <button type="button" class="close" (click)="closeReadMore()">
                    <!--<span aria-hidden="true">&times;</span>-->
                    <span class="material-icons">close</span>
                </button>
            </div>
            <div class="modal-body p-0 rem-scroll">
                <div class="col-md-12 popbox_white h-100 pt-0">
                    <div class="row h-100">
                        <div class="col-9 py-3">
                            <div class="h-100">
                                <ul class="nav nav-tabs map_btn_new" id="country_info" role="tablist">
                                    <li class="nav-item" style="cursor: pointer;">
                                        <a class="nav-link {{mapClassForTab}}" (click)="displayData('map')">
                                            {{'gameLabel.MAP' |translate}}</a>
                                    </li>
                                    <li class="nav-item" style="cursor: pointer;">
                                        <a class="nav-link {{wikiClassForTab}}"
                                            (click)="displayData('wiki')">{{'gameLabel.ABOUT' | translate}}
                                            {{currentCountry.country}}</a>
                                    </li>
                                    <li class="nav-item" *ngIf="currentCountry.cityLink!=''" style="cursor: pointer;">
                                        <a class="nav-link {{cityclassForTab}}" (click)="displayData('city')">
                                            {{'gameLabel.ABOUT_CITY' | translate}} {{currentCountry.cityName}}</a>
                                    </li>
                                    <li class="nav-item" style="cursor: pointer;">
                                        <a class="nav-link {{capitalclassForTab}}" (click)="displayData('capital')">
                                            {{'gameLabel.ABOUT_CAPITAL' | translate}} {{currentCountry.Capital}}</a>
                                    </li>
                                    <li class="nav-item" style="cursor: pointer;">
                                        <!-- <a class="nav-link {{lonlyClassForTab}}"  (click)="sanitize(currentCountry.LonelyPlanetCode,'Lonly')"> {{'gameLabel.LONELY_PLANET' | translate}}</a> -->
                                        <a class="nav-link {{lonlyClassForTab}}"
                                            (click)="displayData('Lonly')">{{'gameLabel.CIA_Factbook' | translate}} </a>
                                    </li>
                                    <!-- <li class="nav-item" style="cursor: pointer;">
                                           <a class="nav-link {{encyclopediaClassForTab}}"  (click)=" displayData('encyclopedia')"> {{'gameLabel.Encyclopedia' | translate}}</a>
                                        </li> -->
                                    <li class="nav-item" style="cursor: pointer;">
                                        <a class="nav-link {{nationalClassForTab}}"
                                            (click)="displayData('nationalGeographic')"> {{'gameLabel.LONELY_PLANET' |
                                            translate}}</a>
                                    </li>
                                    <li class="nav-item" style="cursor: pointer;">
                                        <a class="nav-link {{unescoClassForTab}}" (click)="displayData('sdg')">
                                            {{'gameLabel.SDG' | translate}}</a>
                                    </li>
                                    <li class="nav-item" style="cursor: pointer;">
                                        <a class="nav-link {{climateClassForTab}}"
                                            (click)="displayData('climate')">{{'gameLabel.Ethnic_groups' |
                                            translate}}</a>
                                    </li>
                                    <li class="nav-item" style="cursor: pointer;">
                                        <a class="nav-link {{healthClassForTab}}" (click)="displayData('health')">
                                            {{'gameLabel.Health_Profile' | translate}}</a>
                                    </li>
                                    <!-- <li class="nav-item" style="cursor: pointer;">
                                            <a class="nav-link {{hdrClassForTab}}"  (click)="displayData('hdr')"> {{'gameLabel.HDR' | translate}}</a>
                                        </li> -->

                                </ul>
                                <div class="tab-content" id="country_infoContent">
                                    <div class="tab-pane fade show active h-100" *ngIf="displayMap">
                                        <div class="h-100">
                                            <div class="h-100 bg-white">
                                                <agm-map class="h-100 w-100" [latitude]="latitude"
                                                    [longitude]="longitude" style="height: 300" [zoom]="mapZoom">
                                                    <agm-marker class="h-100 w-100" [latitude]="latitude"
                                                        [longitude]="longitude">
                                                        <agm-info-window><strong>{{cityName}}</strong></agm-info-window>
                                                    </agm-marker>
                                                </agm-map>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade show active h-100" *ngIf="displayWiki">
                                        <div class="h-100">
                                            <div class="h-100 bg-light">
                                                <iframe class="h-100 w-100"
                                                    [src]="wikiUrl+currentCountry.country |byPassSecurity">
                                                    <p>Your browser does not support iframes.</p>
                                                </iframe>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade show active h-100" *ngIf="displayCity">
                                        <div class="h-100">
                                            <div class="h-100 bg-white">
                                                <iframe class="h-100 w-100"
                                                    [src]="cityLink+currentCountry.cityName |byPassSecurity"
                                                    width="100%">
                                                    <p>Your browsers does not support iframes.</p>
                                                </iframe>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade show active h-100" *ngIf="displayCapital">
                                        <div class="h-100">
                                            <div class="h-100 bg-light">
                                                <iframe class="h-100 w-100"
                                                    [src]="currentCountry.CapitalWikiLink |byPassSecurity" width="100%">
                                                    <p>Your browser does not support iframes.</p>
                                                </iframe>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade show active h-100" *ngIf="displayLonly">
                                        <div class="h-100">
                                            <div class="h-100 bg-white">
                                                <iframe class="h-100 w-100"
                                                    [src]="ciaUrl+currentCountry.country.toLowerCase() |byPassSecurity"
                                                    width="100%">
                                                    <p>Your browser does not support iframes.</p>
                                                </iframe>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="tab-pane fade show active h-100" *ngIf="dispalyEncyclopedia">
                                            <div class="h-100">
                                                <div class="h-100 bg-white">
                                                    <iframe  class="h-100 w-100" [src]="encyclopediaUrl+currentCountry.country |byPassSecurity" width="100%">
                                                        <p>Your browser does not support iframes.</p>
                                                      </iframe>
                                                </div>
                                            </div>
                                        </div> -->
                                    <div class="tab-pane fade show active h-100" *ngIf="dispalyNationalGeographic">
                                        <div class="h-100">
                                            <div class="h-100 bg-white">
                                                <iframe class="h-100 w-100"
                                                    [src]="currentCountry.LonelyPlanetCode |byPassSecurity"
                                                    width="100%">
                                                    <p>Your browser does not support iframes.</p>
                                                </iframe>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade show active h-100" *ngIf="displayUnesco">
                                        <div class="h-100">
                                            <div class="h-100 bg-white">
                                                <iframe class="h-100 w-100" [src]="sdgUrl+sdgCountry |byPassSecurity"
                                                    width="100%">
                                                    <p>Your browser does not support iframes.</p>
                                                </iframe>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade show active h-100" *ngIf="dispalyClimate">
                                        <div class="h-100">
                                            <div class="h-100 bg-white">
                                                <iframe class="h-100 w-100"
                                                    [src]="clicmateUrl+currentCountry.country |byPassSecurity"
                                                    width="100%">
                                                    <p>Your browser does not support iframes.</p>
                                                </iframe>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade show active h-100" *ngIf="disaplayHealth">
                                        <div class="h-100">
                                            <div class="h-100 bg-white">
                                                <iframe class="h-100 w-100"
                                                    [src]="helathUrl+countryShort|byPassSecurity" width="100%">
                                                    <p>Your browser does not support iframes.</p>
                                                </iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3 country_info_right py-3">
                            <div class="h-100">
                                <div class="hdr d-flex align-items-center border-bottom">
                                    <figure><img src="assets/images/flags-big/{{(currentCountry.Code) | lowercase}}.png"
                                            alt=""></figure>
                                    <h3 class="text-dark">
                                        {{currentCountry.country}} ({{currentCountry.Continents}})<br>
                                        <!-- <span class="small text-secondary font-300">{{currentCountry.Continents}}</span> -->
                                    </h3>
                                </div>

                                <ul class="nav nav-tabs mb-3 map_btn_new" id="country_info" role="tablist">
                                    <li class="nav-item mr-1" style="cursor: pointer;">
                                        <a class="nav-link {{activeClassHealthForTab}}" (click)="checkTabView('Health')"
                                            *ngIf="showHelathFlag"> {{'gameLabel.HEALTH' | translate}}</a>
                                    </li>
                                    <li class="nav-item mr-1" style="cursor: pointer;">
                                        <a class="nav-link {{activeClassSocialForTab}}" (click)="checkTabView('Social')"
                                            *ngIf="showSocialFlag"> {{'gameLabel.SOCIAL' | translate}}</a>
                                    </li>
                                    <li class="nav-item mr-1" style="cursor: pointer;">
                                        <a class="nav-link {{activeClassEcomnomicalForTab}}"
                                            (click)="checkTabView('Economical')" *ngIf="showEconomicalFlag">
                                            {{'gameLabel.ECONOMICAL' | translate}}</a>
                                    </li>
                                    <li class="nav-item mr-1" style="cursor: pointer;">
                                        <a class="nav-link {{activeClassPoliticalForTab}}"
                                            (click)="checkTabView('Political')" *ngIf="showPoliticFlag">
                                            {{'gameLabel.POLITICAL' | translate}}</a>
                                    </li>
                                </ul>
                                <div class="tab-content border-0">
                                    <div class="tab-pane fade  {{activeClassPolitical}} h-100" *ngIf="showPoliticFlag">
                                        <div class="h-100">
                                            <div class="h-100 overflow-auto">
                                                <div
                                                    class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="knw-mre-label"> {{'gameLabel.Country' |
                                                        translate}}</span>
                                                    <span class="knw-mre-value">{{currentCountry.country}}</span>
                                                </div>
                                                <div
                                                    class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="knw-mre-label"> {{'gameLabel.Population' | translate}}
                                                    </span>
                                                    <span
                                                        class="knw-mre-value">{{checkPopulationFormat(currentCountry.Population)}}
                                                        {{checkFormat}} </span>
                                                </div>
                                                <div
                                                    class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="knw-mre-label"> {{'gameLabel.Currency' |
                                                        translate}}</span>
                                                    <span class="knw-mre-value">{{currentCountry.currency_code}}</span>
                                                </div>
                                                <div
                                                    class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="tlp knw-mre-label" data-toggle="tooltip"
                                                        data-placement="left"
                                                        title=" {{'gameLabel.politicalRigth' | translate}}"
                                                        style="cursor: pointer;"> {{'gameLabel.Political_Rights_Index' |
                                                        translate}}</span>
                                                    <span class="knw-mre-value">{{currentCountry.PoliticalRight}}</span>
                                                </div>
                                                <div
                                                    class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="tlp knw-mre-label" data-toggle="tooltip"
                                                        data-placement="left"
                                                        title=" {{'gameLabel.civilLib' | translate}}"
                                                        style="cursor: pointer;"> {{'gameLabel.Civil_Liabilities_Index'
                                                        | translate}}</span>
                                                    <span
                                                        class="knw-mre-value">{{currentCountry.CivilLiabilities}}</span>
                                                </div>
                                                <div
                                                    class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="knw-mre-label">
                                                        {{'gameLabel.Government_Social_Services_Index' | translate}}
                                                    </span>
                                                    <span class="knw-mre-value">{{govermentSocialServices}}</span>
                                                </div>
                                                <div
                                                    class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="tlp knw-mre-label" data-toggle="tooltip"
                                                        data-placement="right"
                                                        title="{{'gameLabel.globelPic' | translate}}"
                                                        style="cursor: pointer;"> {{'gameLabel.Global_Peace_Index_Rank'
                                                        | translate}}</span>
                                                    <span class="knw-mre-value">{{currentCountry.Peace_Rank}}</span>
                                                </div>
                                                <div
                                                    class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="tlp knw-mre-label" data-toggle="tooltip"
                                                        data-placement="right"
                                                        title=" {{'gameLabel.globelPic' | translate}}"
                                                        style="cursor: pointer;"> {{'gameLabel.Global_Peace_Score' |
                                                        translate}}</span>
                                                    <span class="knw-mre-value">{{currentCountry.Peace_Rank}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade {{activeClassSocial}} h-100" *ngIf="showSocialFlag">
                                        <div class="h-100">
                                            <div class="h-100 overflow-auto">
                                                <div
                                                    class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="tlp knw-mre-label" data-toggle="tooltip"
                                                        data-placement="right"
                                                        title="{{'gameLabel.corruption' |translate}}"
                                                        style="cursor: pointer;"> {{'gameLabel.Corruption' |
                                                        translate}}</span>
                                                    <span class="knw-mre-value">{{currentCountry.corruption}} </span>
                                                </div>
                                                <div
                                                    class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="tlp knw-mre-label" data-toggle="tooltip"
                                                        data-placement="right" title="{{'gameLabel.death' |translate}}"
                                                        style="cursor: pointer;">{{'gameLabel.Death_Rate' |
                                                        translate}}</span>
                                                    <span class="knw-mre-value">{{currentCountry.DeathRate}} </span>
                                                </div>
                                                <div
                                                    class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="tlp knw-mre-label" data-toggle="tooltip"
                                                        data-placement="right" title="" style="cursor: pointer;">
                                                        {{'gameLabel.Divorce_Rate' | translate}}</span>
                                                    <span class="knw-mre-value">{{currentCountry.DivorceRate}} </span>
                                                </div>

                                                <div
                                                    class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="tlp knw-mre-label" data-toggle="tooltip"
                                                        data-placement="right"
                                                        title="{{'gameLabel.maleliteracy' | translate}}"
                                                        style="cursor: pointer;"> {{'gameLabel.Male_Literacy' |
                                                        translate}}</span>
                                                    <span class="knw-mre-value">{{currentCountry.MaleLiteracy}} %</span>
                                                </div>
                                                <div
                                                    class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="tlp knw-mre-label" data-toggle="tooltip"
                                                        data-placement="left"
                                                        title="{{'gameLabel.femaleliteracy' | translate}}"
                                                        style="cursor: pointer;"> {{'gameLabel.Female_Literacy' |
                                                        translate}}</span>
                                                    <span
                                                        class="knw-mre-value">{{currentCountry.FemaleLiteracy}}%</span>
                                                </div>
                                                <div
                                                    class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="tlp knw-mre-label" data-toggle="tooltip"
                                                        data-placement="right" title=""
                                                        style="cursor: pointer;">{{'gameLabel.Primary_school' |
                                                        translate}}</span>
                                                    <span class="knw-mre-value">{{currentCountry.PrimarySchool}} </span>
                                                </div>

                                                <div
                                                    class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="tlp knw-mre-label" data-toggle="tooltip"
                                                        data-placement="right" title="" style="cursor: pointer;">
                                                        {{'gameLabel.Secondary_school_male' | translate}}e</span>
                                                    <span class="knw-mre-value">{{currentCountry.SecondarySchoolMale}}
                                                    </span>
                                                </div>
                                                <div
                                                    class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="tlp knw-mre-label" data-toggle="tooltip"
                                                        data-placement="right" title="" style="cursor: pointer;">
                                                        {{'gameLabel.Secondary_school_female' | translate}}</span>
                                                    <span class="knw-mre-value">{{currentCountry.SecondarySchoolFemale}}
                                                    </span>
                                                </div>
                                                <div
                                                    class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="tlp knw-mre-label" data-toggle="tooltip"
                                                        data-placement="right" title="" style="cursor: pointer;">
                                                        {{'gameLabel.Happiness_rank' | translate}}</span>
                                                    <span class="knw-mre-value">{{currentCountry.HappinessRank}} </span>
                                                </div>
                                                <div
                                                    class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="tlp knw-mre-label" data-toggle="tooltip"
                                                        data-placement="right" title="" style="cursor: pointer;">
                                                        {{'gameLabel.Happiness_score' | translate}}</span>
                                                    <span class="knw-mre-value">{{currentCountry.HappinessScore}}
                                                    </span>
                                                </div>

                                                <div
                                                    class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="tlp knw-mre-label" data-toggle="tooltip"
                                                        data-placement="right" title="" style="cursor: pointer;">
                                                        {{'gameLabel.Terrorism_rank' | translate}}</span>
                                                    <span class="knw-mre-value">{{currentCountry.Terrorism_Rank}}
                                                    </span>
                                                </div>
                                                <div
                                                    class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="tlp knw-mre-label" data-toggle="tooltip"
                                                        data-placement="right" title="" style="cursor: pointer;">
                                                        {{'gameLabel.Terrorism_score' | translate}}</span>
                                                    <span class="knw-mre-value">{{currentCountry.Terrorism_Score}}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade {{activeClassHealth}}  h-100" *ngIf="showHelathFlag">
                                        <div class="h-100">
                                            <div class="h-100 overflow-auto">
                                                <div
                                                    class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="tlp knw-mre-label" data-toggle="tooltip"
                                                        data-placement="left"
                                                        title="{{'gameLabel.birth_rate' | translate}}"
                                                        style="cursor: pointer;"> {{'gameLabel.Birth_Rate' | translate}}
                                                    </span>
                                                    <span class="tlp knw-mre-value" data-toggle="tooltip"
                                                        data-placement="right" title="{{'gameLabel.br' | translate}}"
                                                        style="cursor: pointer;">{{currentCountry.BirthRate}}</span>
                                                </div>
                                                <div
                                                    class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="tlp knw-mre-label" data-toggle="tooltip"
                                                        data-placement="left"
                                                        title="{{'gameLabel.sex_ratio' | translate}}">{{'gameLabel.Sex_Ratio'
                                                        | translate}} </span>
                                                    <span class="tlp knw-mre-value" data-toggle="tooltip"
                                                        data-placement="right" title=""
                                                        style="cursor: pointer;">{{currentCountry.SexRatio}}</span>
                                                </div>
                                                <div
                                                    class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="tlp knw-mre-label" data-toggle="tooltip"
                                                        data-placement="left"
                                                        title="{{'gameLabel.maleLifeExp' | translate}}"
                                                        style="cursor: pointer;"> {{'gameLabel.Male_Life_Expectancy' |
                                                        translate}}</span>
                                                    <span class="knw-mre-value">{{currentCountry.MaleLifeExpectancy}}
                                                        Years</span>
                                                </div>
                                                <div
                                                    class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="tlp knw-mre-label" data-toggle="tooltip"
                                                        data-placement="left"
                                                        title=" {{'gameLabel.femaleLifeExp' | translate}}"
                                                        style="cursor: pointer;"> {{'gameLabel.Female_Life_Expectancy' |
                                                        translate}}</span>
                                                    <span class="knw-mre-value">{{currentCountry.FemaleLifeExpectancy}}
                                                        Years</span>
                                                </div>
                                                <div
                                                    class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="tlp knw-mre-label" data-toggle="tooltip"
                                                        data-placement="left"
                                                        title="{{'gameLabel.infantMortality' | translate}}"
                                                        style="cursor: pointer;"> {{'gameLabel.Infant_Mortality_Rate' |
                                                        translate}}</span>
                                                    <span class="tlp knw-mre-value" data-toggle="tooltip"
                                                        data-placement="top" title="Deaths/1,000 Live Births"
                                                        style="cursor: pointer;">{{currentCountry.InfantMortalityRate}}</span>
                                                </div>
                                                <div
                                                    class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="tlp knw-mre-label" data-toggle="tooltip"
                                                        data-placement="left" title="">
                                                        {{'gameLabel.Maternal_mortality_rate' | translate}}</span>
                                                    <span class="tlp knw-mre-value" data-toggle="tooltip"
                                                        data-placement="top" title="Deaths/1,000 Live Births"
                                                        style="cursor: pointer;">{{currentCountry.MaternalMortalityRate}}</span>
                                                </div>
                                                <div
                                                    class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="tlp knw-mre-label" data-toggle="tooltip"
                                                        data-placement="left"
                                                        title="{{'gameLabel.wasting' | translate}}"
                                                        style="cursor: pointer;"> {{'gameLabel.Wasting(disease to %
                                                        children)' | translate}}</span>
                                                    <span class="tlp knw-mre-value" data-toggle="tooltip"
                                                        data-placement="right"
                                                        title="Percentage of children under 5 who are wasted"
                                                        style="cursor: pointer;">{{(currentCountry.Wasting).toFixed(0)}}
                                                    </span>
                                                </div>
                                                <div
                                                    class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="tlp knw-mre-label" data-toggle="tooltip"
                                                        data-placement="left"
                                                        title="{{'gameLabel.stunting' |translate}}"
                                                        style="cursor: pointer;"> {{'gameLabel.Stunting(disease to %
                                                        children)' |translate}}</span>
                                                    <span class="tlp knw-mre-value" data-toggle="tooltip"
                                                        data-placement="right"
                                                        title="{{'gameLabel.stunting1' |translate}}"
                                                        style="cursor: pointer;">{{currentCountry.Stunting}} </span>
                                                </div>

                                                <div
                                                    class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="tlp knw-mre-label" data-toggle="tooltip"
                                                        data-placement="left"
                                                        title="{{'gameLabel.maleSmoker' | translate}}"
                                                        style="cursor: pointer;">{{'gameLabel.Male_Smokers' |
                                                        translate}}</span>
                                                    <span class="knw-mre-value">{{currentCountry.maleSmoker}}</span>
                                                </div>
                                                <div
                                                    class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="tlp knw-mre-label" data-toggle="tooltip"
                                                        data-placement="left"
                                                        title="{{'gameLabel.femaleSmoker' | translate}}"
                                                        style="cursor: pointer;">{{'gameLabel.Female_Smokers' |
                                                        translate}}</span>
                                                    <span class="knw-mre-value">{{currentCountry.femaleSmoker}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade {{activeClassEconomical}}  h-100"
                                        *ngIf="activeClassEcomnomicalForTab">
                                        <div class="h-100">
                                            <div class="h-100 overflow-auto">
                                                <div
                                                    class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="tlp knw-mre-label" data-toggle="tooltip"
                                                        data-placement="left" title="{{'gameLabel.agrTlp' | translate}}"
                                                        style="cursor: pointer;"> {{'gameLabel.Agriculture' |
                                                        translate}}</span>
                                                    <span
                                                        class="knw-mre-value">{{currentCountry.Agriculture.toFixed(2)}}
                                                        %</span>
                                                </div>

                                                <div
                                                    class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="tlp knw-mre-label" data-toggle="tooltip"
                                                        data-placement="left"
                                                        title="{{'gameLabel.service' | translate}}"
                                                        style="cursor: pointer;"> {{'gameLabel.Service' |
                                                        translate}}</span>
                                                    <span class="knw-mre-value">{{currentCountry.Services.toFixed(2)}}
                                                        %</span>
                                                </div>
                                                <div
                                                    class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="tlp knw-mre-label" data-toggle="tooltip"
                                                        data-placement="left"
                                                        title=" {{'gameLabel.industry' | translate}}"
                                                        style="cursor: pointer;"> {{'gameLabel.Industry' |
                                                        translate}}</span>
                                                    <span class="knw-mre-value">{{currentCountry.industry.toFixed(2)}}
                                                        %</span>
                                                </div>
                                                <div
                                                    class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="tlp knw-mre-label" data-toggle="tooltip"
                                                        data-placement="left" title="{{'gameLabel.ppptlp' | translate}}"
                                                        style="cursor: pointer;">
                                                        {{'gameLabel.Purchasing_Power_Parity(PPP)' | translate}}</span>
                                                    <span class="knw-mre-value">{{currentCountry.ppp.toFixed(2)}}
                                                        %</span>
                                                </div>
                                                <div
                                                    class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="tlp knw-mre-label" data-toggle="tooltip"
                                                        data-placement="left" title="{{'gameLabel.hdi' | translate}}"
                                                        style="cursor: pointer;"> {{'gameLabel.Human_Development_Index'
                                                        | translate}}</span>
                                                    <span
                                                        class="knw-mre-value">{{(currentCountry.HDI).toFixed(2)}}</span>
                                                </div>

                                                <div
                                                    class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="tlp knw-mre-label" data-toggle="tooltip"
                                                        data-placement="left" title=""
                                                        style="cursor: pointer;">{{'gameLabel.Exchange_rate' |
                                                        translate}}</span>
                                                    <span
                                                        class="knw-mre-value">{{(currentCountry.ExchangeRate).toFixed(2)}}</span>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>