<div class=" new_cmn_modal full_width home_country_select" id="home_country_select_modal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header position-relative d-flex align-items-center justify-content-between">
                <h5 class="modal-title text-white font-400 text-uppercase font_b8 d-flex align-items-center" id="">
                    <img src="assets/images/country-group-logo.svg" alt="" style="width: 40px;">
                    <span class="pl-3"> {{'gameLabel.country_group_name' | translate}}</span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()"
                    *ngIf="!gameSummeryService.flowFromStudent">
                    <span class="material-icons">close</span>
                </button>
            </div>
            <div class="modal-body bg-light">
                <div class="content text-gray2 pt-3 h-100">

                    <div class="city_wraper_main h-100" *ngIf="this.state==='catergory'">
                        <div class="row size_row h-100">
                            <div class="col-12 text-center ">
                                <h2> {{'gameLabel.Select_a_group-category_where_you_would_like_to_be_born' |translate}}
                                </h2>
                                <form class="w-100">
                                    <div class="d-flex flex-wrap justify-content-center no-gutters">
                                        <div class="col-2 assignment-main-div" *ngFor="let c of countryGroupCatergory"
                                            style="padding-right: 3px;">
                                            <a (click)="selectCat(c.Category_id,c.Category_name)"
                                                style="cursor: pointer;">
                                                <div class="sub-div">
                                                    <h4>{{c.Category_name}}</h4>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="city_wraper_main h-100" *ngIf="this.state==='group'">
                        <div class="row size_row h-100">
                            <div class="col-6 text-center ">
                                <h2> {{'gameLabel.Select_a_group_where_you_would_like_to_be_born' |translate}}</h2>
                                <div class=" text-center position-relative mb-4">
                                    <a class="go_back_btn backbtn" (click)="clickBack(state)">
                                        <i class="fa fa-arrow-left" aria-hidden="true" style="cursor: pointer;"></i>
                                        {{'gameLabel.Back' |translate}}</a>
                                </div>
                                <form class="w-100">
                                    <div class="d-flex flex-wrap justify-content-center no-gutters city_wraper">
                                        <div class="col-3" *ngFor="let group of groupList ,  let i = index">
                                            <div class="box radio_img fontforSmall">
                                                <label [class.active]="r.checked ">
                                                    <input #r type="radio" name="group" value="{{i}}"
                                                        [checked]="(i === 0)" (change)="allRadioButtonValue($event)">
                                                    <p class="m-0 text-uppercase font-600">{{group.Group_display_name}}
                                                    </p>
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center mt-5">
                                        <button type="button" (click)="shuffleCountry()"
                                            class="btn btn-primary2 mx-2 next_religion_btn">
                                            {{'gameLabel.Shuffle_country_group' | translate}}</button>
                                        <button type="button" (click)="aToz()"
                                            class="btn btn-primary2 mx-2 next_religion_btn"> {{'gameLabel.AtoZ_Group' |
                                            translate}}</button>
                                        <button type="button" class="btn btn-primary2 mx-2 next_religion_btn"
                                            (click)="selectCountry()"> {{'gameLabel.select_Country' |translate}}
                                            &nbsp;&gt;</button>

                                    </div>

                                </form>
                            </div>

                            <div class="col-6">
                                <iframe class="h-100 w-100" [src]="webLink |byPassSecurity">
                                    <p>Your browser does not support iframes.</p>
                                </iframe>
                            </div>
                        </div>
                    </div>
                    <div class="city_wraper_main h-100" *ngIf="this.state==='country'">
                        <div class="row size_row h-100">
                            <div class="col-6 text-center">
                                <h2> {{countryInfo}}</h2>
                                <div class=" text-center position-relative mb-4">
                                    <a class="go_back_btn backbtn" (click)="clickBack(state)">
                                        <i class="fa fa-arrow-left" aria-hidden="true" style="cursor: pointer;"></i>
                                        {{'gameLabel.Back' |translate}}</a>
                                </div>
                                <form class="w-100">
                                    <div class="d-flex flex-wrap justify-content-center no-gutters city_wraper">

                                        <div class="col-3" *ngFor="let country of countryList,let i = index">
                                            <div class="box radio_img fontforSmall">
                                                <label [class.active]="r.checked ">
                                                    <input #r type="radio" name="country" value="{{i}}"
                                                        (change)="allRadioButtonValue($event)">
                                                    <figure><img
                                                            src="assets/images/flags-big/{{country.Code | lowercase}}.png"
                                                            alt=""></figure>
                                                    <p class="m-0 text-uppercase font-600">{{country.country}}</p>
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center mt-5">
                                        <button type="button" class="btn btn-primary2 mx-2 next_religion_btn"
                                            *ngIf="!gameSummeryService.displayCountryGroupData "
                                            (click)="generateLife()"> {{'gameLabel.Generate_Life_Random' |translate}}
                                            &nbsp;&gt;</button>
                                        <button type="button" class="btn btn-primary2 mx-2 next_religion_btn"
                                            [disabled]="disableButton" (click)="stateChange('city')">
                                            {{'gameLabel.Select_City' | translate}} &nbsp;&gt;</button>
                                    </div>
                                </form>
                            </div>

                            <div class="col-6">

                                <div class="fobtn-css" style="height: 400px;">
                                    <h5>{{'gameLabel.Graph' |translate}}</h5>
                                    <button (click)="clickPopulation()">{{'gameLabel.Population' |translate}}</button>
                                    <button class="text-center countryGroupCommon "
                                        (click)="clickSdg()">{{'gameLabel.SDG' |translate}}</button>
                                    <button (click)="clickGini()">{{'gameLabel.income_inequality' |translate}}</button>
                                    <button (click)="clickHappiness()"> {{'gameLabel.Happiness' |translate}}</button>
                                    <button (click)="clickppp()"> {{'gameLabel.PPP' |translate}}</button>
                                    <button (click)="clickHdi()">{{'gameLabel.HDI' |translate}}</button>
                                    <div class="row justify-content-center">
                                        <div class="col-auto d-flex align-items-center" *ngIf="!dispalyOnlyOneLegent">
                                            <span class="color_display bg-danger mr-2"></span>
                                            <p class="mb-0"> {{'gameLabel.Bad_Indicators' | translate}}</p>
                                        </div>
                                        <div class="col-auto d-flex align-items-center" *ngIf="!dispalyOnlyOneLegent">
                                            <span class="color_display bg-success mr-2"></span>
                                            <p class="mb-0">{{'gameLabel.Good_Indicators' | translate}}</p>
                                        </div>
                                        <div class="col-auto d-flex align-items-center">
                                            <span class="color_display mediun mr-2"></span>
                                            <p class="mb-0"> {{'gameLabel.Median' | translate}}</p>
                                        </div>
                                    </div>
                                    <div *ngIf="!compaireCountryFlag">
                                        <ngx-charts-bar-horizontal [view]="view" [scheme]="colorScheme"
                                            [results]="single" [gradient]="gradient" [xAxis]="showXAxis"
                                            [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
                                            [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
                                            [yAxisLabel]="yAxisLabel">
                                        </ngx-charts-bar-horizontal>
                                    </div>

                                </div>
                                <div class="select_map" style="height: 300px; width: 100%;">
                                    <agm-map class="h-100 w-100" [latitude]='lat' [longitude]='lng' [zoom]='mapZoom'>
                                        <agm-marker *ngFor="let marker of markers ,let i=index" [latitude]="marker.lat"
                                            [longitude]="marker.lng" [label]="{text:marker.code}"
                                            (markerClick)="countryMarkerClick(marker)">
                                            <agm-info-window><strong style="color: black"> {{ marker.label }}</strong>
                                            </agm-info-window>
                                        </agm-marker>
                                    </agm-map>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="md-overlay black_modal gamescreen d-flex align-items-center" *ngIf="showSuccessMsgFlag">
    <div class="modal-dialog modal-dialog-centered w700" role="document">
        <div class="modal-content h-auto">
            <div class="modal-body p-0" style="text-align: center;">
                <span class="text-white moreinfo">{{moreInforStm}}</span>
                <div class="d-flex justify-content-center w-100 btnPadding">
                    <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1 "
                        (click)="successWindowOk()">{{'gameLabel.Ok' |translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="md-overlay black_modal gamescreen d-flex align-items-center" *ngIf="showSuccessMsgFlagLoadLife">
    <div class="modal-dialog modal-dialog-centered w700" role="document">
        <div class="modal-content h-auto">
            <div class="modal-body p-0" style="text-align: center; color: gray;">
                <span class="text-white moreinfo">{{moreInforStm}}</span>
                <div class="d-flex justify-content-center w-100 btnPadding paddingClass">
                    <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1 "
                        (click)="successWindowOkLoadLife()">{{'gameLabel.Ok' |translate}}</button>
                    <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1 "
                        (click)="loadIncompleteLife()">{{'gameLabel.Go_to_Incomplete_lives' |translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-wait-screen class="md-overlay_wait_screen" *ngIf="modalWindowService.showWaitScreen"></app-wait-screen>
<app-create-life-with-character-design class="md-overlay" *ngIf="modalWindowService.showcharacterDesignFlag">
</app-create-life-with-character-design>