.bolded { border: 1px solid rgb(228, 13, 13) !important }

.black_modal .modal-content{background: #000; border: 1px solid;  padding: 1rem;border-color: #413e3e;}


.primary-text-for-status {
    color: #fff;
}
.primary-text-for-status:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
    color:  #0e8a9b;
}

.boootom {
    color: #e30000!important;
        border-bottom: 1px solid #e30000!important;
    border-top: 1px solid #e30000!important;
        border-left: 2px solid #e30000!important;
            border-right: 1px solid #e30000 !important;
 }

.boootom1 { 
        color: #FFF600!important;
     border-bottom: 1px solid #FFF600!important;
    border-top: 1px solid #FFF600!important;
        border-left: 2px solid #FFF600 !important;
            border-right: 1px solid #FFF600 !important; }

.boootom2 {
    color: #e76b00!important;
    border-bottom: 1px solid #e76b00!important;
    border-top: 1px solid #e76b00!important;
        border-left: 2px solid #e76b00!important;
            border-right: 1px solid #e76b00!important; }

.boootom4 { 
      color: #34db00!important;
        border-bottom: 1px solid #34db00!important;
    border-top: 1px solid #34db00!important;
        border-left: 2px solid #34db00!important;
            border-right: 1px solid #34db00!important;
 }

.boootom3 {  
      color: #0000FF!important; 
    border-bottom: 1px solid #0000FF!important;
    border-top: 1px solid #0000FF!important;
        border-left: 2px solid #0000FF!important;
            border-right: 1px solid #0000FF!important;
        
 }

.infoborder{
    border-bottom:1px solid  #28b5ed!important;
}

.moreinfo{
    font-weight: 300!important;
}

.btnPadding{
    padding-top: 18px !important

}

.defaultBorder{
     border-bottom: 1px solid #565656!important;
    border-top: 1px solid #565656!important;
        border-left: 1px solid #565656!important;
            border-right: 1px solid #565656!important;

}

.dataBtn {
  /* margin-left: -7px;
  margin-top: 12px; */
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: -25px;
  margin-left: 4px;
}
