<div class="row mdl_cnt_rw" *ngIf="modelWindowShowHideService.showEvent">
    <div class="col-12 tabletop-score">
        <div class="row">
            <div class="col-2 tb-1 table-responsive" style="padding-right: 5px;">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="primary-text-for-status defaultBorder" style="cursor: pointer"
                                (click)="moreInfo()">
                                {{'gameLabel.Family_economic_status' | translate}}
                                <span class="material-icons" style="cursor: pointer; font-size: small;">info</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="status-color">
                        <tr class="status-tr defaultBorder">
                            <td class="status-change tlp primary-text-for-eco primary-text-for-status"
                                style="cursor: pointer" (click)="moreInfo()"
                                [ngStyle]="{'color':commonService.getColor((homeService.allPerson[constantService.FAMILY_SELF].current_economical_status))}">
                                {{commonService.getSatusString(homeService.allPerson[constantService.FAMILY_SELF].current_economical_status)}}
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="col-6 tb-1 table-responsive" style="padding-right: 5px; padding-left: 0;">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col " class="defaultBorder">{{'gameLabel.Country1' | translate}}</th>
                            <th scope="col tlp " [class]="statusClassOne" data-toggle="tooltip" data-placement="top"
                                title="{{'gameLabel.Extremely_poortlp' | translate}}">{{'gameLabel.Extremely_poor' |
                                translate}}</th>
                            <th scope="col  tlp " [class]="statusClassTwo" data-toggle="tooltip" data-placement="top"
                                title="{{'gameLabel.Extremely_poortlp' | translate}}">{{'gameLabel.poor' | translate}}
                            </th>
                            <th scope="col tlp " [class]="statusClassThree" data-toggle="tooltip" data-placement="top"
                                title="{{'gameLabel.Extremely_poortlp' | translate}}">{{'gameLabel.Middle_income' |
                                translate}}</th>
                            <th scope="col tlp " [class]="statusClassFour" data-toggle="tooltip" data-placement="top"
                                title="{{'gameLabel.Extremely_poortlp' | translate}}">{{'gameLabel.Rich' | translate}}
                            </th>
                            <th scope="col tlp " [class]="statusClassFive" data-toggle="tooltip" data-placement="top"
                                title="{{'gameLabel.Extremely_poortlp' | translate}}">{{'gameLabel.Super_rich' |
                                translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row" class="defaultBorder">{{bornCountry}}</th>
                            <td [class]="statusClassOne">1</td>
                            <td [class]="statusClassTwo">{{bOne.toFixed(2)}}</td>
                            <td [class]="statusClassThree">{{bTwo.toFixed(2)}}</td>
                            <td [class]="statusClassFour">{{bThree.toFixed(2)}}</td>
                            <td [class]="statusClassFive"> {{bThree.toFixed(2)}} >></td>

                        </tr>
                        <tr>
                            <th scope="row">{{registerCountry}}</th>
                            <td [class]="statusClassOne">1</td>
                            <td [class]="statusClassTwo">{{rOne.toFixed(2)}}</td>
                            <td [class]="statusClassThree">{{rTwo.toFixed(2)}}</td>
                            <td [class]="statusClassFour">{{rThree.toFixed(2)}}</td>
                            <td [class]="statusClassFive"> {{rThree.toFixed(2)}} >></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-4 tb-1 table-responsive " style="padding-right: 15px;padding-left: 0;">
                <table class="table table-bordered">
                    <thead>
                        <tr class="defaultBorder">
                            <th scope="col tlp" data-toggle="tooltip" data-placement="top"
                                title="{{'gameLabel.Max_per_day_income_of_bottom_10%_tlp' | translate}}">
                                {{'gameLabel.Max_per_day_income_of_bottom_10%' | translate}}</th>
                            <th scope="col tlp" data-toggle="tooltip" data-placement="top"
                                title="{{'gameLabel.Chance_of_being_born_into_an_absolute_poor_family_tlp' | translate}}">
                                {{'gameLabel.Chance_of_being_born_into_an_absolute_poor_family' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> $ {{(commonService.firstValueI/365).toFixed(2)}} {{'gameLabel.per_day' | translate}}
                            </td>
                            <td>{{((familyCapsuleService.chanceOfPoorB)*100).toFixed(0)}} %</td>
                        </tr>
                        <tr>
                            <td>$ {{(firstR/365).toFixed(2)}} {{'gameLabel.per_day' | translate}}</td>
                            <td>{{chanceOfPoorR.toFixed(0)}} %</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- <div class="col-1 tb-1">
                <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">Score</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td scope="row">100</td>
                      </tr>
                    </tbody>
                </table>
            </div> -->
        </div>
    </div>
    <div class="col-11 mx-auto d-flex align-items-center">

        <!--<div id="middle_modal" class="owl-carousel owl-theme">-->
        <div class="w-100 d-flex justify-content-center">
            <div class="col-lg-10 col-md-8_1024 eventcentered ">
                <div class="event_left_arrow slick-prev ">
                    <a class="eventarrow {{addCssForDisablePrivoius}}" (click)="previousEvent()">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="event_3d_box">
                    <div class="event_rotate">
                        <div class="event_front" [@movementtrigger]="eventService.state">
                            <div class="col-md-12 exp_box positionrelative">
                                <div class="col-md-12 pam mbm minheight125 eventboxmainslider">
                                    <img src="assets\images\life_event.png" width="16" height="7" class="mrs"
                                        alt="" /><span class="fnt-zise-sm">{{'gameLabel.Life_Event' | translate}}</span>
                                    <span class="fnt-zise-sm">{{'gameLabel.@Age' | translate}}
                                        {{eventService.currentEvent.age}} </span>
                                    <br>
                                    <span class="disblock event_text">{{eventService.currentEvent.text}}</span>
                                    <!-- <button class="btn btn-primary" (click)="updateEventTextButtonClick()">Change event Text</button> -->
                                </div>

                                <div class="col-md-12 exp_txt extramodificationforsdgicon">
                                    <div class=" d-flex">
                                        <div class="writeeventbox d-flex">
                                            <!-- <span class="col-2">
                                                  350/140
                                                </span> -->
                                            <span class="col paddingleftright0 d-flex">
                                                <!-- <span class="pull-left">
                                                        <img src="assets\images\action.png" class="mrs mbm" alt=""/>
                                                    </span> -->
                                                <textarea class="express text-white" cols="1" rows="1" maxlength="140"
                                                    placeholder="{{'gameLabel.What_do_you_think_or_feel_about_this' | translate}}"
                                                    [(ngModel)]="eventService.currentEvent.expression"
                                                    (ngModelChange)="chaneExpression()" required></textarea>
                                                <!--<span  class="pull-right error_msg font12px">-->
                                                <!--Special character not allowed!-->
                                                <!--</span>-->
                                            </span>
                                        </div>
                                        <div class="paddingright0 eventpostbtn button-parent">
                                            <!--<button type="button" class="btn btn-default pull-right" [disabled]="eventGenerateService.currentEvent.eventId == EVENTCONSTANT.COMMON_UNDEFINED_EVENT.eventId || eventGenerateService.currentEvent.expression ==null || eventGenerateService.currentEvent.expression =='' " (click)="postExpression()"> Post-->
                                            <!--</button>-->
                                            <button type="button" class=" btn-blue-grad btn btn-default pull-right"
                                                [disabled]="eventService.currentEvent.expression==='' || eventService.currentEvent.expression===null "
                                                (click)="saveExpression()"> {{'gameLabel.Save_To_Life_Summary' |
                                                translate}}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 ptm pbm factoid_area"
                                *ngIf="eventService.currentEvent.factroid!=='' || eventService.currentEvent.factroid.length >0">
                                <span class="font11px factoidheadline" *ngIf="eventService.currentEvent.factroid!==''">
                                    <img src="assets\images\i.png" width="16" height="16" class="mrs"
                                        alt="" />{{'gameLabel.Factoid' | translate}} :&nbsp;
                                </span>
                                <!--span class="pam pull-right font11px paddingtop5 sourcetext" *ngIf="eventService.currentEvent.link!==''">
                                        {{'gameLabel.Source' | translate}} :&nbsp;
                                         <span class="pull-right font11px">
                                             {{eventService.currentEvent.link}}
                                        </span>
                                    </span> -->
                                <div class="pam font14px colorb6b6b6 factoiddiscription paddingleftright0"
                                    *ngIf="eventService.currentEvent.factroid!==null">
                                    <span class="" [innerHTML]="eventService.currentEvent.factroid | truncate : 95">
                                        <!-- {{eventService.currentEvent.factroid | truncate : 30}} -->
                                    </span>
                                    <a class="font12px text-primary" data-toggle="modal" data-target="#myModal"
                                        *ngIf="eventService.currentEvent.factroid.length > 95">
                                        {{'gameLabel.Read_more' | translate}}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="event_right_arrow slick-next">
                    <a class="eventarrow {{addCssForDisableNext}}" (click)="nextEvent()">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i> </a>
                </div>



                <!-- residence-->
                <!-- <div class="card blue_heading_card">
                        <div class="card-header d-flex align-items-cente pt-1 pb-1">
                            <div class="icon"><img src="assets/images/education/school.png" alt="" height="auto"></div>
                            <div class="text-uppercase d-flex align-items-center active">Residence</div>
                        </div>
                        <div class="height-11 p-0 d-flex align-items-center justify-content-center flex-column">
                            <div class=" text-center text-dark">
                                    <div class="height-3">
                                        <button type="button" class="btn active border-radius btn-blue-grad mt-2">Move IN</button><br>
                                        <button type="button" class="btn active border-radius btn-blue-grad mt-2">Change City</button><br>
                                        <button type="button" class="btn active border-radius btn-blue-grad mt-2">Immigration</button>
                                </div>
                            </div>
                        </div>
                    </div> -->




            </div>
        </div>
        <!--</div>-->
    </div>

    <div class="md-overlay modal fade" id="myModal" tabindex="-1" role="dialog" *ngIf="readMoreFlag">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel"> {{'gameLabel.FACTOID' |translate}}:</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body" [innerHTML]="eventService.currentEvent.factroid">
                    <!-- <p>{{eventService.currentEvent.factroid}}</p> -->
                </div>
            </div>
        </div>
    </div>


    <div class="md-overlay black_modal gamescreen" id="fieldOfStudy" *ngIf="succesWindowFlag">
        <!--<div class="black_modal gamescreen" id="quit_collage_nodal">-->
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content h-auto">
                <div class="modal-body p-0">
                    <p class="text-center"> {{messageText}}</p>
                    <div class="d-flex justify-content-center w-100">
                        <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1" (click)="okClick()">
                            {{'gameLabel.Ok' |translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="md-overlay black_modal gamescreen" *ngIf="updateEventTextFlag">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"> Event Text</h4>
                    <button type="button" class="close" (click)="close()"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <p>{{eventService.currentEvent.text}}</p>
                    <textarea class="form-control" placeholder="Type Your corrected sentence..." rows="5"
                        [(ngModel)]="updatedTextForEvent" (ngModelChange)="change()"></textarea>
                    <button class="btn btn-primary mt-3" (click)="saveUpdatedTextForEvent()"
                        [disabled]="!updateEventTextSaveButonFlag">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="md-overlay black_modal gamescreen d-flex align-items-center" id="showInvestmentMetaDataWindow"
    *ngIf="moreInfoFlag">
    <div class="modal-dialog modal-dialog-centered w700" role="document">
        <div class="modal-content h-auto">
            <div class="modal-body p-0" style="text-align: left;">
                <span class="text-white moreinfo infoborder text-center" [innerHTML]="moreInfoTitle"></span>
                <span class="text-white moreinfo" [innerHTML]="moreInforStm"></span>
                <div class="d-flex justify-content-center w-100 btnPadding">
                    <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1 "
                        (click)="successMsgWindowClose()">{{'gameLabel.Ok' |translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>