<div class=" new_cmn_modal full_width home_country_select" id="home_country_select_modal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header position-relative d-flex align-items-center justify-content-between">
                <a class="go_back_btn text-primary" (click)="backClick()">
                    <i class="fa fa-arrow-left" aria-hidden="true" style="cursor: pointer;padding-left: 5px;"></i>
                    {{'gameLabel.Back'
                    |translate}}</a>
                <h5 class="modal-title text-white font-400 text-uppercase font_b8 text-center">
                    <span class=" pl-3"> </span>
                </h5>

                <a title="{{'gameLabel.Go_to_dashbord' | translate }}" data-toggle="tooltip" data-placement="left"
                    class="tlp" style="cursor: pointer;" (click)="clickToExitButton()">
                    <span class="material-icons " style="cursor: pointer;float: right;">login</span></a>
            </div>
            <div class="modal-body bg-light">
                <div class="content text-gray2 pt-3 ">
                    <div class="city_wraper_main">
                        <div class="row size_row">
                            <div class="col-6 text-center">
                                <h2> {{'gameLabel.select_country_1' |translate}}</h2>
                                <h4>{{'gameLabel.selected_country_1' |translate}}: {{bornCountry}}</h4>
                                <form class="w-100">
                                    <div class="d-flex flex-wrap justify-content-center no-gutters city_wraper">

                                        <div class="col-3" *ngFor="let country of countryList, let i = index">
                                            <div class="box radio_img  fontforSmall">
                                                <label [class.active]="r.checked ">
                                                    <input #r type="radio" name="country_born"
                                                        value="{{country.countryid}}"
                                                        (change)="allRadioButtonValue($event)">
                                                    <figure><img
                                                            src="assets/images/flags-big/{{country.Code | lowercase}}.png"
                                                            alt=""></figure>
                                                    <p class="m-0 text-uppercase font-600">{{country.country}}</p>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-6 text-center">
                                <h2> {{'gameLabel.select_country_2' |translate}}</h2>
                                <h4>{{'gameLabel.selected_country_2' |translate}}: {{registerCountry}}</h4>
                                <form class="w-100">
                                    <div class="d-flex flex-wrap justify-content-center no-gutters city_wraper">

                                        <div class="col-3" *ngFor="let country of countryList, let i = index">
                                            <div class="box radio_img  fontforSmall">
                                                <label [class.active]="r.checked ">
                                                    <input #r type="radio" name="country_register"
                                                        value="{{country.countryid}}"
                                                        (change)="allRadioButtonValue($event)">
                                                    <figure><img
                                                            src="assets/images/flags-big/{{country.Code | lowercase}}.png"
                                                            alt=""></figure>
                                                    <p class="m-0 text-uppercase font-600">{{country.country}}</p>
                                                </label>
                                            </div>
                                        </div>
                                    </div>


                                </form>
                            </div>

                        </div>
                        <!-- </div> -->
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-5">
                    <button type="button" (click)="shuffleCountry()"
                        class="btn btn-primary2 mx-2 next_religion_btn">{{'gameLabel.Shuffle_country'|translate}}</button>
                    <button type="button" (click)="Atoz()" class="btn btn-primary2 mx-2 next_religion_btn">
                        {{'gameLabel.AtoZ'|translate}}</button>
                    <button type="button" class="btn btn-primary2 mx-2 next_religion_btn" [disabled]="!disableFlag"
                        (click)="generate()">
                        {{'gameLabel.Generate_Data' |translate}} &nbsp;&gt;
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="md-overlay black_modal gamescreen" *ngIf="sameCountrySelectionFlag">
    <div class="modal-dialog modal-dialog-centered w700" role="document">
        <div class="modal-content h-auto">
            <div class="modal-body p-0" style="text-align: center; color: gray;">
                <span class="text-white moreinfo">{{msgText}}</span>
                <div class="d-flex justify-content-center w-100 btnPadding paddingClass">
                    <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1 " (click)="okClick()">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>