<div class=" new_cmn_modal sdg_modal" id="using_sdg_modal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true" *ngIf="!sdgToolService.sdgQuetionFlag">

    <a class="go_back_btn text-primary" (click)="backClick(state)">
        <i class="fa fa-arrow-left" aria-hidden="true" style="cursor: pointer;"></i> {{'gameLabel.Back' |translate}}</a>

    <a title="{{'gameLabel.Go_to_dashbord' | translate }}" data-toggle="tooltip" data-placement="left" class="tlp"
        style="cursor: pointer;" (click)="clickToExitButton()">
        <span class="material-icons " style="cursor: pointer;float: right;">login</span></a>

    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body bg-black" (click)="close()">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" *ngIf="state==='sdgGoal'">
                    <span class="material-icons">close</span>
                </button>
                <div [class]="className">
                    <div *ngIf="state==='sdgGoal'">
                        <div class="col-md-12 mx-auto">
                            <div class="col-md-4 mx-auto text-center mx-4">
                                <div class="">
                                    <figure class="mb-4"><img
                                            src="assets/images/sdgicon/E_SDG_Logo_UN-Emblem-01_transparent.png" alt=""
                                            class="img-fluid"></figure>
                                </div>
                            </div>
                            <div class="col-md-12 mx-auto text-center mx-4">
                                <div class="col-md-12 mx-auto d-flex flex-wrap justify-content-center">

                                    <div class="box" *ngFor="let sdg of sdgNameArray;let i=index">
                                        <a (click)="option(sdg.sdgId)" style="cursor: pointer">
                                            <img [class]="sdg.class" src="{{sdg.image}}" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h2 class="text-center mt-3 mb-3">{{stmt3}}</h2>
                        <div class="col-md-12 mx-auto d-flex flex-wrap justify-content-center bordr-white ">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="amenity_hdr">
                                        <figure class="mb-0"><img src={{sdgImage}} alt=""></figure>
                                        <h3 class="text-primary2 mt-2">{{sdgTitle}}</h3>
                                    </div>
                                    <div class="amenity_cnt">
                                        <p class="line-height-2">{{sdgDescription}}</p>
                                    </div>
                                </div>
                                <div class="col-md-5 box">
                                    <div class="row box stmt">
                                        <div *ngIf="stmt1!==''">
                                            <h3 class="headingColor">
                                                {{phpToolService.selectedBornCountryObject.country}}:</h3>
                                            <h3>{{stmt1}}</h3>
                                        </div>
                                        <div *ngIf="stmt2!==''">
                                            <h3 class="headingColor" style="margin-top: 20px;">
                                                {{phpToolService.selectedRegisterCountryObject.country}}:</h3>
                                            <h3>{{stmt2}}</h3>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="amenity_ftr border-top border_white_op6 pt-2">
                                <div class="">
                                    <p class="font_b1">{{'gameLabel.Legend' |translate}}</p>
                                    <p class="mb-0 small align-items-center mr-4 legent">
                                        <span class="bg-red clr_code d-inline-block mr-2"></span>
                                        {{'gameLabel.major_challenges' |translate}}
                                    </p>
                                    <p class="mb-0  small align-items-center mr-4 legent">
                                        <span class="bg-oragne clr_code d-inline-block mr-2"></span>
                                        {{'gameLabel.significant_challenges' |translate}}
                                    </p>
                                    <p class="mb-0  small align-items-center mr-4 legent">
                                        <span class="bg-yellow clr_code d-inline-block mr-2"></span>
                                        {{'gameLabel.challenges_remain' |translate}}
                                    </p>
                                    <p class="mb-0 small align-items-center mr-4 legent">
                                        <span class="bg-success clr_code d-inline-block mr-2"></span>
                                        {{'gameLabel.goal_achivments' |translate}}
                                    </p>
                                    <p class="mb-0 small align-items-center mr-4 legent">
                                        <span class=" bg-secondary clr_code d-inline-block mr-2"></span>
                                        {{'gameLabel.No_data' |translate}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="row mt-2 " style="float: right;"> -->
                        <div class="col-12 btn_row p-0  mt-2">
                            <a>
                                <button type="submit" class="btn btn-primary2 px-2" style="float: right;"
                                    (click)="sdgSelect(sdgId)">{{'gameLabel.Next'|translate}} </button>
                            </a>
                        </div>
                        <div class="d-flex flex-column align-items-stretch w-100 pt-2">
                            <div class="map_cmn world_map bg-white w-100">
                                <div id="mapDiv" class="h-100 w-100>"></div>
                            </div>
                        </div>
                        <div class="row mt-2 " style="float: right;">
                            <div class="col-12 btn_row p-0">
                                <a>
                                    <button type="submit" class="btn btn-primary2 px-2"
                                        (click)="sdgSelect(sdgId)">{{'gameLabel.Next'|translate}} </button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="state==='sdgsubGoal'">
                        <div class="col-md-12 mx-auto text-center mx-4">
                            <div class="col-md-12 mx-auto d-flex flex-wrap justify-content-center">

                                <div class="box subgoal" *ngFor="let sdg of sdgNameArray;let i=index">
                                    <a (click)="sdgSelect(sdg.sdgId)" style="cursor: pointer">
                                        <img [class]="sdg.class" src="{{sdg.image}}" alt=""
                                            style="height: 80px; border-radius: 15px;">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 mx-auto text-center mx-4">
                            <h2 class="text-center mt-3 mb-3">{{subGoalStm3}}</h2>
                        </div>
                        <div class="sdg_amenity_modal p-0">
                            <div class="modal-body p-0 bg-none">
                                <div class="">
                                    <div class="container-fluid">

                                        <div class="row">

                                            <div class="col-6 px-4 py-3">
                                                <table class="table text-white text-center">
                                                    <tbody>
                                                        <tr>
                                                            <td class="hd_td border_white_op6">
                                                                <div class="flag "><img class="img-fluid flagBorder"
                                                                        src="assets/images/flags-big/{{phpToolService.selectedBornCountryObject.Code | lowercase}}.png"
                                                                        alt=""></div>
                                                            </td>
                                                            <td class="hd_td border_white_op6"></td>
                                                            <td class="hd_td border_white_op6">
                                                                {{'gameLabel.SDG_Parameters' |translate}}</td>
                                                            <td class="hd_td border_white_op6"></td>
                                                            <td class="hd_td border_white_op6">
                                                                <div class="flag "><img class="img-fluid flagBorder"
                                                                        src="assets/images/flags-big/{{phpToolService.selectedRegisterCountryObject.Code | lowercase}}.png"
                                                                        alt=""></div>
                                                            </td>
                                                        </tr>
                                                        <tr *ngFor="let s of bornSdgInfo  let i=index"
                                                            [class]="s.SDG_Id" (click)="radioButtonValue(s.id,i)"
                                                            style="cursor: pointer;">

                                                            <td class="border_white_op6"> {{s.score}}</td>
                                                            <td class="border_white_op6">
                                                                <p class="mb-0 d-flex align-items-center">
                                                                    <span [class]="getNewSdgColor(s.color)"></span>
                                                                </p>
                                                            </td>
                                                            <td class="border_white_op6">
                                                                <span class="stmt">{{s.target_desc}}</span>
                                                            </td>
                                                            <td class="border_white_op6">
                                                                <p class="mb-0 d-flex align-items-center">
                                                                    <span
                                                                        [class]="getNewSdgColor(getRegisterCountrySdgColur(i))"></span>
                                                                </p>
                                                            </td>
                                                            <td class="border_white_op6">
                                                                {{getRegisterCountrySdgScore(i)}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                            <div class="col-6 pl-5">
                                                <div class="col-md-8 p-0">
                                                    <div class="">
                                                        <figure class="mb-4"><img src="" alt="" class="img-fluid">
                                                        </figure>
                                                    </div>
                                                </div>
                                                <div class="amenity_hdr">
                                                    <!-- <figure class="mb-0"><img src={{sdgImage}} alt=""></figure> -->
                                                    <h3 class="text-primary2 mt-2">{{sdgTitle}}</h3>
                                                </div>
                                                <div class="row box stmt">
                                                    <h3 class="headingColor" style="break-after: always;">
                                                        {{phpToolService.selectedBornCountryObject.country}}:</h3>
                                                    <h3 style="break-after: always;"> {{subGoalStm1}}</h3>
                                                    <h3 class="headingColor"
                                                        style="break-after: always;margin-top: 20px;">
                                                        {{phpToolService.selectedRegisterCountryObject.country}}:</h3>
                                                    <h3>{{subGoalStm2}}</h3>
                                                </div>
                                                <div class="amenity_ftr border-top border_white_op6 pt-2">
                                                    <p class="font_b1">{{'gameLabel.Legend' |translate}}</p>
                                                    <div class="">
                                                        <p class="mb-0 small align-items-center mr-4 legent">
                                                            <span class="bg-red clr_code d-inline-block mr-2"></span>
                                                            {{'gameLabel.major_challenges' |translate}}
                                                        </p>
                                                        <p class="mb-0  small align-items-center mr-4 legent ">
                                                            <span class="bg-oragne clr_code d-inline-block mr-2"></span>
                                                            {{'gameLabel.significant_challenges' |translate}}
                                                        </p>
                                                        <p class="mb-0  small align-items-center mr-4 legent">
                                                            <span class="bg-yellow clr_code d-inline-block mr-2"></span>
                                                            {{'gameLabel.challenges_remain' |translate}}
                                                        </p>
                                                        <p class="mb-0 small align-items-center mr-4 legent">
                                                            <span
                                                                class="bg-success clr_code d-inline-block mr-2"></span>
                                                            {{'gameLabel.goal_achivments' |translate}}
                                                        </p>
                                                        <p class="mb-0  small align-items-center">
                                                            <span
                                                                class=" bg-secondary clr_code d-inline-block mr-2"></span>
                                                            {{'gameLabel.No_data' |translate}}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row mt-2 " style="float: right;">
                                            <div class="col-12 btn_row p-0">
                                                <a>
                                                    <button type="submit" class="btn btn-primary2 px-2"
                                                        (click)="setQuetion()">{{'gameLabel.Next'|translate}} </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="" *ngIf="state==='reallives'">
                        <div>
                            <header>
                                <div class="logo mx-auto trans" data-aos="" data-aos-delay="100"><img img
                                        src="assets/images/RL_logo.svg" alt="">
                                </div>
                            </header>
                            <div class="container-fluid">
                                <div class=" ">
                                    <div class="md-col-12" style="margin-top: 80px">
                                        <h2 class="text-center" style="margin-bottom: 15px;">{{msgText}}
                                        </h2>
                                        <div class="col-md-12 mx-auto">
                                            <div class="col-md-4 mx-auto text-center mx-4">
                                                <div class="">
                                                    <figure class="mb-2"><img
                                                            src="assets/images/sdgicon/E_SDG_Logo_UN-Emblem-01_transparent.png"
                                                            alt="" class="img-fluid"></figure>
                                                </div>
                                                <div class="amenity_hdr col-5 mx-auto">
                                                    <figure class="mb-0 w-100"><img src={{sdgImage}} alt=""
                                                            class="img-fluid"></figure>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mx-auto text-center mx-4">
                                                <p>
                                                <h5 class="mb-0 mt-3 text-primary font_b3 font-600 line-height-1">
                                                    {{sdgSubGoalValue}} {{sdgTargetDesc}}</h5>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="content text-center"
                                                    (click)="countrySelectionToPlayLifeFirst()">
                                                    <div class=" border_white_op6 text-uppercase pb-3">
                                                        <h2 class="text-primary2">
                                                            {{phpToolService.selectedBornCountryObject.country}}
                                                        </h2>
                                                    </div>
                                                    <figure [class]="classForCountryOne"><img
                                                            style="width: 210;height: 140"
                                                            src="assets/images/flags-big/{{phpToolService.selectedBornCountryObject.Code | lowercase}}.png"
                                                            alt="" class="img-fluid flagBorder">
                                                    </figure>

                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="content text-center"
                                                    (click)="countrySelectionToPlayLifeSecond()">
                                                    <div class="border_white_op6 text-uppercase pb-3">
                                                        <h2 class="text-primary2">
                                                            {{phpToolService.selectedRegisterCountryObject.country}}
                                                        </h2>
                                                    </div>
                                                    <figure [class]="classForCountryTwo"><img
                                                            style="width: 210;height: 140;"
                                                            src="assets/images/flags-big/{{phpToolService.selectedRegisterCountryObject.Code | lowercase}}.png"
                                                            alt="" class="img-fluid flagBorder"></figure>

                                                </div>
                                            </div>

                                        </div>
                                        <h3 class="text-center" style="margin-bottom: 20px;">
                                            {{'gameLabel.Selected_country1'|translate}} :
                                            {{selectedCountryName}}
                                        </h3>
                                        <div class="d-flex justify-content-center mt-3">
                                            <a (click)="playReallives()" *ngIf="translationService.gameBuyFlag">
                                                <img src="assets/images/end-tool-button.svg" alt=""
                                                    style="cursor: pointer;width: 220px">
                                                <!-- <img src="assets/images/startscreen/New%20Life.png" alt="" style="cursor: pointer"> -->
                                            </a>

                                            <button type="button" class="btn btn-blue-grad py-1 px-4 mr-3"
                                                *ngIf="!translationService.gameBuyFlag"
                                                (click)="buyNow()">{{'gameLabel.Buy_RealLives'
                                                |translate}}
                                            </button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid play_life tab-first" *ngIf="sdgToolService.sdgQuetionFlag">
    <div class="listing_heading text-center position-relative mb-4" *ngIf="state!=='born-screen'">
        <a class="go_back_btn text-primary" (click)="goBack()">
            <i class="fa fa-arrow-left" aria-hidden="true" style="cursor: pointer;"></i> {{'gameLabel.Back'
            |translate}}</a>
    </div>
    <div class="row h-100 align-items-center">
        <div class="col-12">
            <h3 class="text-primary text-center">Quetions</h3>
        </div>
        <div class="col-md-12 mx-auto">
            <div class="">
                <div class="content text-center">
                    <div class="col-md-12">
                        <app-questionnaire *ngIf="sdgToolService.sdgQuetionFlag"></app-questionnaire>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="md-overlay black_modal gamescreen d-flex align-items-center" *ngIf="showAlertFlag">
    <div class="modal-dialog modal-dialog-centered w700" role="document">
        <div class="modal-content h-auto">
            <div class="modal-body p-0" style="text-align: center; color: gray;">
                <span class="text-white moreinfo">{{msgText}}</span>
                <div class="d-flex justify-content-center w-100 btnPadding paddingClass">
                    <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1 " (click)="clickOk()">{{'gameLabel.Ok'
                        |translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>

<app-wait-screen class="md-overlay_wait_screen" *ngIf="modalWindowService.showWaitScreen"></app-wait-screen>