.sdg .box img {
    width: 80px !important;
    height: 80px !important;
}

.sdg .box1 img {
    width: 150px !important;
    height: 150px !important;

}

.sdg1 .box img {
    width: 80px !important;
    height: 80px !important;
}

.sdg1 .box1 img {
    width: 150px !important;
    height: 150px !important;

}

.subgoalImage{
    height: 80px;
border-radius: 15px;
}
.subgoal{
    padding-bottom: 25px;
    padding-right: 25px;
}
.highlight { background-color: #4e4e57 }
.bordr-white{border: 1px solid gray; padding: 20px;}
.sdg-img-selected{box-shadow: 0px 0px 6px 6px rgb(255 255 255);}
.legent{
    display: inline;
}
.subgoalDes{
    font-size: 14px;
}
.stmt{
    font-size: 17px;
}

.map{
   width: 1180;
}

.map_cmn {
  height: 30vh;
}
.countrySelectionClass{
  border: 6px solid white;
}
.headingColor{
    color: rgb(88, 194, 236);
}

.sdg_amenity_modal {
  width: 100%;
  border: none!important;
  padding: 2.0rem 1rem;
  margin: auto;
  background: #000;
  position: relative;
  border-radius: 15px;
}
