<div class="md-overlay new_cmn_modal full_width gamescreen" tabindex="-1" role="dialog" *ngIf="modalWindowService.showKonwMoreFlag">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header position-relative d-flex align-items-center justify-content-between">
                <h5 class="modal-title text-white font-400 text-uppercase font_b8 d-flex align-items-center" id="">
                    <img src="assets/images/edu_head_icon.png" alt=""> 
                    <span class="pl-3">{{'gameLabel.KNOW_MORE_ABOUT_THE_COUNTRY' |translate}}</span>
                </h5>
                <button type="button" class="close" (click)="closeReadMore()">
                    <!--<span aria-hidden="true">&times;</span>-->
                    <span class="material-icons">close</span>
                </button>
            </div>
            <div class="modal-body p-0 rem-scroll">
                <div class="col-md-12 popbox_white h-100 pt-0">
                    <div class="row h-100">
                        <div class="col-9 py-3">
                            <div class="h-100">
                                <ul class="nav nav-tabs map_btn_new" id="country_info" role="tablist">
                                    <li class="nav-item" style="cursor: pointer;">
                                        <a class="nav-link {{mapClassForTab}}" (click)="displayData('map')"> {{'gameLabel.MAP' |translate}}</a>
                                    </li>
                                    <li class="nav-item" style="cursor: pointer;">
                                        <a class="nav-link {{wikiClassForTab}}" (click)="displayData('wiki')">{{'gameLabel.ABOUT' | translate}}  {{currentCountry.country}}</a>
                                    </li>
                                    <li class="nav-item" *ngIf="currentCountry.cityLink!=''" style="cursor: pointer;">
                                        <a class="nav-link {{cityclassForTab}}" (click)="displayData('city')"> {{'gameLabel.ABOUT_CITY' | translate}}  {{currentCountry.cityName}}</a>
                                    </li>
                                    <li class="nav-item" style="cursor: pointer;">
                                        <a class="nav-link {{capitalclassForTab}}"  (click)="displayData('capital')"> {{'gameLabel.ABOUT_CAPITAL' | translate}} {{currentCountry.Capital}}</a>
                                    </li>
                                    <li class="nav-item" style="cursor: pointer;">
                                        <!-- <a class="nav-link {{lonlyClassForTab}}"  (click)="sanitize(currentCountry.LonelyPlanetCode,'Lonly')"> {{'gameLabel.LONELY_PLANET' | translate}}</a> -->
                                        <a class="nav-link {{lonlyClassForTab}}"  (click)="displayData('Lonly')">{{'gameLabel.CIA_Factbook' | translate}} </a>
                                    </li>
                                    <li class="nav-item" style="cursor: pointer;">
                                        <a class="nav-link {{nationalClassForTab}}"  (click)="displayData('nationalGeographic')"> {{'gameLabel.LONELY_PLANET' | translate}}</a>
                                    </li>
                                    <li class="nav-item" style="cursor: pointer;">
                                        <a class="nav-link {{unescoClassForTab}}"  (click)="displayData('sdg')"> {{'gameLabel.SDG' | translate}}</a>
                                    </li>
                                    <li class="nav-item" style="cursor: pointer;">
                                        <a class="nav-link {{climateClassForTab}}"  (click)="displayData('climate')">{{'gameLabel.Ethnic_groups' | translate}}</a>
                                    </li>
                                    <li class="nav-item" style="cursor: pointer;">
                                        <a class="nav-link {{healthClassForTab}}"  (click)="displayData('health')"> {{'gameLabel.Health_Profile' | translate}}</a>
                                    </li>
                                     <!-- <li class="nav-item" style="cursor: pointer;">
                                       <a class="nav-link {{ hdrClassForTab}}"  (click)=" displayData('human')"> HDP</a>
                                    </li>  -->
                                     <li class="nav-item" style="cursor: pointer;">
                                        <a class="nav-link {{encyclopediaClassForTab }}"  (click)="displayData('biodiversity')">{{'gameLabel.biodiversity_country_profiles' | translate}}</a>
                                    </li>
                                    
                                </ul>
                                <div class="tab-content" id="country_infoContent">
                                    <div class="tab-pane fade show active h-100" *ngIf="displayMap">
                                        <div class="h-100">
                                            <div class="h-100 bg-white">
                                                <agm-map class="h-100 w-100" [latitude]="latitude" [longitude]="longitude"  style="height: 300" [zoom]="mapZoom"  >
                                                    <agm-marker class="h-100 w-100" [latitude]="latitude" [longitude]="longitude">
                                                     <agm-info-window><strong>{{cityName}}</strong></agm-info-window>
                                       </agm-marker>
                                     </agm-map>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade show active h-100" *ngIf="displayWiki">
                                        <div class="h-100">
                                            <div class="h-100 bg-light">
                                                <iframe  class="h-100 w-100" [src]="wikiUrl+currentCountry.country |byPassSecurity">
                                                    <p>Your browser does not support iframes.</p>
                                                  </iframe>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade show active h-100" *ngIf="displayCity">
                                        <div class="h-100">
                                            <div class="h-100 bg-white">
                                                <iframe  class="h-100 w-100" [src]="cityLink+this.honeService.allPerson['SELF'].city.cityName |byPassSecurity" width="100%">
                                                    <p>Your browsers does not support iframes.</p>
                                                  </iframe>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade show active h-100" *ngIf="displayCapital">
                                        <div class="h-100">
                                            <div class="h-100 bg-light">
                                                <iframe  class="h-100 w-100" [src]="currentCountry.CapitalWikiLink |byPassSecurity" width="100%">
                                                    <p>Your browser does not support iframes.</p>
                                                  </iframe>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade show active h-100" *ngIf="displayLonly">
                                        <div class="h-100">
                                            <div class="h-100 bg-white">
                                                <iframe  class="h-100 w-100" [src]="ciaUrl+currentCountry.country.toLowerCase() |byPassSecurity" width="100%">
                                                    <p>Your browser does not support iframes.</p>
                                                  </iframe>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade show active h-100" *ngIf="dispalyNationalGeographic">
                                        <div class="h-100">
                                            <div class="h-100 bg-white">
                                                <iframe  class="h-100 w-100" [src]="currentCountry.LonelyPlanetCode |byPassSecurity" width="100%">
                                                    <p>Your browser does not support iframes.</p>
                                                  </iframe>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade show active h-100" *ngIf="displayUnesco">
                                        <div class="h-100">
                                            <div class="h-100 bg-white">
                                                <iframe  class="h-100 w-100" [src]="sdgUrl+sdgCountry |byPassSecurity" width="100%">
                                                    <p>Your browser does not support iframes.</p>
                                                  </iframe>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade show active h-100" *ngIf="dispalyClimate">
                                        <div class="h-100">
                                            <div class="h-100 bg-white">
                                                <iframe  class="h-100 w-100" [src]="clicmateUrl+currentCountry.country |byPassSecurity" width="100%">
                                                    <p>Your browser does not support iframes.</p>
                                                  </iframe>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade show active h-100" *ngIf="disaplayHealth">
                                        <div class="h-100">
                                            <div class="h-100 bg-white">
                                                <iframe  class="h-100 w-100" [src]="helathUrl+countryShort|byPassSecurity" width="100%" >
                                                    <p>Your browser does not support iframes.</p>
                                                  </iframe>
                                            </div>
                                        </div>
                                    </div>
                                      <!-- <div class="tab-pane fade show active h-100" *ngIf=" dispalyHdr">
                                        <div class="h-100">
                                            <div class="h-100 bg-white">
                                                <iframe  class="h-100 w-100" [src]="hdrUrl+currentCountry.code |byPassSecurity" width="100%">
                                                    <p>Your browser does not support iframes.</p>
                                                  </iframe>
                                            </div>
                                        </div>
                                    </div>  -->
                                    <div class="tab-pane fade show active h-100" *ngIf="dispalyEncyclopedia">
                                        <div class="h-100">
                                            <div class="h-100 bg-white">
                                                <iframe  class="h-100 w-100" [src]="biodiversityUrl+currentCountry.code |byPassSecurity" width="100%" >
                                                    <p>Your browser does not support iframes.</p>
                                                  </iframe>
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        </div>
                        <div class="col-3 country_info_right py-3">
                            <div class="h-100">
                                <div class="hdr d-flex align-items-center border-bottom">
                                    <figure><img src="assets/images/flags-big/{{(currentCountry.Code) | lowercase}}.png" alt=""></figure>
                                    <h3 class="text-dark">
                                       {{currentCountry.country}} ({{currentCountry.Continents}})<br>
                                        <!-- <span class="small text-secondary font-300">{{currentCountry.Continents}}</span> -->
                                    </h3>
                                </div>
                                
                                <ul class="nav nav-tabs mb-3 map_btn_new text-dark" id="country_info" role="tablist">
                                    <li class="nav-item mr-1 text-dark" style="cursor: pointer;">
                                        <a class="nav-link {{activeClassHealthForTab}} " (click)="checkTabView('Health')" *ngIf="showHelathFlag"> {{'gameLabel.HEALTH' | translate}}</a>
                                    </li>
                                    <li class="nav-item mr-1" style="cursor: pointer;">
                                        <a class="nav-link {{activeClassSocialForTab}}" (click)="checkTabView('Social')" *ngIf="showSocialFlag"> {{'gameLabel.SOCIAL' | translate}}</a>
                                    </li>
                                    <li class="nav-item mr-1" style="cursor: pointer;">
                                        <a class="nav-link {{activeClassEcomnomicalForTab}}" (click)="checkTabView('Economical')" *ngIf="showEconomicalFlag"> {{'gameLabel.ECONOMICAL' | translate}}</a>
                                    </li>
                                    <li class="nav-item mr-1" style="cursor: pointer;">
                                        <a class="nav-link {{activeClassPoliticalForTab}}" (click)="checkTabView('Political')" *ngIf="showPoliticFlag"> {{'gameLabel.POLITICAL' | translate}}</a>
                                    </li>
                                </ul>
                                <div class="tab-content border-0">
                                    <div class="tab-pane fade  {{activeClassPolitical}} h-100" *ngIf="showPoliticFlag">
                                        <div class="h-100">
                                            <div class="h-100 overflow-auto">
                                                <div class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="knw-mre-label"> {{'gameLabel.Country' | translate}}</span>
                                                    <span class="knw-mre-value">{{currentCountry.country}}</span>
                                                </div>
                                                <div class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="knw-mre-label"> {{'gameLabel.Population' | translate}} </span>
                                                    <span class="knw-mre-value">{{checkPopulationFormat(currentCountry.Population)}} {{checkFormat}} </span>
                                                </div>
                                                <div class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="knw-mre-label"> {{'gameLabel.Currency' | translate}}</span>
                                                    <span class="knw-mre-value">{{currentCountry.currency_code}}</span>
                                                </div>
                                                <div class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="tlp knw-mre-label" data-toggle="tooltip" data-placement="left" title=" {{'gameLabel.politicalRigth' | translate}}" style="cursor: pointer;">  {{'gameLabel.Political_Rights_Index' | translate}}</span>
                                                    <span class="knw-mre-value">{{currentCountry.PoliticalRight}}</span>
                                                </div>
                                                <div class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="tlp knw-mre-label" data-toggle="tooltip" data-placement="left" title=" {{'gameLabel.civilLib' | translate}}" style="cursor: pointer;"> {{'gameLabel.Civil_Liabilities_Index' | translate}}</span>
                                                    <span class="knw-mre-value">{{currentCountry.CivilLiabilities}}</span>
                                                </div>
                                                <div class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="knw-mre-label"> {{'gameLabel.Government_Social_Services_Index' | translate}} </span>
                                                    <span class="knw-mre-value">{{govermentSocialServices}}</span>
                                                </div>
                                                <div class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="tlp knw-mre-label" data-toggle="tooltip" data-placement="right" title="{{'gameLabel.globelPic' | translate}}" style="cursor: pointer;"> {{'gameLabel.Global_Peace_Index_Rank' | translate}}</span>
                                                    <span class="knw-mre-value">{{currentCountry.Peace_Rank}}</span>
                                                </div>
                                                <div class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="tlp knw-mre-label" data-toggle="tooltip" data-placement="right" title=" {{'gameLabel.globelPic' | translate}}" style="cursor: pointer;"> {{'gameLabel.Global_Peace_Score' | translate}}</span>
                                                    <span class="knw-mre-value">{{currentCountry.Peace_Rank}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade {{activeClassSocial}} h-100" *ngIf="showSocialFlag" >
                                        <div class="h-100">
                                            <div class="h-100 overflow-auto">
                                                <div class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="tlp knw-mre-label" data-toggle="tooltip" data-placement="right" title="{{'gameLabel.corruption' |translate}}" style="cursor: pointer;"> {{'gameLabel.Corruption' | translate}}</span>
                                                    <span class="knw-mre-value">{{currentCountry.corruption}} </span>
                                                </div>
                                                <div class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="tlp knw-mre-label" data-toggle="tooltip" data-placement="right" title="{{'gameLabel.death' |translate}}" style="cursor: pointer;">{{'gameLabel.Death_Rate' | translate}}</span>
                                                    <span class="knw-mre-value">{{currentCountry.DeathRate}} </span>
                                                </div>
                                                <div class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="tlp knw-mre-label" data-toggle="tooltip" data-placement="right" title="" style="cursor: pointer;"> {{'gameLabel.Divorce_Rate' | translate}}</span>
                                                    <span class="knw-mre-value">{{currentCountry.DivorceRate}} </span>
                                                </div>
                                                
                                                <div class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="tlp knw-mre-label" data-toggle="tooltip" data-placement="right" title="{{'gameLabel.maleliteracy' | translate}}" style="cursor: pointer;"> {{'gameLabel.Male_Literacy' | translate}}</span>
                                                    <span class="knw-mre-value">{{currentCountry.MaleLiteracy}} %</span>
                                                </div>
                                                <div class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="tlp knw-mre-label" data-toggle="tooltip" data-placement="left" title="{{'gameLabel.femaleliteracy' | translate}}" style="cursor: pointer;"> {{'gameLabel.Female_Literacy' | translate}}</span>
                                                    <span class="knw-mre-value">{{currentCountry.FemaleLiteracy}}%</span>
                                                </div>
                                                <div class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="tlp knw-mre-label" data-toggle="tooltip" data-placement="right" title="" style="cursor: pointer;">{{'gameLabel.Primary_school' | translate}}</span>
                                                    <span class="knw-mre-value">{{currentCountry.PrimarySchool}} </span>
                                                </div>
                                                
                                                <div class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="tlp knw-mre-label" data-toggle="tooltip" data-placement="right" title="" style="cursor: pointer;"> {{'gameLabel.Secondary_school_male' | translate}}e</span>
                                                    <span class="knw-mre-value">{{currentCountry.SecondarySchoolMale}} </span>
                                                </div>
                                                <div class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="tlp knw-mre-label" data-toggle="tooltip" data-placement="right" title="" style="cursor: pointer;"> {{'gameLabel.Secondary_school_female' | translate}}</span>
                                                    <span class="knw-mre-value">{{currentCountry.SecondarySchoolFemale}} </span>
                                                </div>
                                                <div class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="tlp knw-mre-label" data-toggle="tooltip" data-placement="right" title="" style="cursor: pointer;"> {{'gameLabel.Happiness_rank' | translate}}</span>
                                                    <span class="knw-mre-value">{{currentCountry.HappinessRank}} </span>
                                                </div>
                                                <div class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="tlp knw-mre-label" data-toggle="tooltip" data-placement="right" title="" style="cursor: pointer;"> {{'gameLabel.Happiness_score' | translate}}</span>
                                                    <span class="knw-mre-value">{{currentCountry.HappinessScore}} </span>
                                                </div>

                                                <div class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="tlp knw-mre-label" data-toggle="tooltip" data-placement="right" title="" style="cursor: pointer;"> {{'gameLabel.Terrorism_rank' | translate}}</span>
                                                    <span class="knw-mre-value">{{currentCountry.Terrorism_Rank}} </span>
                                                </div>
                                                <div class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="tlp knw-mre-label" data-toggle="tooltip" data-placement="right" title="" style="cursor: pointer;"> {{'gameLabel.Terrorism_score' | translate}}</span>
                                                    <span class="knw-mre-value">{{currentCountry.Terrorism_Score}} </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade {{activeClassHealth}}  h-100" *ngIf="showHelathFlag">
                                        <div class="h-100">
                                            <div class="h-100 overflow-auto">
                                                <div class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="tlp knw-mre-label" data-toggle="tooltip" data-placement="left" title="{{'gameLabel.birth_rate' | translate}}" style="cursor: pointer;"> {{'gameLabel.Birth_Rate' | translate}} </span>
                                                    <span class="tlp knw-mre-value" data-toggle="tooltip" data-placement="right" title="{{'gameLabel.br' | translate}}" style="cursor: pointer;">{{currentCountry.BirthRate}}</span>
                                                </div>
                                                <div class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="tlp knw-mre-label" data-toggle="tooltip" data-placement="left" title="{{'gameLabel.sex_ratio' | translate}}">{{'gameLabel.Sex_Ratio' | translate}} </span>
                                                    <span class="tlp knw-mre-value" data-toggle="tooltip" data-placement="right" title="" style="cursor: pointer;">{{currentCountry.SexRatio}}</span>
                                                </div>
                                                <div class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="tlp knw-mre-label" data-toggle="tooltip" data-placement="left" title="{{'gameLabel.maleLifeExp' | translate}}" style="cursor: pointer;"> {{'gameLabel.Male_Life_Expectancy' | translate}}</span>
                                                    <span class="knw-mre-value">{{currentCountry.MaleLifeExpectancy}} Years</span>
                                                </div>
                                                <div class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="tlp knw-mre-label" data-toggle="tooltip" data-placement="left" title=" {{'gameLabel.femaleLifeExp' | translate}}" style="cursor: pointer;"> {{'gameLabel.Female_Life_Expectancy' | translate}}</span>
                                                    <span class="knw-mre-value">{{currentCountry.FemaleLifeExpectancy}} Years</span>
                                                </div>
                                                <div class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="tlp knw-mre-label" data-toggle="tooltip" data-placement="left" title="{{'gameLabel.infantMortality' | translate}}" style="cursor: pointer;"> {{'gameLabel.Infant_Mortality_Rate' | translate}}</span>
                                                    <span class="tlp knw-mre-value" data-toggle="tooltip" data-placement="top" title="Deaths/1,000 Live Births" style="cursor: pointer;">{{currentCountry.InfantMortalityRate}}</span>
                                                </div>
                                                <div class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="tlp knw-mre-label" data-toggle="tooltip" data-placement="left" title=""> {{'gameLabel.Maternal_mortality_rate' | translate}}</span>
                                                    <span class="tlp knw-mre-value" data-toggle="tooltip" data-placement="top" title="Deaths/1,000 Live Births" style="cursor: pointer;">{{currentCountry.MaternalMortalityRate}}</span>
                                                </div>
                                                <div class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="tlp knw-mre-label" data-toggle="tooltip" data-placement="left" title="{{'gameLabel.wasting' | translate}}" style="cursor: pointer;"> {{'gameLabel.Wasting(disease to % children)' | translate}}</span>
                                                    <span class="tlp knw-mre-value" data-toggle="tooltip" data-placement="right" title="Percentage of children under 5 who are wasted" style="cursor: pointer;">{{(currentCountry.Wasting).toFixed(0)}} </span>
                                                </div>
                                                <div class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="tlp knw-mre-label" data-toggle="tooltip" data-placement="left" title="{{'gameLabel.stunting' |translate}}" style="cursor: pointer;"> {{'gameLabel.Stunting(disease to % children)' |translate}}</span>
                                                    <span class="tlp knw-mre-value" data-toggle="tooltip" data-placement="right" title="{{'gameLabel.stunting1' |translate}}" style="cursor: pointer;">{{currentCountry.Stunting}} </span>
                                                </div> 
                                            
                                                 <div class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="tlp knw-mre-label" data-toggle="tooltip" data-placement="left" title="{{'gameLabel.maleSmoker' | translate}}" style="cursor: pointer;">{{'gameLabel.Male_Smokers' | translate}}</span>
                                                    <span class="knw-mre-value">{{currentCountry.maleSmoker}}</span>
                                                </div>
                                                <div class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="tlp knw-mre-label" data-toggle="tooltip" data-placement="left" title="{{'gameLabel.femaleSmoker' | translate}}" style="cursor: pointer;">{{'gameLabel.Female_Smokers' | translate}}</span>
                                                    <span class="knw-mre-value">{{currentCountry.femaleSmoker}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade {{activeClassEconomical}}  h-100" *ngIf="activeClassEcomnomicalForTab">
                                        <div class="h-100">
                                            <div class="h-100 overflow-auto">
                                                <div class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="tlp knw-mre-label" data-toggle="tooltip" data-placement="left" title="{{'gameLabel.agrTlp' | translate}}"  style="cursor: pointer;">  {{'gameLabel.Agriculture' | translate}}</span>
                                                    <span class="knw-mre-value">{{currentCountry.Agriculture.toFixed(2)}} %</span>
                                                </div>

                                                <div class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="tlp knw-mre-label" data-toggle="tooltip" data-placement="left" title="{{'gameLabel.service' | translate}}"  style="cursor: pointer;">  {{'gameLabel.Service' | translate}}</span>
                                                    <span class="knw-mre-value">{{currentCountry.Services.toFixed(2)}} %</span>
                                                </div>
                                                <div class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="tlp knw-mre-label" data-toggle="tooltip" data-placement="left" title=" {{'gameLabel.industry' | translate}}"  style="cursor: pointer;"> {{'gameLabel.Industry' | translate}}</span>
                                                    <span class="knw-mre-value">{{currentCountry.industry.toFixed(2)}} %</span>
                                                </div>
                                                <div class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="tlp knw-mre-label" data-toggle="tooltip" data-placement="left" title="{{'gameLabel.ppptlp' | translate}}"  style="cursor: pointer;"> {{'gameLabel.Purchasing_Power_Parity(PPP)' | translate}}</span>
                                                    <span class="knw-mre-value">{{currentCountry.ppp.toFixed(2)}} %</span>
                                                </div>
                                                <div class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="tlp knw-mre-label" data-toggle="tooltip" data-placement="left" title="{{'gameLabel.hdi' | translate}}" style="cursor: pointer;"> {{'gameLabel.Human_Development_Index' | translate}}</span>
                                                    <span class="knw-mre-value">{{(currentCountry.HDI).toFixed(2)}}</span>
                                                </div>

                                                <div class="d-flex align-items-center justify-content-between py-2 border-bottom font-500">
                                                    <span class="tlp knw-mre-label" data-toggle="tooltip" data-placement="left" title="" style="cursor: pointer;">{{'gameLabel.Exchange_rate' | translate}}</span>
                                                    <span class="knw-mre-value">{{(currentCountry.ExchangeRate).toFixed(2)}}</span>
                                                </div>
                                              
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
