
.boxnew {
    width: 300px;
    height: auto;  
    padding: 50px;
    border: 1px solid gray;
    box-shadow: 1px 1px 12px 1px 
  }

  .table1{
    border: 1px solid white;
    border-collapse: collapse;
  }
  .limit{
    width:650px;
 
    word-wrap: break-word;
}

 
.country_map_log1 {
  width: 10rem;
}

.countrySelectionClass{
  border: 6px solid white;
}

.country_map_log1 img {
  margin-left: 15px;
  border: 1px solid #222 !important;
  box-shadow: 1px 1px 11px 1px rgb(255 255 255 / 90%);
}

.map_cmn1 {
  height: 75vh;
}

.table-bordered-red{
    border-bottom: 2px solid #e30000!important;
    border-top: 2px solid #e30000!important;
        border-left: 2px solid #e30000!important;
            border-right: 2px solid #e30000!important;
  color: red!important;

}

.table-bordered-green{
    border-bottom: 2px solid #34db00!important;
    border-top: 2px solid #34db00!important;
        border-left: 2px solid #34db00!important;
            border-right: 2px solid #34db00!important;

}

.table-bordered-orange{
    border-bottom: 2px solid #e76b00!important;
    border-top: 2px solid #e76b00!important;
        border-left: 2px solid #e76b00!important;
            border-right: 2px solid #e76b00!important;

}

.brokenladder{
  line-height: 2;
  align-items: left;
}

.table-bordered-yellow{
    border-bottom: 2px solid #FFF600!important;
    border-top: 2px solid #FFF600!important;
        border-left: 2px solid #FFF600!important;
            border-right: 2px solid #FFF600!important;

}

.table-bordered-blue{
    border-bottom: 2px solid #0000FF!important;
    border-top: 2px solid #0000FF!important;
        border-left: 2px solid #0000FF!important;
            border-right: 2px solid #0000FF!important;

}
.cntry-group{margin-top: 4rem; margin-bottom: 2rem!important;}
.table1 th, .table1 td{padding: 10px;}
.h-center{justify-content: center;}
.flags-ques-table figure{display: flex; justify-content: start;}
.country-info-table td{
  color: white;
  font-size: larger;
}
.country-info-table.tr{
  padding: 10px;
}

.tablepadding{
  padding-bottom: 5px;
  padding-top: 15px;
}
.sdg-overflow{overflow: auto;}

.newTableFontSize{
  font-size: medium!important;
}

.textRed{
color: red!important;
}

.tableMar{
margin-top: 0px;
}

.textgreen{
  color: green!important;
}
@media (max-width: 1480px){

  .well_graph-ipad {
    overflow: auto!important;
  }
  
  
  }


