<div class="tab-pane fade show active" *ngIf="modalWindowShowHide.showObituary">
  <div class="row mdl_cnt_rw text-white mt-2">
    <div class="col-12 mx-auto mt-1 align-items-center">
      <div class="container-fluid tabs_wraper ">
        <div class=" summary-part">
          <div class="col-lg-12 px-0">
            <div class="summary-wrapper">
              <div class="summary-title">
                <h2><img src="assets/images/endscreenicon/obituary-icon.svg" alt="Obituary" />
                  {{'gameLabel.OBITUARY' | translate}}
                  <a style="cursor: pointer; text-transform: none;" (click)="downloadAsPDF()">
                    {{'gameLabel.PDF_Download' | translate}}</a>
                  <a class="b1" style="cursor: pointer;text-transform: none;"
                    (click)="toCanvas()">{{'gameLabel.Download_as_image' | translate}}</a>
                  <a class="b1" style="cursor: pointer;text-transform: none;"
                    (click)="sendMail()">{{'gameLabel.Share_with_email' | translate}}</a>
                  <a class="b1" style="cursor: pointer;text-transform: none;"
                    (click)="sendMailToFriend()">{{'gameLabel.Share_with_friend' | translate}}</a>
                  <a class="b1" style="cursor: pointer;text-transform: none;"
                    (click)="viewBornSummary()">{{'gameLabel.view_born_summary' | translate}}</a>
                  <a class="b1" style="cursor: pointer;text-transform: none;"
                    (click)="feedBackClick()">{{'gameLabel.FEEDBACK' |
                    translate}}</a>
                  <a class="b1" style="cursor: pointer;text-transform: none;"
                    (click)="bugClick()">{{'gameLabel.BUG_REPORT'
                    |translate}}</a>
                </h2>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <div class="row size_row">
          <div class="col-lg-6 px-0">
            <h4 class="text-center text-white col" style="font-weight: 100;"> {{'gameLabel.System_generated_obituary' |
              translate}}</h4>
            <div hidden class="text-block" id="content" #content>
            </div>
            <div class="text-block pd-15">
              <p>{{sveObituaryObject['sub1']}}</p>
              <p>{{sveObituaryObject['sub2']}}</p>
              <p>{{sveObituaryObject['sub3']}}</p>
              <p>{{sveObituaryObject['sub4']}}</p>
              <p>{{sveObituaryObject['sub5']}}</p>
              <p>{{sveObituaryObject['sub7']}}</p>
              <p>{{sveObituaryObject['sub8']}}</p>
              <p>{{sveObituaryObject['sub9']}}</p>
              <p>{{sveObituaryObject['sub10']}}</p>
              <p>{{sveObituaryObject['sub11']}}</p>
              <p>{{sveObituaryObject['sub12']}}</p>
              <p>{{sveObituaryObject['sub13']}}</p>
              <p>{{sveObituaryObject['sub14']}}</p>

            </div>
            <div class="clearfix"></div>
          </div>
          <div class="col-lg-6 px-0">
            <h4 class="text-center text-white" style="font-weight: 100;">{{'gameLabel.Write_your_own_obituary' |
              translate}}</h4>
            <div class="text-block write-letter">
              <div class="clearfix"></div>
              <div class="form-control" style="height: 400px;">
                <ckeditor [(ngModel)]="obituaryWritenByMe">
                  <p [innerHTML]="obituaryWritenByMe"></p>
                </ckeditor>
              </div>
              <div class="position-relative d-flex align-items-center justify-content-center flex-grow-1"
                style="padding-top: 5px;">
                <button class="btn btn-blue-grad py-1 px-4 mr-3  " (click)="saveObituaryWrittenByMe()">
                  {{'gameLabel.Save' | translate}}</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div id="demo" style="padding: 30px!important;" style="position: absolute; opacity: 0.0;">
    <div id="pdf" #pdf>
      <div class="logo mx-auto trans" data-aos="" data-aos-delay="100">
        <!-- <img src="assets/images/RL_logo.svg" alt=""> -->
      </div>
      <span style="color: black; padding: 30px;">
        <h1 style="color: red; text-align: center; font-size: 30px; font-weight: bold;">{{'gameLabel.Obituary' |
          translate}}</h1>
        <p>{{sveObituaryObject['sub1']}}</p>
        <p>{{sveObituaryObject['sub2']}}</p>
        <p>{{sveObituaryObject['sub3']}}</p>
        <p>{{sveObituaryObject['sub4']}}</p>
        <p>{{sveObituaryObject['sub5']}}</p>
        <p>{{sveObituaryObject['sub7']}}</p>
        <p>{{sveObituaryObject['sub8']}}</p>
        <p>{{sveObituaryObject['sub9']}}</p>
        <p>{{sveObituaryObject['sub10']}}</p>
        <p>{{sveObituaryObject['sub11']}}</p>
        <p>{{sveObituaryObject['sub12']}}</p>
        <p>{{sveObituaryObject['sub13']}}</p>
        <p>{{sveObituaryObject['sub14']}}</p>
      </span>
    </div>
  </div>
  <div class="phl" bsModal #decisionforConfirm="bs-modal" class="modal fade md-overlay" [config]="{backdrop: 'static'}"
    tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="false">
    <div class="conformationpopup centered">
      <div class="pal text-center">
        <div> <span>
            {{msgText}}</span>
          <br>
          <br>
          <button type="button" class="btn mlm btn_sk " (click)="decisionforConfirm.hide()">Ok</button>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="md-overlay black_modal gamescreen" id="dashboard_residence" *ngIf="successMsgFlag">
  <!--<div class="black_modal gamescreen" id="dashboard_resident2">-->
  <div class="modal-dialog modal-dialog-centered w700" role="document">
    <div class="modal-content h-auto">
      <div class="modal-body p-0">
        <p class="text-center">{{messageText}}</p>
        <div class="d-flex justify-content-center w-100">
          <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1"
            (click)="successMsgWindowClose()">{{'gameLabel.Ok' |translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="md-overlay black_modal gamescreen" id="friendMail" *ngIf="friendMailShowFlag">
  <!--<div class="black_modal gamescreen" id="dashboard_resident2">-->
  <div class="modal-dialog modal-dialog-centered w700" role="document">
    <div class="modal-content h-auto">
      <div class="modal-body p-0">
        <span class="content text-center">{{'gameLabel.Enter_Email_Id' |translate}} </span>
        <input type="email" class="form-control only_number"
          placeholder="{{'gameLabel.Please_enter_valid_email_id' |translate}}" [(ngModel)]="emailId">
        <!-- <p class="text-center">{{messageText}}</p> -->
        <div class="d-flex justify-content-center w-100">
          <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1" (click)="close()">{{'gameLabel.Close'
            |translate}}</button>
          <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1" [disabled]="emailId===''"
            (click)="send()">{{'gameLabel.Send' |translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>



<app-organ-blood-donation class="md-overlay" *ngIf="modalWindowShowHide.showOrganBloodDonationFlag">
</app-organ-blood-donation>