<div class="col-md-12 utilityBar">
    <div class="row d-flex">
        <div class="col-md-10">
            <ul class="m-0 d-flex align-items-center justify-content-between px-0">
                <li class="d-flex align-items-center justify-content-center"
                    *ngFor="let u of utilityService.dispalyUtilityArr">
                    <span><span class="{{u.checkUncheckClass}}">{{u.value}}</span></span>
                    <img src="{{u.image}}" alt="" class="tlp image" data-toggle="tooltip" data-placement="top"
                        title="{{u.DisplayName}} :{{u.hoverValue}}" data-html="true" />
                    <span class="{{u.redGreeClassValue}}"></span>
                </li>
            </ul>
        </div>
        <div class="col-md-2">
            <div class="row flex-row align-items-center justify-content-between px-0"> 
                <span >
                </span>
                <span >
                </span>
                <span class="">
                    <img src="assets/images/organs/charity.svg" width="24" height="24" class="tlp" alt=""
                        data-toggle="tooltip" data-placement="left" title="{{'gameLabel.Charity' |translate}}" style="cursor: pointer"
                        (click)="charityClick()">
                </span>
                <span class="">
                    <img src="assets/images/organs/organ-donation.svg" width="24" height="24" class="tlp" alt=""
                        data-toggle="tooltip" data-placement="left" title="{{'gameLabel.Organ_And_Blood_Donation' |translate}}" style="cursor: pointer"
                        (click)="OrganAndBloodDonationPopUp()">
                </span>
                <span class="">
                    <img src="assets/images/organs/pets.svg" width="24" height="24" class="tlp" alt="" data-toggle="tooltip"
                        data-placement="left" title="{{'gameLabel.Pet' |translate}}" style="cursor: pointer" (click)="petPopUp()">
                        <span style="margin-left: 3px">{{homeService.allPerson[constantService.FAMILY_SELF].my_pets.length}}</span>
                </span>
            </div>
        </div>
       
    </div>
</div>

<app-organ-blood-donation class="md-overlay" *ngIf="modalWindowShowHide.showOrganBloodDonationFlag">
</app-organ-blood-donation>
<app-pet class="md-overlay" *ngIf="modalWindowShowHide.showPetFlag"></app-pet>
<app-charity class="md-overlay" *ngIf="modalWindowShowHide.showCharity"></app-charity>