.image{
    height:21px
}

.border{
     border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.utilitymrgLR{
    margin-left: 15px;
    margin-right: 5px;
}

.border-left
{
    display: block;
    border-left: 1px solid white;
}

@media (max-width: 1024px) {
    .utilitymrgLR{
        margin-left: 5px;
        margin-right: 5px;
    }
    
}