
<!-- <div *ngIf="modalWindowShowHide.showObituaryPdf">
  <div  class="text-block" id="content">
    <h1 style="color: red;">{{'gameLabel.Obituary' | translate}}</h1>
    <p>{{headingText}}. {{diedEventAddline}} {{languageReligionString}}</p>
    <p>{{status}}</p>
    <p>{{diet}}</p>
    <p>{{charity}}</p>
    <p>{{amenities}}</p>
    <p>{{family}}</p>
    <p>{{education}}</p>
    <p>{{residence}}</p>
    <p>{{carrier}}</p>
    <p>{{loanInvestments}}</p>
    <p>{{leisure}}</p>
    <p>{{disease}}</p>
    <p>{{vices}}</p>
  <div *ngFor="let str of organDonationArray">
    <p *ngIf="str!=''">{{str}}.</p>
  </div>
  <p >{{bloodDonation}}</p>
</div>
</div> -->
<div *ngIf="modalWindowShowHide.showObituaryPdf">
  <div id="pdfTable" #pdfTable>
  <div  class="text-block" style="background: #000; padding: 30px;">
    <h1 style="color: red; font-size: 50px; text-align: center;">{{'gameLabel.Obituary' | translate}}</h1>
    <p>{{headingText}}. {{diedEventAddline}} {{languageReligionString}}</p>
    <p>{{status}}</p>
    <p>{{diet}}</p>
    <p>{{charity}}</p>
    <p>{{amenities}}</p>
    <p>{{family}}</p>
    <p>{{education}}</p>
    <p>{{residence}}</p>
    <p>{{carrier}}</p>
  <p >{{bloodDonation}}</p>
</div>
</div>
</div>