<div *ngIf="modalWindowShowHide.showLifeExpectancyGraph">
<div class="tab-pane fade h-100 active show"  role="tabpanel">
    <div class="h-100 pl-3" >

        <div class="country_info" style="height: auto;">
            <!-- <div class="hdr d-flex justify-content-between">
                <div class="d-flex col-auto text-white mt-1">
                    <img src="assets/images/flags-big/{{(homeService.allPerson[constantService.FAMILY_SELF].country.Code).toLowerCase()}}.png" alt="">
                    <p class="line-height-1 mb-0"><span class="font-600">{{homeService.allPerson[constantService.FAMILY_SELF].country.country}}</span> <br><span>{{homeService.allPerson[constantService.FAMILY_SELF].country.Continents}}</span></p>
                </div>
            </div> -->
            
             <div class="country_info_map re_height">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 text-white" >
                        {{'gameLabel.Life_Expectancy_Comparison' |translate}}
                                <ngx-charts-bar-vertical class="text-white"
                                 [view]="view" 
                                 [scheme] ="colorScheme"
                                  [results]="single"
                                   [gradient]="gradient" 
                                  [xAxis]="showXAxis"
                                 [yAxis]="showYAxis"
                                  [legend]="showLegend" 
                                  (select)="onSelect($event)"
                                 [dataLabelFormatting] = "formatDataLabel"
                                 [showDataLabel]="showDataLabel"
                                 legendPosition='below'
                                 [yScaleMin]=0                                
                                  [yScaleMax]=0
                                  [barPadding]="1"
                                  style="fill: #f8f1f1; height: auto;">                                 
                                </ngx-charts-bar-vertical>
                    </div>
                </div>
            </div> 

            <div class="country_info_map re_height">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 text-white" >
                        {{'gameLabel.Income_Comparison' |translate}}
                                <ngx-charts-bar-vertical
                                 [view]="view" 
                                 [scheme] ="colorScheme"
                                  [results]="multi" 
                                  [gradient]="gradient" 
                                  [xAxis]="showXAxis"
                                 [yAxis]="showYAxis"
                                  [legend]="showLegend" 
                                  (select)="onSelect($event)"
                                 [dataLabelFormatting] = "formatDataLabel"
                                 [showDataLabel]="showDataLabel"
                                 legendPosition='below'
                                  [barPadding]="1"
                                  [yScaleMin]=0                                
                                  [yScaleMax]=0
                                  style="fill: #f8f1f1">                                 
                                </ngx-charts-bar-vertical>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>