
<!-- <div class="disparity_modal">

  <div class="container mt-4">
      <div class="row">
          <div class="col-md-12">
              <h3 class="text-primary pb-3 text-center font_b6 font-600 mb-0"> Comparative Disparity Between Countries </h3>
          </div>
      </div>
      <div class="row justify-content-center">
          <div class="col-auto d-flex align-items-center">
              <span class="color_display bg-danger mr-2"></span>
              <p class="mb-0"> Bad Indicators</p>
          </div>
          <div class="col-auto d-flex align-items-center">
              <span class="color_display bg-success mr-2"></span>
              <p class="mb-0">Good Indicators</p>
          </div>
      </div>
  </div>

  <div class="container mt-5">
      <div class="row">
          <div class="col-md-12 mx-auto">
              <nav>
                  <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true"><span>Demographics</span></a>
                  </div>
              </nav>
          </div>
          <div class="col-md-12 mt-3">
              <div class="tab-content py-3 px-3 h-100" id="nav-tabContent">
                  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                      <div class="container">
                          <div class="row">
                              <div class="col-md-8">
                                  <div class="disparity_table">
                                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                          <tbody>
                                              <tr>
                                                  <th>&nbsp;</th>
                                                  <th align="center">
                                                      <div class="disparity_table_heading text-center">
                                                        <h4>Lesotho </h4>
                                                          <div><img alt="" class="img-fluid" src="http://localhost:4200/assets/images/flags-big/ls.png"></div>
                                                        <h6>Country you are born in Lesotho</h6>
                                                      </div>
                                                  </th>
                                                  <th align="center">
                                                      <div class="disparity_table_heading text-center">
                                                        <h4>Bulgaria </h4>
                                                          <div><img alt="" class="img-fluid" src="http://localhost:4200/assets/images/flags-big/bg.png"></div>
                                                        <h6>Country you are from Bulgaria</h6>
                                                      </div>
                                                  </th>
                                              </tr>
                                              <tr>
                                                <td><span><button class="btn btn-primary2 text-dark font_b2">Population</button></span></td>
                                                  <td align="center"><span class="good_ind">2.0 million</span></td>
                                                  <td align="center"><span class="bad_ind">7.1 million</span></td>
                                              </tr>
                                              <tr>
                                                <td><span><button class="btn btn-primary2 text-dark font_b2" >Sex Ratio</button> </span></td>
                                                  <td align="center"><span class="good_ind">1.03</span></td>
                                                  <td align="center"><span class="bad_ind">1.06</span></td>
                                              </tr>
                                              <tr>
                                                <td><span><button class="btn btn-primary2 text-dark font_b2">Birth Rate</button>  </span></td>
                                                  <td align="center"><span class="good_ind">25.1</span></td>
                                                  <td align="center"><span class="good_ind">8.8</span></td>
                                              </tr>
                                              <tr>
                                                <td><span><button class="btn btn-primary2 text-dark font_b2" >Rate</button> </span></td>
                                                  <td align="center"><span class="bad_ind">14.9</span></td>
                                                  <td align="center"><span class="good_ind">14.5</span></td>
                                              </tr>
                                              <tr>
                                                <td><span><button class="btn btn-primary2 text-dark font_b2">Infant Mortality Rate</button></span></td>
                                                  <td align="center"><span class="bad_ind">47.6</span></td>
                                                  <td align="center"><span class="good_ind">8.5</span></td>
                                              </tr>
                                          </tbody>
                                      </table>
                                  </div>
                              </div>
                              <div class="col-md-4">
                                  <div class="disparity_graph h-100 d-flex align-items-center justify-content-center flex-column p-3">
                                
                                  <ngx-charts-bar-horizontal-stacked
                                  [view]="view"
                                  [scheme]="colorScheme"
                                  [results]="multi"
                                  [gradient]="gradient"
                                  [xAxis]="showXAxis"
                                  [yAxis]="showYAxis"
                                  [legend]="showLegend"
                                  [legendPosition]="'below'"
                                  [showXAxisLabel]="showXAxisLabel"
                                  [showYAxisLabel]="showYAxisLabel"
                                  [xAxisLabel]="xAxisLabel"
                                  [yAxisLabel]="yAxisLabel"
                                  (select)="onSelect($event)">
                                </ngx-charts-bar-horizontal-stacked>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div> -->



<div class="new_modal_with_bg finance_modal_new">
    <div class="container-fluid my-3">
        <div class="row">
            <div class="col-md-12">
                <h2>Current Income of Family Members</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="ci_row d-flex">
                        <div class="col-3">
                            <div class="d-flex new_box align-items-center h-100">
                                <div class="col-md-2">
                                    Icon
                                </div>
                                <div class="col-md-10">
                                    <h4>Lambert Beaudouin (Self)</h4>
                                    <h5>No Job</h5>
                                    <p class="mb-0">Income: 0.00 EUR<br>(0 EUR ) </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="d-flex new_box align-items-center h-100">
                                <div class="col-md-2">
                                    Icon
                                </div>
                                <div class="col-md-10">
                                    <h4>Nina Beaudouin (Mother)</h4>
                                    <h5>No Job</h5>
                                    <p class="mb-0">Income: 0.00 EUR<br>(0 EUR ) </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="d-flex new_box align-items-center h-100">
                                <div class="col-md-2">
                                    Icon
                                </div>
                                <div class="col-md-10">
                                    <h4>Brice Beaudouin (Father)</h4>
                                    <h5>No Job</h5>
                                    <p class="mb-0">Income: 0.00 EUR<br>(0 EUR ) </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="d-flex new_box align-items-center h-100">
                                <div class="col-md-2">
                                    Icon
                                </div>
                                <div class="col-md-10">
                                    <h4>Clotilde Beaudouin (Brother)</h4>
                                    <h5>No Job</h5>
                                    <p class="mb-0">Income: 0.00 EUR<br>(0 EUR ) </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="d-flex new_box align-items-center h-100">
                                <div class="col-md-2">
                                    Icon
                                </div>
                                <div class="col-md-10">
                                    <h4>Alain Beaudouin (Sister)</h4>
                                    <h5>No Job</h5>
                                    <p class="mb-0">Income: 0.00 EUR<br>(0 EUR ) </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="">
            <div class="row mt-4">
                <div class="col-md-12">
                    <h2>Expenditure (Per Month)</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="new_box h-100 expenditure_clm">
                        <div class="row mb-2 border-bottom mx-0 border_color pb-2">
                            <div class="col">
                                <span class="text-uppercase font_s5">Diet</span>
                                <h5 class="mb-0">Optional</h5>
                                799.81 GBP
                            </div>
                            <div class="col">
                                <span class="text-uppercase font_s5">Diet</span>
                                <h5 class="mb-0">Optional</h5>
                                799.81 GBP
                            </div>
                            <div class="col">
                                <span class="text-uppercase font_s5">Diet</span>
                                <h5 class="mb-0">Optional</h5>
                                799.81 GBP
                            </div>
                            <div class="col">
                                <span class="text-uppercase font_s5">Diet</span>
                                <h5 class="mb-0">Optional</h5>
                                799.81 GBP
                            </div>
                            <div class="col">
                                <span class="text-uppercase font_s5">Diet</span>
                                <h5 class="mb-0">Optional</h5>
                                799.81 GBP
                            </div>
                            <div class="col">
                                <span class="text-uppercase font_s5">Diet</span>
                                <h5 class="mb-0">Optional</h5>
                                799.81 GBP
                            </div>
                        </div>
                        <div class="row justify-content-between mx-0 align-items-center">
                            <div class="col-auto">
                                <button class="btn new_modal_btn py-1">Change Expenditure</button>
                            </div>
                            <div class="col-auto expenditure_clm_tle">
                                <span>Total Expenditure</span>
                                <p>2665.71 GBP</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="row">
                        <div class="ci_row d-flex w-100">
                            <div class="col-6">
                                <div class="d-flex new_box align-items-center">
                                    <div class="col-md-12">
                                        <h4 class="text-uppercase">Total Loan Ammount</h4>
                                        <p class="mb-2">
                                            1234.00 GBP<br>
                                            12345.00 USD<br>
                                            1234.00 WON
                                        </p>
                                        <button class="btn new_modal_btn">Get Loan</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-flex new_box align-items-center">
                                    <div class="col-md-12">
                                        <h4 class="text-uppercase">Total Loan Ammount</h4>
                                        <p class="mb-2">
                                            1234.00 GBP<br>
                                            12345.00 USD<br>
                                            1234.00 WON
                                        </p>
                                        <button class="btn new_modal_btn">Get Loan</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-flex new_box align-items-center">
                                    <div class="col-md-12">
                                        <h4 class="text-uppercase">Total Loan Ammount</h4>
                                        <p class="mb-2">
                                            1234.00 GBP<br>
                                            12345.00 USD<br>
                                            1234.00 WON
                                        </p>
                                        <button class="btn new_modal_btn">Get Loan</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="mt-4">
            <div class="row">
                <div class="col-md-12">
                    <h2>Current Financial Status</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="h_overflow d-flex pb-2">
                            <div class="col-3">
                                <div class="new_box align-items-center h-100">
                                    <p class="text-center font_s3">Household Income<br>(Permonth)</p>
                                    <div class="row mx-0">
                                        <div class="col-md-4">
                                            <span class="font_s4 text-white-70">UK</span>
                                            <p class="mb-0 font_b2">0.00 GBP</p>
                                        </div>
                                        <div class="col-md-4">
                                            <span class="font_s4 text-white-70">UK</span>
                                            <p class="mb-0 font_b2">0.00 GBP</p>
                                        </div>
                                        <div class="col-md-4">
                                            <span class="font_s4 text-white-70">UK</span>
                                            <p class="mb-0 font_b2">0.00 GBP</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="new_box align-items-center h-100">
                                    <p class="text-center font_s3">Household Income<br>(Permonth)</p>
                                    <div class="row mx-0">
                                        <div class="col-md-4">
                                            <span class="font_s4 text-white-70">UK</span>
                                            <p class="mb-0 font_b2">0.00 GBP</p>
                                        </div>
                                        <div class="col-md-4">
                                            <span class="font_s4 text-white-70">UK</span>
                                            <p class="mb-0 font_b2">0.00 GBP</p>
                                        </div>
                                        <div class="col-md-4">
                                            <span class="font_s4 text-white-70">UK</span>
                                            <p class="mb-0 font_b2">0.00 GBP</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="new_box align-items-center h-100">
                                    <p class="text-center font_s3">Household Income<br>(Permonth)</p>
                                    <div class="row mx-0">
                                        <div class="col-md-4">
                                            <span class="font_s4 text-white-70">UK</span>
                                            <p class="mb-0 font_b2">0.00 GBP</p>
                                        </div>
                                        <div class="col-md-4">
                                            <span class="font_s4 text-white-70">UK</span>
                                            <p class="mb-0 font_b2">0.00 GBP</p>
                                        </div>
                                        <div class="col-md-4">
                                            <span class="font_s4 text-white-70">UK</span>
                                            <p class="mb-0 font_b2">0.00 GBP</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="new_box align-items-center h-100">
                                    <p class="text-center font_s3">Household Income<br>(Permonth)</p>
                                    <div class="row mx-0">
                                        <div class="col-md-4">
                                            <span class="font_s4 text-white-70">UK</span>
                                            <p class="mb-0 font_b2">0.00 GBP</p>
                                        </div>
                                        <div class="col-md-4">
                                            <span class="font_s4 text-white-70">UK</span>
                                            <p class="mb-0 font_b2">0.00 GBP</p>
                                        </div>
                                        <div class="col-md-4">
                                            <span class="font_s4 text-white-70">UK</span>
                                            <p class="mb-0 font_b2">0.00 GBP</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="new_box align-items-center h-100">
                                    <p class="text-center font_s3">Household Income<br>(Permonth)</p>
                                    <div class="row mx-0">
                                        <div class="col-md-4">
                                            <span class="font_s4 text-white-70">UK</span>
                                            <p class="mb-0 font_b2">0.00 GBP</p>
                                        </div>
                                        <div class="col-md-4">
                                            <span class="font_s4 text-white-70">UK</span>
                                            <p class="mb-0 font_b2">0.00 GBP</p>
                                        </div>
                                        <div class="col-md-4">
                                            <span class="font_s4 text-white-70">UK</span>
                                            <p class="mb-0 font_b2">0.00 GBP</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="mt-4">
            <div class="row">
                <div class="col-md-3">
                    <h2>&nbsp;</h2>
                    <button class="btn new_modal_btn mb-3 py-1">Show all</button><br>
                    <button class="btn new_modal_btn mb-3 py-1">Show all Investments</button><br>
                    <button class="btn new_modal_btn mb-3 py-1">Show all Loans</button>
                </div>
                <div class="col-md-9">
                    <h2>See your Assets and Liabilities</h2>
                    <div class="row">
                        <div class="h_overflow d-flex pb-2 w-100">
                            <div class="col-4">
                                <div class="new_box align-items-center h-100">
                                    <p class="text-center font_s3">Household Income<br>(Permonth)</p>
                                    <div class="row mx-0">
                                        <div class="col-md-4">
                                            <span class="font_s4 text-white-70">UK</span>
                                            <p class="mb-0 font_b2">0.00 GBP</p>
                                        </div>
                                        <div class="col-md-4">
                                            <span class="font_s4 text-white-70">UK</span>
                                            <p class="mb-0 font_b2">0.00 GBP</p>
                                        </div>
                                        <div class="col-md-4">
                                            <span class="font_s4 text-white-70">UK</span>
                                            <p class="mb-0 font_b2">0.00 GBP</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="new_box align-items-center h-100">
                                    <p class="text-center font_s3">Household Income<br>(Permonth)</p>
                                    <div class="row mx-0">
                                        <div class="col-md-4">
                                            <span class="font_s4 text-white-70">UK</span>
                                            <p class="mb-0 font_b2">0.00 GBP</p>
                                        </div>
                                        <div class="col-md-4">
                                            <span class="font_s4 text-white-70">UK</span>
                                            <p class="mb-0 font_b2">0.00 GBP</p>
                                        </div>
                                        <div class="col-md-4">
                                            <span class="font_s4 text-white-70">UK</span>
                                            <p class="mb-0 font_b2">0.00 GBP</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>