<div *ngIf="modalWindowShowHide.showGameSeetingsFlag"> 
    <div class="new_cmn_modal full_width gamescreen" id="dashboard_setting" tabindex="-1" role="dialog" aria-labelledby="dashboard_settingLabel">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header position-relative d-flex align-items-center justify-content-between">
                    <h5 class="modal-title text-white font-400 text-uppercase font_b8 d-flex align-items-center" id="">
                        <img src="assets/images/seetings-logo.svg" alt="" style="width: 40px;"> 
                        <span class="pl-3">{{'gameLabel.SETTING' | translate}}</span>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeSetting()">
                        <span class="material-icons">close</span>
                    </button>
                </div>
                <div class="modal-body p-0">
                    <div class="row popbox_white m-0 color4a4a4a">
                        <div class="col-lg-12 mb-2">
                            <div class="color4a4a4a">{{'gameLabel.seetings_desc' | translate}}</div>
                        </div>
                        <div class="col-md-3 transborder mbm">
                            <ul class="leilist">
                                <div class="mbl pvm border_head">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" [(ngModel)]="CONSCIENCE1" (click)="onChange(CONSCIENCE1,'1')">
                                        <label> 
                                            <strong> {{'gameLabel.Conscience' | translate}}</strong></label>
                                    </div>
                                </div>
                                <li >
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"  [(ngModel)]="CONSCIENCE">
                                        <label>    {{'gameLabel.Conscience' | translate}}</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" [(ngModel)]="CHARITY">
                                        <label>    {{'gameLabel.Charity' | translate}}</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" [(ngModel)]="CRIME">
                                        <label>   {{'gameLabel.Crime' | translate}}</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" [(ngModel)]="VOLUNTEERING">
                                        <label>    {{'gameLabel.Volunteering' | translate}}</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"  [(ngModel)]="GREED">
                                        <label> {{'gameLabel.Greed_Volunteering' | translate}}</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"  [(ngModel)]="SELFSACRIFICE">
                                        <label>   {{'gameLabel.Self_Sacrifice' | translate}}</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"  [(ngModel)]="TRUTHFULNESS">
                                        <label>   {{'gameLabel.Truthfulness' | translate}}</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"  [(ngModel)]="TAKINGASTAND">
                                        <label>  {{'gameLabel.Taking_a_stand' | translate}}</label>
                                    </div>
                                </li>
                               
                            </ul>
                        </div>
                        <div class="col-md-3 transborder mbm">
                            <ul class="leilist">
                                
                                <div class="mbl pvm border_head">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" [(ngModel)]="FamiliyandSexuality" (click)="onChange(FamiliyandSexuality,'3')">
                                        <label><strong>  {{'gameLabel.Family_and_Sexuality' | translate}}</strong></label>
                                    </div>
                                </div>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"  [(ngModel)]="HOMOSEXUALITY">
                                        <label>   {{'gameLabel.Homosexuality' | translate}}</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"  [(ngModel)]="INFERTILITY">
                                        <label>   {{'gameLabel.Infertility' | translate}}</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"  [(ngModel)]="OUTOFWEDLOCKCHILDERN">
                                        <label>   {{'gameLabel.Out-of-wedlock_children' | translate}}</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"  [(ngModel)]="PREGNANCYCHILDREN">
                                        <label>  {{'gameLabel.Pregnancy_Children' | translate}}</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"  [(ngModel)]="ROMANTICRELATIONSHIPS">
                                        <label>    {{'gameLabel.Romantic_relationship' | translate}}</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"  [(ngModel)]="SEXUALLYTRANSMITTEDDISEASES">
                                        <label>    {{'gameLabel.Sexually_transmitted_diseases' | translate}}</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" [(ngModel)]="LOVE">
                                        <label>    {{'gameLabel.Love' | translate}}</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3 transborder mbm">
                            <ul class="leilist">
                                <div class="mbl pvm border_head">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"  [(ngModel)]="Governmenthumanrights" (click)="onChange(Governmenthumanrights,'4')">
                                        <label><strong>{{'gameLabel.Government_Human_Rights' | translate}}</strong></label>
                                    </div>
                                </div>  
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"  [(ngModel)]="CONSCRIPTION">
                                        <label>   {{'gameLabel.Conscription' | translate}}</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" [(ngModel)]="GOVERMENTCORRUPTION">
                                        <label>   {{'gameLabel.Government_corruption' | translate}}</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"  [(ngModel)]="HUMANRIGHTABUSES">
                                        <label>  {{'gameLabel.Human_rights_abuses' | translate}}</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"  [(ngModel)]="WAR">
                                        <label>   {{'gameLabel.War' | translate}}</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"  [(ngModel)]="WELFAREGOVERMENTASSISTANCE">
                                        <label>  {{'gameLabel.Welfare_Government_assistance' | translate}}</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"  [(ngModel)]="CORRUPTION">
                                        <label>   {{'gameLabel.Corruption' | translate}}</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3 transborder mbm">
                            <ul class="leilist">
                                <div class="mbl pvm border_head">
                                    <div class="custom-control custom-checkbox ">
                                        <input type="checkbox"  [(ngModel)]="allDisasters" (click)="onChange(allDisasters,'2')">
                                        <label> <strong>  {{'gameLabel.Natural_Disasters' | translate}}</strong></label>
                                    </div>
                                </div>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"[(ngModel)]="allDisasters">
                                        <label>  {{'gameLabel.All_Disasters' | translate}}</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3 transborder mbm">
                            <ul class="leilist">
                                <div class="mbl pvm border_head">                               
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"  [(ngModel)]="CountryandCulture" (click)="onChange(CountryandCulture,'5')">
                                        <label><strong> {{'gameLabel.Country_and_Culture' | translate}}</strong></label>
                                    </div>
                                </div>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"  [(ngModel)]="CUSTOMS">
                                        <label>  {{'gameLabel.Customs' | translate}}</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"  [(ngModel)]="CLIMATE">
                                        <label>  {{'gameLabel.Climate' | translate}}</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"  [(ngModel)]="ARTS">
                                        <label>  {{'gameLabel.Arts' | translate}}</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"  [(ngModel)]="HOUSING">
                                        <label>  {{'gameLabel.Housing' | translate}}</label>
                                    </div>
                                </li>
    
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"  [(ngModel)]="CUISINE">
                                        <label>  {{'gameLabel.Cuisine' | translate}}</label>
                                    </div>
                                </li>
                                 <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"  [(ngModel)]="SPORTS">
                                        <label>  {{'gameLabel.Sports' | translate}}</label>
                                    </div>
                                </li> <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"  [(ngModel)]="HISTORY">
                                        <label>  {{'gameLabel.History' | translate}}</label>
                                    </div>
                                </li>             
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"  [(ngModel)]="NATURE">
                                        <label>  {{'gameLabel.Nature' | translate}}</label>
                                    </div>
                                </li> <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"  [(ngModel)]="TRADITIONS">
                                        <label>  {{'gameLabel.Traditions' | translate}}</label>
                                    </div>
                                </li> <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"  [(ngModel)]="RELIGION">
                                        <label>  {{'gameLabel.Religion' | translate}}</label>
                                    </div>
                                </li>
                              </ul>
                        </div>
                        <div class="col-md-3 transborder mbm">
                            <ul class="leilist">
                                <div class="mbl pvm border_head">                               
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"  [(ngModel)]="CrimeandAbuse" (click)="onChange(CrimeandAbuse,'6')">
                                        <label> <strong>  {{'gameLabel.Crime_and_Abuse' | translate}}</strong></label>
                                    </div>
                                </div>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"  [(ngModel)]="ASSULT">
                                        <label>  {{'gameLabel.Assault' | translate}}</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"  [(ngModel)]="BURGLARY">
                                        <label>  {{'gameLabel.Burglary' | translate}}</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"  [(ngModel)]="EMOTIONALABUSE">
                                        <label>  {{'gameLabel.Emotional_abuse' | translate}}</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"  [(ngModel)]="MOTORVEHICLETHEFT">
                                        <label>  {{'gameLabel.Motor_Vehicle_theft' | translate}}</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"  [(ngModel)]="MURDER">
                                        <label>  {{'gameLabel.Murder' | translate}}</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"  [(ngModel)]="PHYSICALABUSE">
                                        <label>  {{'gameLabel.Physical_abuse' | translate}}</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"  [(ngModel)]="RAPE">
                                        <label>  {{'gameLabel.Rape' | translate}}</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"  [(ngModel)]="ROBBERY">
                                        <label>  {{'gameLabel.Robbery' | translate}}</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"  [(ngModel)]="SEXUALABUSE">
                                        <label>  {{'gameLabel.Sexual_abuse' | translate}}</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"  [(ngModel)]="WORKPLACECORRUPTION">
                                        <label>   {{'gameLabel.Work_place_corruption' | translate}}</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3 transborder mbm">
                            <ul class="leilist">
                                <div class="mbl pvm border_head">                               
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"  [(ngModel)]="Health" (click)="onChange(Health,'7')">
                                        <label> <strong> {{'gameLabel.Health' | translate}}</strong></label>
                                    </div>
                            </div>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"  [(ngModel)]="ACCIDENTSANDTRAUMA">
                                        <label>  {{'gameLabel.Accidents_and_trauma' | translate}}</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"  [(ngModel)]="BIRTHDEFECTS">
                                        <label>  {{'gameLabel.Birth_defects' | translate}}</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"  [(ngModel)]="CANCERS">
                                        <label>  {{'gameLabel.Cancers' | translate}}</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"  [(ngModel)]="CARDIOVASCULARDISEASES">
                                        <label>  {{'gameLabel.Cardiovascular_diseases' | translate}}</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"  [(ngModel)]="DEGENERATIVECONDITION">
                                        <label>  {{'gameLabel.Degenerative_diseases' | translate}}</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"  [(ngModel)]="INFECTIOUSDISSEASE">
                                        <label>  {{'gameLabel.Infectious_diseases' | translate}}</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"  [(ngModel)]="MALNUTRITION">
                                        <label>  {{'gameLabel.Malnutrition' | translate}}</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"  [(ngModel)]="PARASITICDISEASES">
                                        <label>  {{'gameLabel.Parasitic_diseases' | translate}}</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"  [(ngModel)]="PSYCHOLOGICALDISORDERS">
                                        <label>  {{'gameLabel.Psychological_diseases' | translate}}</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"  [(ngModel)]="SUBSTANCEADUSE">
                                        <label>  {{'gameLabel.Substance_abuse' | translate}}</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"  [(ngModel)]="OTHERCONDITIONS">
                                        <label>  {{'gameLabel.Other_Conditions' | translate}}</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3 transborder mbm">
                            <ul class="leilist">
                                <div class="mbl pvm border_head">
                                    <div class="custom-control custom-checkbox ">
                                        <input type="checkbox" [(ngModel)]="Discrimination1" (click)="onChange(Discrimination1,'9')">
                                        <label><strong> {{'gameLabel.Vices' | translate}}</strong></label>
                                    </div>
                                </div>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"  [(ngModel)]="ALCOHOLUSE">
                                        <label>   {{'gameLabel.Alcohol_use' | translate}}</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"  [(ngModel)]="DRUGUSE">
                                        <label>   {{'gameLabel.Drug_use' | translate}}</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"  [(ngModel)]="SMOKING">
                                        <label>   {{'gameLabel.Smoking' | translate}}</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        
                        <div class="clearfix"></div>
                        
                        <div class="col-md-12 pal text-center colorblack d-flexd justify-content-end">
                            <button type="button" class="btn btn-sm btn-default btn_sk" (click)="updateGameSetting()">  {{'gameLabel.SAVE' | translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="md-overlay black_modal gamescreen" id="dashboard_residence" *ngIf="successMsgFlag">
            <div class="modal-dialog modal-dialog-centered w700" role="document">
                <div class="modal-content h-auto">
                    <div class="modal-body p-0">
                        <p class="text-center">{{messageText}}</p>
                        <div class="d-flex justify-content-center w-100">
                            <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1" (click)="successMsgWindowClose()">{{'gameLabel.Ok' |translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    