<div *ngIf="modalWindowShowHide.showBusinessTabFlag">
    <div class="tab-pane fade h-100 active show" role="tabpanel">
        <div class="tab_inner_div life_summary_main overflow-y-auto">
            <div>
                <div class="action_finance_content_clm">
                    <div class="dbm" style="overflow-y: auto; overflow-x: hidden;">
                        <div class="row m-0" style="display: block;">
                        </div>
                        <div class="row m-0" style="overflow-y: auto;">
                            <div class="col-12 tb-2">
                                <table class="table table-sm table-dark fn-status-table"
                                    style="text-align: left; width: 99%;">
                                    <tbody>
                                        <tr>
                                            <th class="notop-bordr">
                                                {{'gameLabel.Business_Name' |translate}}</th>
                                            <td class="notop-bordr ">
                                                {{homeService.allPerson[constantService.FAMILY_SELF].business.Business}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row tlp">
                                                {{'gameLabel.Name' |translate}}</th>
                                            <td>
                                                {{homeService.allPerson[constantService.FAMILY_SELF].business.businessName}}
                                            </td>

                                        </tr>
                                        <tr>
                                            <th scope="row tlp ">
                                                {{'gameLabel.Business_type' |translate}}</th>
                                            <td>
                                                {{businessType}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row  tlp ">
                                                {{'gameLabel.Registered' |translate}}</th>
                                            <td colspan="2">{{businessRegister}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row  tlp ">
                                                {{'gameLabel.Years_Completed' |translate}}</th>
                                            <td colspan="2">
                                                {{homeService.allPerson[constantService.FAMILY_SELF].business.yearsCompleted}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row  tlp ">
                                                {{'gameLabel.Profit' |translate}} %</th>
                                            <td colspan="2" class="">
                                                {{homeService.allPerson[constantService.FAMILY_SELF].business.profitMarginPer}}%
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row  tlp ">
                                                {{'gameLabel.Self_salary' |translate}}</th>
                                            <td colspan="2">
                                                {{homeService.allPerson[constantService.FAMILY_SELF].business.selfSalary}}
                                                {{this.homeService.allPerson[this.constantService.FAMILY_SELF].country.currency_code}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row  tlp ">
                                                {{'gameLabel.Total_employees' |translate}}</th>
                                            <td colspan="2">
                                                {{totalEmp}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row  tlp ">
                                                {{'gameLabel.Total_male_employees' |translate}}</th>
                                            <td colspan="2">
                                                {{totalMaleEmp}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row  tlp ">
                                                {{'gameLabel.Total_female_employees' |translate}}</th>
                                            <td colspan="2">
                                                {{totalFemaleEmp}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row  tlp ">
                                                {{'gameLabel.Total_Family_member_involve' |translate}}</th>
                                            <td colspan="2">
                                                {{FamMember}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-12 tb-2">
                                <table class="table table-sm table-dark fn-status-table"
                                    style="text-align: left; width: 99%;">
                                    <thead>
                                        <tr>
                                            <th class="notop-bordr"></th>
                                            <th class="notop-bordr">
                                                {{homeService.allPerson[this.constantService.FAMILY_SELF].country.currency_code}}
                                            </th>
                                            <th class="notop-bordr">{{this.homeService.allPerson[this.constantService.FAMILY_SELF].register_country.currency_code}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row  tlp ">
                                                {{'gameLabel.Yearly_Expenses' |translate}}</th>
                                            <td class="">
                                                {{commonService.checkNumberFormat(homeService.allPerson[constantService.FAMILY_SELF].business.totalYearlyExpense)}}
                                            </td>
                                            <td class="">
                                                {{commonService.checkNumberFormat(((homeService.allPerson[constantService.FAMILY_SELF].business.totalYearlyExpense/homeService.allPerson[constantService.FAMILY_SELF].country.ExchangeRate)*
                                                    this.homeService.allPerson[this.constantService.FAMILY_SELF].register_country.ExchangeRate))}}
                                                
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row  tlp ">
                                                {{'gameLabel.Total_Capital' |translate}}</th>
                                            <td>
                                                {{commonService.checkNumberFormat(homeService.allPerson[constantService.FAMILY_SELF].business.startUpCapital)}}
                                            </td>
                                            <td class="">
                                                {{commonService.checkNumberFormat(((homeService.allPerson[constantService.FAMILY_SELF].business.startUpCapital/homeService.allPerson[constantService.FAMILY_SELF].country.ExchangeRate)*
                                                    this.homeService.allPerson[this.constantService.FAMILY_SELF].register_country.ExchangeRate))}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row  tlp ">
                                                {{'gameLabel.Business_cash' |translate}}</th>
                                            <td class="">
                                                {{commonService.checkNumberFormat(homeService.allPerson[constantService.FAMILY_SELF].business.businessValue)}}
                                            </td>
                                            <td class="">
                                                {{commonService.checkNumberFormat(((homeService.allPerson[constantService.FAMILY_SELF].business.businessValue/homeService.allPerson[constantService.FAMILY_SELF].country.ExchangeRate)*
                                                    this.homeService.allPerson[this.constantService.FAMILY_SELF].register_country.ExchangeRate))}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row  tlp ">
                                                {{'gameLabel.Business_revenue' |translate}}</th>
                                            <td class="">
                                                {{commonService.checkNumberFormat(homeService.allPerson[constantService.FAMILY_SELF].business.revenue)}}
                                            </td>
                                            <td class="">
                                                {{commonService.checkNumberFormat(((homeService.allPerson[constantService.FAMILY_SELF].business.revenue/homeService.allPerson[constantService.FAMILY_SELF].country.ExchangeRate)*
                                                    this.homeService.allPerson[this.constantService.FAMILY_SELF].register_country.ExchangeRate))}}
                                              
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row  tlp ">
                                                {{'gameLabel.Profit_last_year' |translate}}</th>
                                            <td class="">
                                                {{commonService.checkNumberFormat(homeService.allPerson[constantService.FAMILY_SELF].business.lastYearProfit)}}
                                            </td>
                                            <td class="">
                                                {{commonService.checkNumberFormat(((homeService.allPerson[constantService.FAMILY_SELF].business.lastYearProfit/homeService.allPerson[constantService.FAMILY_SELF].country.ExchangeRate)*
                                                    this.homeService.allPerson[this.constantService.FAMILY_SELF].register_country.ExchangeRate))}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row  tlp ">
                                                {{'gameLabel.Total business bank loan' |translate}}</th>
                                            <td class="">
                                                {{commonService.checkNumberFormat(homeService.allPerson[constantService.FAMILY_SELF].business.bankLoan)}}
                                            </td>
                                            <td class="">
                                                {{commonService.checkNumberFormat(((homeService.allPerson[constantService.FAMILY_SELF].business.bankLoan/homeService.allPerson[constantService.FAMILY_SELF].country.ExchangeRate)*
                                                    this.homeService.allPerson[this.constantService.FAMILY_SELF].register_country.ExchangeRate))}}
                                               
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row  tlp ">
                                                {{'gameLabel.Total_business_shark_loan' |translate}}</th>
                                            <td class="">
                                                {{commonService.checkNumberFormat(homeService.allPerson[constantService.FAMILY_SELF].business.sharkLoan)}}
                                            </td>
                                            <td class="">
                                                {{commonService.checkNumberFormat(((homeService.allPerson[constantService.FAMILY_SELF].business.sharkLoan/homeService.allPerson[constantService.FAMILY_SELF].country.ExchangeRate)*
                                                    this.homeService.allPerson[this.constantService.FAMILY_SELF].register_country.ExchangeRate))}}
                                               
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row  tlp ">
                                                {{'gameLabel.Total_business_family_loan' |translate}}</th>
                                            <td class="">
                                                {{commonService.checkNumberFormat(homeService.allPerson[constantService.FAMILY_SELF].business.familyLoan)}}
                                            </td>
                                            <td class="">
                                                {{commonService.checkNumberFormat(((homeService.allPerson[constantService.FAMILY_SELF].business.familyLoan/homeService.allPerson[constantService.FAMILY_SELF].country.ExchangeRate)*
                                                    this.homeService.allPerson[this.constantService.FAMILY_SELF].register_country.ExchangeRate))}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row  tlp ">
                                                {{'gameLabel.Total_business_friend_loan' |translate}}</th>
                                            <td class="">
                                                {{commonService.checkNumberFormat(homeService.allPerson[constantService.FAMILY_SELF].business.friendLoan)}}
                                            </td>
                                            <td class="">
                                                {{commonService.checkNumberFormat(((homeService.allPerson[constantService.FAMILY_SELF].business.friendLoan/homeService.allPerson[constantService.FAMILY_SELF].country.ExchangeRate)*
                                                    this.homeService.allPerson[this.constantService.FAMILY_SELF].register_country.ExchangeRate))}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row  tlp ">
                                                {{'gameLabel.Total_business_loan' |translate}}</th>
                                            <td class="">
                                                {{commonService.checkNumberFormat(homeService.allPerson[constantService.FAMILY_SELF].business.friendLoan+homeService.allPerson[constantService.FAMILY_SELF].business.sharkLoan+homeService.allPerson[constantService.FAMILY_SELF].business.bankLoan)}}
                                            </td>
                                            <td class="">
                                                {{commonService.checkNumberFormat(((homeService.allPerson[constantService.FAMILY_SELF].business.friendLoan+homeService.allPerson[constantService.FAMILY_SELF].business.sharkLoan+homeService.allPerson[constantService.FAMILY_SELF].business.bankLoan
                                                    /homeService.allPerson[constantService.FAMILY_SELF].country.ExchangeRate)*
                                                    this.homeService.allPerson[this.constantService.FAMILY_SELF].register_country.ExchangeRate))}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>