<div *ngIf="modalWindowShowHide.showDecisionFlag">

    <div *ngIf="simpleYesNoDecisionModelShowFlag" [config]="{ backdrop: 'static' ,keyboard :false,show: true }" bsModal
        #decisionForSimpleYesNo="bs-modal" class="modal fade" tabindex="-1" role="dialog"
        aria-labelledby="dialog-auto-name" aria-hidden="false">
        <div class="modal fade new_cmn_modal full_width gamescreen show" id="life_decision" tabindex="-1" role="dialog"
            aria-labelledby="life_decision" aria-modal="true" style="display: block;">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content h-auto" style="background: #000;">
                    <div class="modal-body p-0">
                        <div class="col-9 mx-auto">
                            <div class="col-md-12 exp_box pt-2 px-0">
                                <div class="col-md-12">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <img src="assets/images/life_event.png" class="mrs" alt="" width="16"
                                            height="7">
                                        {{'gameLabel.Life Decision' | translate}}
                                        <span class="font11px">{{'gameLabel.at_Age' | translate}}
                                            {{displayDecision.age}}</span>
                                    </div>

                                    <span class="disblock font_b3 font-300 pb-3">{{displayDecision.decisionText}}</span>
                                </div>

                                <div class="col-md-12 exp_txt d-flex ftr align-items-center">
                                    <div class="col-5 pl-2">
                                        <div class="col-md-12 d-flex justify-content-between align-items-start p-0">
                                            <span class="d-flex pr-3 align-items-center">
                                                <img src="assets/images/action.png" class="mrs"
                                                    alt="">{{'gameLabel.Action' | translate}}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-auto text-right px-0">
                                        <div class="d-flex justify-content-center w-100">
                                            <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1"
                                                data-dismiss="modal" aria-label="Close"
                                                (click)="yesNoDecisionClick('yes')">{{'gameLabel.Yes' |
                                                translate}}</button>
                                            <button type="button" class="btn btn-blue-grad py-1 px-4 ml-1"
                                                data-dismiss="modal" aria-label="Close"
                                                (click)="yesNoDecisionClick('no')">{{'gameLabel.No' |
                                                translate}}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 ptm pbm factoid_area d-flex justify-content-center"
                                *ngIf="displayDecision.factroid!==''">
                                <span class="d-flex pr-2 align-items-center">
                                    <img src="assets/images/i.png" class="mrs" alt="" width="16" height="16">
                                    {{'gameLabel.FACTOID' | translate}}
                                </span>
                            </div>
                            <div class="col-lg-12 ptm pbm factoid_area d-flex justify-content-center">
                                <div class="colorb6b6b6" [innerHTML]="displayDecision.factroid">
                                    {{displayDecision.factroid}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div *ngIf="simpleRedioButtonDecisionShowFlag" [config]="{backdrop: 'static' ,keyboard :false ,show: true}" bsModal
        #decisionForSimpleRedioButton="bs-modal" class="modal fade" tabindex="-1" role="dialog"
        aria-labelledby="dialog-auto-name" aria-hidden="false">
        <div class="modal fade new_cmn_modal full_width gamescreen show" id="life_decision_with_radio" tabindex="-1"
            role="dialog" aria-labelledby="life_decision_with_radio" aria-modal="true" style="display: block;">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content h-auto" style="background: #000;">
                    <div class="modal-body p-0">
                        <div class="col-11 mx-auto">

                            <div class="col-md-12 exp_box pt-2 px-0">
                                <div class="col-md-12">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <img src="assets/images/life_event.png" class="mrs" alt="" width="16"
                                            height="7">
                                        {{'gameLabel.Life Decision' | translate}}
                                        <span class="font11px">{{'gameLabel.at_Age' | translate}}
                                            {{displayDecision.age}}</span>
                                    </div>

                                    <span class="disblock font_b3 font-300 pb-3"> {{displayDecision.decisionText}}
                                    </span>
                                </div>

                                <div class="col-md-12 exp_txt pt-3">
                                    <div class="d-flex ftr align-items-center justify-content-between w-100">
                                        <div class="col-auto pl-2">
                                            <div class="col-md-12 d-flex justify-content-between align-items-start p-0">
                                                <span class="d-flex pr-3 align-items-center">
                                                    <img src="assets/images/action.png" class="mrs" alt="">
                                                    {{'gameLabel.Action' | translate}}
                                                </span>
                                            </div>
                                        </div>

                                        <div class="col text-center" *ngFor="let action of displayDecision.choiceArray">
                                            <div class="col-12">
                                                <label class="mb-0">
                                                    <input type="radio" name="redio"
                                                        [(ngModel)]="selectedActionForRedioButton"
                                                        [value]="action.Value"> {{action.langString}}</label>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-auto mx-auto text-right px-0 mt-3">
                                        <div class="d-flex justify-content-center w5100">
                                            <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1"
                                                (click)="simpleRedioButtonDecisionClick(selectedActionForRedioButton)">{{'gameLabel.Ok'
                                                | translate}}</button>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-lg-12 ptm pbm factoid_area d-flex justify-content-center"
                                *ngIf="displayDecision.factroid!==''">
                                <span class="d-flex pr-2 align-items-center">
                                    <img src=" assets/images/i.png" class="mrs" alt="" width="16" height="16">
                                    {{'gameLabel.FACTOID' | translate}}
                                </span>
                            </div>
                            <div class="col-lg-12 ptm pbm factoid_area d-flex justify-content-center">
                                <div class="colorb6b6b6">
                                    {{displayDecision.factroid}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="fieldOfStusyDecisionShowFlag" [config]="{backdrop: 'static' ,keyboard :false ,show: true}" bsModal
        #decisionForFieldOfStudy="bs-modal" class="modal fade" tabindex="-1" role="dialog"
        aria-labelledby="dialog-auto-name" aria-hidden="false">
        <div class="modal fade new_cmn_modal full_width gamescreen show" id="life_decision_with_radio" tabindex="-1"
            role="dialog" aria-labelledby="life_decision_with_radio" aria-modal="true" style="display: block;">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content h-auto" style="background: #000;">
                    <div class="modal-body p-0">
                        <div class="col-11 mx-auto">

                            <div class="col-md-12 exp_box pt-2 px-0">
                                <div class="col-md-12">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <img src="assets/images/life_event.png" class="mrs" alt="" width="16"
                                            height="7">
                                        {{'gameLabel.Life Decision' | translate}}
                                        <span class="font11px">{{'gameLabel.at_Age' | translate}}
                                            {{displayDecision.age}}</span>
                                    </div>

                                    <span class="disblock font_b3 font-300 pb-3"> {{displayDecision.decisionText}}
                                    </span>
                                </div>

                                <div class="col-md-12 exp_txt d-flex ftr align-items-center justify-content-between">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="col-md-12 d-flex justify-content-between align-items-start p-0">
                                                <span class="d-flex pr-3 align-items-center">
                                                    <img src="assets/images/action.png" class="mrs" alt="">
                                                    {{'gameLabel.Action' | translate}}
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row mx-0 mt-3">
                                            <div class="col-md-3"
                                                *ngFor="let action of displayDecision.choiceArray, let i=index">
                                                <div class="box radio_img trans scale1_2 mb-3">
                                                    <label
                                                        class="abc d-flex align-items-center justify-content-center w-100 p-2"
                                                        [class.active]="r.checked">
                                                        <input #r type="radio"
                                                            [(ngModel)]="selectedActionForeducationFieldOfStudy"
                                                            [value]="action.EnrollId">
                                                        <p class="m-0 text-uppercase font-600">{{action.EnrollName}}</p>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 ml-auto text-center px-0">
                                            <div class="d-flex justify-content-center w-100">
                                                <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1"
                                                    (click)="EducationFieldOfStudyDecisionClick(selectedActionForeducationFieldOfStudy)">Ok</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 ptm pbm factoid_area d-flex justify-content-center"
                                *ngIf="displayDecision.factroid!==''">
                                <span class="d-flex pr-2 align-items-center">
                                    <img src="assets/images/i.png" class="mrs" alt="" width="16" height="16">
                                    {{'gameLabel.FACTOID' | translate}}
                                </span>
                            </div>
                            <div class="col-lg-12 ptm pbm factoid_area d-flex justify-content-center">
                                <div class="colorb6b6b6">
                                    {{displayDecision.factroid}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div *ngIf="bloodDonationDecisionFlag" [config]="{backdrop: 'static' ,keyboard :false ,show: true}" bsModal
        #decisionForBloodDonation="bs-modal" class="modal fade" tabindex="-1" role="dialog"
        aria-labelledby="dialog-auto-name" aria-hidden="false">
        <div class="modal fade new_cmn_modal full_width gamescreen show" id="bloodDonation" tabindex="-1" role="dialog"
            aria-labelledby="life_decision_with_radio" aria-modal="true" style="display: block;">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content h-auto" style="background: #000;">
                    <div class="modal-body p-0">
                        <div class="col-11 mx-auto">

                            <div class="col-md-12 exp_box pt-2 px-0">
                                <div class="col-md-12">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <img src="assets/images/life_event.png" class="mrs" alt="" width="16"
                                            height="7">
                                        {{'gameLabel.Life Decision' | translate}}
                                        <span class="font11px">{{'gameLabel.at_Age' | translate}}
                                            {{displayDecision.age}}</span>
                                    </div>

                                    <span class="disblock font_b3 font-300 pb-3"> {{displayDecision.decisionText}}
                                    </span>
                                </div>

                                <div class="col-md-12 exp_txt d-flex ftr align-items-center justify-content-between">
                                    <div class="row mx-0 w-100">
                                        <div class="col-12">
                                            <div class="col-md-12 d-flex justify-content-between align-items-start p-0">
                                                <span class="d-flex pr-3 align-items-center">
                                                    <img src="assets/images/action.png" class="mrs" alt="">
                                                    {{'gameLabel.Action' | translate}}
                                                </span>
                                            </div>
                                        </div>

                                        <div class="justify-content-center no-gutters city_wraper w-100">
                                            <div class="row mx-0 w-100 justify-content-center">
                                                <div class="col-2"
                                                    *ngFor="let blood of displayDecision.choiceArray ,let i=index">
                                                    <div class="box radio_img text-center">
                                                        <label [class.active]="r.checked ">
                                                            <input #r type="radio" name="blood" [value]='blood.Value'
                                                                [(ngModel)]="bloodYear"
                                                                (change)="setSelectedBloodYear(blood.Value)">
                                                            <p class="m-0 text-uppercase font-600"> {{blood.langString}}
                                                            </p>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 ml-auto text-center px-0">
                                            <div class="d-flex justify-content-center w-100">
                                                <button type="button" class="btn border-radius btn-blue-grad px-3 mr-2"
                                                    (click)="bloodDonationDecisionClick(bloodYear)">{{'gameLabel.Yes' |
                                                    translate}}</button>
                                                <button type="button" class="btn border-radius btn-blue-grad px-3"
                                                    (click)="closeBloodDonationDecision()">{{'gameLabel.No' |
                                                    translate}}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12 ptm pbm factoid_area d-flex justify-content-center"
                                    *ngIf="displayDecision.factroid!==''">
                                    <span class="d-flex pr-2 align-items-center">
                                        <img src="assets/images/i.png" class="mrs" alt="" width="16" height="16">
                                        {{'gameLabel.FACTOID' | translate}}
                                    </span>
                                </div>
                                <div class="col-lg-12 ptm pbm factoid_area d-flex justify-content-center">
                                    <div class="colorb6b6b6">
                                        {{displayDecision.factroid}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="organDonationDecisionFlag" [config]="{backdrop: 'static' ,keyboard :false ,show: true}" bsModal
        #decisionForOrganDonation="bs-modal" class="modal fade" tabindex="-1" role="dialog"
        aria-labelledby="dialog-auto-name" aria-hidden="false">
        <div class="modal fade new_cmn_modal full_width gamescreen show" id="life_decision_with_radio" tabindex="-1"
            role="dialog" aria-labelledby="life_decision_with_radio" aria-modal="true" style="display: block;">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content h-auto" style="background: #000;">
                    <div class="modal-body p-0">
                        <div class="col-11 mx-auto">

                            <div class="col-md-12 exp_box pt-2 px-0">
                                <div class="col-md-12">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <img src="assets/images/life_event.png" class="mrs" alt="" width="16"
                                            height="7">
                                        {{'gameLabel.Life Decision' | translate}}
                                        <span class="font11px">{{'gameLabel.at_Age' | translate}}
                                            {{displayDecision.age}}</span>
                                    </div>

                                    <span class="disblock font_b3 font-300 pb-3"> {{displayDecision.decisionText}}
                                    </span>
                                </div>
                                <form class="w-100">
                                    <div
                                        class="col-md-12 exp_txt d-flex ftr align-items-center justify-content-between">
                                        <div class="row">
                                            <div class="col-12">
                                                <div
                                                    class="col-md-12 d-flex justify-content-between align-items-start p-0">
                                                    <span class="d-flex pr-3 align-items-center">
                                                        <img src="assets/images/action.png" class="mrs" alt="">
                                                        {{'gameLabel.Action' | translate}}
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-12 py-4">
                                                <div class="row mx-0 justify-content-center mt-3">
                                                    <div class="col-auto"
                                                        *ngFor="let organ of newOrganObject ,let i=index">
                                                        <div class="box radio_img">
                                                            <label class="abc {{organ.active}}">
                                                                <input type="checkbox" [(ngModel)]="organ.organStatus"
                                                                    (ngModelChange)="check(i,organ.organStatus)"
                                                                    [ngModelOptions]="{standalone: true}">
                                                                <figure><img src={{organ.imageLink}} alt=""></figure>
                                                                <p class="m-0 text-uppercase font-600">
                                                                    {{organ.organName}}</p>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 ml-auto text-center px-0">
                                                <div class="d-flex justify-content-center w-100">
                                                    <button type="button"
                                                        class="btn border-radius btn-blue-grad px-3 mr-2"
                                                        (click)="organDonationDecisionClick()">{{'gameLabel.Yes' |
                                                        translate}}</button>
                                                    <button type="button" class="btn border-radius btn-blue-grad px-3"
                                                        (click)="closeOrganDonationDecision()">{{'gameLabel.No' |
                                                        translate}}</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                                <div class="col-lg-12 ptm pbm factoid_area d-flex justify-content-center"
                                    *ngIf="displayDecision.factroid!==''">
                                    <span class="d-flex pr-2 align-items-center">
                                        <img src="assets/images/i.png" class="mrs" alt="" width="16" height="16">
                                        {{'gameLabel.FACTOID' | translate}}
                                    </span>
                                </div>
                                <div class="col-lg-12 ptm pbm factoid_area d-flex justify-content-center">
                                    <div class="colorb6b6b6">
                                        {{displayDecision.factroid}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="petDecisionFlag" [config]="{ backdrop: 'static' ,keyboard :false,show: true }" bsModal
        #decisionForpet="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-auto-name"
        aria-hidden="false">
        <div class="modal fade new_cmn_modal full_width gamescreen show" id="life_decision" tabindex="-1" role="dialog"
            aria-labelledby="life_decision" aria-modal="true" style="display: block;">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content h-auto" style="background: #000;">
                    <div class="modal-body p-0">
                        <div class="col-11 mx-auto">
                            <div class="col-md-12 exp_box pt-2 px-0">
                                <div class="col-md-12">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <img src="assets/images/life_event.png" class="mrs" alt="" width="16"
                                            height="7">
                                        {{'gameLabel.Life Decision' | translate}}
                                        <span class="font11px">{{'gameLabel.at_Age' | translate}}
                                            {{displayDecision.age}}</span>
                                    </div>

                                    <span class="disblock font_b3 font-300 pb-3">{{displayDecision.decisionText}}</span>
                                </div>

                                <div class="col-md-12 exp_txt ftr align-items-center mt-3">
                                    <div class="col-12 pl-2 d-flex">
                                        <div class="col-2 d-flex justify-content-between align-items-start p-0">
                                            <span class="d-flex pr-3 align-items-center">
                                                <img src="assets/images/action.png" class="mrs" alt="">
                                                {{'gameLabel.Action' | translate}}
                                            </span>
                                        </div>
                                        <div class="col pets_ui"
                                            *ngFor="let pet of displayDecision.choiceArray ,let i=index">
                                            <div class="no-gutters">
                                                <div class="row justify-content-center">
                                                    <div class="col-auto">
                                                        <div class="box radio_img text-center">
                                                            <label [class.active]="r.checked ">
                                                                <input #r type="radio" name="pet" [value]='pet.Value'
                                                                    [(ngModel)]="selectedPetValue"
                                                                    (change)="setSelectedPet(pet.Value)">
                                                                <figure>
                                                                    <img src={{pet.unSelectedImg}} alt="" class="pet1">
                                                                    <img src={{pet.selectedImg}} alt="" class="pet2">
                                                                </figure>
                                                            </label>
                                                            <p class="m-0 text-uppercase font-600"> {{pet.langString}}
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto mx-auto ml-auto px-0 mt-5">
                                        <div class="d-flex justify-content-center w-100" style="padding-top: 10px;">
                                            <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1"
                                                data-dismiss="modal" aria-label="Close"
                                                (click)="clickPetDecision()">{{'gameLabel.Yes' | translate}}</button>
                                            <button type="button" class="btn btn-blue-grad py-1 px-4 ml-1"
                                                data-dismiss="modal" aria-label="Close"
                                                (click)="closePetDecision()">{{'gameLabel.No' | translate}}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 ptm pbm factoid_area d-flex justify-content-center"
                                *ngIf="displayDecision.factroid!==''">
                                <span class="d-flex pr-2 align-items-center">
                                    <img src="assets/images/i.png" class="mrs" alt="" width="16" height="16">
                                    {{'gameLabel.FACTOID' | translate}}
                                </span>
                            </div>
                            <div class="col-lg-12 ptm pbm factoid_area d-flex justify-content-center">
                                <div class="colorb6b6b6" [innerHTML]="displayDecision.factroid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="petTextAreaFlag" [config]="{ backdrop: 'static' ,keyboard :false,show: true }" bsModal
        #decisionForTextArea="bs-modal" class="modal fade" tabindex="-1" role="dialog"
        aria-labelledby="dialog-auto-name" aria-hidden="false">
        <div class="modal fade new_cmn_modal full_width gamescreen show" id="life_decision" tabindex="-1" role="dialog"
            aria-labelledby="life_decision" aria-modal="true" style="display: block;">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content h-auto" style="background: #000;">
                    <div class="modal-body p-0">
                        <div class="col-11 mx-auto">
                            <div class="col-md-12 exp_box pt-2 px-0">
                                <div class="col-md-12">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <img src="assets/images/life_event.png" class="mrs" alt="" width="16"
                                            height="7">
                                        {{'gameLabel.Life Decision' | translate}}
                                        <span class="font11px">{{'gameLabel.at_Age' | translate}}
                                            {{displayDecision.age}}</span>
                                    </div>

                                    <span class="disblock font_b3 font-300 pb-3">{{displayDecision.decisionText}}</span>
                                </div>

                                <div class="col-md-12 exp_txt ftr align-items-center">
                                    <div class="col-12 pl-2 d-flex">
                                        <div class="col-2 d-flex justify-content-between align-items-start p-0">
                                            <span class="d-flex pr-3 align-items-center">
                                                <img src="assets/images/action.png" class="mrs" alt="">
                                                {{'gameLabel.Action' | translate}}
                                            </span>
                                        </div>
                                    </div>
                                    <textarea rows="1" [(ngModel)]="textAreaValid" maxlength="10" minlength="2"
                                        (ngModelChange)="doCheck()" [ngModelOptions]="{standalone: true}"></textarea>
                                    <div class="col-auto mx-auto ml-auto px-0" style="padding-top: 8px;">
                                        <div class="d-flex justify-content-center w-100">
                                            <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1"
                                                data-dismiss="modal" aria-label="Close" [disabled]="textAreaOkButton"
                                                (click)="clickTextDecision()">{{'gameLabel.Yes' | translate}}</button>
                                            <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1"
                                                data-dismiss="modal" aria-label="Close"
                                                (click)="closeTextAreaDecision()">{{'gameLabel.No' |
                                                translate}}</button>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 ptm pbm factoid_area d-flex justify-content-center"
                                *ngIf="displayDecision.factroid!==''">
                                <span class="d-flex pr-2 align-items-center">
                                    <img src="assets/images/i.png" class="mrs" alt="" width="16" height="16">
                                    {{'gameLabel.FACTOID' | translate}}
                                </span>
                            </div>
                            <div class="col-lg-12 ptm pbm factoid_area d-flex justify-content-center">
                                <div class="colorb6b6b6" [innerHTML]="displayDecision.factroid">
                                    <!-- {{displayDecision.factroid}} -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="businessFlag" [config]="{ backdrop: 'static' ,keyboard :false,show: true }" bsModal
        #businessDesigion="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-auto-name"
        aria-hidden="false">
        <div class="modal fade new_cmn_modal full_width gamescreen show" id="life_decision" tabindex="-1" role="dialog"
            aria-labelledby="life_decision" aria-modal="true" style="display: block;">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content h-auto" style="background: #000;">
                    <div class="modal-body p-0">
                        <div class="col-10 mx-auto">
                            <div class="col-md-12 exp_box pt-2 px-0">
                                <div class="d-flex align-items-center justify-content-center">
                                    <img src="assets/images/life_event.png" class="mrs" alt="" width="16" height="7">
                                    {{'gameLabel.Finance_Decision' | translate}}
                                    <span class="font11px" style="margin-left: 3px;"> {{'gameLabel.at_Age' | translate}}
                                        {{displayDecision.age}}</span>
                                </div>
                                <span class="disblock font_b3 font-300 pb-3 font">{{displayDecision.decisionText}}
                                    ({{'gameLabel.Manage_you_installments' |translate}})</span>
                                <div class="row ">
                                    <div class="col font">
                                        <span>{{'gameLabel.Business_cash_available' |translate}}
                                            :
                                            {{totalBusinessCash.toFixed(0)
                                            |number }}
                                            {{homeService.allPerson[constantService.FAMILY_SELF].country.currency_code}}
                                            (
                                            {{((totalBusinessCash/homeService.allPerson[this.constantService.FAMILY_SELF].country.ExchangeRate)*homeService.allPerson[this.constantService.FAMILY_SELF].register_country.ExchangeRate).toFixed(0)|number}}
                                            {{homeService.allPerson[this.constantService.FAMILY_SELF].register_country.currency_code}})</span>
                                    </div>
                                    <div class="col font">
                                        <span>{{'gameLabel.Household_cash_available' |translate}}:
                                            {{totalHCash.toFixed(0)
                                            |number }}
                                            {{homeService.allPerson[constantService.FAMILY_SELF].country.currency_code}}
                                            (
                                            {{((totalHCash/homeService.allPerson[this.constantService.FAMILY_SELF].country.ExchangeRate)*homeService.allPerson[this.constantService.FAMILY_SELF].register_country.ExchangeRate).toFixed(0)|number}}
                                            {{homeService.allPerson[this.constantService.FAMILY_SELF].register_country.currency_code}})</span>
                                    </div>

                                </div>
                                <div class="col-md-12 pyyy-3 exp_txt">
                                    <div class="text-dark finance_loan_invest_box">
                                        <div class="row flex-nowrap">
                                            <div [class]="businessCardSize"
                                                *ngFor="let loan of displayDecision.loanTypeArr;let i=index">
                                                <div [class]="loan.borderClass">
                                                    <div
                                                        class="card-header boxheading_cmn d-flex justify-content-between align-items-center">
                                                        <span>{{loan.name}}</span>
                                                        <span *ngIf="loan.option"> ({{'gameLabel.Optional'
                                                            |translate}})</span>
                                                        <span *ngIf="loan.check" class="chek"
                                                            style="margin-left: 5px;">&#9989;</span>
                                                        <span *ngIf="loan.notPay" style="margin-left: 5px;">❌</span>

                                                        <span *ngIf="loan.ignore" class="chek yellow"
                                                            style="margin-left: 5px;">({{'gameLabel.paid_partially'
                                                            |translate}})</span>
                                                        <span style="float: right;">{{'gameLabel.Years_Completed'
                                                            |translate}}
                                                            <span class="digitit"
                                                                *ngIf="loan.potentialLoanId===6">{{loan.collapsedYear}}
                                                                /
                                                                {{loan.term}}
                                                            </span></span>

                                                        <span class="digitit"
                                                            *ngIf="loan.potentialLoanId!==6">{{loan.collapsedYear}}
                                                        </span>
                                                    </div>
                                                    <div
                                                        class="card-body cardbody box-shadow-none height-auto p-0 d-fflex align-items-center justify-content-center">
                                                        <div class="text-dark p-2 d-flex">
                                                            <div class="col-12 mb-2 white-space-nowrap">
                                                                <div class="row whiteline">
                                                                    <div class="col-12">
                                                                        <span class="left">
                                                                            <span
                                                                                class="left">{{'gameLabel.Taken_loan_amount'
                                                                                |translate}} :
                                                                                <span class="cardtext">
                                                                                    {{commonService.checkNumberFormat(loan.initialLoan)
                                                                                    }}
                                                                                    {{homeService.allPerson[constantService.FAMILY_SELF].country.currency_code}}
                                                                                    (
                                                                                    {{commonService.checkNumberFormat((loan.initialLoan/homeService.allPerson[this.constantService.FAMILY_SELF].country.ExchangeRate)*homeService.allPerson[this.constantService.FAMILY_SELF].register_country.ExchangeRate)}}
                                                                                    {{homeService.allPerson[this.constantService.FAMILY_SELF].register_country.currency_code}})
                                                                                </span> </span>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <div class="row whiteline">
                                                                    <div class="col-12">
                                                                        <span class="left">
                                                                            <span
                                                                                class="left">{{'gameLabel.Remaining_loan_amount'
                                                                                |translate}} :
                                                                                <span style="  margin-left: 29px;">
                                                                                    {{commonService.checkNumberFormat(loan.remainingLoan)}}
                                                                                    {{homeService.allPerson[constantService.FAMILY_SELF].country.currency_code}}
                                                                                    (
                                                                                    {{commonService.checkNumberFormat((loan.remainingLoan/homeService.allPerson[this.constantService.FAMILY_SELF].country.ExchangeRate)*homeService.allPerson[this.constantService.FAMILY_SELF].register_country.ExchangeRate)}}
                                                                                    {{homeService.allPerson[this.constantService.FAMILY_SELF].register_country.currency_code}})
                                                                                </span>
                                                                            </span>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <div class="row whiteline">
                                                                    <div class="col-12">
                                                                        <span class="left">
                                                                            <span class="left">{{'gameLabel.Yearly emi'
                                                                                |translate}} :
                                                                                <span class="cardtext">
                                                                                    {{commonService.checkNumberFormat(loan.yearlyInstallment)}}
                                                                                    {{homeService.allPerson[constantService.FAMILY_SELF].country.currency_code}}
                                                                                    (
                                                                                    {{commonService.checkNumberFormat((loan.yearlyInstallment/homeService.allPerson[this.constantService.FAMILY_SELF].country.ExchangeRate)*homeService.allPerson[this.constantService.FAMILY_SELF].register_country.ExchangeRate)}}
                                                                                    {{homeService.allPerson[this.constantService.FAMILY_SELF].register_country.currency_code}})
                                                                                </span>
                                                                            </span>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <div class="row whiteline">
                                                                    <div class="col-12">
                                                                        <span class="left">
                                                                            <span class="left">{{'gameLabel.Missed
                                                                                emi'
                                                                                |translate}} : </span>
                                                                            <span class="red cardtext"
                                                                                *ngIf="loan.missedInstallmentCount>0">
                                                                                {{loan.missedInstallmentCount}}</span>
                                                                            <span class="cardtext"
                                                                                *ngIf="loan.missedInstallmentCount===0">
                                                                                {{loan.missedInstallmentCount}}</span>
                                                                        </span>

                                                                    </div>
                                                                </div>
                                                                <div class="row whiteline">
                                                                    <div class="col-12">
                                                                        <span class="left">
                                                                            <span class="left"
                                                                                *ngIf="loan.missedInstallment===0">{{'gameLabel.Emi
                                                                                amount
                                                                                not
                                                                                payed' |translate}} :
                                                                                <span class="">
                                                                                    {{commonService.checkNumberFormat(loan.missedInstallment)
                                                                                    }}
                                                                                    {{homeService.allPerson[constantService.FAMILY_SELF].country.currency_code}}
                                                                                    (
                                                                                    {{commonService.checkNumberFormat((loan.missedInstallment/homeService.allPerson[this.constantService.FAMILY_SELF].country.ExchangeRate)*homeService.allPerson[this.constantService.FAMILY_SELF].register_country.ExchangeRate)}}
                                                                                    {{homeService.allPerson[this.constantService.FAMILY_SELF].register_country.currency_code}})
                                                                                </span>
                                                                            </span>
                                                                            <span class="left red"
                                                                                *ngIf="loan.missedInstallment>0">{{'gameLabel.Emi
                                                                                amount
                                                                                not
                                                                                payed' |translate}} :
                                                                                <span class="">
                                                                                    {{commonService.checkNumberFormat(loan.missedInstallment)}}
                                                                                    {{homeService.allPerson[constantService.FAMILY_SELF].country.currency_code}}
                                                                                    (
                                                                                    {{commonService.checkNumberFormat((loan.missedInstallment/homeService.allPerson[this.constantService.FAMILY_SELF].country.ExchangeRate)*homeService.allPerson[this.constantService.FAMILY_SELF].register_country.ExchangeRate)}}
                                                                                    {{homeService.allPerson[this.constantService.FAMILY_SELF].register_country.currency_code}})
                                                                                </span>
                                                                            </span>
                                                                        </span>
                                                                    </div>
                                                                </div>

                                                                <div class="row d-flex">
                                                                    <div class="col-6">
                                                                        <span class="left font">
                                                                            <span class="left"
                                                                                *ngIf="!loan.sharkFlag">{{'gameLabel.Total_emi_amount'
                                                                                |translate}}
                                                                            </span>
                                                                            <span class="left"
                                                                                *ngIf="loan.sharkFlag && loan.potentialLoanId!==7">{{'gameLabel.AMOUNT'
                                                                                |translate}}
                                                                            </span>
                                                                            <span class="left"
                                                                                *ngIf="loan.sharkFlag && loan.potentialLoanId===7">{{'gameLabel.Total_interest_amount'
                                                                                |translate}}
                                                                            </span><br>
                                                                            <span class="left">{{loan.value.toFixed(0)
                                                                                |number}}
                                                                                {{homeService.allPerson[constantService.FAMILY_SELF].country.currency_code}}
                                                                            </span><br>
                                                                            <span class="left">
                                                                                (
                                                                                {{((loan.value/homeService.allPerson[this.constantService.FAMILY_SELF].country.ExchangeRate)*homeService.allPerson[this.constantService.FAMILY_SELF].register_country.ExchangeRate).toFixed(0)|number}}
                                                                                {{homeService.allPerson[this.constantService.FAMILY_SELF].register_country.currency_code}})
                                                                            </span></span>
                                                                    </div>
                                                                    <div class="col-6">
                                                                        <span class="left font">
                                                                            <span class="left"
                                                                                *ngIf="!loan.sharkFlag">{{'gameLabel.Total_emi_amount_paid'
                                                                                |translate}}
                                                                            </span>
                                                                            <span class="left"
                                                                                *ngIf="loan.sharkFlag && loan.potentialLoanId!==7">{{'gameLabel.Total_emi_amount_paid'
                                                                                |translate}}
                                                                            </span>
                                                                            <span class="left"
                                                                                *ngIf="loan.sharkFlag && loan.potentialLoanId===7">{{'gameLabel.Total_emi_amount_paid'
                                                                                |translate}}
                                                                            </span><br>
                                                                            <span
                                                                                class="left">{{loan.paidValue.toFixed(0)
                                                                                |number}}
                                                                                {{homeService.allPerson[constantService.FAMILY_SELF].country.currency_code}}
                                                                            </span><br>
                                                                            <span class="left">
                                                                                (
                                                                                {{((loan.paidValue/homeService.allPerson[this.constantService.FAMILY_SELF].country.ExchangeRate)*homeService.allPerson[this.constantService.FAMILY_SELF].register_country.ExchangeRate).toFixed(0)|number}}
                                                                                {{homeService.allPerson[this.constantService.FAMILY_SELF].register_country.currency_code}})
                                                                            </span></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class=" justify-content-center w-100"
                                                            *ngIf="loan.sharkFlag">
                                                            <button type="button"
                                                                class="btn btn-blue-grad py-1 px-4 mr-1"
                                                                style="margin-bottom: 3px"
                                                                [disabled]="loan.check || loan.ignore ||loan.dis"
                                                                (click)="payLoan(i,loan.value,loan.loanId)">{{'gameLabel.Manage_interest_payment'
                                                                |translate}}
                                                            </button><br>
                                                            <button type="button"
                                                                class="btn btn-blue-grad py-1 px-4 mr-1"
                                                                style="margin-bottom: 3px"
                                                                [disabled]="loan.check || loan.ignore ||loan.dis ||!loan.showPayButton"
                                                                (click)="payDirectlyAlertMsg(i,loan.value,loan.loanId)">{{'gameLabel.Direct_payment_of_interest'
                                                                |translate}}</button><br>
                                                            <button type="button"
                                                                class="btn btn-blue-grad py-1 px-4 mr-1"
                                                                [disabled]="loan.payButtonDisable ||(!(loan.potentialLoanId===7 && loan.remainingLoan>=0))"
                                                                style="margin-bottom: 3px"
                                                                (click)="repayCapital(i,loan.remainingLoan,loan.loanId)">{{'gameLabel.Pay_capital'
                                                                |translate}}</button><br>
                                                            <button type="button" *ngIf="loan.remainingLoan > totalBusinessCash"
                                                                class="btn btn-blue-grad py-1 px-4 mr-1" 
                                                                [disabled]="loan.check || loan.ignore"
                                                                style="margin-bottom: 3px"
                                                                (click)="notPayEmi(i,loan.loanId)">{{'gameLabel.Can not pay'
                                                                |translate}}</button>
                                                                <button type="button" *ngIf="loan.remainingLoan < totalBusinessCash"
                                                                class="btn btn-blue-grad py-1 px-4 mr-1" 
                                                                [disabled]="loan.check || loan.ignore"
                                                                style="margin-bottom: 3px"
                                                                (click)="notPayEmi(i,loan.loanId)">{{'gameLabel.would not pay'
                                                                |translate}}</button>
                                                        </div>
                                                        <div class=" justify-content-center w-100"
                                                            *ngIf="!loan.sharkFlag">
                                                            <button type="button"
                                                                class="btn btn-blue-grad py-1 px-4 mr-1"
                                                                style="margin-bottom: 3px"
                                                                [disabled]="loan.check || loan.ignore ||loan.dis"
                                                                (click)="payLoan(i,loan.value,loan.loanId)">{{'gameLabel.Manage_interest_payment'
                                                                |translate}}</button><br>
                                                            <button type="button"
                                                                class="btn btn-blue-grad py-1 px-4 mr-1"
                                                                style="margin-bottom: 3px"
                                                                [disabled]="loan.check || loan.ignore ||loan.dis ||!loan.showPayButton"
                                                                (click)="payDirectlyAlertMsg(i,loan.value,loan.loanId)">{{'gameLabel.Direct_payment_of_interest'
                                                                |translate}}</button><br>
                                                                <button type="button" *ngIf="loan.remainingLoan > totalBusinessCash"
                                                                    class="btn btn-blue-grad py-1 px-4 mr-1" 
                                                                    [disabled]="loan.check || loan.ignore"
                                                                    style="margin-bottom: 3px"
                                                                    (click)="notPayEmi(i,loan.loanId)">{{'gameLabel.Can not pay'
                                                                    |translate}}</button>
                                                                    <button type="button" *ngIf="loan.remainingLoan <= totalBusinessCash"
                                                                    class="btn btn-blue-grad py-1 px-4 mr-1" 
                                                                    [disabled]="loan.check || loan.ignore"
                                                                    style="margin-bottom: 3px"
                                                                    (click)="notPayEmi(i,loan.loanId)">{{'gameLabel.would not pay'
                                                                    |translate}}</button>
                                                            <br>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                <div class="col-auto text-right px-0 mrg">
                                    <div class="d-flex justify-content-center w-100">
                                        <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1"
                                            data-dismiss="modal" aria-label="Close" (click)="payAllEmiOk()"
                                            style="margin-left: 40px;margin-bottom: 5px;margin-top: 5px">{{'gameLabel.Save'
                                            |
                                            translate}} </button>
                                        <span class="font" style="margin-top: 5px;"> ( {{'gameLabel.Paid' |translate}}
                                            {{paidEmiCount}} /
                                            {{displayDecision.loanTypeArr.length}})</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


    <div *ngIf="petTextAreaFlag" [config]="{ backdrop: 'static' ,keyboard :false,show: true }" bsModal
        #decisionForTextArea="bs-modal" class="modal fade" tabindex="-1" role="dialog"
        aria-labelledby="dialog-auto-name" aria-hidden="false">
        <div class="modal fade new_cmn_modal full_width gamescreen show" id="life_decision" tabindex="-1" role="dialog"
            aria-labelledby="life_decision" aria-modal="true" style="display: block;">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content h-auto" style="background: #000;">
                    <div class="modal-body p-0">
                        <div class="col-11 mx-auto">
                            <div class="col-md-12 exp_box pt-2 px-0">
                                <div class="col-md-12">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <img src="assets/images/life_event.png" class="mrs" alt="" width="16"
                                            height="7">
                                        {{'gameLabel.Life Decision' | translate}}
                                        <span class="font11px">{{'gameLabel.at_Age' | translate}}
                                            {{displayDecision.age}}</span>
                                    </div>

   

                                <div class="col-md-12 exp_txt ftr align-items-center">
                                    <div class="col-12 pl-2 d-flex">
                                        <div class="col-2 d-flex justify-content-between align-items-start p-0">
                                            <span class="d-flex pr-3 align-items-center">
                                                <img src="assets/images/action.png" class="mrs" alt="">
                                                {{'gameLabel.Action' | translate}}
                                            </span>
                                        </div>
                                    </div>
                                    <textarea rows="1" [(ngModel)]="textAreaValid" maxlength="10" minlength="2"
                                        (ngModelChange)="doCheck()" [ngModelOptions]="{standalone: true}"></textarea>
                                    <div class="col-auto mx-auto ml-auto px-0" style="padding-top: 8px;">
                                        <div class="d-flex justify-content-center w-100">
                                            <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1"
                                                data-dismiss="modal" aria-label="Close" [disabled]="textAreaOkButton"
                                                (click)="clickTextDecision()">{{'gameLabel.Yes' | translate}}</button>
                                            <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1"
                                                data-dismiss="modal" aria-label="Close"
                                                (click)="closeTextAreaDecision()">{{'gameLabel.No' |
                                                translate}}</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>


    <div class="md-overlay black_modal gamescreen" id="warr" *ngIf="selectedEmiIndex!==null ||repayFlag">
        <div class="modal-dialog modal-dialog-centered w900" role="document">
            <div class="modal-content h-auto">
                <div class="modal-body p-0">
                    <div class="col-md-12 text-center">
                        <div *ngIf="selectedEmiIndex!==null">
                            <div class="row d-flex">
                                <div class="col whiteline text-primary">
                                    <span class="text-primary2">{{loanName}} ({{value}})</span>
                                </div>
                            </div>

                            <div class="col">
                                <span *ngIf="!repayFlag">{{'gameLabel.Total_emi_amount' |translate}} :
                                    {{selectedEmiValue.toFixed(0)
                                    |number }}
                                    {{homeService.allPerson[constantService.FAMILY_SELF].country.currency_code}}
                                    (
                                    {{((selectedEmiValue/homeService.allPerson[this.constantService.FAMILY_SELF].country.ExchangeRate)*homeService.allPerson[this.constantService.FAMILY_SELF].register_country.ExchangeRate).toFixed(0)|number}}
                                    {{homeService.allPerson[this.constantService.FAMILY_SELF].register_country.currency_code}})</span>
                            </div>
                            <div class="col">
                                <span *ngIf="repayFlag">{{'gameLabel.Total_Capital' |translate}} :
                                    {{selectedEmiValue.toFixed(0)
                                    |number }}
                                    {{homeService.allPerson[constantService.FAMILY_SELF].country.currency_code}}
                                    (
                                    {{((selectedEmiValue/homeService.allPerson[this.constantService.FAMILY_SELF].country.ExchangeRate)*homeService.allPerson[this.constantService.FAMILY_SELF].register_country.ExchangeRate).toFixed(0)|number}}
                                    {{homeService.allPerson[this.constantService.FAMILY_SELF].register_country.currency_code}})</span>
                            </div>
                            <div class="col">

                                <span [class]="loanClass">{{'gameLabel.selected_total_amount' |translate}} :
                                    {{totalTakenLoanAmount.toFixed(0)
                                    |number }}
                                    {{homeService.allPerson[constantService.FAMILY_SELF].country.currency_code}}
                                    (
                                    {{((totalTakenLoanAmount/homeService.allPerson[this.constantService.FAMILY_SELF].country.ExchangeRate)*homeService.allPerson[this.constantService.FAMILY_SELF].register_country.ExchangeRate).toFixed(0)|number}}
                                    {{homeService.allPerson[this.constantService.FAMILY_SELF].register_country.currency_code}})</span>
                            </div>
                            <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1" *ngIf="takeLoanButtonFlag"
                                (click)="clickGetLoan()">{{'gameLabel.Take_a_loan'
                                |translate}}</button>
                            <div class="row justify-content-between align-items-center py-2 border-bottom">
                                <div class="col-md-2">
                                    <p class="m-0 ">{{'gameLabel.Business_cash' |translate}}</p>
                                </div>
                                <div class="col-md-7">
                                    <div class="slidecontainer">
                                        <div class="slidecontainer_cnt">
                                            <div class="row justify-content-between">
                                                <div class="col-auto ">0</div>
                                                <div class="col-auto ">
                                                    {{totalBusinessCash.toFixed(0)|number}}
                                                    {{homeService.allPerson[constantService.FAMILY_SELF].country.currency_code}}
                                                    (
                                                    {{((totalBusinessCash/homeService.allPerson[this.constantService.FAMILY_SELF].country.ExchangeRate)*homeService.allPerson[this.constantService.FAMILY_SELF].register_country.ExchangeRate).toFixed(0)|number}}
                                                    {{homeService.allPerson[this.constantService.FAMILY_SELF].register_country.currency_code}})
                                                </div>
                                            </div>
                                        </div>
                                        <input type="range" [(ngModel)]="selectedBusinessValue" min="0"
                                            max="{{totalBusinessCash.toFixed(0)}}" class="form-control pxll-2 col"
                                            name="bs" (click)="setLoanValues()">
                                    </div>
                                </div>
                                <div class="col-md-3 d-inline-flex align-items-center">
                                    <p class="m-0 pr-3">
                                        {{'gameLabel.Selected_business_cash' |translate}} <br>
                                        {{selectedBusinessValue |
                                        number}}
                                        {{homeService.allPerson[constantService.FAMILY_SELF].country.currency_code}}<br>
                                        (
                                        {{((selectedBusinessValue/homeService.allPerson[this.constantService.FAMILY_SELF].country.ExchangeRate)*homeService.allPerson[this.constantService.FAMILY_SELF].register_country.ExchangeRate).toFixed(0)|number}}
                                        {{homeService.allPerson[this.constantService.FAMILY_SELF].register_country.currency_code}})

                                    </p>
                                </div>
                            </div>
                            <div class="row justify-content-between align-items-center py-2 border-bottom" *ngIf="loanPotId!==9">
                                <div class="col-md-2">
                                    <p class="m-0 ">{{'gameLabel.Household_cash' |translate}} </p>
                                </div>
                                <div class="col-md-7">
                                    <div class="slidecontainer">
                                        <div class="slidecontainer_cnt">
                                            <div class="row justify-content-between">
                                                <div class="col-auto ">0</div>
                                                <div class="col-auto ">
                                                    {{totalHCash.toFixed(0)|number}}
                                                    {{homeService.allPerson[constantService.FAMILY_SELF].country.currency_code}}
                                                    (
                                                    {{((totalHCash/homeService.allPerson[this.constantService.FAMILY_SELF].country.ExchangeRate)*homeService.allPerson[this.constantService.FAMILY_SELF].register_country.ExchangeRate).toFixed(0)|number}}
                                                    {{homeService.allPerson[this.constantService.FAMILY_SELF].register_country.currency_code}})
                                                </div>
                                            </div>
                                        </div>
                                        <input type="range" [(ngModel)]="selectedHcash" min="0"
                                            max="{{totalHCash.toFixed(0)}}" class="form-control pxll-2 col" name="hc"
                                            value="0" (click)="setLoanValues()">
                                    </div>
                                </div>
                                <div class="col-md-3 d-inline-flex align-items-center">
                                    <p class="m-0 pr-3">
                                        {{'gameLabel.Selected_houselhold_cash' |translate}} <br>
                                        {{selectedHcash | number}}
                                        {{homeService.allPerson[constantService.FAMILY_SELF].country.currency_code}}<br>
                                        (
                                        {{((selectedHcash/homeService.allPerson[this.constantService.FAMILY_SELF].country.ExchangeRate)*homeService.allPerson[this.constantService.FAMILY_SELF].register_country.ExchangeRate).toFixed(0)|number}}
                                        {{homeService.allPerson[this.constantService.FAMILY_SELF].register_country.currency_code}})
                                    </p>
                                </div>
                            </div>
                            <div class="row justify-content-between align-items-center py-2 border-bottom"
                                *ngIf="takeLoan">
                                <div class="col-md-2">
                                    <p class="m-0 ">{{'gameLabel.Bank_loan' |translate}}</p>
                                </div>
                                <div class="col-md-4">
                                    <div class="slidecontainer">
                                        <div class="slidecontainer_cnt">
                                            <div class="row justify-content-between">
                                                <div class="col-auto ">0</div>
                                                <div class="col-auto ">
                                                    {{maxBankLoan.toFixed(0)|number}}{{homeService.allPerson[constantService.FAMILY_SELF].country.currency_code}}
                                                    (
                                                    {{((maxBankLoan/homeService.allPerson[this.constantService.FAMILY_SELF].country.ExchangeRate)*homeService.allPerson[this.constantService.FAMILY_SELF].register_country.ExchangeRate).toFixed(0)|number}}
                                                    {{homeService.allPerson[this.constantService.FAMILY_SELF].register_country.currency_code}})
                                                </div>
                                            </div>
                                        </div>
                                        <input type="range" [(ngModel)]="selectedBankLoan" min="0" max="{{maxBankLoan}}"
                                            class="form-control pxll-2 col" name="bank" value="0"
                                            (click)="setLoanValues()">


                                    </div>
                                </div>
                                <div class="col-md-1">
                                    {{'gameLabel.INTEREST_RATE' |translate}}

                                    <br>
                                    10 %
                                </div>
                                <div class="col-md-2">
                                    {{'gameLabel.TERM' |translate}}
                                    <br>
                                    10 {{'gameLabel.Years' |translate}}
                                </div>
                                <div class="col-md-3 d-inline-flex align-items-center">
                                    <p class="m-0 pr-3">
                                        {{'gameLabel.selected_bank_loan' |translate}} <br>
                                        {{selectedBankLoan | number}}
                                        {{homeService.allPerson[constantService.FAMILY_SELF].country.currency_code}}<br>
                                        (
                                        {{((selectedBankLoan/homeService.allPerson[this.constantService.FAMILY_SELF].country.ExchangeRate)*homeService.allPerson[this.constantService.FAMILY_SELF].register_country.ExchangeRate).toFixed(0)|number}}
                                        {{homeService.allPerson[this.constantService.FAMILY_SELF].register_country.currency_code}})
                                    </p>
                                </div>
                            </div>
                            <div class="row justify-content-between align-items-center py-2 border-bottom"
                                *ngIf="takeLoan">
                                <div class="col-md-2">
                                    <p class="m-0 ">{{'gameLabel.Shark_loan' |translate}}</p>
                                </div>
                                <div class="col-md-4">
                                    <div class="slidecontainer">
                                        <div class="slidecontainer_cnt">
                                            <div class="row justify-content-between">
                                                <div class="col-auto ">0</div>
                                                <div class="col-auto ">{{maxSharkLoan.toFixed(0)|number}}
                                                    {{homeService.allPerson[constantService.FAMILY_SELF].country.currency_code}}
                                                    (
                                                    {{((maxSharkLoan/homeService.allPerson[this.constantService.FAMILY_SELF].country.ExchangeRate)*homeService.allPerson[this.constantService.FAMILY_SELF].register_country.ExchangeRate).toFixed(0)|number}}
                                                    {{homeService.allPerson[this.constantService.FAMILY_SELF].register_country.currency_code}})
                                                </div>
                                            </div>
                                        </div>
                                        <input type="range" [(ngModel)]="selectedSharkLoan" min="0"
                                            max="{{maxSharkLoan}}" class="form-control pxll-2 col" name="bank" value="0"
                                            (click)="setLoanValues()">
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    {{'gameLabel.INTEREST_RATE' |translate}}
                                    <br>
                                    36 %
                                </div>
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-3 d-inline-flex align-items-center">
                                    <p class="m-0 pr-3">
                                        {{'gameLabel.Seleted_Shark_loan' |translate}} <br>
                                        {{selectedSharkLoan | number}}
                                        {{homeService.allPerson[constantService.FAMILY_SELF].country.currency_code}}<br>
                                        (
                                        {{((selectedSharkLoan/homeService.allPerson[this.constantService.FAMILY_SELF].country.ExchangeRate)*homeService.allPerson[this.constantService.FAMILY_SELF].register_country.ExchangeRate).toFixed(0)|number}}
                                        {{homeService.allPerson[this.constantService.FAMILY_SELF].register_country.currency_code}})
                                    </p>
                                </div>
                            </div>


                            <div class="d-flex justify-content-center w-100" style="margin-top: 10px;">
                                <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1"
                                    (click)="takeLoanOk()">{{'gameLabel.Pay'
                                    |translate}}</button>
                                <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1"
                                    (click)="takeLoanCancle()">{{'gameLabel.Cancel' |translate}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="md-overlay black_modal gamescreen" id="romance" *ngIf="confirmFlag">
        <div class="modal-dialog modal-dialog-centered w700" role="document">
            <div class="modal-content h-auto">
                <div class="modal-body p-0">
                    <p class="text-center">{{warrMsg}}</p>
                    <div class="d-flex justify-content-center w-100" *ngIf="directPayFlag">
                        <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1" (click)="payDirectlyYes()">{{'gameLabel.Yes' |translate}}</button>
                        <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1" (click)="payDirectlyNo()">{{'gameLabel.No' |translate}}</button>
                    </div>
                    <div class="d-flex justify-content-center w-100" *ngIf="!directPayFlag">
                        <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1" (click)="payAllEmiOkClick()">{{'gameLabel.Skip_installment' |translate}}</button>
                        <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1" (click)="payAllEmiCancel()">{{'gameLabel.Pay_installment' |translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>