.chek{
        content: "\2705";
}

.mrg{
        margin-right: 5px ;
        margin-left: 5px;
}

.whiteline{
    padding-bottom: 5px;
  border-bottom:1px solid  #595b5d!important;
  }

   .black_modal .modal-dialog.w500 {
  max-width: 500;
  max-height: 300;
}

 .black_modal .modal-dialog.w900 {
  max-width: 1000px;
}
.red{
  color: red;
}

.green{
  color: green;
}

.boxheading_cmn1 {
  font-size: 1.0rem;
  font-weight: 500;
  color: #fff;
  background: #0d4172;
  padding: 0.5rem;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
}

.left{
  float: left;
}
.aleft{
text-align: left
}


.left{
float: left!important
}

.redBorder{
border: 3px solid rgb(242, 8, 8)!important}


.font{
  font-weight: bold
}

.spClass{
  margin-right: -96px;
}

.mrgL{
  margin-right: 45px;
}
.cardtext{
  margin-left: 67px;
}

.yellow{
  color: #FFF600;
}

