<div class="tab-pane fade show active" *ngIf="modalWindowShowHide.showGameSummary">
    <div class="row mdl_cnt_rw text-white">
        <div class="col-12 mx-auto align-items-center">
            <div class="container-fluid text-white tabs_wraper">
                <div class="row summary-part">
                    <div class="col-lg-12 px-0">
                        <div class="summary-wrapper">
                            <div class="summary-title">
                                <h2><img src="assets/images/endscreenicon/game summary-icon.svg" alt="Game Summary" />{{'gameLabel.Game_Summary' |translate  }}
                                </h2>
                            </div>
                            <div class="clearfix"></div>
                            <div class="text-block game-summary">
                                <ul class="nav nav-tabs">
                                    <li class=""><a class="active" data-toggle="tab" href="#Life-Summary">{{'gameLabel.Life_Summary' |translate}} </a></li>
                                    <li *ngIf="this.homeService.allPerson[this.constantService.FAMILY_SELF].age>0"><a data-toggle="tab" href="#SDG-Comments" > {{'gameLabel.My_SDG_Comments' |translate}} </a></li>
                                    <li *ngIf="this.homeService.allPerson[this.constantService.FAMILY_SELF].age>0" ><a data-toggle="tab" href="#Indicators-Over-Age">{{'gameLabel.Indicators_Over_Age' |translate  }} </a></li>
                                </ul>
                                <a class="organ-donate-cert" *ngIf="!checkOrganCerFlag" (click)="openOrganDonationCertificagte()">Organ Donation Certificate</a>
                                <div class="tab-content" >
                                    <div class="tab-pane active" id="Life-Summary">
                                        <div  *ngFor="let event of homeService.allEvent ;let i=index">
                                        <h3 class="title" *ngIf="event.age===0 && i<=0">{{'gameLabel.LIFE_EVENT_at_Age' |translate}} {{event.age}}</h3>
                                        <div *ngIf="i>0">
                                            <h3 class="title" *ngIf="homeService.allEvent[i-1].age!=event.age   ">{{'gameLabel.LIFE_EVENT_at_Age' |translate}} {{event.age}}</h3>
                                        </div>
                                        <ul  >
                                            <li>{{event.addline}}</li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                    <div class="tab-pane" id="SDG-Comments" >
                                        <div *ngFor="let sdg of sdgCommentList">
                                        {{sdg}}
                                    </div>
                                </div>
                                    <div class="tab-pane" id="Indicators-Over-Age">
                                         <div>
                                        <h3 class="title">{{'gameLabel.HEALTH' |translate}}</h3>
                                        <div class="clearfix"></div>
                                        <div class="health-info">
                                            <div class="col-md-6 nopadding blocks">
                                                <div style="display: block;">
                                                    <canvas baseChart width="50" height="25"
                                                      [datasets]="lineChartDataHealth"
                                                      [labels]="lineChartLabelsHealth"
                                                      [options]="lineChartOptionsHealth"
                                                      [colors]="lineChartColors"
                                                      [legend]="lineChartLegend"
                                                      [chartType]="lineChartType"
                                                      [plugins]="lineChartPlugins">
                                                    </canvas>
                                                  </div>
                                            </div>
                                               
                                            <div class="col-md-5 blocks">
                                                <textarea class="form-control" rows="9" [maxLength]="500" [(ngModel)]="healthSuggetion" (ngModelChange)="change()" required placeholder="Here you can type your own comments on your health..."></textarea>
                                            </div>
                                        </div>
                                        <input type="button" name="save" value="Save" class="save-overage {{addCssForDisableHealth}}" (click)="saveSuggetion()"/>
                                    </div>
                                    <div>
                                        <h3 class="title">{{'gameLabel.RESISTANCE' |translate}}</h3>
                                        <div class="clearfix"></div>
                                        <div class="health-info">
                                            <div class="col-md-6 nopadding blocks">
                                                <div style="display: block;">
                                                    <canvas baseChart width="50" height="25"
                                                      [datasets]="lineChartDataResistance"
                                                      [labels]="lineChartLabelsResistance"
                                                      [options]="lineChartOptionsResistance"
                                                      [colors]="lineChartColors"
                                                      [legend]="lineChartLegend"
                                                      [chartType]="lineChartType"
                                                      [plugins]="lineChartPlugins">
                                                    </canvas>
                                                  </div>
                                            </div>
                                               
                                            <div class="col-md-5 blocks">
                                                <textarea class="form-control" rows="9" [maxLength]="500" [(ngModel)]="resistanceSuggetion" (ngModelChange)="change()" required placeholder="Here you can type your own comments on your resistance..."></textarea>
                                            </div>
                                        </div>
                                        <input type="button" name="save" value="Save" class="save-overage {{addCssForDisableResistance}}" (click)="saveSuggetion()"/>
                                    </div>
                                    <div>
                                        <h3 class="title"> {{'gameLabel.HAPPINESS' |translate}}</h3>
                                        <div class="clearfix"></div>
                                        <div class="health-info">
                                            <div class="col-md-6 nopadding blocks">
                                                <div style="display: block;">
                                                    <canvas baseChart width="50" height="25"
                                                      [datasets]="lineChartDataHappiness"
                                                      [labels]="lineChartLabelsHappiness"
                                                      [options]="lineChartOptionsHappiness"
                                                      [legend]="lineChartLegend"
                                                      [colors]="lineChartColors"
                                                      [chartType]="lineChartType"
                                                      [plugins]="lineChartPlugins">
                                                    </canvas>
                                                  </div>
                                            </div>
                                               
                                            <div class="col-md-5 blocks">
                                                <textarea class="form-control" rows="9" [maxLength]="500" [(ngModel)]="happinessSuggetion" (ngModelChange)="change()" required placeholder="Here you can type your own comments on your happiness..."></textarea>
                                            </div>
                                        </div>
                                        <input type="button" name="save" value="Save" class="save-overage {{addCssForDisableHappiness}}" (click)="saveSuggetion()"/>
                                    </div>
                                    <div> 
                                        <h3 class="title"> {{'gameLabel.INTELLIGENCE' |translate}}</h3>
                                        <div class="clearfix"></div>
                                        <div class="health-info">
                                            <div class="col-md-6 nopadding blocks">
                                                <div style="display: block;">
                                                    <canvas baseChart width="50" height="25"
                                                      [datasets]="lineChartDataIntelligence"
                                                      [labels]="lineChartLabelsIntelligence"
                                                      [options]="lineChartOptionsIntelligence"
                                                      [colors]="lineChartColors"
                                                      [legend]="lineChartLegend"
                                                      [chartType]="lineChartType"
                                                      [plugins]="lineChartPlugins">
                                                    </canvas>
                                                  </div>
                                            </div>
                                               
                                            <div class="col-md-5 blocks">
                                                <textarea class="form-control" rows="9" [maxLength]="500" [(ngModel)]="intelligenceSuggetion" (ngModelChange)="change()" required placeholder="Here you can type your own comments on your intelligence..."></textarea>
                                            </div>
                                        </div>
                                        <input type="button" name="save" value="Save" class="save-overage {{addCssForDisableIntelligence}}" (click)="saveSuggetion()"/>
                                    </div> 
                                    <div>
                                        <h3 class="title"> {{'gameLabel.ARTISTIC' |translate}}</h3>
                                        <div class="clearfix"></div>
                                        <div class="health-info">
                                            <div class="col-md-6 nopadding blocks">
                                                <div style="display: block;">
                                                    <canvas baseChart width="50" height="25"
                                                      [datasets]="lineChartDataArtistic"
                                                      [labels]="lineChartLabelsArtistic"
                                                      [options]="lineChartOptionsArtistic"
                                                      [colors]="lineChartColors"
                                                      [legend]="lineChartLegend"
                                                      [chartType]="lineChartType"
                                                      [plugins]="lineChartPlugins">
                                                    </canvas>
                                                  </div>
                                            </div>
                                               
                                            <div class="col-md-5 blocks">
                                                <textarea class="form-control" rows="9" [maxLength]="500" [(ngModel)]="artisticSuggetion" (ngModelChange)="change()" required  placeholder="Here you can type your own comments on your artistic..."></textarea>
                                            </div>
                                        </div>
                                        <input type="button" name="save" value="Save" class="save-overage {{addCssForDisableArtistic}}" (click)="saveSuggetion()"/>
                                    </div>
                                    <div>
                                        <h3 class="title"> {{'gameLabel.MUSICAL' |translate}}</h3>
                                        <div class="clearfix"></div>
                                        <div class="health-info">
                                            <div class="col-md-6 nopadding blocks">
                                                <div style="display: block;">
                                                    <canvas baseChart width="50" height="25"
                                                      [datasets]="lineChartDataMusical"
                                                      [labels]="lineChartLabelsMusical"
                                                      [options]="lineChartOptionsMusical"
                                                      [colors]="lineChartColors"
                                                      [legend]="lineChartLegend"
                                                      [chartType]="lineChartType"
                                                      [plugins]="lineChartPlugins">
                                                    </canvas>
                                                  </div>
                                            </div>
                                               
                                            <div class="col-md-5 blocks">
                                                <textarea class="form-control" rows="9" [maxLength]="500" [(ngModel)]="musicalSuggetion" (ngModelChange)="change()" required placeholder="Here you can type your own comments on your musical..."></textarea>
                                            </div>
                                        </div>
                                        <input type="button" name="save" value="Save" class="save-overage {{addCssForDisableMusical}}" (click)="saveSuggetion()"/>
                                    </div>
                                    <div>
                                        <h3 class="title"> {{'gameLabel.ATHLETIC' |translate}}</h3>
                                        <div class="clearfix"></div>
                                        <div class="health-info">
                                            <div class="col-md-6 nopadding blocks">
                                                <div style="display: block;">
                                                    <canvas baseChart width="50" height="25"
                                                      [datasets]="lineChartDataAtheletic"
                                                      [labels]="lineChartLabelsAtheletic"
                                                      [options]="lineChartOptionsAtheletic"
                                                      [colors]="lineChartColors"
                                                      [legend]="lineChartLegend"
                                                      [chartType]="lineChartType"
                                                      [plugins]="lineChartPlugins">
                                                    </canvas>
                                                  </div>
                                            </div>
                                               
                                            <div class="col-md-5 blocks">
                                                <textarea class="form-control" rows="9" [maxLength]="500" [(ngModel)]="atheleticSuggetion" (ngModelChange)="change()" required placeholder="Here you can type your own comments on your athletic..."></textarea>
                                            </div>
                                        </div>
                                        <input type="button" name="save" value="Save" class="save-overage {{addCssForDisableAtheletic}}" (click)="saveSuggetion()"/>
                                    </div>
                                    <div>
                                        <h3 class="title"> {{'gameLabel.STRENGTH' |translate}}</h3>
                                        <div class="clearfix"></div>
                                        <div class="health-info">
                                            <div class="col-md-6 nopadding blocks">
                                                <div style="display: block;">
                                                    <canvas baseChart width="50" height="25"
                                                      [datasets]="lineChartDataStrength"
                                                      [labels]="lineChartLabelsStrength"
                                                      [options]="lineChartOptionsStrength"
                                                      [colors]="lineChartColors"
                                                      [legend]="lineChartLegend"
                                                      [chartType]="lineChartType"
                                                      [plugins]="lineChartPlugins">
                                                    </canvas>
                                                  </div>
                                            </div>
                                               
                                            <div class="col-md-5 blocks">
                                                <textarea class="form-control" rows="9" [maxLength]="500" [(ngModel)]="strengthSuggetion" (ngModelChange)="change()" required placeholder="Here you can type your own comments on your strength..."></textarea>
                                            </div>
                                        </div>
                                        <input type="button" name="save" value="Save" class="save-overage {{addCssForDisableStrength}}" (click)="saveSuggetion()"/>
                                    </div>
                                    <div>
                                        <h3 class="title"> {{'gameLabel.ENDURANCE' |translate}}</h3>
                                        <div class="clearfix"></div>
                                        <div class="health-info">
                                            <div class="col-md-6 nopadding blocks">
                                                <div style="display: block;">
                                                    <canvas baseChart width="50" height="25"
                                                      [datasets]="lineChartDataEndurance"
                                                      [labels]="lineChartLabelsEndurance"
                                                      [options]="lineChartOptionsEndurance"
                                                      [colors]="lineChartColors"
                                                      [legend]="lineChartLegend"
                                                      [chartType]="lineChartType"
                                                      [plugins]="lineChartPlugins">
                                                    </canvas>
                                                  </div>
                                            </div>
                                               
                                            <div class="col-md-5 blocks">
                                                <textarea class="form-control" rows="9" [maxLength]="500" [(ngModel)]="enduranceSuggetion" (ngModelChange)="change()" required placeholder="Here you can type your own comments on your endurance..."></textarea>
                                            </div>
                                        </div>
                                        <input type="button" name="save" value="Save" class="save-overage {{addCssForDisableEndurance}}" (click)="saveSuggetion()"/>
                                    </div>
                                    <div>
                                        <h3 class="title"> {{'gameLabel.SPIRITUAL' |translate}}</h3>
                                        <div class="clearfix"></div>
                                        <div class="health-info">
                                            <div class="col-md-6 nopadding blocks">
                                                <div style="display: block;">
                                                    <canvas baseChart width="50" height="25"
                                                      [datasets]="lineChartDataSpiritual"
                                                      [labels]="lineChartLabelsSpiritual"
                                                      [options]="lineChartOptionsSpiritual"
                                                      [colors]="lineChartColors"
                                                      [legend]="lineChartLegend"
                                                      [chartType]="lineChartType"
                                                      [plugins]="lineChartPlugins">
                                                    </canvas>
                                                  </div>
                                            </div>
                                               
                                            <div class="col-md-5 blocks">
                                                <textarea class="form-control" rows="9" [maxLength]="500" [(ngModel)]="spiritualSuggetion" (ngModelChange)="change()" required placeholder="Here you can type your own comments on your spiritual..."></textarea>
                                            </div>
                                        </div>
                                        <input type="button" name="save" value="Save" class="save-overage {{addCssForDisableSpiritual}}" (click)="saveSuggetion()"/>
                                    </div>
                                    <div>
                                        <h3 class="title"> {{'gameLabel.WISDOM' |translate}}</h3>
                                        <div class="clearfix"></div>
                                        <div class="health-info">
                                            <div class="col-md-6 nopadding blocks">
                                                <div style="display: block;">
                                                    <canvas baseChart width="50" height="25"
                                                      [datasets]="lineChartDataWisdom"
                                                      [labels]="lineChartLabelsWisdom"
                                                      [options]="lineChartOptionsWisdom"
                                                      [colors]="lineChartColors"
                                                      [legend]="lineChartLegend"
                                                      [chartType]="lineChartType"
                                                      [plugins]="lineChartPlugins">
                                                    </canvas>
                                                  </div>
                                            </div>
                                               
                                            <div class="col-md-5 blocks">
                                                <textarea class="form-control" rows="9" placeholder="Here you can type your own comments on your wisdom..." [maxLength]="500" [(ngModel)]="wisdomSuggetion" (ngModelChange)="change()"></textarea>
                                            </div>
                                        </div>
                                        <input type="button" name="save" value="Save" class="save-overage {{addCssForDisableWisdom}}" (click)="saveSuggetion()"/>
                                    </div> 

                                  
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="comment-input">
                            <textarea class="form-control"  [maxLength]="500" [(ngModel)]="commonSuggetion" (ngModelChange)="change()" required placeholder="Here you may elaborate in detail of your experience and learnings from this gameplay (500 words)"></textarea>
                            <input type="button" class="{{addCsForCommonButton}}" name="save" value="Save"(click)="saveSuggetion()" />
                        </div>
                    </div>
                </div>	
            </div>
        </div>
    </div>
</div>
<div class="phl" bsModal #GameSummerySave="bs-modal" class="modal fade md-overlay" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="false">
    <div class="conformationpopup centered">
        <div class="pal text-center">
            <div> <span>
    Saved succesfully.</span>
                <br>
                <br>
                <button type="button" class="btn mlm btn_sk " (click)="GameSummerySave.hide()">Ok</button>
            </div>
        </div>
    </div>
</div>

<app-organ-donation-certificate *ngIf="modalWindowShowHide.showOrganDonationCertificate"></app-organ-donation-certificate>
