<div *ngIf="modalWindowShowHide.showLifeSummery">
    <div class="tab-pane fade h-100 active show" role="tabpanel">
        <div class="tab_inner_div life_summary_main overflow-y-auto">
            <div class="pt-3 h-100">
                <div class="exp_div mbm pb-2" *ngFor="let event of eventService.allEvents | displayReverse; let i=index">
                    <div class="">
                        <div class="col-md-12 colorfff fontwe font12px d-flex justify-content-between">
                            <div class="">
                                <img src="assets/images/game_images/blue_life_ico.png" alt=""/>
                               {{'gameLabel.LIFE_EVENT_at_Age' |translate}} {{event.age}}
                            </div>
                            <a >
                                <span><img src="assets/images/game_images/reevent.png" style="cursor: pointer;" width="14" height="12" alt="" (click)="goToThatEvent(event)" placement="bottom" tooltip="go to event"/></span>
                            </a>
                        </div>
                        <div class="col-md-12 pam">
                            <p class="text-primary line-height-2">{{event.addline}}</p>
                        </div>
                    </div>
                    <div class="col-md-12 colorfff fontwe font12px">
                        <div class="mb-2">
                            <img src="assets/images/expre_blu.png" alt="">
                             {{'gameLabel.EXPRESSION' |translate}}
                        </div>
                        <p class="text-primary line-height-2">{{event.expression}}</p>
                    </div>
                </div>
            </div>
        </div>
        </div>
</div>
