<div *ngIf="modalWindowShowHide.showSdgIndicator">
    <div class="tab-pane fade h-100 active show"  role="tabpanel">
        <div class="tab_inner_div px-3">
            <div class="container-fluid sdg using_sdg">

                <div class="sdg_header">
                    <p class="font-600 text-white">{{'gameLabel.Sustainable_Development_Goals' | translate}}</p>
                    <div class="row justify-content-center">
                        <div class="col text-white text-center">
                            <div class="flag"><img alt="" src="./assets/images/flags-big/{{mainPerson.country.Code | lowercase}}.png "></div>
                            <span class="small">  {{'gameLabel.(Country_you_are_born_in)' | translate:{ country:mainPerson.country.country } }}</span>
                            <p class="font-600 m-0">{{'gameLabel.Rank' |translate}}: {{mainPerson.country.SdgiRank}}</p>
                        </div>
                        <div class="col text-white text-center">
                            <div class="flag"><img alt="" src="./assets/images/flags-big/{{mainPerson.register_country.Code | lowercase}}.png "></div>
                            <span class="small">{{'gameLabel.(Country_you_are_from)' |  translate:{ registerCountry:mainPerson.register_country.country } }}</span>
                            <p class="font-600 m-0">{{'gameLabel.Rank' |translate}}: {{mainPerson.register_country.SdgiRank}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <textarea class="form-control plce-holder-text-css" rows="1"  placeholder="{{'gameLabel.SDG_Comment' |translate}}" maxlength="124" [(ngModel)]="sdgComment" (ngModelChange)="checkValues(sdgComment)" required></textarea>
                            <button type="button" class="btn btn-demo rightside-new" (click)="getAllSdgComment()">
                                {{'gameLabel.My_SDG_Comments' |translate}}  <i class="fa fa-angle-right"></i>
                            </button>
                            <button class="btn btn-demo new-send-btn" (click)="saveSdgComment()" [disabled]="!saveComment"> {{'gameLabel.Send' |translate}}</button>

                        </div>
                    </div>
                </div>
                <div *ngIf="!hideShowFlag">
                    <div class="row align-items-center mt-3">
                        <div class="col-md-12 mx-auto">
                            <div class="col-md-10 mx-auto text-center mx-4">
                                <div class="">
                                    <figure class="mb-1"><img src="assets/images/sdgicon/E_SDG_Logo_UN-Emblem-01_transparent.png" alt="" class="img-fluid"></figure>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-center mt-1">
                        <div class="col-md-12 mx-auto d-flex flex-wrap justify-content-center img-sz">
                            <div class="col-4 mb-2 pr-1 pl-1">
                                <a  (click)="sdgSelect(1)" style="cursor: pointer" class="tlp" data-toggle="tooltip" data-placement="bootom" title=" {{'gameLabel.sdg1' |translate}}">
                                    <img src="assets/images/sdgicon/sdg1_{{translationService.selectedLang.code}}.png" alt="">
                                </a>
                            </div>
                            <div class="col-4 mb-2 pr-1 pl-1">
                                <a (click)="sdgSelect(2)" style="cursor: pointer" class="tlp" data-toggle="tooltip" data-placement="bootom" title="{{'gameLabel.sdg2' |translate}}">
                                    <img src="assets/images/sdgicon/sdg2_{{translationService.selectedLang.code}}.png" alt="">
                                </a>
                            </div>
                            <div class="col-4 mb-2 pr-1 pl-1">
                                <a (click)="sdgSelect(3)" style="cursor: pointer" class="tlp" data-toggle="tooltip" data-placement="bootom" title="{{'gameLabel.sdg3' |translate}}">
                                    <img src="assets/images/sdgicon/sdg3_{{translationService.selectedLang.code}}.png" alt="">
                                </a>
                            </div>
                            <div class="col-4 mb-2 pr-1 pl-1">
                                <a (click)="sdgSelect(4)" style="cursor: pointer" class="tlp" data-toggle="tooltip" data-placement="right" title="{{'gameLabel.sdg4' |translate}}">
                                    <img src="assets/images/sdgicon/sdg4_{{translationService.selectedLang.code}}.png" alt="">
                                </a>
                            </div>
                            <div class="col-4 mb-2 pr-1 pl-1">
                                <a (click)="sdgSelect(5)" style="cursor: pointer" class="tlp" data-toggle="tooltip" data-placement="bottom" title="{{'gameLabel.sdg5' |translate}}">
                                    <img src="assets/images/sdgicon/sdg5_{{translationService.selectedLang.code}}.png" alt="">
                                </a>
                            </div>
                            <div class="col-4 mb-2 pr-1 pl-1">
                                <a (click)="sdgSelect(6)" style="cursor: pointer" class="tlp" data-toggle="tooltip" data-placement="bottom" title="{{'gameLabel.sdg6' |translate}}">
                                    <img src="assets/images/sdgicon/sdg6_{{translationService.selectedLang.code}}.png" alt="">
                                </a>
                            </div>
                            <div class="col-4 mb-2 pr-1 pl-1">
                                <a (click)="sdgSelect(7)" style="cursor: pointer" class="tlp" data-toggle="tooltip" data-placement="right" title="{{'gameLabel.sdg7' |translate}}">
                                    <img src="assets/images/sdgicon/sdg7_{{translationService.selectedLang.code}}.png" alt="">
                                </a>
                            </div>
                            <div class="col-4 mb-2 pr-1 pl-1">
                                <a (click)="sdgSelect(8)" style="cursor: pointer" class="tlp" data-toggle="tooltip" data-placement="top" title="{{'gameLabel.sdg8' |translate}}">
                                    <img src="assets/images/sdgicon/sdg8_{{translationService.selectedLang.code}}.png" alt="">
                                </a>
                            </div>
                            <div class="col-4 mb-2 pr-1 pl-1">
                                <a (click)="sdgSelect(9)" style="cursor: pointer " class="tlp" data-toggle="tooltip" data-placement="top" title="{{'gameLabel.sdg9' |translate}}">
                                    <img src="assets/images/sdgicon/sdg9_{{translationService.selectedLang.code}}.png" alt="">
                                </a>
                            </div>
                            <div class="col-4 mb-1 pr-1 pl-1">
                                <a (click)="sdgSelect(10)" style="cursor: pointer" class="tlp" data-toggle="tooltip" data-placement="right" title="{{'gameLabel.sdg10' |translate}}">
                                    <img src="assets/images/sdgicon/sdg10_{{translationService.selectedLang.code}}.png" alt="">
                                </a>
                            </div>
                            <div class="col-4 mb-2 pr-1 pl-1">
                                <a (click)="sdgSelect(11)" style="cursor: pointer" class="tlp" data-toggle="tooltip" data-placement="top" title="{{'gameLabel.sdg11' |translate}}">
                                    <img src="assets/images/sdgicon/sdg11_{{translationService.selectedLang.code}}.png" alt="">
                                </a>
                            </div>
                            <div class="col-4 mb-2 pr-1 pl-1">
                                <a (click)="sdgSelect(12)" style="cursor: pointer" class="tlp" data-toggle="tooltip" data-placement="top" title="{{'gameLabel.sdg12' |translate}}">
                                    <img src="assets/images/sdgicon/sdg12_{{translationService.selectedLang.code}}.png" alt="">
                                </a>
                            </div>
                            <div class="col-4 mb-2 pr-1 pl-1">
                                <a (click)="sdgSelect(13)" style="cursor: pointer" class="tlp" data-toggle="tooltip" data-placement="right" title="{{'gameLabel.sdg13' |translate}}">
                                    <img src="assets/images/sdgicon/sdg13_{{translationService.selectedLang.code}}.png" alt="">
                                </a>
                            </div>
                            <div class="col-4 mb-2 pr-1 pl-1">
                                <a (click)="sdgSelect(14)" style="cursor: pointer" class="tlp" data-toggle="tooltip" data-placement="top" title="{{'gameLabel.sdg14' |translate}}">
                                    <img src="assets/images/sdgicon/sdg14_{{translationService.selectedLang.code}}.png" alt="">
                                </a>
                            </div>
                            <div class="col-4 mb-2 pr-1 pl-1">
                                <a (click)="sdgSelect(15)" style="cursor: pointer" class="tlp" data-toggle="tooltip" data-placement="top" title="{{'gameLabel.sdg15' |translate}}">
                                    <img src="assets/images/sdgicon/sdg15_{{translationService.selectedLang.code}}.png" alt="">
                                </a>
                            </div>
                            <div class="col-4 mb-2 pr-1 pl-1">
                                <a (click)="sdgSelect(16)" style="cursor: pointer" class="tlp" data-toggle="tooltip" data-placement="right" title="{{'gameLabel.sdg16' |translate}}">
                                    <img src="assets/images/sdgicon/sdg16_{{translationService.selectedLang.code}}.png" alt="">
                                </a>
                            </div>
                            <div class="col-4 mb-2 pr-1 pl-1">
                                <a (click)="sdgSelect(17)" style="cursor: pointer" class="tlp" data-toggle="tooltip" data-placement="top" title="{{'gameLabel.sdg17' |translate}}">
                                    <img src="assets/images/sdgicon/sdg17_{{translationService.selectedLang.code}}.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div  *ngIf="hideShowFlag" class="sdg_amenity_modal right_side">

                    <div class="container p-0">
                        <div class="row">
                            <div class="col-12 mb-3">
                                <div class="amenity_hdr d-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <figure class="mb-0"><img src="{{sdgImage}}" alt=""></figure>
                                        <p class="font_b2 mb-0">{{sdgName}}</p>
                                    </div>
                                    <button (click)="close()" class="close_new"><i class="fa fa-times" aria-hidden="true"></i></button>
                                </div>
                                <div class="amenity_cnt font-300">
                                    <p class="line-height-2 text-left" style="font-weight: 300;">{{sdgDescription}}</p>
                                </div>
                                <div class="amenity_ftr border-top border_white_op6 pt-2">
                                    <p class="font_b1"> {{'gameLabel.Legend' |translate}}</p>
                                    <div class="d-flex scroller-sec">
                                        <p class="mb-0 d-flex small align-items-center mr-4">
                                            <span class="clr_code bg-red d-inline-block mr-2"></span> {{'gameLabel.major_challenges' |translate}}
                                        </p>
                                        <p class="mb-0 d-flex small align-items-center mr-4">
                                            <span class="clr_code bg-success d-inline-block mr-2"></span> {{'gameLabel.goal_achivments' |translate}}
                                        </p>
                                        <p class="mb-0 d-flex small align-items-center mr-4">
                                            <span class="clr_code bg-yellow d-inline-block mr-2"></span> {{'gameLabel.challenges_remain' |translate}}
                                        </p>
                                        <p class="mb-0 d-flex small align-items-center mr-4">
                                            <span class="clr_code bg-oragne d-inline-block mr-2"></span> {{'gameLabel.significant_challenges' |translate}}
                                        </p>
                                        <p class="mb-0 d-flex small align-items-center">
                                            <span class="clr_code bg-secondary d-inline-block mr-2"></span> {{'gameLabel.No_data' |translate}}
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <table class="table text-white text-center">
                                    <tbody>
                                        <tr>
                                            <td class="hd_td border_white_op6"><div class="flag"><img src="assets/images/flags-big/{{mainPerson.country.Code | lowercase}}.png" alt=""></div></td>
                                            <td class="hd_td border_white_op6"></td>
                                            <td class="hd_td border_white_op6"> {{'gameLabel.SDG_Parameters' |translate}}</td>
                                            <td class="hd_td border_white_op6"></td>
                                            <td class="hd_td border_white_op6"><div class="flag"><img src="assets/images/flags-big/{{mainPerson.register_country.Code | lowercase}}.png" alt=""></div></td>
                                        </tr>
                                        <tr *ngFor="let s of bornSdgInfo let i=index">
                                            <td class="border_white_op6"> {{s.score}} </td>
                                            <td class="border_white_op6">
                                                <p class="mb-0 d-flex align-items-center">
                                                    <span [class]="getNewSdgColor(s.color)"></span>
                                                </p>
                                            </td>
                                            <td class="border_white_op6">
                                                <span class="small">{{s.target_desc}}</span>
                                            </td>
                                            <td class="border_white_op6">
                                                <p class="mb-0 d-flex align-items-center">
                                                    <span [class]="getNewSdgColor(getRegisterCountrySdgColur(i))"></span>
                                                </p>
                                            </td>
                                            <td class="border_white_op6">{{getRegisterCountrySdgScore(i)}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="md-overlay black_modal gamescreen" id="dashboard_residence" *ngIf="successMsgFlag">
    <!--<div class="black_modal gamescreen" id="dashboard_resident2">-->
        <div class="modal-dialog modal-dialog-centered w700" role="document">
            <div class="modal-content h-auto">
                <div class="modal-body p-0">
                    <p class="text-center text-white">{{messageText}}</p>
                    <div class="d-flex justify-content-center w-100">
                        <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1" (click)="successMsgWindowClose()">{{'gameLabel.Ok' |translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div  *ngIf="showSdgModelFlag" class="sdg_main" id="sdgNewModel" tabindex="-1" role="dialog" aria-labelledby="sdg">
    <div class="modal-dialog modal-dialog-centered mt-0" role="document">
        <div class="modal-content h-auto" style="background: #000;">
            <div class="modal-body p-0">
                <div class="sdg_hdr" style="display: flex; justify-content: space-between; align-items: center;">
                    <h3>My SDG Comments</h3>
                        <button class="close-comments" type="button" (click)="modelClose()">
                            <i class="fa fa-times" aria-hidden="true"></i>
                          </button>
                </div>
                <div class="sdg_cnt" style="color: #fff;">
                    <li *ngFor="let comment of allSdgComment">
                        {{comment}}
                        <span class="d-block">
                            <img src="assets/images/decorative-fancy-lines-free-vector.jpg" alt="Separated Line">
                        </span>
                    </li>
                </div>
            </div>
        </div>
    </div>
</div>
