<div *ngIf="modalWindowService.bornScreenSeetingsFlag">
    <div class=" new_cmn_modal full_width home_country_select" id="home_country_select_modal" tabindex="-1"
        role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header position-relative d-flex align-items-center justify-content-between">
                    <h5 class="modal-title text-white font-400 text-uppercase font_b8 d-flex align-items-center" id="">
                        <img src="assets/images/screen-seetings-logo.svg" style="width: 40px;" alt="">
                        <span class="pl-3"> {{'gameLabel.Screen_Seetings' | translate}}</span>
                    </h5>
                    <span class="pl-3 m-0  font-600"> {{'gameLabel.Screen_seeting_war' | translate}}</span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
                        <span class="material-icons">close</span>
                    </button>
                </div>
                <div class="modal-body bg-light">
                    <div class="content text-gray2 pt-3 h-100">
                        <div class="city_wraper_main h-100">
                            <div class="row size_row h-100">
                                <div class="col-12 text-center ">
                                    <form class="w-100">
                                        <div class="d-flex flex-wrap justify-content-center no-gutters city_wraper">
                                            <div class="col-3">
                                                <label>
                                                    <p class="m-0  font-600">{{'gameLabel.Screen1' | translate}}</p>
                                                </label>
                                                <div class="box " style="padding-right:20px" style="padding-right:20px">
                                                    <img src="assets/images/born_Screen/born-passport.png"
                                                        alt="Italian Trulli">
                                                </div>
                                                <input class="largerCheckbox m-2" type="checkbox" id="screen1"
                                                    name="screen1" checked="true" disabled="true">
                                            </div>
                                            <div class="col-3">
                                                <label>
                                                    <p class="m-0  font-600">{{'gameLabel.Screen2' | translate}}</p>
                                                </label>
                                                <div class="box " style="padding-right:20px" style="padding-right:20px">
                                                    <img src="assets/images/born_Screen/screen_1.png"
                                                        alt="Italian Trulli">
                                                </div>
                                                <input class="largerCheckbox m-2" type="checkbox" id="screen1"
                                                    name="screen1" checked="true" disabled="true">
                                            </div>
                                            <div class="col-3">
                                                <label>
                                                    <p class="m-0  font-600">{{'gameLabel.Screen3' | translate}}</p>
                                                </label>
                                                <div class="box " style="padding-right:20px" style="padding-right:20px">
                                                    <img src="assets/images/born_Screen/screen_2.png"
                                                        alt="Italian Trulli">
                                                </div>
                                                <input class="largerCheckbox m-2" type="checkbox" id="screen2"
                                                    name="screen2" checked="true" disabled="true">
                                            </div>
                                            <div class="col-3">
                                                <label>
                                                    <p class="m-0  font-600">{{'gameLabel.Screen4' | translate}}</p>
                                                </label>
                                                <div class="box " style="padding-right:20px" style="padding-right:20px">
                                                    <img src="assets/images/born_Screen/screen_3.png"
                                                        alt="Italian Trulli">
                                                </div>
                                                <input class="largerCheckbox m-2" type="checkbox" id="screen3"
                                                    [(ngModel)]="screen5" [ngModelOptions]="{standalone: true}">
                                            </div>

                                            <div class="col-3">
                                                <label>
                                                    <p class="m-0  font-600">{{'gameLabel.Screen5' | translate}}</p>
                                                </label>
                                                <div class="box " style="padding-right:20px" style="padding-right:20px">
                                                    <img src="assets/images/born_Screen/screen_4.png" style="margin-top: 20px;"
                                                        alt="Italian Trulli">
                                                </div>
                                                <input class="largerCheckbox m-2" type="checkbox" id="screen4"
                                                    [(ngModel)]="screen6" [ngModelOptions]="{standalone: true}">
                                            </div>

                                            <div class="col-3" style="padding-top:20px">
                                                <label>
                                                    <p class="m-0  font-600">{{'gameLabel.Screen6' | translate}}</p>
                                                </label>
                                                <div class="box " style="padding-right:20px" style="padding-right:20px">
                                                    <img src="assets/images/born_Screen/screen_5.png"
                                                        alt="Italian Trulli">
                                                </div>
                                                <input class="largerCheckbox m-2" type="checkbox" id="screen5"
                                                    [(ngModel)]="screen7" [ngModelOptions]="{standalone: true}">
                                            </div>
                                            <div class="col-3" style="padding-top:20px">
                                                <label>
                                                    <p class="m-0  font-600">{{'gameLabel.Screen7' | translate}}</p>
                                                </label>
                                                <div class="box " style="padding-right:20px" style="padding-right:20px">
                                                    <img src="assets/images/born_Screen/screen_6.png"
                                                        alt="Italian Trulli">
                                                </div>
                                                <input class="largerCheckbox m-2" type="checkbox" id="screen6"
                                                    [(ngModel)]="screen8" [ngModelOptions]="{standalone: true}">
                                            </div>
                                            <div class="col-3" style="padding-top:20px">
                                                <label>
                                                    <p class="m-0  font-600">{{'gameLabel.Screen8' | translate}}</p>
                                                </label>
                                                <div class="box " style="padding-right:20px" style="padding-right:20px">
                                                    <img src="assets/images/born_Screen/screen_7.png"
                                                        alt="Italian Trulli">
                                                </div>
                                                <input class="largerCheckbox m-2" type="checkbox" id="screen7"
                                                    [(ngModel)]="screen9" [ngModelOptions]="{standalone: true}">

                                            </div>
                                            <div class="col-3" style="padding-top:20px">
                                                <label>
                                                    <p class="m-0  font-600">{{'gameLabel.Screen9' | translate}}</p>
                                                </label>
                                                <div class="box " style="padding-right:20px" style="padding-right:20px">
                                                    <img src="assets/images/born_Screen/screen_8.png"
                                                        alt="Italian Trulli">
                                                </div>
                                                <input class="largerCheckbox m-2" type="checkbox" id="screen8"
                                                    name="screen8" checked="true" disabled="true">

                                            </div>

                                            <div class="col-3" style="padding-top:20px">
                                                <label>
                                                    <p class="m-0  font-600">{{'gameLabel.Screen10' | translate}}</p>
                                                </label>
                                                <div class="box " style="padding-right:20px" style="padding-right:20px">
                                                    <img src="assets/images/born_Screen/screen_9.png"
                                                        alt="Italian Trulli">
                                                </div>
                                                <input class="largerCheckbox m-2" type="checkbox" id="screen9"
                                                    name="screen9" checked="true" disabled="true">
                                            </div>
                                            <div class="col-3" style="padding-top:20px">
                                                <label>
                                                    <p class="m-0  font-600">{{'gameLabel.Screen11' | translate}}</p>
                                                </label>
                                                <div class="box " style="padding-right:20px" style="padding-right:20px">
                                                    <img src="assets/images/born_Screen/screen_10.png"
                                                        alt="Italian Trulli">
                                                </div>
                                                <input class="largerCheckbox m-2" type="checkbox" id="screen10"
                                                    name="screen10" checked="true" disabled="true">

                                            </div>
                                            <div class="col-3" style="padding-top:20px">
                                                <label>
                                                    <p class="m-0  font-600">{{'gameLabel.Screen12' | translate}}</p>
                                                </label>
                                                <div class="box " style="padding-right:20px" style="padding-right:20px">
                                                    <img src="assets/images/born_Screen/screen_11.png"
                                                        alt="Italian Trulli">
                                                </div>
                                                <input class="largerCheckbox m-2" type="checkbox" id="screen11"
                                                    name="screen11" checked="true" disabled="true">

                                            </div>
                                            <div class="col-3" style="padding-top:20px">
                                                <label>
                                                    <p class="m-0  font-600">{{'gameLabel.Screen13' | translate}}</p>
                                                </label>
                                                <div class="box " style="padding-right:20px" style="padding-right:20px">
                                                    <img src="assets/images/born_Screen/screen_12.png"
                                                        alt="Italian Trulli">
                                                </div>
                                                <input class="largerCheckbox m-2" type="checkbox" id="screen12"
                                                    name="screen12" checked="true" disabled="true">

                                            </div>
                                            <div class="col-3" style="padding-top:20px">
                                                <label>
                                                    <p class="m-0  font-600">{{'gameLabel.Screen14' | translate}}</p>
                                                </label>
                                                <div class="box " style="padding-right:20px" style="padding-right:20px">
                                                    <img src="assets/images/born_Screen/screen_13.png"
                                                        alt="Italian Trulli">
                                                </div>
                                                <input class="largerCheckbox m-2" type="checkbox" id="screen12"
                                                    name="screen12" checked="true" disabled="true">

                                            </div>
                                        </div>

                                        <div class="col-md-12 pal text-center colorblack d-flexd justify-content-end">
                                            <button type="button" class="btn btn-sm btn-default btn_sk"
                                                (click)="updateSetting()"> {{'gameLabel.SAVE' | translate}}</button>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="md-overlay black_modal gamescreen" id="screen_Settings" *ngIf="successMsgFlag">
    <div class="modal-dialog modal-dialog-centered w700" role="document">
        <div class="modal-content h-auto">
            <div class="modal-body p-0">
                <p class="text-center">{{messageText}}</p>
                <div class="d-flex justify-content-center w-100">
                    <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1"
                        (click)="successMsgWindowClose()">{{'gameLabel.Ok' |translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>