<!--map window-->
<div class=" new_cmn_modal sdg_modal" bsModal #decisionBoxWindow="bs-modal" id="map_sdg_country_modal" tabindex="-1"
    role="dialog" aria-labelledby="dialog-auto-name" aria-hidden="true" *ngIf="windowOne" data-backdrop="">
    <a class="go_back_btn text-primary" (click)="backClick(state)">
        <i class="fa fa-arrow-left" aria-hidden="true" style="cursor: pointer;"></i> {{'gameLabel.Back' |translate}}</a>

    <a title="{{'gameLabel.Go_to_dashbord' | translate }}" data-toggle="tooltip" data-placement="left" class="tlp"
        style="cursor: pointer;" (click)="clickToExitButton()">
        <span class="material-icons " style="cursor: pointer;float: right;">login</span></a>

    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content border-0 bg-none">

            <div class="container-fluid sdg using_sdg" *ngIf="state==='goal'">
                <div class="row align-items-center">
                    <div class="col-md-12 mx-auto">
                        <div class="col-md-4 mx-auto text-center mx-4">
                            <div class="">
                                <figure class="mb-4"><img
                                        src="assets/images/sdgicon/E_SDG_Logo_UN-Emblem-01_transparent.png" alt=""
                                        class="img-fluid"></figure>
                            </div>
                        </div>
                        <div class="col-md-12 mx-auto text-center mx-4">
                            <p class="mb-0 mt-3 text-primary2">
                                {{'gameLabel.Choose_a_sustainable_development_goal_(SDG)_challenge_to_live_a_life_in_a_country'
                                |translate}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center mt-3">
                    <div class="col-md-12 mx-auto d-flex flex-wrap justify-content-center">
                        <div class="box">
                            <a (click)="sdgMapSelect(1)" style="cursor: pointer">
                                <img src="assets/images/sdgicon/sdg1_{{translationService.selectedLang.code}}.png"
                                    alt="">
                            </a>
                        </div>
                        <div class="box">
                            <a (click)="sdgMapSelect(2)" style="cursor: pointer">
                                <img src="assets/images/sdgicon/sdg2_{{translationService.selectedLang.code}}.png"
                                    alt="">
                            </a>
                        </div>
                        <div class="box">
                            <a (click)="sdgMapSelect(3)" style="cursor: pointer">
                                <img src="assets/images/sdgicon/sdg3_{{translationService.selectedLang.code}}.png"
                                    alt="">
                            </a>
                        </div>
                        <div class="box">
                            <a (click)="sdgMapSelect(4)" style="cursor: pointer">
                                <img src="assets/images/sdgicon/sdg4_{{translationService.selectedLang.code}}.png"
                                    alt="">
                            </a>
                        </div>
                        <div class="box">
                            <a (click)="sdgMapSelect(5)" style="cursor: pointer">
                                <img src="assets/images/sdgicon/sdg5_{{translationService.selectedLang.code}}.png"
                                    alt="">
                            </a>
                        </div>
                        <div class="box">
                            <a (click)="sdgMapSelect(6)" style="cursor: pointer">
                                <img src="assets/images/sdgicon/sdg6_{{translationService.selectedLang.code}}.png"
                                    alt="">
                            </a>
                        </div>
                        <div class="box">
                            <a (click)="sdgMapSelect(7)" style="cursor: pointer">
                                <img src="assets/images/sdgicon/sdg7_{{translationService.selectedLang.code}}.png"
                                    alt="">
                            </a>
                        </div>
                        <div class="box">
                            <a (click)="sdgMapSelect(8)" style="cursor: pointer">
                                <img src="assets/images/sdgicon/sdg8_{{translationService.selectedLang.code}}.png"
                                    alt="">
                            </a>
                        </div>
                        <div class="box">
                            <a (click)="sdgMapSelect(9)" style="cursor: pointer">
                                <img src="assets/images/sdgicon/sdg9_{{translationService.selectedLang.code}}.png"
                                    alt="">
                            </a>
                        </div>
                        <div class="box">
                            <a (click)="sdgMapSelect(10)" style="cursor: pointer">
                                <img src="assets/images/sdgicon/sdg10_{{translationService.selectedLang.code}}.png"
                                    alt="">
                            </a>
                        </div>
                        <div class="box">
                            <a (click)="sdgMapSelect(11)" style="cursor: pointer">
                                <img src="assets/images/sdgicon/sdg11_{{translationService.selectedLang.code}}.png"
                                    alt="">
                            </a>
                        </div>
                        <div class="box">
                            <a (click)="sdgMapSelect(12)" style="cursor: pointer">
                                <img src="assets/images/sdgicon/sdg12_{{translationService.selectedLang.code}}.png"
                                    alt="">
                            </a>
                        </div>
                        <div class="box">
                            <a (click)="sdgMapSelect(13)" style="cursor: pointer">
                                <img src="assets/images/sdgicon/sdg13_{{translationService.selectedLang.code}}.png"
                                    alt="">
                            </a>
                        </div>
                        <div class="box">
                            <a (click)="sdgMapSelect(14)" style="cursor: pointer">
                                <img src="assets/images/sdgicon/sdg14_{{translationService.selectedLang.code}}.png"
                                    alt="">
                            </a>
                        </div>
                        <div class="box">
                            <a (click)="sdgMapSelect(15)" style="cursor: pointer">
                                <img src="assets/images/sdgicon/sdg15_{{translationService.selectedLang.code}}.png"
                                    alt="">
                            </a>
                        </div>
                        <div class="box">
                            <a (click)="sdgMapSelect(16)" style="cursor: pointer">
                                <img src="assets/images/sdgicon/sdg16_{{translationService.selectedLang.code}}.png"
                                    alt="">
                            </a>
                        </div>
                        <div class="box">
                            <a (click)="sdgMapSelect(17)" style="cursor: pointer">
                                <img src="assets/images/sdgicon/sdg17_{{translationService.selectedLang.code}}.png"
                                    alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="state==='mapShow'">
                <div class="sdg_amenity_modal p-0">
                    <div class="modal-body p-0 bg-none">
                        <div class="">
                            <div class="container-fluid">
                                <div class="col-md-12 mx-auto">
                                    <div class="col-md-4 mx-auto mx-4">
                                        <div class="pt-2">
                                            <figure class="mb-2"><img
                                                    src="assets/images/sdgicon/E_SDG_Logo_UN-Emblem-01_transparent.png"
                                                    alt="" class="img-fluid"></figure>
                                        </div>

                                    </div>
                                    <br>
                                    <div class="col-12 text-center">
                                        <h3> {{sdgMapTitle}}</h3><br>
                                        <span class="text-white">{{'gameLabel.Country_divided_in' |translate}} <span
                                                class="text-red">{{'gameLabel.major_challenges'
                                                |translate}}</span> ,
                                            <span class="text-oragne ">
                                                {{'gameLabel.significant_challenges' |translate}}</span>,
                                            <span class="text-yellow ">{{'gameLabel.challenges_remain'
                                                |translate}}</span> ,
                                            <span class="text-success"> {{'gameLabel.goal_achivments'
                                                |translate}}</span>
                                            {{'gameLabel.and' |translate}}
                                            <span class="text-secondary"> {{'gameLabel.No_data'
                                                |translate}}</span> {{'gameLabel.Category' |translate}} </span>
                                    </div>

                                </div>
                                <div class="d-flex flex-column align-items-stretch w-100 pt-2">
                                    <div class="map_cmn world_map bg-white w-100" *ngIf=data>
                                        <app-sdg-goal-map h-100 w-100></app-sdg-goal-map>
                                    </div>
                                </div>
                                <div class="row mt-2 " style="float: right;">
                                    <div class="col-12 btn_row p-0">
                                        <a (click)="sdgSelect(sdgId)">
                                            <button type="submit" class="btn btn-primary2 px-5">{{
                                                'gameLabel.Next' | translate}} &nbsp;&gt;</button>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="state==='subGoalShow'">
                <div class="sdg_amenity_modal p-0 sdgSubWindow">
                    <div class="modal-body p-0 bg-none">
                        <div class="">
                            <div class="container-fluid">
                                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                    (click)="closeAllMap()">
                                    <span class="material-icons">close</span>
                                </button> -->
                                <div class="row">

                                    <div class="col-6 px-4 py-3">
                                        <div class="col-md-8 p-0">
                                            <div class="">
                                                <figure class="mb-4"><img src="" alt="" class="img-fluid"></figure>
                                            </div>
                                        </div>
                                        <div class="amenity_hdr">
                                            <figure class="mb-0"><img src={{sdgImage}} alt=""></figure>
                                            <h3 class="text-primary2 mt-2">{{sdgTitle}}</h3>
                                        </div>
                                        <div class="amenity_cnt">
                                            <p class="line-height-2">{{sdgDescription}}</p>
                                        </div>
                                        <div class="amenity_ftr border-top border_white_op6 pt-2">
                                            <p class="font_b1">{{'gameLabel.Legend' |translate}}</p>
                                            <div class="">
                                                <p class="mb-0 small align-items-center mr-4">
                                                    <span class="bg-red clr_code d-inline-block mr-2"></span>
                                                    {{'gameLabel.major_challenges' |translate}}
                                                </p>
                                                <p class="mb-0  small align-items-center mr-4">
                                                    <span class="bg-oragne clr_code d-inline-block mr-2"></span>
                                                    {{'gameLabel.significant_challenges' |translate}}
                                                </p>
                                                <p class="mb-0  small align-items-center mr-4">
                                                    <span class="bg-yellow clr_code d-inline-block mr-2"></span>
                                                    {{'gameLabel.challenges_remain' |translate}}
                                                </p>
                                                <p class="mb-0 small align-items-center mr-4">
                                                    <span class="bg-success clr_code d-inline-block mr-2"></span>
                                                    {{'gameLabel.goal_achivments' |translate}}
                                                </p>
                                                <p class="mb-0  small align-items-center">
                                                    <span class=" bg-secondary clr_code d-inline-block mr-2"></span>
                                                    {{'gameLabel.No_data' |translate}}
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-6 pl-5">
                                        <table class="table text-white text-center">
                                            <tbody>
                                                <tr>
                                                    <td class="hd_td border_white_op6">
                                                        <div class="flag"><img class="flagBorder"
                                                                src="assets/images/flags-big/{{phpToolService.selectedBornCountryObject.Code | lowercase}}.png"
                                                                alt=""></div>
                                                    </td>
                                                    <td class="hd_td border_white_op6"></td>
                                                    <td class="hd_td border_white_op6 font">
                                                        {{'gameLabel.SDG_Parameters'
                                                        |translate}}</td>
                                                    <td class="hd_td border_white_op6"></td>
                                                    <td class="hd_td border_white_op6">
                                                        <div class="flag"><img class="flagBorder"
                                                                src="assets/images/flags-big/{{phpToolService.selectedRegisterCountryObject.Code | lowercase}}.png"
                                                                alt=""></div>
                                                    </td>
                                                </tr>
                                                <tr *ngFor="let s of bornSdgInfo  let i=index">

                                                    <td class="border_white_op6 font"> {{s.score}}</td>
                                                    <td class="border_white_op6 ">
                                                        <p class="mb-0 d-flex align-items-center">
                                                            <span [class]="getNewSdgColor(s.color)"></span>
                                                        </p>
                                                    </td>
                                                    <td class="border_white_op6">
                                                        <span class="font">{{s.target_desc}}</span>
                                                    </td>
                                                    <td class="border_white_op6">
                                                        <p class="mb-0 d-flex align-items-center">
                                                            <span
                                                                [class]="getNewSdgColor(getRegisterCountrySdgColur(i))"></span>
                                                        </p>
                                                    </td>
                                                    <td class="border_white_op6 font">
                                                        {{getRegisterCountrySdgScore(i)}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="row mt-4">
                                    <div class="col-12 text-right p-0">
                                        <a (click)="sdgIfram()">
                                            <button type="submit" class="btn btn-primary2 px-5">{{
                                                'gameLabel.Next' | translate}} &nbsp;&gt;</button>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="state==='iframeShow'">
                <div class=" p-0">
                    <div class="modal-body p-0 bg-none">
                        <div class="">
                            <div class="container-fluid">
                                <div class="row align-items-center pb-4 border_white_op6">
                                    <div class="col-md-12 border-bottom border-color-dark ">
                                        <h2 class="text-center" style="margin-bottom: 10px;">
                                            {{'gameLabel.Country_Profiles_from_UN_SDG_Dashboard'
                                            |translate}}
                                        </h2>
                                        <h2 class="text-center">
                                            <a
                                                href=" https://dashboards.sdgindex.org/profiles/">https://dashboards.sdgindex.org/profiles/</a>
                                        </h2>
                                        <div class="row iframe-height">
                                            <div class="col-md-6 ">
                                                <h2 class="text-center" style="margin-bottom: 5px;">
                                                    {{phpToolService.selectedBornCountryObject.country}}
                                                </h2>
                                                <div class="h-100">
                                                    <div class="h-100 bg-white">
                                                        <iframe class="h-100 w-100"
                                                            [src]="sdgUrl+sdgBornCountry |byPassSecurity" width="100%">
                                                            <p>Your browser does not support iframes.</p>
                                                        </iframe>
                                                    </div>
                                                    <div class="d-flex justify-content-center mt-3">
                                                        <a (click)="playReallives(phpToolService.selectedBornCountryObject)"
                                                            class="playBtn " *ngIf="translationService.gameBuyFlag">
                                                            <img src="assets/images/end-tool-button.svg" alt=""
                                                                style="cursor: pointer;width: 220px">
                                                            <!-- <img src="assets/images/startscreen/New%20Life.png" alt="" style="cursor: pointer"> -->
                                                        </a>

                                                        <button type="button" class="btn btn-blue-grad py-1 px-4 mr-3"
                                                            *ngIf="!translationService.gameBuyFlag"
                                                            (click)="buyNow()">{{'gameLabel.Buy_RealLives' |translate}}
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <h2 class="text-center" style="margin-bottom: 5px;">
                                                    {{phpToolService.selectedRegisterCountryObject.country}}
                                                </h2>
                                                <div class="h-100">
                                                    <div class="h-100 bg-white">
                                                        <iframe class="h-100 w-100"
                                                            [src]="sdgUrl+sdgRegisterCountry |byPassSecurity"
                                                            width="100%">
                                                            <p>Your browser does not support iframes.</p>
                                                        </iframe>
                                                    </div>
                                                    <div class="d-flex justify-content-center mt-3">

                                                        <a (click)="playReallives(phpToolService.selectedRegisterCountryObject)"
                                                            class="playBtn" *ngIf="translationService.gameBuyFlag">
                                                            <img src="assets/images/end-tool-button.svg" alt=""
                                                                style="cursor: pointer;width: 220px">
                                                            <!-- <img src="assets/images/startscreen/New%20Life.png" alt="" style="cursor: pointer"> -->
                                                        </a>

                                                        <button type="button" class="btn btn-blue-grad py-1 px-4 mr-3"
                                                            *ngIf="!translationService.gameBuyFlag"
                                                            (click)="buyNow()">{{'gameLabel.Buy_RealLives' |translate}}
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="row mt-4">
                                    <div class="col-12 text-right p-0">
                                        <a>
                                            <button type="submit"
                                                class="btn btn-primary2 px-2">{{'gameLabel.Select_country_from_list'
                                                |translate}} </button>
                                        </a>
                                    </div>
                                </div> -->
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end of map window-->
<app-wait-screen class="md-overlay" *ngIf="modalWindowService.showWaitScreen"></app-wait-screen>

<div class="md-overlay black_modal gamescreen d-flex align-items-center" *ngIf="showAlertFlag">
    <div class="modal-dialog modal-dialog-centered w700" role="document">
        <div class="modal-content h-auto">
            <div class="modal-body p-0" style="text-align: center; color: gray;">
                <span class="text-white moreinfo">{{msgText}}</span>
                <div class="d-flex justify-content-center w-100 btnPadding paddingClass">
                    <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1 " (click)="clickOk()">{{'gameLabel.Ok'
                        |translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>