.iframe-height .col-md-6{min-height: 500px;}


.playBtn{
    cursor: pointer;
width: 220px;
padding-top: 12px;
}

.sdgWindow{
margin-top: 60px;
}

.sdgSubWindow{
margin-top: 120px;
}

.font{
    font-size: medium;
}