<div class="container">
    <div class="row custom-wrapper">
        <div class="col-md-12" style="padding-left: 500px ;padding-bottom: 10px">
            <div class="row d-flex">
                <button type="" class="btn btn-primary2 text-dark mx-1 border-0 font_b2 next_step new-for-btn-sty"
                    (click)="reTake()">{{'gameLabel.Retake_test' |translate}}</button>
                <button type="submit" class="btn btn-primary2 text-dark mx-1 border-0 font_b2 next_step new-for-btn-sty"
                    (click)="onSubmit()">{{'gameLabel.submit' |translate}}</button>
                <button type="submit" class="btn btn-primary2 text-dark mx-1 border-0 font_b2 next_step new-for-btn-sty"
                    (click)="onSubmit()">{{'gameLabel.Next' |translate}}</button>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <form>
                        <div class="group-gap bordr-white" *ngFor="let que1 of finalMetadata1 ,let j=index">
                            <h5 class="mb-3" style="color: aqua;text-align: left;">{{j+1}}) {{que1.quetion}}</h5>
                            <div class="row" *ngFor="let opt of que1.option ,let i=index ">
                                <label>
                                    <input type="radio" [name]="j" [id]="opt.id" [value]="opt.value"
                                        (click)="redioButtonClick(j,opt.value,opt.id,false)"> {{opt.value}}</label>

                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <form>
                        <div class="group-gap bordr-white" *ngFor="let que of finalMetadata2 ,let j=index">
                            <h5 class="mb-3" style="color: aqua; ">{{j+6}}) {{que.quetion}}</h5>
                            <div class="row" *ngFor="let opt of que.option ,let i=index ">
                                <label>
                                    <input type="radio" name="{{j+4}}" [id]="opt.id" [value]="opt.value"
                                        (click)="redioButtonClick(j,opt.value,opt.id,true)"> {{opt.value}}</label>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>



<div class=" md-overlay  new_cmn_modal sdg_modal" id="using_sdg_modal" tabindex="-1" role="dialog" *ngIf="showResult"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body bg-black">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    (click)="successMsgWindowClose()">
                    <span class="material-icons">close</span>
                </button>
                <div class="container-fluid sdg using_sdg">
                    <span class="text-white moreinfo">
                        <h2 style="color: aqua;">{{'gameLabel.Result' |translate}}</h2>
                        {{'gameLabel.que1' |translate}}:{{finalMetadata.length}}<br>
                        {{'gameLabel.que2' |translate}}:{{correcteAns}}<br>
                        {{'gameLabel.que3' |translate}}:{{wrongAns}}<br>
                        {{'gameLabel.que4'|translate}}:{{notGivenAns }}<br>
                    </span>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <form>
                                    <div class="group-gap bordr-white" *ngFor="let que1 of finalMetadata1 ,let j=index">
                                        <span class="material-icons">{{que1.class}}</span>
                                        <h5 class="mb-3" style="color: aqua;">{{j+1}}) {{que1.quetion}}
                                        </h5>
                                        <div class="row" *ngFor="let opt of que1.option ,let i=index ">
                                            <label [ngStyle]="{'color':opt.color}">
                                                <input type="radio" name="{{j}}" [id]="opt.id" [(ngModel)]="que1.ans"
                                                    value="{{opt.value}}"> {{opt.value}}</label>

                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-6">
                                <form>
                                    <div class="group-gap bordr-white" *ngFor="let que of finalMetadata2 ,let j=index">
                                        <span><span class="material-icons">{{que.class}}</span></span>
                                        <h5 class="mb-3" style="color: aqua; ">{{j+6}}) {{que.quetion}}</h5>
                                        <div class="row" *ngFor="let opt of que.option ,let i=index ">
                                            <label [ngStyle]="{'color':opt.color}">
                                                <input type="radio" name="{{j+4}}" [id]="opt.id" [(ngModel)]="que.ans"
                                                    value="{{opt.value}}"> {{opt.value}}</label>

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>