<div *ngIf="modalWindowShowHide.showGrandChildrenFamily">
    <div class="new_cmn_modal full_width gamescreen" id="sibling" tabindex="-1" role="dialog"
        aria-labelledby="country_readmore_modallLabel">
        <div class="modal-dialog modal-dialog-centered family_tree_wraper" role="document">
            <div class="modal-content">
                <div class="modal-header position-relative d-flex align-items-center justify-content-between">
                    <h5 class="modal-title text-white font-400 text-uppercase font_b8 d-flex align-items-center" id="">
                        <img class="image" src="assets/images/family_icon.svg" alt="">
                        <span class="pl-3"> {{'gameLabel.grand_children_family' | translate}} </span>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="material-icons" (click)="closeWindow()">close</span>
                    </button>
                </div>
                <div class="modal-body p-0">
                    <ul class="nav nav-tabs map_btn_new whiteLineClass" id="country_info" role="tablist"
                        style="background-color:#0f4477">
                        <li class="nav-item" style="cursor: pointer;"
                            *ngFor="let gchild of grandChildArray,let i=index">
                            <a [class]="gchild.activeClass" (click)="showWindow(gchild.identity,i)">{{gchild.sex}}:
                                {{gchild.name}}</a>
                        </li>
                    </ul>
                    <div class="col-md-12 popbox_white h-100">
                        <div class="row h-100 m-0">
                            <div class="col-12 h-100">
                                <div class="h-100-5">
                                    <div class="content text-dark h-100">
                                        <div class="mdlsib py-3">
                                            <div class="row m-0">
                                                <div class="col-md-12">
                                                    <h3 class="mb-3 text-center">{{'gameLabel.family_members' |
                                                        translate}} {{'gameLabel.Your' | translate}} {{siblingGender}}
                                                    </h3>
                                                </div>
                                            </div>
                                            <div class="row m-0">
                                                <div class="col-md-3 " *ngFor="let arr1 of level1Arr">
                                                    <div class="box h-100 {{arr1.deadClass}} ">
                                                        <div class="hdr d-flex align-items-center">
                                                            <figure><img src="{{arr1.image}}" class="" alt=""></figure>
                                                            {{arr1.name}}
                                                        </div>
                                                        <div class="{{arr1.class}}">
                                                            <div
                                                                class="row mx-0 align-items-center justify-content-between">
                                                                <div class="col-auto">
                                                                    <h4
                                                                        class="font-600 text-white text-uppercase m-0 p-0">
                                                                        {{arr1.identity}}</h4>
                                                                </div>
                                                                <div class="col-auto">
                                                                    <p class="mb-0 text-center font-500">
                                                                        {{arr1.age}}<br>{{'gameLabel.YEAR_OLD' |
                                                                        translate}}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="content">
                                                            <h4 class="mb-3 mt-3 font-600 text-center text-dark tlp"
                                                                data-toggle="tooltip" data-placement="bottom"
                                                                title="{{arr1.jobName}}" style="cursor: pointer;">
                                                                {{arr1.jobName}}</h4>
                                                            <ul class=" list-unstyled" style="padding-left:9px">

                                                                <li class="border-bottom" *ngIf="arr1.motherName!==''">
                                                                    {{'gameLabel.mother_name' | translate}} :
                                                                    {{arr1.motherName}}</li>
                                                                <li class="border-bottom" *ngIf="arr1.fatherName!==''">
                                                                    {{'gameLabel.father_name' | translate}} :
                                                                    {{arr1.fatherName}}</li>
                                                                <li class="border-bottom">{{'gameLabel.Education' |
                                                                    translate}} : {{arr1.education}}</li>
                                                                <li [class]="arr1.healthClass">{{'gameLabel.Health' |
                                                                    translate}} : {{arr1.health}}</li>
                                                                <li [class]="arr1.healthClassForStatus">
                                                                    {{'gameLabel.Health_Problems' | translate}} :
                                                                    {{arr1.healthProblem}}</li>
                                                                <li class="tlp" data-toggle="tooltip"
                                                                    data-placement="right" title="{{arr1.currencyName}}"
                                                                    style="cursor: pointer;">{{'gameLabel.Income' |
                                                                    translate}} : {{arr1.income | number}}
                                                                    {{arr1.currencyCode}}</li>
                                                                <li class=" tlp" data-toggle="tooltip"
                                                                    data-placement="right"
                                                                    title="{{registerCountryCode}}"
                                                                    style="cursor: pointer;">{{'gameLabel.In' |
                                                                    translate}}
                                                                    {{this.homeService.allPerson[this.constantService.FAMILY_SELF].register_country.currency_code}}
                                                                    : {{arr1.registerIncome | number}}
                                                                    {{registerCountryCode}}</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row m-0">
                                                <div class="col-md-3" *ngFor="let arr2 of level2Arr">
                                                    <div class="box h-100 {{arr2.deadClass}}">
                                                        <div class="hdr d-flex align-items-center">
                                                            <figure><img src="{{arr2.image}}" class="" alt=""></figure>
                                                            {{arr2.name}}
                                                        </div>
                                                        <div class="{{arr2.class}}">
                                                            <div
                                                                class="row mx-0 align-items-center justify-content-between">
                                                                <div class="col-auto">
                                                                    <h4 class="font-600 text-white  m-0 p-0">
                                                                        {{arr2.identity}}</h4>
                                                                </div>
                                                                <div class="col-auto">
                                                                    <p class="mb-0 text-center font-500">
                                                                        {{arr2.age}}<br>{{'gameLabel.YEAR_OLD' |
                                                                        translate}}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="content">
                                                            <h4 class="mb-3 mt-3 font-600 text-center text-dark tlp"
                                                                data-toggle="tooltip" data-placement="bottom"
                                                                title="{{arr2.jobName}}" style="cursor: pointer;">
                                                                {{arr2.jobName}}</h4>
                                                            <ul class=" list-unstyled" style="padding-left:9px">
                                                                <li class="border-bottom">{{'gameLabel.mother_name' |
                                                                    translate}} : {{arr2.motherName}}</li>
                                                                <li class="border-bottom">{{'gameLabel.father_name' |
                                                                    translate}} : {{arr2.fatherName}}</li>
                                                                <li class="border-bottom">{{'gameLabel.Education' |
                                                                    translate}} : {{arr2.education}}</li>
                                                                <li [class]="arr2.healthClass">{{'gameLabel.Health' |
                                                                    translate}} : {{arr2.health}}</li>
                                                                <li [class]="arr2.healthClassForStatus">
                                                                    {{'gameLabel.Health_Problems' | translate}} :
                                                                    {{arr2.healthProblem}}</li>
                                                                <li class="tlp" data-toggle="tooltip"
                                                                    data-placement="right" title="{{arr2.currencyName}}"
                                                                    style="cursor: pointer;">{{'gameLabel.Income' |
                                                                    translate}} : {{arr2.income | number}}
                                                                    {{arr2.currencyCode}}</li>
                                                                <li class=" tlp" data-toggle="tooltip"
                                                                    data-placement="right"
                                                                    title="{{registerCountryCode}}"
                                                                    style="cursor: pointer;">{{'gameLabel.In' |
                                                                    translate}}
                                                                    {{this.homeService.allPerson[this.constantService.FAMILY_SELF].register_country.currency_code}}
                                                                    : {{arr2.registerIncome}} {{registerCountryCode}}
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row m-0">
                                                <div class="col-md-3" *ngFor="let arr3 of level3Arr">
                                                    <div class="box h-100 {{arr3.deadClass}}">
                                                        <div class="hdr d-flex align-items-center">
                                                            <figure><img src="{{arr3.image}}" class="" alt=""></figure>
                                                            {{arr3.name}}
                                                        </div>
                                                        <div class="{{arr3.class}}">
                                                            <div
                                                                class="row mx-0 align-items-center justify-content-between">
                                                                <div class="col-auto">
                                                                    <h4 class="font-600 text-white  m-0 p-0">
                                                                        {{arr3.identity}}</h4>
                                                                </div>
                                                                <div class="col-auto">
                                                                    <p class="mb-0 text-center font-500">
                                                                        {{arr3.age}}<br>{{'gameLabel.YEAR_OLD' |
                                                                        translate}}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="content">
                                                            <h4 class="mb-3 mt-3 font-600 text-center text-dark tlp"
                                                                data-toggle="tooltip" data-placement="bottom"
                                                                title="{{arr3.jobName}}" style="cursor: pointer;">
                                                                {{arr3.jobName}}</h4>
                                                            <ul class=" list-unstyled" style="padding-left:9px">
                                                                <li class="border-bottom">{{'gameLabel.mother_name' |
                                                                    translate}} : {{arr3.motherName}}</li>
                                                                <li class="border-bottom">{{'gameLabel.father_name' |
                                                                    translate}} : {{arr3.fatherName}}</li>
                                                                <li class="border-bottom">{{'gameLabel.Education' |
                                                                    translate}} : {{arr3.education}}</li>
                                                                <li [class]="arr3.healthClass">{{'gameLabel.Health' |
                                                                    translate}} : {{arr3.health}}</li>
                                                                <li [class]="arr3.healthClassForStatus">
                                                                    {{'gameLabel.Health_Problems' | translate}} :
                                                                    {{arr3.healthProblem}}</li>
                                                                <li class="tlp" data-toggle="tooltip"
                                                                    data-placement="right" title="{{arr3.currencyName}}"
                                                                    style="cursor: pointer;">{{'gameLabel.Income' |
                                                                    translate}} : {{arr3.income | number}}
                                                                    {{arr3.currencyCode}}</li>
                                                                <li class=" tlp" data-toggle="tooltip"
                                                                    data-placement="right"
                                                                    title="{{registerCountryCode}}"
                                                                    style="cursor: pointer;">{{'gameLabel.In' |
                                                                    translate}}
                                                                    {{this.homeService.allPerson[this.constantService.FAMILY_SELF].register_country.currency_code}}
                                                                    : {{arr3.registerIncome | number}}
                                                                    {{registerCountryCode}}</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>