<div class="main_wraper d-flex flex-column justify-content-between glob_bg">
    <header>
        <div class="logo mx-auto trans" data-aos="" data-aos-delay="100"><img img src="assets/images/RL_logo.svg"
                alt="">
        </div>
    </header>
    <a title="{{'gameLabel.Go_to_dashbord' | translate }}" data-toggle="tooltip" data-placement="left" class="tlp"
        style="cursor: pointer;" (click)="clickToExitButton()">
        <span class="material-icons " style="cursor: pointer;float: right;">login</span></a>
    <section class="home_dashboard v_center">
        <div class="container-fluid">
            <div class="">
                <div class="md-col-12">
                    <h2 class="text-center mt-0">{{'gameLabel.Welcome_to_RealLives_country_group_data_learning_tool'
                        |translate}}
                    </h2>
                    <div class="d-flex justify-content-center mt-3">
                        <button type="button"
                            class="btn btn-blue-grad py-1 px-4 mr-3 col-2 assignment-main-div fontSize"
                            (click)="goToPages()">{{'gameLabel.Select_the_country_group' |translate}}</button>
                    </div>
                </div>

            </div>
        </div>

    </section>
</div>