<ul class="progress_clm d-flex text-center font_s4 text-uppercase mt-2">
    <li class="col" *ngFor="let i of wellBeingIndicatorService.wellbeingIndicatorArray; let j=index"
        style="cursor: pointer;" (click)="ShowIndicatorModalWindow(i.key)">
        {{i.title}}<br>
        <div [class]="i.classForBorder">
            <label max="100" value={{i.new1}} *ngIf="j<3">
            </label>
            <progress max="100" value={{i.new1}} *ngIf="j>=3"></progress>
            <label [class]="i.classForNumber" data-toggle="tooltip" data-placement="top" title="{{i.discription}}"
                style="cursor: pointer;">{{i.new1}}%</label>
        </div>



        <!-- <div class="progress_wraper green_brder" *ngIf="i.new1 > i.old" >
             <progress max="100"value={{i.new1}} ></progress> 
             <label class="tlp" data-toggle="tooltip" data-placement="top" title="{{i.discription}}" style="cursor: pointer;" >{{i.new1}}%</label></div> 
        <div class="progress_wraper red_brder"  *ngIf="i.new1 < i.old" > 
            <progress max="100" value={{i.new1}}></progress> 
            <label class="tlp" data-toggle="tooltip" data-placement="top" title="{{i.discription}}" style="cursor: pointer;">{{i.new1}}%</label></div>
        <div class="progress_wraper" *ngIf="i.new1 == i.old"> 
            <progress max="100" value={{i.new1}}>
        </progress>  -->
        <!-- <label class="tlp" data-toggle="tooltip" data-placement="top" title="{{i.discription}}"
            style="cursor: pointer;">{{i.new1}}%</label> -->
    </li>
</ul>

<!-- data-toggle="tooltip" data-placement="i.tooltipplcament" title="i.discription" -->