<div class="new_cmn_modal full_width gamescreen animated bounceInDown"
    *ngIf="modalWindowShowHide.showWellBeingIndicatorWindow">
    <!--<div class="new_cmn_modal full_width gamescreen" id="dashboard_health">-->
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content h-100">
            <div class="modal-header position-relative d-flex align-items-center justify-content-between">
                <h5 class="modal-title text-white font-400 text-uppercase font_b8 d-flex align-items-center" id="">
                    <img src="assets/images/edu_head_icon.png" alt="">
                    <span class="pl-3">{{'gameLabel.Indicators_Over_Age' | translate}}</span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="material-icons" (click)="close()">close</span>
                </button>

            </div>
            <div class="modal-body p-0 ">
                <div class="col-md-12 pam indication tooltipindication" style="background:#282828;">
                    <ul class="progress_clm d-flex text-center font_s4 text-uppercase mt-2">
                        <li class="col" *ngFor="let i of wellBeingIndicators ;let j=index" style="cursor: pointer;"
                            (click)="changeGraph(i.key)">
                            {{i.title}}<br>
                            <div [class]="i.classForBorder">
                                <label max="100" value={{i.new1}} *ngIf="j<3">
                                </label>
                                <progress max="100" value={{i.new1}} *ngIf="j>=3"></progress>
                                <label [class]="i.classForNumber" data-toggle="tooltip" data-placement="top"
                                    title="{{i.discription}}" style="cursor: pointer;">{{i.new1}}%</label>
                            </div>
                            <!-- <label class="tlp" data-toggle="tooltip" data-placement="top" title="{{i.discription}}"
                                style="cursor: pointer;">{{i.new1}}%</label> -->
                        </li>
                    </ul>
                    <!-- <ul class="progress_clm d-flex text-center font_s4 text-uppercase mt-2">
                        <li class="col " *ngFor="let i of wellBeingIndicators" style="cursor: pointer;"
                            (click)="changeGraph(i.key)">
                            <span class="{{i.class}}">{{i.title}}</span><br>
                            <div class="progress_wraper green_brder" *ngIf="i.new1 > i.old">
                                <progress max="100" value={{i.new1}}></progress>
                                <label class="tlp" data-toggle="tooltip" data-placement="top" title="{{i.discription}}"
                                    style="cursor: pointer;">{{i.new1}}%</label>
                            </div>
                            <div class="progress_wraper red_brder" *ngIf="i.new1 < i.old">
                                <progress max="100" value={{i.new1}}></progress>
                                <label class="tlp" data-toggle="tooltip" data-placement="top" title="{{i.discription}}"
                                    style="cursor: pointer;">{{i.new1}}%</label>
                            </div>
                            <div class="progress_wraper" *ngIf="i.new1 == i.old">
                                <progress max="100" value={{i.new1}}>
                                </progress>
                                <label class="tlp" data-toggle="tooltip" data-placement="top" title="{{i.discription}}"
                                    style="cursor: pointer;">{{i.new1}}%</label>
                            </div>
                        </li>
                    </ul> -->
                </div>
                <br>
                <div class=" overflow-y-auto pt-0">
                    <div class="col-md-12 pam popbox" width="70%">
                        <div class="text-dark"> {{wellBeingIndicatorService.dispalyName}}
                            {{'gameLabel.abilities_over_age' | translate}} </div>
                        <div style="display: block;">
                            <canvas baseChart height="90%" [datasets]="lineChartData" [labels]="lineChartLabels"
                                [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                                [chartType]="lineChartType" [plugins]="lineChartPlugins" [maximun]="100"
                                (chartClick)="chartClicked($event)">
                            </canvas>
                        </div>
                    </div>
                    <div class="col-md-12"
                        style="height:94px; background:#646464; margin-bottom:10px; border-radius: 15px;">
                        <div class="">
                            <div class="col-sm-2 col-md-1 ageinternal1 pull-left font12pxnew"> {{'gameLabel.LIFE_EVENT'
                                | translate}}
                                <div class="clearfix"></div>
                                <span class="age_font">{{event.age}}</span><br>
                                {{'gameLabel.Age' | translate}}
                            </div>
                            <div class="col-sm-10 col-md-11 pam"
                                style="overflow-y: auto; height:100px; font-size:20px;">{{event.text}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>