<div class="iam blue_gradiant d-flex align-items-center justify-content-center selfcapsule">
    <h3>{{'gameLabel.You'| translate}} {{'gameLabel.are'| translate}}</h3>
</div>
<div class="col your_info px-1 m-0">
    <div class="col-md-12 self_info d-flex justify-content-between">
        <span class="pull-left font300 font_b2">{{homeService.allPerson[constantService.FAMILY_SELF].first_name}}
            {{homeService.allPerson[constantService.FAMILY_SELF].last_name}}, {{age}}</span>
        <div class="col-auto">

            <!-- <span class="pull-right mls">
                    <img src="assets/images/game_images/Home_icon.png" width="26" height="18" alt="" class="tlp"  title="Shelter: {{residence}}" data-toggle="tooltip" data-placement="top" style="cursor: pointer">
                </span>
                <span class="pull-right mls">
                    <img src="assets/images/game_images/food_icon.png" alt="" class="mrm" width="26" height="16" class="tlp" title="Diet: {{diet}}" data-toggle="tooltip" data-placement="top" style="cursor: pointer">
                </span> -->
            <!-- <span class="pull-right">
                    <img src="assets/images/organs/organ-donation.png" width="26" height="26" class="tlp"  alt=""data-toggle="tooltip" data-placement="left"  title="Organ and blood donation" style="cursor: pointer" (click)="OrganAndBloodDonationPopUp()">
                </span> -->
        </div>
    </div>
    <div class="row justify-content-between m-0">
        <div class="col-6 " class="tlp col" data-toggle="tooltip" data-placement="right" title="{{cityCountry}}"
            style="cursor: pointer">
            <b>{{sex}}</b> <br>
            {{cityCountry | truncate : 35}}.
        </div>
        <div class="col-6 text-right" *ngIf="countryName=='India'">
            <span class="tlp" class="tlp" data-toggle="tooltip" data-placement="left" title="{{languageName}}"
                style="cursor: pointer"> {{'gameLabel.Official_Language'| translate}} : {{languageName | truncate : 25}}
            </span> <br>
            <span class="tlp" class="tlp" data-toggle="tooltip" data-placement="left" title="{{religion}}"
                style="cursor: pointer"> {{'gameLabel.Religion'| translate}} : {{religion | truncate : 30}} </span>
        </div>
        <div class="col-6 text-right" *ngIf="countryName!='India'">
            <span class="tlp" class="tlp" data-toggle="tooltip" data-placement="left" title="{{languageName}}"
                style="cursor: pointer"> {{'gameLabel.Official_Language'| translate}} : {{languageName | truncate :
                20}}</span> <br>
            <span class="tlp" class="tlp" data-toggle="tooltip" data-placement="left" title="{{religion}}"
                style="cursor: pointer">{{'gameLabel.Religion'| translate}} : {{religion | truncate : 30}} </span>
        </div>
    </div>
</div>
<!-- <app-organ-blood-donation class="md-overlay" *ngIf="modalWindowShowHide.showOrganBloodDonationFlag"></app-organ-blood-donation> -->