.image{
    height: 37px!important;
}

.imageFinanace{
    height: 33px!important;
}

.imageEducation{
    height: 43px!important;
    margin-top: -2px;
}

.imagerelation{
    height: 35px!important;
}

.imageResidence{
    height: 33px!important;
}

.imageCarrer{
    height: 40px!important;
}

.black_modal .modal-content{background: #000; border: 1px solid ;border-color: gray!important;  padding: 1rem; }

.logo-flag {   
    display: none;
    align-items: center;
    justify-content: center;
    /* border: 1px solid #222 !important;
  box-shadow: 1px 1px 11px 1px rgb(255 255 255 / 90%); */
  }

  .logo-flag.active {
    display: flex;
  }

  .flag{
    height: 50px;
    border: 1px solid #3a3737;
    width: 70px;
  }
