<!-- <div class="fadingOut beforeMainScreenImage" *ngIf="modalWindowShowHide.gotoHome">
    <img src="assets/image/spacer.png" class="beforeMainScreenImageDisplay1">
</div> -->


<body class="game_bg ">

    <div class="fadingOut beforeMainScreenImage" *ngIf="modalWindowShowHide.showGotoHome">
    </div>

    <div class="fadingIn">
        <div class="beforeMainScreenImage MainScreenBackground">
        </div>
        <div class="container-fluid game_dashboard" style="overflow: hidden;" *ngIf=data [data]="data">
            <div class="row h_100">
                <div class="col-md-9 min100 glow px-0">
                    <div class="dlt">
                        <div class="row no-gutters mx-0">
                            <!--My Self Section Start Here-->
                            <app-self-capsule class="col-md-8 myself d-flex" *ngIf=data [data]="data">
                            </app-self-capsule>
                            <!--My Self Section End Here-->

                            <!-- My Family Section Start Here-->
                            <app-family-capsule class="col-md-4 myself d-flex" *ngIf="data" [data]="data">
                            </app-family-capsule>
                            <!-- My Family Section End Here-->
                        </div>

                        <div class="row mx-0">
                            <!-- Surround Data Section Start Here-->
                            <app-utility-bar class="col-md-12 surround_data d-flex align-items-center" *ngIf="data"
                                [data]="data"></app-utility-bar>
                            <!-- Surround Data Section Start Here-->
                        </div>
                    </div>

                    <div class="dlm">
                        <app-event *ngIf="modalWindowShowHide.showEvent && data" [data]="data"></app-event>

                        <app-obituary *ngIf="modalWindowShowHide.showObituary && data"></app-obituary>
                        <app-summary *ngIf="modalWindowShowHide.showGameSummary && data"></app-summary>
                        <app-write-letter *ngIf="modalWindowShowHide.showLetter && data"></app-write-letter>
                        <app-feedback *ngIf="modalWindowShowHide.showFeddback && data"></app-feedback>
                        <app-bug-report *ngIf="modalWindowShowHide.showBugReport && data"></app-bug-report>
                    </div>
                    <div class="dlb">
                        <div class="row mx-0">
                            <div class="col-md-12 bottom_action" *ngIf="modalWindowShowHide.showEvent">
                                <ul class="bottom_action_group row w-100 mx-0 px-0 text-center">
                                    <li class="col">
                                        <div class="home_inner_btn"
                                            *ngIf="(homeService.allPerson[this.constantService.FAMILY_SELF].age!==constantService.DEMOLIFEMAXAGE ||!homeService.allPerson[this.constantService.FAMILY_SELF].dead ||(gameSummeryService.licenceId!==null &&  gameSummeryService.maxLifeCount>1))">
                                            <ul class="m-0 p-0 fontforSmall" *ngIf="eventService.currentEvent.text.length<255">
                                                <li [hidden]="!homeService.allPerson[constantService.FAMILY_SELF].education.school.inSchool
                                                           ||homeService.allPerson.SELF.dead
                                                           ||homeService.allPerson[constantService.FAMILY_SELF].in_prison
                                                           ||homeService.allPerson[constantService.FAMILY_SELF].job.JobName===constantService.JOB_SOLDIER
                                                           ||(homeService.allPerson[constantService.FAMILY_SELF].education.school.inSchool
                                                            && homeService.allPerson[constantService.FAMILY_SELF].education.school.highSchoolGraduate)"
                                                    (click)="clickActionEducation()"><a> {{'gameLabel.QUIT_SCHOOL'
                                                        |translate}}</a></li>


                                                <li [hidden]="(homeService.allPerson.SELF.dead||homeService.allPerson[constantService.FAMILY_SELF].in_Prison||
                                              homeService.allPerson[constantService.FAMILY_SELF].job.JobName===constantService.JOB_SOLDIER||
                                              !(!homeService.allPerson[constantService.FAMILY_SELF].education.vocational.inVocational &&
                                              !homeService.allPerson[constantService.FAMILY_SELF].education.vocational.vocationalDegree &&
                                              homeService.allPerson[constantService.FAMILY_SELF].education.school.highSchoolGraduate))||( homeService.allPerson[constantService.FAMILY_SELF].education.vocational.inVocational ||
                                              homeService.allPerson[constantService.FAMILY_SELF].education.vocational.vocationalDegree )"
                                                    (click)="clickActionEducation()"><a></a></li>

                                                <li [hidden]="(homeService.allPerson.SELF.dead||homeService.allPerson[constantService.FAMILY_SELF].in_Prison
                                            ||homeService.allPerson[constantService.FAMILY_SELF].job.JobName===constantService.JOB_SOLDIER)
                                            ||(!homeService.allPerson[constantService.FAMILY_SELF].education.vocational.inVocational ||  homeService.allPerson[constantService.FAMILY_SELF].education.vocational.vocationalDegree)"
                                                    (click)="clickActionEducation()">
                                                    <a>{{'gameLabel.Quit_Vocational_Course' |translate}}</a>
                                                </li>


                                                <li [hidden]="(homeService.allPerson.SELF.dead||homeService.allPerson[constantService.FAMILY_SELF].in_prison||
                                            homeService.allPerson[constantService.FAMILY_SELF].job.JobName===constantService.JOB_SOLDIER||
                                            !((!homeService.allPerson[constantService.FAMILY_SELF].education.college.inCollege) &&
                                             !homeService.allPerson[constantService.FAMILY_SELF].education.college.collegeGraduate &&
                                             homeService.allPerson[constantService.FAMILY_SELF].education.school.highSchoolGraduate))
                                             ||( homeService.allPerson[constantService.FAMILY_SELF].education.college.inCollege||
                                            homeService.allPerson[constantService.FAMILY_SELF].education.college.collegeGraduate)"
                                                    (click)="clickActionEducation()">
                                                    <a>{{'gameLabel.Join_College_Course' |translate}}</a>
                                                </li>


                                                <li [hidden]="(homeService.allPerson.SELF.dead||homeService.allPerson[constantService.FAMILY_SELF].in_prison
                                             ||homeService.allPerson[constantService.FAMILY_SELF].job.JobName===constantService.JOB_SOLDIER)||
                                              (!homeService.allPerson[constantService.FAMILY_SELF].education.college.inCollege || homeService.allPerson[constantService.FAMILY_SELF].education.college.collegeGraduate)"
                                                    (click)="clickActionEducation()">
                                                    <a>{{'gameLabel.Quit_College_Course' |translate}}</a>
                                                </li>


                                                <li [hidden]="(homeService.allPerson.SELF.dead||homeService.allPerson[constantService.FAMILY_SELF].in_Prison
                                            ||homeService.allPerson[constantService.FAMILY_SELF].job.JobName===constantService.JOB_SOLDIER||
                                            !(!homeService.allPerson[constantService.FAMILY_SELF].education.graduate.inGraduate
                                             && !homeService.allPerson[constantService.FAMILY_SELF].education.graduate.graduateDegree
                                             && homeService.allPerson[constantService.FAMILY_SELF].education.college.collegeGraduate))
                                             ||( homeService.allPerson[constantService.FAMILY_SELF].education.graduate.inGraduate || homeService.allPerson[constantService.FAMILY_SELF].education.graduate.graduateDegree )"
                                                    (click)="clickActionEducation()">
                                                    <a>{{'gameLabel.Join_Graduate_Course' |translate}}</a>
                                                </li>

                                                <li [hidden]="(homeService.allPerson.SELF.dead||homeService.allPerson[constantService.FAMILY_SELF].in_Prison
                                             ||homeService.allPerson[constantService.FAMILY_SELF].job.JobName===constantService.JOB_SOLDIER) ||
                                             (!homeService.allPerson[constantService.FAMILY_SELF].education.graduate.inGraduate ||  homeService.allPerson[constantService.FAMILY_SELF].education.graduate.graduateDegree)"
                                                    (click)="clickActionEducation()">
                                                    <a>{{'gameLabel.Quit_Graduate_Course' |translate}} </a>
                                                </li>

                                            </ul>
                                        </div>
                                        <a class="disblock" (click)="actionEducationClick()">
                                            <span class="home-bottomicn">
                                                <img class="mbs imageEducation" style="height: 40px"
                                                    src="assets/images/action-education.png" alt=""
                                                    style="cursor: pointer;" /><br>
                                            </span>
                                            <span class="icn-text-mr">
                                                {{'gameLabel.Education' |translate}}
                                            </span>
                                        </a>
                                    </li>
                                    <li class="col">
                                        <div class="home_inner_btn"
                                            *ngIf="(homeService.allPerson[this.constantService.FAMILY_SELF].age!==constantService.DEMOLIFEMAXAGE ||!homeService.allPerson[this.constantService.FAMILY_SELF].dead ||(gameSummeryService.licenceId!==null &&  gameSummeryService.maxLifeCount>1))">
                                            <ul class="m-0 p-0 fontforSmall" *ngIf="eventService.currentEvent.text.length<255">
                                                <li (click)="clickActionCareer()"><a
                                                        [hidden]="
                                                   !(((homeService.allPerson[constantService.FAMILY_SELF].job.JobName===constantService.JOB_UNEMPLOYED && homeService.allPerson[constantService.FAMILY_SELF].business.businessesId===130)
                                                    || homeService.allPerson[constantService.FAMILY_SELF].job.JobName===constantService.JOB_NO_JOB
                                                    && homeService.allPerson[constantService.FAMILY_SELF].business.businessesId===130) ||
                                                    (homeService.allPerson[constantService.FAMILY_SELF].job.JobName===constantService.JOB_STUDENT) ||
                                                     (homeService.allPerson[constantService.FAMILY_SELF].job.JobName===constantService.JOB_DOMESTIC_CHORES   && homeService.allPerson[constantService.FAMILY_SELF].business.businessesId===130))
                                                     || (!((homeService.allPerson[constantService.FAMILY_SELF].age>=11
                                                     && homeService.allPerson[constantService.FAMILY_SELF].education.school.inSchool==false)||(homeService.allPerson[constantService.FAMILY_SELF].age>10 
                                                     && homeService.allPerson[constantService.FAMILY_SELF].education.school.inSchool==true)
                                                     ||(homeService.allPerson[constantService.FAMILY_SELF].age<11 && homeService.allPerson[constantService.FAMILY_SELF].head_of_household)) ||(homeService.allPerson[constantService.FAMILY_SELF].dead))">
                                                        {{'gameLabel.GET_A_JOB' |translate}}</a></li>

                                                <li (click)="clickActionCareer()"><a
                                                        [hidden]=" !(((homeService.allPerson[constantService.FAMILY_SELF].job.JobName===constantService.JOB_UNEMPLOYED && homeService.allPerson[constantService.FAMILY_SELF].business.businessesId===130)
                                                    || homeService.allPerson[constantService.FAMILY_SELF].job.JobName===constantService.JOB_NO_JOB
                                                    && homeService.allPerson[constantService.FAMILY_SELF].business.businessesId===130) ||
                                                    (homeService.allPerson[constantService.FAMILY_SELF].job.JobName===constantService.JOB_STUDENT) ||
                                                     (homeService.allPerson[constantService.FAMILY_SELF].job.JobName===constantService.JOB_DOMESTIC_CHORES   && homeService.allPerson[constantService.FAMILY_SELF].business.businessesId===130))||(homeService.allPerson[constantService.FAMILY_SELF].dead || homeService.allPerson[constantService.FAMILY_SELF].education.school.inSchool
                                                     || !((homeService.allPerson[constantService.FAMILY_SELF].job.JobName==='UNEMPLOYED'
                                                     ||!(homeService.allPerson[constantService.FAMILY_SELF].job.JobName==='STUDENT'))
                                                     &&homeService.allPerson[constantService.FAMILY_SELF].age>11)) ">{{'gameLabel.START_A_BUSINESS'
                                                        |translate}}</a></li>
                                                <li (click)="clickActionCareer()"><a
                                                        [hidden]=" !(((homeService.allPerson[constantService.FAMILY_SELF].job.JobName===constantService.JOB_UNEMPLOYED && homeService.allPerson[constantService.FAMILY_SELF].business.businessesId===130)
                                                                                                            || homeService.allPerson[constantService.FAMILY_SELF].job.JobName===constantService.JOB_NO_JOB
                                                                                                            && homeService.allPerson[constantService.FAMILY_SELF].business.businessesId===130) ||
                                                                                                            (homeService.allPerson[constantService.FAMILY_SELF].job.JobName===constantService.JOB_STUDENT) ||
                                                                                                             (homeService.allPerson[constantService.FAMILY_SELF].job.JobName===constantService.JOB_DOMESTIC_CHORES   && homeService.allPerson[constantService.FAMILY_SELF].business.businessesId===130))||(homeService.allPerson[constantService.FAMILY_SELF].dead || homeService.allPerson[constantService.FAMILY_SELF].education.school.inSchool
                                                                                                             || !((homeService.allPerson[constantService.FAMILY_SELF].job.JobName==='UNEMPLOYED'
                                                                                                             ||!(homeService.allPerson[constantService.FAMILY_SELF].job.JobName==='STUDENT'))
                                                                                                             &&homeService.allPerson[constantService.FAMILY_SELF].age>11)) ">{{'gameLabel.START_A_OLD_BUSINESS'
                                                        |translate}}</a></li>

                                                <div
                                                    [hidden]="!(!(homeService.allPerson[constantService.FAMILY_SELF].job.JobName===constantService.JOB_NO_JOB
                                                || homeService.allPerson[constantService.FAMILY_SELF].job.JobName===constantService.JOB_STUDENT
                                                 ||homeService.allPerson[constantService.FAMILY_SELF].job.JobName===constantService.JOB_DOMESTIC_CHORES
                                                 ||homeService.allPerson[constantService.FAMILY_SELF].job.JobName===constantService.JOB_UNEMPLOYED))">

                                                    <li (click)="clickActionCareer()"><a
                                                            [hidden]="homeService.allPerson[constantService.FAMILY_SELF].extra_work_time || (homeService.allPerson[constantService.FAMILY_SELF].dead||homeService.allPerson[constantService.FAMILY_SELF].part_time
                                                || homeService.allPerson[constantService.FAMILY_SELF].job.JobName===constantService.JOB_PRISONER
                                                || homeService.allPerson[constantService.FAMILY_SELF].job.JobName===constantService.JOB_SOLDIER
                                                ||homeService.allPerson[constantService.FAMILY_SELF].job.JobName===constantService.JOB_RETIRED)">{{'gameLabel.WORK_OVERTIME'
                                                            |translate}}</a></li>


                                                    <li (click)="clickActionCareer()"><a
                                                            [hidden]="!homeService.allPerson[constantService.FAMILY_SELF].extra_work_time ||(homeService.allPerson[constantService.FAMILY_SELF].dead ||homeService.allPerson[constantService.FAMILY_SELF].part_time||
                                                                homeService.allPerson[constantService.FAMILY_SELF].job.JobName===constantService.JOB_PRISONER ||
                                                                 homeService.allPerson[constantService.FAMILY_SELF].job.JobName===constantService.JOB_SOLDIER||
                                                                 homeService.allPerson[constantService.FAMILY_SELF].job.JobName===constantService.JOB_RETIRED)">
                                                            {{'gameLabel.STOP_WORK_OVERTIME' |translate }}</a></li>

                                                    <li (click)="clickActionCareer()"><a
                                                            [hidden]="homeService.allPerson[constantService.FAMILY_SELF].dead || homeService.allPerson[constantService.FAMILY_SELF].job.JobName===constantService.JOB_PRISONER
                                                || homeService.allPerson[constantService.FAMILY_SELF].job.JobName===constantService.JOB_SOLDIER
                                                || homeService.allPerson[constantService.FAMILY_SELF].job.JobName===constantService.JOB_RETIRED
                                                ||homeService.allPerson[constantService.FAMILY_SELF].job.JobName===constantService.JOB_THIEF
                                                ||homeService.allPerson[constantService.FAMILY_SELF].job.JobName===constantService.JOB_BEGGAR
                                                ||homeService.allPerson[constantService.FAMILY_SELF].raise_received">{{'gameLabel.ASK_FOR_A_SALARY_RAISE'
                                                            |translate}}</a></li>


                                                    <li (click)="clickActionCareer()"><a
                                                            [hidden]="homeService.allPerson[constantService.FAMILY_SELF].dead
                                                || homeService.allPerson[constantService.FAMILY_SELF].job.JobName===constantService.JOB_PRISONER
                                                || homeService.allPerson[constantService.FAMILY_SELF].job.JobName===constantService.JOB_SOLDIER
                                                || homeService.allPerson[constantService.FAMILY_SELF].job.JobName===constantService.JOB_RETIRED">{{'gameLabel.QUIT_JOB'
                                                            |translate}}</a></li>

                                                </div>

                                                <div
                                                    [hidden]=" homeService.allPerson[constantService.FAMILY_SELF].business.businessesId===130">
                                                    <div *ngIf="!carrerService.oldBusinessFlag">
                                                        <li (click)="clickActionCareer()"><a
                                                                [hidden]="homeService.allPerson[constantService.FAMILY_SELF].dead ||
                                                homeService.allPerson[constantService.FAMILY_SELF].job.JobName===constantService.JOB_PRISONER
                                                || homeService.allPerson[constantService.FAMILY_SELF].job.JobName===constantService.JOB_SOLDIER
                                                || homeService.allPerson[constantService.FAMILY_SELF].job.JobName===constantService.JOB_RETIRED">{{'gameLabel.STOP_BUSINESS'
                                                                |translate}}</a></li>
                                                        <li (click)="clickActionCareer()"><a
                                                                [hidden]=" homeService.allPerson[constantService.FAMILY_SELF].dead ||
                                                homeService.allPerson[constantService.FAMILY_SELF].job.JobName===constantService.JOB_PRISONER ||
                                                homeService.allPerson[constantService.FAMILY_SELF].job.JobName===constantService.JOB_SOLDIER ||
                                                homeService.allPerson[constantService.FAMILY_SELF].job.JobName===constantService.JOB_RETIRED">{{'gameLabel.Manage
                                                                business'
                                                                |translate}}</a></li>
                                                        <li (click)="clickActionCareer()"><a
                                                                [hidden]=" homeService.allPerson[constantService.FAMILY_SELF].dead ||
                                                homeService.allPerson[constantService.FAMILY_SELF].job.JobName===constantService.JOB_PRISONER ||
                                                homeService.allPerson[constantService.FAMILY_SELF].job.JobName===constantService.JOB_SOLDIER ||
                                                homeService.allPerson[constantService.FAMILY_SELF].job.JobName===constantService.JOB_RETIRED">{{'gameLabel.Scale
                                                                up / Scale down'
                                                                |translate}}</a></li>
                                                    </div>

                                                    <div *ngIf="carrerService.oldBusinessFlag">
                                                        <li (click)="clickActionCareer()"><a
                                                                [hidden]="homeService.allPerson[constantService.FAMILY_SELF].dead ||
                                                                                                            homeService.allPerson[constantService.FAMILY_SELF].job.JobName===constantService.JOB_PRISONER
                                                                                                            || homeService.allPerson[constantService.FAMILY_SELF].job.JobName===constantService.JOB_SOLDIER
                                                                                                            || homeService.allPerson[constantService.FAMILY_SELF].job.JobName===constantService.JOB_RETIRED">{{'gameLabel.STOP_BUSINESS'
                                                                |translate}}</a></li>
                                                        <li (click)="clickActionCareer()"><a
                                                                [hidden]=" homeService.allPerson[constantService.FAMILY_SELF].dead ||
                                                                                                            homeService.allPerson[constantService.FAMILY_SELF].job.JobName===constantService.JOB_PRISONER ||
                                                                                                            homeService.allPerson[constantService.FAMILY_SELF].job.JobName===constantService.JOB_SOLDIER ||
                                                                                                            homeService.allPerson[constantService.FAMILY_SELF].job.JobName===constantService.JOB_RETIRED">{{'gameLabel.SCALE_UP_BUSINESS'
                                                                |translate}}</a></li>
                                                    </div>
                                                </div>
                                            </ul>
                                        </div>
                                        <a class="disblock" (click)="actionCareerClick()">
                                            <span class="home-bottomicn">
                                                <img class="mbs imageCarrer" src="assets/images/action-carrer.png"
                                                    alt="" style="cursor: pointer;" /><br>
                                            </span>
                                            <span class="icn-text-mr">
                                                {{'gameLabel.Career' |translate}}
                                            </span>

                                        </a>
                                    </li>
                                    <li class="col">
                                        <div class="home_inner_btn"
                                            *ngIf="(homeService.allPerson[this.constantService.FAMILY_SELF].age!==constantService.DEMOLIFEMAXAGE ||!homeService.allPerson[this.constantService.FAMILY_SELF].dead||(gameSummeryService.licenceId!==null &&  gameSummeryService.maxLifeCount>1))">
                                            <ul class="m-0 p-0 fontforSmall" *ngIf="eventService.currentEvent.text.length<255">
                                                <li [hidden]="homeService.allPerson[constantService.FAMILY_SELF].dead ||
                                            homeService.allPerson[constantService.FAMILY_SELF].head_of_household ||
                                             homeService.allPerson[constantService.FAMILY_SELF].job.JobName === constantService.JOB_PRISONER
                                             || homeService.allPerson[constantService.FAMILY_SELF].age<17 && !homeService.allPerson[constantService.FAMILY_SELF].head_of_household"
                                                    (click)=" clickActionFinance(false)"><a> {{'gameLabel.Become the head
                                                        of the household'
                                                        |translate}}</a></li>
                                                <li [hidden]="homeService.allPerson[constantService.FAMILY_SELF].dead ||
                                            !homeService.allPerson[constantService.FAMILY_SELF].head_of_household ||
                                             homeService.allPerson[constantService.FAMILY_SELF].job.JobName === constantService.JOB_PRISONER
                                             || homeService.allPerson[constantService.FAMILY_SELF].age<14 && !homeService.allPerson[constantService.FAMILY_SELF].head_of_household"
                                                    (click)="clickActionFinance(false)">
                                                    <a>{{'gameLabel.Change_Expenditure'
                                                        |translate}}</a>
                                                </li>
                                                <li [hidden]="homeService.allPerson[constantService.FAMILY_SELF].dead ||
                                            homeService.allPerson[constantService.FAMILY_SELF].expense.householdNetWorth<=0 ||
                                            !homeService.allPerson[constantService.FAMILY_SELF].head_of_household
                                            ||homeService.allPerson[constantService.FAMILY_SELF].age < 14 || loanDisable
                                            ||homeService.allPerson[constantService.FAMILY_SELF].in_prison"
                                                    *ngIf="(homeService.allPerson[constantService.FAMILY_SELF].business.businessesId===130 && carrerService.oldBusinessFlag)"
                                                    (click)="clickActionFinance(false)"><a>{{'gameLabel.GET_A_LOAN'
                                                        |translate}}</a></li>
                                                <li [hidden]="investmentDisable || homeService.allPerson[constantService.FAMILY_SELF].dead
                                            || !homeService.allPerson[constantService.FAMILY_SELF].head_of_household ||
                                            homeService.allPerson[constantService.FAMILY_SELF].age < 14 ||homeService.allPerson[constantService.FAMILY_SELF].in_prison"
                                                    (click)="clickActionFinance(false)"><a>{{'gameLabel.INVEST_MONEY'
                                                        |translate}}</a></li>
                                                <li [hidden]=" homeService.allPerson[constantService.FAMILY_SELF].dead
                                                                                                    || ( homeService.allPerson[constantService.FAMILY_SELF].business.businessesId===130)
                                                                                                    ||    homeService.allPerson[constantService.FAMILY_SELF].in_prison"
                                                    *ngIf="homeService.allPerson[this.constantService.FAMILY_SELF].business.businessesId!==130 &&  !this.carrerService.oldBusinessFlag"
                                                    (click)="clickActionFinance(true)"><a>{{'gameLabel.Business
                                                        finanace'
                                                        |translate}}</a></li>
                                            </ul>
                                        </div>
                                        <a class="disblock" (click)="actionFinanceClick()">
                                            <span class="home-bottomicn">
                                                <img class="mbs imageFinanace" src="assets/images/action-finanace.png"
                                                    alt="" style="cursor: pointer;" /><br>
                                            </span>
                                            <span class="icn-text-mr">
                                                {{'gameLabel.Finance' |translate}}
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <app-age-a-year *ngIf="data" [data]="data"></app-age-a-year>
                                    </li>
                                    <li class="col">
                                        <div class="home_inner_btn"
                                            *ngIf="(homeService.allPerson[this.constantService.FAMILY_SELF].age!==constantService.DEMOLIFEMAXAGE ||!homeService.allPerson[this.constantService.FAMILY_SELF].dead||(gameSummeryService.licenceId!==null &&  gameSummeryService.maxLifeCount>1))">
                                            <ul class="m-0 p-0 fontforSmall" *ngIf="eventService.currentEvent.text.length<255">
                                                <li [hidden]=" homeService.allPerson[constantService.FAMILY_SELF].age>=70  ||
                                                !homeService.allPerson[constantService.FAMILY_SELF].game_settings.LOVE ||
                                                homeService.allPerson[constantService.FAMILY_SELF].dead || homeService.allPerson[constantService.FAMILY_SELF].age<=12 ||
                                                 homeService.allPerson[constantService.FAMILY_SELF].in_prison || !((homeService.allPerson[constantService.FAMILY_SELF].lover===null )
                                                 && homeService.allPerson[constantService.FAMILY_SELF].wife===null
                                                 && homeService.allPerson[constantService.FAMILY_SELF].husband===null
                                                 && !homeService.allPerson[constantService.FAMILY_SELF].engaged
                                                 &&!homeService.allPerson[constantService.FAMILY_SELF].married)"
                                                    (click)="clickActionRelation()"><a>{{'gameLabel.NEW_ROMANCE'
                                                        |translate}}</a></li>

                                                <div
                                                    [hidden]="!(homeService.allPerson[constantService.FAMILY_SELF].lover!==null)">
                                                    <li [hidden]="(!homeService.allPerson[constantService.FAMILY_SELF].game_settings.LOVE)||homeService.allPerson[constantService.FAMILY_SELF].dead
                                                ||homeService.allPerson[constantService.FAMILY_SELF].lover===null"
                                                        (click)="clickActionRelation()"><a>{{'gameLabel.Break_up1'
                                                            |translate}}</a></li>

                                                    <li [hidden]="(homeService.allPerson[constantService.FAMILY_SELF].in_prison || !homeService.allPerson[constantService.FAMILY_SELF].game_settings.LOVE
                                            || homeService.allPerson[constantService.FAMILY_SELF].engaged || homeService.allPerson[constantService.FAMILY_SELF].dead
                                            || homeService.allPerson[constantService.FAMILY_SELF].in_prison)||!(homeService.allPerson[constantService.FAMILY_SELF].age >17 && homeService.allPerson[constantService.FAMILY_SELF].lover!==null) "
                                                        (click)="clickActionRelation()">
                                                        <a>{{'gameLabel.PROPOSE_MARRIAGE' |translate}}</a>
                                                    </li>

                                                    <li [hidden]="homeService.allPerson[constantService.FAMILY_SELF].dead || homeService.allPerson[constantService.FAMILY_SELF].pregnant
                                            || homeService.allPerson[constantService.FAMILY_SELF].in_prison ||homeService.allPerson[constantService.FAMILY_SELF].age<15
                                            || !homeService.allPerson[constantService.FAMILY_SELF].game_settings.PREGNANCYCHILDREN"
                                                        (click)="clickActionRelation()"><a>{{'gameLabel.TRY_FOR_A_CHILD'
                                                            |translate}}</a></li>
                                                </div>

                                                <div
                                                    [hidden]="!homeService.allPerson[constantService.FAMILY_SELF].married">
                                                    <li [hidden]="!homeService.allPerson[constantService.FAMILY_SELF].married ||homeService.allPerson[constantService.FAMILY_SELF].dead"
                                                        (click)="clickActionRelation()"><a>{{'gameLabel.LEAVE_MARRIAGE'
                                                            |translate}}</a></li>

                                                    <li [hidden]="homeService.allPerson[constantService.FAMILY_SELF].dead || homeService.allPerson[constantService.FAMILY_SELF].pregnant
                                            || homeService.allPerson[constantService.FAMILY_SELF].in_prison ||homeService.allPerson[constantService.FAMILY_SELF].age<15
                                            || !homeService.allPerson[constantService.FAMILY_SELF].game_settings.PREGNANCYCHILDREN"
                                                        (click)="clickActionRelation()"><a>{{'gameLabel.TRY_FOR_A_CHILD'
                                                            |translate}}</a></li>

                                                    <li [hidden]="homeService.allPerson[constantService.FAMILY_SELF].dead||homeService.allPerson[constantService.FAMILY_SELF].in_prison
                                            ||homeService.allPerson[constantService.FAMILY_SELF].age <18  || homeService.allPerson[constantService.FAMILY_SELF].age >50
                                                || homeService.allPerson[constantService.FAMILY_SELF].in_prison"
                                                        (click)="clickActionRelation()"><a>{{'gameLabel.ADOPT_A_CHILD'
                                                            |translate}}</a></li>
                                                </div>
                                            </ul>
                                        </div>
                                        <a class="disblock" (click)="actionRelationClick()">
                                            <span class="home-bottomicn">
                                                <img class="mbs imageRelation" src="assets/images/action-relation.png"
                                                    alt="" style="cursor: pointer;" /><br>
                                            </span>
                                            <span class="icn-text-mr">
                                                {{'gameLabel.Relationship' | translate}}
                                            </span>
                                        </a>
                                    </li>
                                    <li class="col">
                                        <div class="home_inner_btn"
                                            *ngIf="(homeService.allPerson[this.constantService.FAMILY_SELF].age!==constantService.DEMOLIFEMAXAGE ||!homeService.allPerson[this.constantService.FAMILY_SELF].dead||(gameSummeryService.licenceId!==null &&  gameSummeryService.maxLifeCount>1))">
                                            <ul class="m-0 p-0 fontforSmall" *ngIf="eventService.currentEvent.text.length<255">
                                                <div
                                                    *ngIf="((homeService.allPerson[constantService.FAMILY_MOTHER].living_at_home ||homeService.allPerson[constantService.FAMILY_FATHER].living_at_home ) && (!homeService.allPerson[constantService.FAMILY_FATHER].dead || !homeService.allPerson[constantService.FAMILY_MOTHER].dead))">
                                                    <li (click)="clickActionResidence()"
                                                        [hidden]="(homeService.allPerson[constantService.FAMILY_SELF].dead || homeService.allPerson[constantService.FAMILY_SELF].age<=10
                                            || homeService.allPerson[constantService.FAMILY_SELF].current_residence.livingWith=='BARICATE' || homeService.allPerson[constantService.FAMILY_SELF].current_residence.livingWith=='PRISON' ||homeService.allPerson[constantService.FAMILY_SELF].job.JobName===constantService.JOB_SOLDIER)">
                                                        <a> {{'gameLabel.MOVE_OUT' |translate}}</a>
                                                    </li>
                                                </div>
                                                <div
                                                    *ngIf="!homeService.allPerson[this.constantService.FAMILY_MOTHER].living_at_home && !homeService.allPerson[constantService.FAMILY_FATHER].living_at_home">
                                                    <li (click)="clickActionResidence()"
                                                        *ngIf="((!homeService.allPerson[constantService.FAMILY_MOTHER].dead || !homeService.allPerson[constantService.FAMILY_FATHER].dead))"
                                                        [hidden]="homeService.allPerson[constantService.FAMILY_MOTHER].living_at_home && !homeService.allPerson[constantService.FAMILY_SELF].dead || homeService.allPerson[constantService.FAMILY_SELF].dead ||
                                            homeService.allPerson[constantService.FAMILY_SELF].current_residence.livingWith=='BARICATE'
                                            || homeService.allPerson[constantService.FAMILY_SELF].current_residence.livingWith=='PRISON'
                                            ||homeService.allPerson[constantService.FAMILY_SELF].job.JobName===constantService.JOB_SOLDIER">
                                                        <a>{{'gameLabel.MOVE_IN' |translate}}</a>
                                                    </li>
                                                    <li *ngIf="(homeService.allPerson[constantService.FAMILY_MOTHER].country.country!==homeService.allPerson[constantService.FAMILY_SELF].country.country && (homeService.allPerson[constantService.FAMILY_MOTHER].dead && homeService.allPerson[constantService.FAMILY_FATHER].dead))"
                                                        (click)="clickActionResidence()"
                                                        [hidden]="homeService.allPerson[constantService.FAMILY_MOTHER].living_at_home && !homeService.allPerson[constantService.FAMILY_SELF].dead || homeService.allPerson[constantService.FAMILY_SELF].dead ||
                                            homeService.allPerson[constantService.FAMILY_SELF].current_residence.livingWith=='BARICATE'
                                            || homeService.allPerson[constantService.FAMILY_SELF].current_residence.livingWith=='PRISON'
                                            ||homeService.allPerson[constantService.FAMILY_SELF].job.JobName===constantService.JOB_SOLDIER">
                                                        <a>{{'gameLabel.Move_back_to_home_country' |translate}}</a>
                                                    </li>
                                                    <li (click)="clickActionResidence()"
                                                        [hidden]="homeService.allPerson[constantService.FAMILY_MOTHER].living_at_home || homeService.allPerson[constantService.FAMILY_SELF].dead">
                                                        <a>{{'gameLabel.CHANGE_CITY' |translate}}</a>
                                                    </li>
                                                    <li (click)="clickActionResidence()"
                                                        [hidden]="homeService.allPerson[constantService.FAMILY_MOTHER].living_at_home || homeService.allPerson[constantService.FAMILY_SELF].dead||homeService.allPerson[constantService.FAMILY_SELF].age<18">
                                                        <a>{{'gameLabel.EMIGRATE' |translate}}</a>
                                                    </li>
                                                </div>
                                            </ul>
                                        </div>
                                        <a class="disblock" (click)="actionResidenceClick()">
                                            <span class="home-bottomicn">
                                                <img class="mbs imageResidence" src="assets/images/action-residence.png"
                                                    alt="" style="cursor: pointer;" /><br>
                                            </span>
                                            <span class="icn-text-mr">
                                                {{'gameLabel.Residence' | translate}}
                                            </span>
                                        </a>
                                    </li>
                                    <li class="col">
                                        <div class="home_inner_btn"
                                            *ngIf="(homeService.allPerson[this.constantService.FAMILY_SELF].age!==constantService.DEMOLIFEMAXAGE ||!homeService.allPerson[this.constantService.FAMILY_SELF].dead||(gameSummeryService.licenceId!==null &&  gameSummeryService.maxLifeCount>1))">
                                            <ul class="m-0 p-0" *ngIf="eventService.currentEvent.text.length<255">
                                                <li [hidden]="homeService.allPerson[constantService.FAMILY_SELF].age<8 || this.homeService.allPerson[this.constantService.FAMILY_SELF].dead"
                                                    (click)="clickActionLeisure()"><a>{{'gameLabel.Selected'
                                                        |translate}}:
                                                        {{homeService.allPerson[constantService.FAMILY_SELF].current_selected_leisure}}/{{homeService.allPerson[constantService.FAMILY_SELF].leisure_time_available}}
                                                    </a></li>
                                            </ul>
                                        </div>
                                        <a class="disblock" (click)="actionLeisureClick()">
                                            <span class="home-bottomicn">
                                                <img class="mbs image" src="assets/images/action-leisure.png" alt=""
                                                    style="cursor: pointer;" /><br>
                                            </span>
                                            <span class="icn-text-mr">
                                                {{'gameLabel.Leisure' | translate}}
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-12 bottom_action" *ngIf="!modalWindowShowHide.showEvent">
                                <ul
                                    class="bottom_action_group img-width-setup row w-100 mx-0 px-0 text-center border-0">
                                    <li class="col">
                                        <a class="disblock" (click)="obituaryClick()">
                                            <img class="mbs" src="assets/images/endscreenicon/obituary-icon.svg"
                                                alt="" /><br>
                                            {{'gameLabel.Obituary' | translate}}
                                        </a>
                                    </li>
                                    <li class="col">
                                        <a class="disblock" (click)="gameSummaryClick()">
                                            <img class="mbs" src="assets/images/endscreenicon/game summary-icon.svg"
                                                alt="" /><br>
                                            {{'gameLabel.Game_Summary' | translate}}
                                        </a>
                                    </li>
                                    <li class="col">
                                        <a class="disblock" (click)="letterClick()"
                                            *ngIf="this.homeService.displaySdgFlag">
                                            <img class="mbs" src="assets/images/endscreenicon/write a letter_icon.svg"
                                                alt="" /><br>
                                            {{'gameLabel.Write_A_Letter' | translate}}
                                        </a>
                                        <a class="disblock" (click)="letterClick()"
                                            *ngIf="!this.homeService.displaySdgFlag">
                                            <img class="mbs" src="assets/images/endscreenicon/write a letter_icon.svg"
                                                alt="" /><br>
                                            {{'gameLabel.Letter' | translate}}
                                        </a>
                                    </li>
                                    <li class="col-auto">
                                        <!-- <a  class="age_btn age_btn1 long_text mx-auto d-flex align-items-center justify-content-center flex-column" (click)="seeYouLife()">
										<div class="agetxt">
											<strong class="font14px">{{homeService.firstName}} <br>{{homeService.lastName}}</strong><br>
										</div>
										<span class="">{{'gameLabel.See_Your_Life' | translate}}  </span>
                                    </a> -->
                                        <app-age-a-year *ngIf="data" [data]="data"></app-age-a-year>

                                    </li>
                                    <li class="col">
                                        <a class="disblock" (click)="lifeDocClick()">
                                            <img class="mbs" src="assets/images/endscreenicon/Feedback-icon.svg"
                                                alt="" /><br>
                                            {{'gameLabel.Life_book' |translate}}
                                        </a>
                                    </li>
                                    <li class="col">
                                        <a class="disblock" (click)="learningToolClick()"
                                            *ngIf="this.homeService.displaySdgFlag">
                                            <img class="mbs" src="assets/images/endscreenicon/game summary-icon.svg"
                                                alt="" /><br>
                                            {{'gameLabel.Life_data' |translate}}
                                        </a>
                                        <a class="disblock" (click)="learningToolClick()"
                                            *ngIf="!this.homeService.displaySdgFlag">
                                            <img class="mbs" src="assets/images/endscreenicon/game summary-icon.svg"
                                                alt="" /><br>
                                            {{'gameLabel.Life_data' |translate}}
                                        </a>
                                    </li>

                                    <li class="col">
                                        <a class="disblock" (click)="liveALifeClick()"
                                            *ngIf="this.homeService.displaySdgFlag">
                                            <img class="mbs" src="assets/images/endscreenicon/Live_a_Life.svg"
                                                alt=""><br>
                                            {{'gameLabel.Live_A_Life' | translate}}
                                        </a>
                                        <a class="disblock" (click)="liveALifeClick()"
                                            *ngIf="!this.homeService.displaySdgFlag">
                                            <img class="mbs" src="assets/images/endscreenicon/Live_a_Life.svg"
                                                alt=""><br>
                                            {{'gameLabel.new_life' | translate}}
                                        </a>
                                    </li>
                                </ul>

                            </div>
                        </div>
                        <div class="col-md-12 indication" *ngIf="data" [data]="data">
                            <app-well-being-indicator></app-well-being-indicator>
                        </div>
                    </div>


                </div>

                <div class="col-md-3 right_nav p-0">
                    <div class="drt">
                        <div class="row m-0 pt-2 align-items-center">
             

                            <div class="col-auto" *ngIf="gameSummeryService.sdgLogoOrNotFlag">
                                <div *ngIf="gameSummeryService.sdgLogoOrNotFlag">
                                    <div class="sdg_hdr_img {{gameSummeryService.sdgLogoClass}}"
                                        *ngIf="gameSummeryService.sdgLogoOrNotFlag">
                                        <figure class="mb-0"><img src="{{gameSummeryService.sdgLogo}}" alt=""></figure>
                                    </div>
                                    <span *ngIf="this.homeService.displaySdgFlag"
                                        class="text-center {{commonService.sdgColour}} tlp"
                                        title="{{commonService.sdgTooltipe}}" data-toggle="tooltip" data-placement="top"
                                        style="cursor: pointer;"> {{ commonService.finalSdg | truncate : 20}}</span><br>
                                    <span class="tb-buttons-act summaryButon1" style="cursor: pointer; float:left"
                                        (click)="showBornSummary()">{{'gameLabel.view_born_summary' |translate}}</span>
                                </div>
                            </div>

                            <div class="col-auto"
                                *ngIf="!gameSummeryService.sdgLogoOrNotFlag && (gameSummeryService.licenceId===null &&  gameSummeryService.maxLifeCount===1)">
                                <div class="demo_hdr_img active">
                                    <figure class="mb-0"><img src="assets/images/startscreen/demo-life.svg" alt="">
                                    </figure>
                                </div>
                                <span
                                    *ngIf="gameSummeryService.licenceId===null &&  gameSummeryService.maxLifeCount===1"
                                    class="text-center"> {{'gameLabel.Demo_life' |translate}}</span><br>
                                <span class="tb-buttons-act summaryButon1" style="cursor: pointer; float:left"
                                    (click)="showBornSummary()">{{'gameLabel.view_born_summary' |translate}}</span>
                            </div>
                            <div class="col-auto"
                                *ngIf="!gameSummeryService.sdgLogoOrNotFlag && (gameSummeryService.licenceId!==null &&  gameSummeryService.maxLifeCount>1)">
                                <div class="logo-flag active">
                                    <figure><img class="flag"
                                            src="assets/images/flags-big/{{(this.homeService.allPerson[constantService.FAMILY_SELF].country.Code) | lowercase}}.png"
                                            alt=""></figure>
                                </div>
                                <span> </span><br>
                                <span class="tb-buttons-act summaryButon1" style="cursor: pointer; float:left"
                                    (click)="showBornSummary()">{{'gameLabel.view_born_summary' |translate}}</span>
                            </div>

                            <div class="col logo pt-2 text-right">
                                <div class="" *ngIf="this.homeService.displaySdgFlag">
                                    <img src="assets/images/logo-old.png" alt="RealLives Online" />
                                </div>
                                <div class="drt_logo" *ngIf="!this.homeService.displaySdgFlag">
                                    <img src="assets/images/small-logo.png" alt="RealLives Online" />
                                </div>
                                <div>
                                    <p class="m-0 pb-2"> {{userName}}</p>
                                </div>

                                <div class="d_nav">
                                    <ul class="m-0 p-0 list-unstyled d-flex justify-content-end">
                                        <li>
                                            <a title="{{'gameLabel.Back' |translate}}" data-toggle="tooltip"
                                                data-placement="top"
                                                class="text-primary tlp text-decoration-none {{homeService.cssForDisable}}"
                                                (click)="backToSummarryClick()">
                                                <span class="material-icons"
                                                    style="cursor: pointer">arrow_back_ios_new</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a (click)="openFullscreen()" title="{{'gameLabel.Full-Screen' |translate}}"
                                                data-toggle="tooltip" data-placement="top"
                                                class="text-primary tlp text-decoration-none">
                                                <span class="material-icons" style="cursor: pointer">open_in_full</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="{{'gameLabel.Exit_Full_Screen' |translate}}"
                                                (click)="closeFullscreen();" data-toggle="tooltip" data-placement="top"
                                                class="text-primary tlp text-decoration-none">
                                                <span class="material-icons"
                                                    style="cursor: pointer">close_fullscreen</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="text-primary text-decoration-none" (click)="gameSettingClick()">
                                                <span class="tlp" data-toggle="tooltip" data-placement="top"
                                                    title="Setting" style="cursor: pointer">
                                                    <i class="fa fa-cog" aria-hidden="true"></i></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="{{'gameLabel.Go_to_dashbord' | translate }}" data-toggle="tooltip"
                                                data-placement="top"
                                                class="text-primary tlp text-decoration-none {{homeService.cssForDisable}}"
                                                (click)="clickToExitButton()" style="cursor: pointer">
                                                <span class="material-icons">login</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- <div *ngIf="!gameSummeryService.sdgLogoOrNotFlag" class="brnsmry-btn-1760">
                        <span class="tb-buttons-act summasryButon" style="cursor: pointer;" (click)="showBornSummary()">{{'gameLabel.view_born_summary' |translate}}</span>
                    </div> -->
                    </div>
                    <div class="drb">
                        <div class="row no-gutters h-100">
                            <div class="col-md-12 logo h-100">
                                <ul class="nav nav-tabs bg-darkblue" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class=" nav-link {{homeService.activeLinkClassfinanceStatus}}"
                                            (click)="financeStatusClick()" style="cursor: pointer;">
                                            {{'gameLabel.Financial_status' |translate}}</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class=" nav-link {{homeService.activeLinkClassCountryCapsule}}"
                                            *ngIf="(!dead && dispayCountryFlag)" (click)="countryCapsuleClick()"
                                            style="cursor: pointer;">{{'gameLabel.Your_Country' |translate}}</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class=" nav-link {{homeService.activeLinkClasslifeExepectancy}}" *ngIf="dead"
                                            (click)="lifeExpectancyGraphClick()"
                                            style="cursor: pointer;">{{'gameLabel.Life_exepctancy' |translate}}</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class=" nav-link {{homeService.activeLinkClassLifeSummery}}"
                                            *ngIf="!modalWindowShowHide.showObituary && !modalWindowShowHide.showGameSummary &&!modalWindowShowHide.showBugReport &&!modalWindowShowHide.showFeddback &&!modalWindowShowHide.showLetter"
                                            (click)="lifeSummeryClick()"
                                            style="cursor: pointer;">{{'gameLabel.Life_Summary' |translate}}</a>
                                    </li>

                                    <li class="nav-item" *ngIf="falgForBusinessSdg">
                                        <a class=" nav-link {{homeService.activeLinkClassSdgIndicator}}"
                                            (click)="sdgIndicatorClick()" style="cursor: pointer;">
                                            {{'gameLabel.SDG_Indicators' |translate}}</a>
                                    </li>


                                    <li class="nav-item"
                                        *ngIf="homeService.allPerson[this.constantService.FAMILY_SELF].business.businessesId!==130 &&  !carrerService.oldBusinessFlag">
                                        <a class=" nav-link {{homeService.actionLinkClassBusinessTab}}"
                                            (click)="buasinessStatusClick()" style="cursor: pointer;">
                                            {{'gameLabel.Business_status' |translate}}</a>
                                    </li>



                                </ul>
                                <div class="tab-content">
                                    <app-country-capsule *ngIf="modalWindowShowHide.showCountryCapsule && data &&!dead"
                                        [data]="data"></app-country-capsule>
                                    <app-life-expectancy-graph
                                        *ngIf="modalWindowShowHide.showLifeExpectancyGraph && data && dead"
                                        [data]="data"></app-life-expectancy-graph>
                                    <app-life-summery *ngIf="modalWindowShowHide.showLifeSummery"></app-life-summery>
                                    <app-sdg-indicators *ngIf="modalWindowShowHide.showSdgIndicator">
                                    </app-sdg-indicators>
                                    <app-business-tab *ngIf="modalWindowShowHide.showBusinessTabFlag">
                                    </app-business-tab>
                                    <app-finace-status *ngIf="modalWindowShowHide.showFinanceStatus">
                                    </app-finace-status>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="md-overlay black_modal gamescreen" id="live_life_save" *ngIf="livelifeClick">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content h-auto">
                <div class="modal-body p-0">
                    <p class="text-center">{{'gameLabel.Do_you_really_want_to_go_back?' |translate}}</p>
                    <div class="d-flex justify-content-center w-100">
                        <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1"
                            (click)="liveLifeYes()">{{'gameLabel.Yes' |translate}}</button>
                        <button type="button" class="btn btn-blue-grad py-1 px-4 ml-1"
                            (click)="liveLifeNo()">{{'gameLabel.No' |translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="md-overlay black_modal gamescreen" id="live_life_save" *ngIf="goBackFlag">
        <!--<div class="black_modal gamescreen" id="live_life_save">-->
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content h-auto">
                <div class="modal-body p-0">
                    <p class="text-center">{{'gameLabel.Do_you_really_want_to_go_back?' |translate}}</p>
                    <div class="d-flex justify-content-center w-100">
                        <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1"
                            (click)="backToSummarryClickYes()">{{'gameLabel.Yes' |translate}}</button>
                        <button type="button" class="btn btn-blue-grad py-1 px-4 ml-1"
                            (click)="backToSummarryClickNo()">{{'gameLabel.No' |translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="md-overlay black_modal gamescreen" id="live_life_save" *ngIf="exitButtonFlag">
        <!--<div class="black_modal gamescreen" id="live_life_save">-->
        <div class="modal-dialog modal-dialog-centered closeWnd" role="document">
            <div class="modal-content h-auto">
                <div class="modal-body p-0">
                    <p class="text-center">{{'gameLabel.dashbord_quetion' |translate}}</p>
                    <div class="d-flex justify-content-center w-100">
                        <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1"
                            (click)="goToDashbordYes()">{{'gameLabel.Yes' |translate}}</button>
                        <button type="button" class="btn btn-blue-grad py-1 px-4 ml-1"
                            (click)="goToDashbordNo()">{{'gameLabel.No' |translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="md-overlay black_modal gamescreen" id="dashboard_finanace1" *ngIf="showSuccessMsgFlag">
        <div class="modal-dialog modal-dialog-centered w700" role="document">
            <div class="modal-content h-auto">
                <div class="modal-body p-0">
                    <p class="text-center" style="line-height: 2;" [innerHTML]="messageText"></p>
                    <div class="d-flex justify-content-center w-100 ">
                        <a  href="{{commonService.buyNowUrl}}" target="_blank">
                        <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1 "
                            *ngIf="gameSummeryService.UserRole===constantService.GAMMERROLE || gameSummeryService.UserRole===constantService.SCHOOLADMINROLE "
                            >{{'gameLabel.Buy_Now' |translate}}</button>
                        </a>
                        <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1"
                            (click)="successWindowOk()">{{'gameLabel.Ok' |translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="md-overlay black_modal gamescreen d-flex align-items-center" id="docInfo" *ngIf="docInfoFlag">
        <div class="modal-dialog modal-dialog-centered w700" role="document">
            <div class="modal-content h-auto">
                <div class="modal-body p-0" style="text-align: left;">
                    <span class="text-white moreinfo">{{'gameLabel.docWarr' |translate}}</span>
                    <div class="d-flex justify-content-center w-100 btnPadding" style="padding-top: 10px">
                        <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1 "
                            (click)="closeDoc()">{{'gameLabel.Ok' |translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<app-family-capsule-window class="md-overlay" *ngIf="modalWindowShowHide.showFamilyCapsuleWindow">
</app-family-capsule-window>
<app-game-setting class="md-overlay" *ngIf="modalWindowShowHide.showGameSeetingsFlag"></app-game-setting>
<app-action-education class="md-overlay" *ngIf="modalWindowShowHide.showActionEducation"> </app-action-education>
<app-action-finance class="md-overlay" *ngIf="modalWindowShowHide.showActionFinanace"></app-action-finance>
<app-action-leisure class="md-overlay" *ngIf="modalWindowShowHide.showActionLeisure"></app-action-leisure>
<app-action-relationship class="md-overlay" *ngIf="modalWindowShowHide.showActionRelation"></app-action-relationship>
<app-action-residence class="md-overlay" *ngIf="modalWindowShowHide.showActionResidence"></app-action-residence>
<app-action-carrer class="md-overlay" *ngIf="modalWindowShowHide.showActionCareer"></app-action-carrer>
<app-well-being-indicator-window class="md-overlay" *ngIf="modalWindowShowHide.showWellBeingIndicatorWindow">
</app-well-being-indicator-window>
<!-- <app-wait-screen class="md-overlay_wait_screen" *ngIf="modalWindowShowHide.showWaitScreen"></app-wait-screen> -->
<app-organ-donation-certificate class="md-overlay" *ngIf="modalWindowShowHide.showOrganDonationCertificate">
</app-organ-donation-certificate>
<app-born-summary class="" *ngIf="modalWindowShowHide.showBornSummary"></app-born-summary>
<app-country-learning-doc class="md-overlay" *ngIf="modalWindowShowHide.showDocumentFlag">
</app-country-learning-doc>
<app-learning-tool-pages class="md-overlay" style="background: black;"
    *ngIf="modalWindowShowHide.showCountryLearningTool">
</app-learning-tool-pages>