<div *ngIf="modalWindowShowHide.showActionLeisure">
  <div>
      <div class="new_cmn_modal full_width gamescreen animated zoomIn" id="dashboard_leisure" tabindex="-1" role="dialog" aria-labelledby="dashboard_careerLabel">
          <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content h-auto">
                  <div class="modal-header position-relative d-flex align-items-center justify-content-between">
                      <h5 class="modal-title text-white font-400 text-uppercase font_b8 d-flex align-items-center" id="">
                          <img class="image" src="assets/images/action-leisure.png" alt=""> 
                          <span class="pl-3">{{'gameLabel.LEISURE' | translate}}</span>
                      </h5>
                      <button type="button" class="close" aria-label="Close" (click)="close()">
                          <span class="material-icons" >close</span>
                      </button>
                  </div>
                  <div class="modal-body bg-white">
                      <div class="h-100 auto_height overflow-y-auto py-0">
                          <div class="bg-white p-3 mx-3">
                              <p class="text-center text-dark font-600 text-uppercase">
                                                   {{ 'gameLabel.CHOOSE_ANY_LEISURE_ACTIVITIES' | translate:{ count:homeService.allPerson[constantService.FAMILY_SELF].leisure_time_available } }}</p>
                              <div class="container-fluid">
                                  <div class="row m-0" >
                                      <div class="col-md-12" >
                                          <div class="alert text-dark {{alertClass}}" *ngIf="showAlertFlag">
                                              <button type="button" class="close" data-dismiss="alert">×</button>
                                              <strong>{{alertType}}</strong> {{alertMsg}}
                                          </div>
                                      </div>
                                  </div>


                                   
                                  <div class="row">
                                      <div class="col-2" *ngFor="let l of leisureData, let i=index">
                                          <div class="box radio_img mb-3">
                                              <label class="w-100 px-2 py-3 text-center {{l.active}}"  >
                                                  <input type="checkbox" [(ngModel)]="l.selected"  [disabled]="!l.enabled || homeService.allPerson[constantService.FAMILY_SELF].dead" (ngModelChange)="check(i,l.leisure_code,l.selected)">
                                                  <figure><img src="assets/images/leisure/{{l.leisure_code}}.png" alt=""></figure>
                                                  <p class="m-0 font-600 ">{{l.leisure_name}}</p>
                                              </label>
                                          </div>
                                      </div>
                                  </div>





                              </div>
                          </div>
                          <div class="container-fluid">
                              <div class="row mt-3">
                                  <div class="col-auto mx-auto">
                                      <button type="button" class="btn btn_blue active trans scale1_2" [disabled]="buttonFlag||checkleisuretime||homeService.allPerson[constantService.FAMILY_SELF].dead" (click)="saveLeisures()">{{'gameLabel.SAVE' | translate}}</button>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      
      <div class="md-overlay black_modal gamescreen" *ngIf="showSuccessMsgFlag">
          <div class="modal-dialog modal-dialog-centered w700" role="document">
              <div class="modal-content h-auto">
                  <div class="modal-body p-0">
                      <p class="text-center">{{msgText}}</p>
                      <div class="d-flex justify-content-center w-100">
                          <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1" (click)="successWindowOk()">{{'gameLabel.Ok' | translate}}</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<app-wait-screen class="md-overlay_wait_screen black_modal gamescreen" *ngIf="modalWindowShowHide.showWaitScreen"></app-wait-screen>

