 .whiteline{
    padding-bottom: 5px;
  border-bottom:1px solid  #595b5d!important;
  }

  .box1{
      background-color: lightgrey;
  width: 50px;
  border: 2px solid green;
  padding: 50px;
  margin: 20px;
  }
  .textSize{
    font-size: 16px;
  }