agm-map {
  height: 600px;
}


.wdth-search1{
  color: black;
max-width: 49%;
    padding-bottom: 15px;
    margin: auto;
    border-radius: 15px;
}



.black_modal .modal-content{background: #000; border: 1px solid ;border-color: gray!important;  padding: 1rem; }
