<div *ngIf="modalWindowService.showcharacterDesignFlag">
    <!--home_country_select-->
    <div class=" new_cmn_modal full_width home_country_select" id="home_country_select_modal" tabindex="-1"
        role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header position-relative d-flex align-items-center justify-content-between">
                    <h5 class="modal-title text-white font-400 text-uppercase font_b8 d-flex align-items-center">
                        <img *ngIf="!this.modalWindowService.showSdg && !this.modalWindowService.showGroupCountry"
                            src="assets/images/character-design-logo.svg" alt="" style="width: 40px;">
                        <img *ngIf="this.modalWindowService.showSdg" src="assets/images/sdg-logo.jpg" alt=""
                            style="width: 40px;">
                        <img *ngIf="this.modalWindowService.showGroupCountry" src="assets/images/country-group-logo.svg"
                            alt="" style="width: 40px;">
                        <span *ngIf="this.modalWindowService.showGroupCountry" class="pl-3">
                            {{'gameLabel.country_group_name' | translate}}</span>
                        <span *ngIf="this.modalWindowService.showSdg" class="pl-3"> {{'gameLabel.sdg_title' |
                            translate}}</span>
                        <span *ngIf="!this.modalWindowService.showSdg && !this.modalWindowService.showGroupCountry"
                            class="pl-3"> {{'gameLabel.WHO_DO_YOU_WANT_TO_BE?' | translate}}</span>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()"
                        *ngIf="!gameSummeryService.flowFromStudent">
                        <span class="material-icons">close</span>
                    </button>
                </div>
                <div class="modal-body bg-light">
                    <div class=" text-center position-relative mb-4 mt=2"  (click)="backClick()">
                        <a class="go_back_btn text-primary" style="color: black!important;" *ngIf="this.state!=='continent' && refresh &&!this.modalWindowService.showSdg && !this.modalWindowService.showGroupCountry" >
                            <i class="fa fa-arrow-left" aria-hidden="true" style="cursor: pointer;" ></i> {{'gameLabel.Back'
                            |translate}}</a>
                    </div>
                    <div class="content text-gray2 pt-3 h-100">
                        <div class="city_wraper_main h-100" *ngIf="this.state==='continent' && refresh">
                            <div class="row size_row h-100">
                                <div class="col-6 text-center">
                                    <h2> {{'gameLabel.Select_a_country_where_you_would_like_to_be_born' | translate}}
                                    </h2>
                                    <div class="search-hero wdth-search1">
                                        <input class="form-control text-center" type="text" name="search" id="search"
                                            [(ngModel)]="searchText" autocomplete="off"
                                            placeholder="Search country by name">
                                    </div>
                                    <form class="w-100">
                                        <div class="d-flex flex-wrap justify-content-center no-gutters city_wraper">

                                            <div class="col-4"
                                                *ngFor="let country of continentList | filter:searchText let i = index">
                                                <div class="box radio_img  fontforSmall">
                                                    <label [class.active]="r.checked ">
                                                        <input #r type="radio" name="continenet" id="continenet"
                                                            value="{{country}}"
                                                            (change)="allRadioButtonValue($event)">
                                                        <figure><img class="imgWidth"
                                                                src="assets/images/continet-images/{{country}}.svg"
                                                                alt=""></figure>
                                                        <p class="m-0 text-uppercase font-600">{{country}}</p>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="d-flex justify-content-center mt-5">
                                            <button type="button" (click)="shuffleCountry()"
                                                class="btn btn-primary2 mx-2 next_religion_btn">
                                                {{'gameLabel.Shuffle_country' | translate}}</button>
                                            <button type="button" (click)="Atoz()"
                                                class="btn btn-primary2 mx-2 next_religion_btn"> {{'gameLabel.AtoZ' |
                                                translate}}</button>
                                            <button type="button" class="btn btn-primary2 mx-2 next_religion_btn"
                                                [disabled]="disableButton" (click)="selectClick(true,'country')">
                                                Select your country &nbsp;&gt;
                                            </button>
                                        </div>
                                    </form>
                                </div>

                                <div class="col-6">
                                    <div class="select_map h-100">
                                        <iframe id="wiki" class="h-100 w-100" [src]="continentUrl |byPassSecurity">
                                            <p>Your browser does not support iframes.</p>
                                        </iframe>
                                    </div>
                                </div>
                            </div>
                            <!-- </div> -->
                        </div>
                        <div class="city_wraper_main h-100" *ngIf="this.state==='country' ">
                            <div class="row size_row h-100">
                                <div class="col-6 text-center">
                                    <h2> {{'gameLabel.Select_a_country_where_you_would_like_to_be_born' | translate}}
                                    </h2>
                                    <div class="search-hero wdth-search1">
                                        <input class="form-control text-center" type="text" name="search" id="search"
                                            [(ngModel)]="searchText" autocomplete="off"
                                            placeholder="Search country by name">
                                    </div>
                                    <form class="w-100">
                                        <div class="d-flex flex-wrap justify-content-center no-gutters city_wraper">

                                            <div class="col-3"
                                                *ngFor="let country of countryList | filter:searchText let i = index">
                                                <div class="box radio_img  fontforSmall">
                                                    <label [class.active]="r.checked ">
                                                        <input #r type="radio" name="country_option" id="country"
                                                            value="{{country.countryid}}"
                                                            (change)="allRadioButtonValue($event)">
                                                        <figure><img
                                                                src="assets/images/flags-big/{{country.Code | lowercase}}.png"
                                                                alt=""></figure>
                                                        <p class="m-0 text-uppercase font-600">{{country.country}}</p>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="d-flex justify-content-center mt-5">
                                            <button type="button" (click)="shuffleCountry()"
                                                class="btn btn-primary2 mx-2 next_religion_btn">
                                                {{'gameLabel.Shuffle_country' | translate}}</button>
                                            <button type="button" (click)="Atoz()"
                                                class="btn btn-primary2 mx-2 next_religion_btn"> {{'gameLabel.AtoZ' |
                                                translate}}</button>
                                            <button type="button" class="btn btn-primary2 mx-2 next_religion_btn"
                                                [disabled]="disableButton" (click)="selectClick(true,'city')">
                                                {{'gameLabel.Select_City' | translate}} &nbsp;&gt;
                                            </button>
                                        </div>
                                    </form>
                                </div>

                                <div class="col-6">
                                    <div class="select_map h-100">
                                        <agm-map class="h-100 w-100" [latitude]='lat' [longitude]='lng'
                                            [zoom]='mapZoom'>
                                            <agm-marker *ngFor="let marker of markers ,let i=index"
                                                [latitude]="marker.lat" [longitude]="marker.lng"
                                                [label]="{text:marker.code}" (markerClick)="countryMarkerClick(marker)">
                                                <agm-info-window><strong style="color: black"> {{ marker.label
                                                        }}</strong></agm-info-window>
                                            </agm-marker>
                                        </agm-map>
                                    </div>
                                </div>
                            </div>
                            <!-- </div> -->
                        </div>
                        <div class="religion_wraper_main h-100" *ngIf="this.state==='city'">
                            <div class="row size_row h-100">
                                <div class="col-6 text-center">
                                    <h2> {{selectCityString}}</h2>
                                    <div class="search-hero wdth-search1">
                                        <input class="form-control text-center" type="text" name="search"
                                            placeholder="Search city by name" [(ngModel)]="searchTextCity"
                                            autocomplete="off" id="search">
                                    </div>
                                    <form class="w-100">
                                        <div class="religion_wraper">
                                            <div class="d-flex flex-wrap justify-content-center no-gutters">
                                                <div class="col-4"
                                                    *ngFor="let city of cityList |filter:searchTextCity , let i = index">
                                                    <div class="box radio_img fontforSmall">
                                                        <label [class.active]="r.checked">
                                                            <input #r type="radio" name="city_option"
                                                                value="{{city.cityid}}" id="city"
                                                                (change)="allRadioButtonValue($event)">
                                                            <p class="m-0 text-uppercase font-600">{{city?.cityName}}
                                                            </p>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="d-flex justify-content-center mt-5">
                                            <button type="button" class="btn btn-primary2 mx-2 next_religion_btn"
                                                [disabled]="disableButton" (click)="selectClick(true,'religion')">
                                                {{'gameLabel.Select_Religion' | translate}} &nbsp;&gt;
                                            </button>
                                        </div>
                                    </form>

                                </div>

                                <div class="col-6">
                                    <div class="select_map">
                                        <agm-map class="h-100 w-100" [latitude]='lat' [longitude]='lng'
                                            [zoom]='mapZoom'>
                                            <agm-marker *ngFor="let marker of markers ,let i=index"
                                                [latitude]="marker.lat" [longitude]="marker.lng"
                                                (markerClick)="cityyMarkerClick(marker)">
                                                <agm-info-window><strong class=""> {{ marker.label }}</strong>
                                                </agm-info-window>
                                            </agm-marker>
                                        </agm-map>
                                    </div>
                                </div>
                            </div>
                            <!-- </div> -->
                        </div>
                        <div class="select_attributes_main h-100" *ngIf="this.state==='religion'">
                            <div class="row size_row h-100">
                                <div class="col-6 text-center">
                                    <h2 class=""> {{'gameLabel.Select_your_religion' | translate}}
                                        {{selectedCityObject.city}}</h2>

                                    <form class="w-100">
                                        <div class="select_attributes">
                                            <div class="d-flex flex-wrap justify-content-center no-gutters">
                                                <div class="col-4" *ngFor="let religion of religionList, let i=index">
                                                    <div class="box radio_img fontforSmall">
                                                        <label [class.active]="r.checked"
                                                            title={{religion.religion_specifications}}
                                                            data-toggle="tooltip" data-placement="bottom">
                                                            <input #r type="radio" name="religion_option" value="{{i}}"
                                                                id="religion" (change)="allRadioButtonValue($event)">
                                                            <p class="m-0 text-uppercase font-40">
                                                                {{religion.religion}}
                                                                <span
                                                                    class="font-600 d-block">{{religion.percentage}}%</span>
                                                            </p>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="d-flex justify-content-center mt-5">
                                            <button type="button" class="btn btn-primary2 mx-2 next_religion_btn"
                                                [disabled]="disableButton" (click)="selectClick(true,'name')">
                                                {{'gameLabel.Select_Attributes' | translate}} &nbsp;&gt;
                                            </button>
                                        </div>
                                    </form>

                                </div>

                                <div class="col-6">
                                    <iframe id="wiki" class="h-100 w-100" [src]="religion_url |byPassSecurity">
                                        <p>Your browser does not support iframes.</p>
                                    </iframe>
                                </div>
                            </div>
                        </div>
                        <div class="generate_name_character_main h-100" *ngIf="this.state==='name'">
                            <form class="w-100 character_content">
                                <div class="h-100 d-flex flex-column justify-content-between">
                                    <div class="cnt h-100 charactor_design_new_ui">
                                        <div class="row size_row" style="height: calc(100% - 6rem);">
                                            <div class="col-4">
                                                <div class="h-100">
                                                    <div class="c_card mb-4" style="height: 7rem">
                                                        <div class="">
                                                            <h3 class="text-uppercase font-600 heading">
                                                                {{'gameLabel.GENDER' | translate}}</h3>
                                                            <div class="font_b2 border-bottom cnt">
                                                                <div class="form-group d-flex  mb-3">
                                                                    <label
                                                                        class="pr-4 mb-0 d-inline-flex align-content-center gmpflex">
                                                                        <input type="radio" name="gender"
                                                                            (change)="allRadioButtonValue($event)"
                                                                            value="M" id="g1" checked="checked">
                                                                        <span class="pl-2"> {{'gameLabel.Male' |
                                                                            translate}}</span>
                                                                    </label>

                                                                    <label
                                                                        class="pr-0 mb-0 d-inline-flex align-content-center gmpflex">
                                                                        <input type="radio" name="gender"
                                                                            (change)="allRadioButtonValue($event)"
                                                                            value="F" id="g2">
                                                                        <span class="pl-2"> {{'gameLabel.Female' |
                                                                            translate}}</span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="c_card mb-4" style="height: 7rem">
                                                        <div class="">
                                                            <h3 class="text-uppercase font-600 heading">
                                                                {{'gameLabel.LOCALE' | translate}}</h3>
                                                            <div class="font_b2 border-bottom cnt">
                                                                <div class="form-group d-inline-flex mb-3">
                                                                    <label
                                                                        class="pr-4 mb-0 d-inline-flex align-content-center gmpflex">
                                                                        <input type="radio" name="locale"
                                                                            (change)="allRadioButtonValue($event)"
                                                                            value="U" id="locality" checked="checked">
                                                                        <span class="pl-2"> {{'gameLabel.Urban' |
                                                                            translate}}</span>
                                                                    </label>

                                                                    <label
                                                                        class="pr-0 mb-0 d-inline-flex align-content-center gmpflex">
                                                                        <input type="radio" name="locale" id="locality"
                                                                            (change)="allRadioButtonValue($event)"
                                                                            value="R">
                                                                        <span class="pl-2"> {{'gameLabel.Rural' |
                                                                            translate}}</span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="c_card" style="height: calc(100% - 17rem);">
                                                        <div class="pa h-100">
                                                            <h3 class="text-uppercase font-600 heading">
                                                                {{'gameLabel.POTENTIAL_ATTRIBUTES' | translate}}</h3>
                                                            <div class="font_b2 line-height-2 cnt"
                                                                style="height: calc(100% - 4rem);">
                                                                <div class="py-3 mb-3 h-100">
                                                                    <div class="row pr-4 h-100 justify-content-between">
                                                                        <div class="form-group col-12 mb-2"
                                                                            *ngFor="let a of attribute let i=index">
                                                                            <div class="slidecontainer">
                                                                                <div class="slidecontainer_cnt">
                                                                                    <div
                                                                                        class="row justify-content-between">
                                                                                        <div class="col-auto">
                                                                                            {{a.attributeName}}</div>
                                                                                        <input type="range"
                                                                                            [(ngModel)]="a.value"
                                                                                            min="0" max="100"
                                                                                            class="form-control pxll-2 col"
                                                                                            name="{{a.attributeName}}"
                                                                                            (ngModelChange)="checkValues(i)">
                                                                                        <div class="col-auto">
                                                                                            {{a.value}}</div>
                                                                                    </div>
                                                                                </div>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>



                                            </div>

                                            <div class="col-8 ml-auto">
                                                <div class="c_card h-100">
                                                    <h2 class="text-center heading">{{'gameLabel.nameChoice_desc' |
                                                        translate}}</h2>

                                                    <div class="nav nav-tabs cnt row mt-3 font_b2 border-bottom-0"
                                                        role="tablist">
                                                        <div class="col-6 d-flex align-items-center">
                                                            <input id="choose_name" checked="checked"
                                                                name="nameDatabase" type="radio" value="database"
                                                                (change)="allRadioButtonValue($event)"
                                                                data-target="#database_name">
                                                            <label for="choose_name_text" class="pl-2 m-0">
                                                                {{'gameLabel.Choose_from_RealLives_database' |
                                                                translate}}</label>
                                                        </div>
                                                        <div class="col-6 d-flex align-items-center">
                                                            <input id="database_name_text" name="nameDatabase"
                                                                type="radio" (change)="allRadioButtonValue($event)"
                                                                value="userDefined" data-target="#choose_name">
                                                            <label for="database_name_text" class="pl-2 m-0">
                                                                {{'gameLabel.I_will_Choose' | translate}}</label>
                                                        </div>
                                                    </div>
                                                    <div class="tab-content cnt m-t-3">
                                                        <div id="choose_name" class={{userDefinedNameSelectionFlag}}>
                                                            <div class="row">
                                                                <div class="form-group col-6">
                                                                    <label> {{'gameLabel.Name' | translate}}</label>
                                                                    <input type="text" [(ngModel)]="firstNameUser"
                                                                        id="name" name="userFirstName"
                                                                        pattern="^[a-zA-Z]+$" class="form-control">
                                                                </div>
                                                                <div class="form-group col-6" *ngIf="!noLastNameFlag">
                                                                    <label> {{'gameLabel.Surname' | translate}}</label>
                                                                    <input type="text" [(ngModel)]="lastNameUser"
                                                                        name="userLastName" #asd="ngModel" id="lastname"
                                                                        pattern="^[a-zA-Z]+$" class="form-control">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div id="database_name" class={{databaseNameSelectionFlag}}
                                                            style="height: 100%;">
                                                            <div class="row">
                                                                <div class="col-6">
                                                                    <h3 class="text-uppercase font-600 mb-4">
                                                                        {{'gameLabel.Name' | translate}}</h3>
                                                                    <div class="database_list database_list-mbl">
                                                                        <div *ngFor="let name of firstNameList;let i=index"
                                                                            class="form-group">
                                                                            <input type="radio" 
                                                                                (change)="allRadioButtonValue($event)"
                                                                                value={{i}} name="firstName">
                                                                            <label for=""
                                                                                class="pl-2 m-0">{{name.name}}</label>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                                <div class="col-6" *ngIf="!noLastNameFlag">
                                                                    <h3 class="text-uppercase font-600 mb-4">
                                                                        {{'gameLabel.Surname' | translate}}</h3>
                                                                    <div class="database_list atabase_list-mbl">
                                                                        <div *ngFor="let name of lastNameList;let i=index"
                                                                            class="form-group">
                                                                            <input type="radio" id="r" 
                                                                                (change)="allRadioButtonValue($event)"
                                                                                value={{i}} name="lastName">
                                                                            <label for=""
                                                                                class="pl-2 m-0">{{name.name}}</label>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="btm_btn">
                                                            <div class="row">
                                                                <div class="col-12 text-center">
                                                                    <div class="d-flex justify-content-center mt-4">
                                                                        <button type="button"
                                                                            class="btn btn-primary2 mx-2 next_religion_btn"
                                                                            [disabled]="disableFlag "
                                                                            (click)="generateLifeButtonCLick()">
                                                                            {{'gameLabel.Generate' | translate}}
                                                                            &nbsp;&gt;
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="btm_btn">
                                            <div class="row">
                                                <div class="col-12 text-center">
                                                    <div class="d-flex justify-content-center mt-4">
                                                        <button type="button" class="btn btn-primary2 mx-2 next_name_character no-px-5 slsecitybtn next_religion_btn thelastone nxt-btn-text" [disabled]="disableFlag"  (click)="generateLifeButtonCLick()">  
                                                            <span class="nxt-btn-combine-class"><span class="nxt-btn-text"> {{'gameLabel.Generate' | translate}} &nbsp;&gt; </span>
                                                            </span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end of home_country_select-->

    <div class="md-overlay black_modal gamescreen" *ngIf="showSuccessMsgFlag">
        <div class="modal-dialog modal-dialog-centered w700" role="document">
            <div class="modal-content h-auto">
                <div class="modal-body p-0">
                    <p class="text-center">{{msgText}}</p>
                    <div class="d-flex justify-content-center w-100">
                        <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1"
                            (click)="successWindowOk()">{{'gameLabel.Ok' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="md-overlay black_modal gamescreen d-flex align-items-center" *ngIf="warrningFlag">
    <div class="modal-dialog modal-dialog-centered w700" role="document">
        <div class="modal-content h-auto">
            <div class="modal-body p-0" style="text-align: center;">
                <span class="text-white moreinfo">{{moreInforStm}}</span>
                <div class="d-flex justify-content-center w-100 btnPadding">
                    <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1 " style="margin-top: 20px"
                        (click)="windowOk()">{{'gameLabel.Ok' |translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="md-overlay black_modal gamescreen d-flex align-items-center" *ngIf="showSuccessMsgFlagLoadLife">
    <div class="modal-dialog modal-dialog-centered w700" role="document">
        <div class="modal-content h-auto">
            <div class="modal-body p-0" style="text-align: center; color: gray;">
                <span class="text-white moreinfo">{{moreInforStm}}</span>
                <div class="d-flex justify-content-center w-100 btnPadding paddingClass">
                    <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1 "
                        (click)="successWindowOkLoadLife()">{{'gameLabel.Ok' |translate}}</button>
                    <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1 "
                        (click)="loadIncompleteLife()">{{'gameLabel.Go_to_Incomplete_lives' |translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-wait-screen class="md-overlay_wait_screen" *ngIf="modalWindowService.showWaitScreen"></app-wait-screen>