
.box1 {
  background-color: #3f51b54f;
  border: 3px solid #135570;
  padding: 50px;
  margin: 10px;
 border-radius: 15px;
 height: fit-content;
}

.medium{
  font-size: medium;
}

.border-right {
    border-right: 1px solid gray;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid gray;
  text-align: left;
  padding: 8px;
}

.country_map_log-small{
  width: 5rem;
}

.black_modal .modal-dialog.w1000 {
  max-width: 1000px;
}

.btn{
  height: 42px;
width: 105px;
border: rgb(0, 224, 254);
}


.country{
font-size: large;
margin-top: 13px;
}
@media (max-width: 1024px) {
  

.country{
font-size: medium;
margin-top: 13px;
}
}
