<section class="home_dashboard pt-3 toolService ">
    <header>
        <div class="logo mx-auto trans" data-aos="" data-aos-delay="100"><img img src="assets/images/RL_logo.svg"
                alt="">
        </div>
    </header>
    <div class="listing_heading position-relative mb-4 col-md-12">
        <a class="go_back_btn text-primary" (click)="clickBack()">
            <i class="fa fa-arrow-left" aria-hidden="true" style="cursor: pointer;padding-left: 5px;"></i>
            {{'gameLabel.Back'
            |translate}}</a>
    </div>
    <h3 class="text-primary text-center">
        {{'gameLabel.View_your_all_Passports_and_life_of_each_country' |translate}}
    </h3>
    <div class="col-md-12">
        <div *ngIf="displayFlag">
            <div class=" d-flex flex-wrap justify-content-center no-gutters city_wraper">
                <div class="col-md-2 box1" *ngFor="let pass of passport ;let i=index">
                    <h3 class="text-white text-center medium">{{'gameLabel.Your_visa' |translate}}</h3>
                    <img src="assets/images/approved.png" alt="" class="center" style="margin-top: 5px;">
                    <h3 class="text-white text-center medium " style="margin-top: 5px;">
                        {{'gameLabel.To_be_born_in' |translate}}</h3>

                    <figure class="country_map_log-small mx-auto" style="margin-top: 5px;">
                        <img src="assets/images/flags-big/{{pass.code |lowercase}}.png" alt="" class="img-fluid"
                            style="margin-top: 5px;box-shadow: 1px 1px 11px 1px rgb(255 255 255 / 90%);">
                    </figure>
                    <div class="text-white text-center">
                        <span class=" country">{{pass.country}}</span>
                    </div>
                    <h6 class="text-white text-center medium ">{{'gameLabel.Lives_count' |translate}} :
                        {{pass.count}}
                    </h6>
                    <div class="text-center"> <button class=" btn-primary2 btn"
                            style="cursor: pointer; margin-top: 15px;border: #00e0fe;"
                            (click)="viewList(i)">{{'gameLabel.View_all_lives'
                            |translate}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!displayFlag">
            <div class=" d-flex flex-wrap justify-content-center no-gutters city_wraper">
                <div class="col-md-3 box1" *ngFor="let pass of passport ;let i=index">
                    <h3 class="text-white text-center medium">{{'gameLabel.Your_visa' |translate}}</h3>
                    <img src="assets/images/approved.png" alt="" class="center" style="margin-top: 5px;">
                    <h3 class="text-white text-center medium " style="margin-top: 5px;">
                        {{'gameLabel.To_be_born_in' |translate}}</h3>

                    <figure class="country_map_log-small mx-auto" style="margin-top: 5px;">
                        <img src="assets/images/flags-big/{{pass.code |lowercase}}.png" alt="" class="img-fluid"
                            style="margin-top: 5px;box-shadow: 1px 1px 11px 1px rgb(255 255 255 / 90%);">
                    </figure>
                    <div class="text-white text-center">
                        <span class=" country">{{pass.country}}</span>
                    </div>
                    <h6 class="text-white text-center medium ">{{'gameLabel.Lives_count' |translate}} :
                        {{pass.count}}
                    </h6>
                    <div class="text-center"> <button class=" btn-primary2 btn"
                            style="cursor: pointer; margin-top: 15px;border: #00e0fe;"
                            (click)="viewList(i)">{{'gameLabel.View_all_lives'
                            |translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="md-overlay black_modal" id="confirm" *ngIf="openListFlag">
    <div class="modal-dialog modal-dialog-centered w1000" role="document">
        <div class="modal-content h-auto">
            <div class="modal-header position-relative d-flex align-items-center justify-content-between">
                <h3 class="d-flex align-items-center">
                    <span class="pl-3 text-center text-primary2">
                        {{text}}</span>
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
                    <span class="material-icons">close</span>
                </button>
            </div>
            <div class="modal-body p-0">
                <table>
                    <tr>
                        <th>{{'gameLabel.Name' |translate}}</th>
                        <th>{{'gameLabel.Age' |translate}}</th>
                        <th>{{'gameLabel.Sex' |translate}}</th>
                        <th>{{'gameLabel.language' |translate}}</th>
                        <th>{{'gameLabel.Created' |translate}}</th>
                        <th>
                            {{'gameLabel.Last_lived' | translate}}</th>
                        <th>
                            {{'gameLabel.Status' | translate}}</th>
                        <th>{{'gameLabel.Action' |translate}}</th>

                    </tr>
                    <tr *ngFor="let list of selectedList">
                        <td>{{list.full_name}}</td>
                        <td>{{list.age}}</td>
                        <td>{{list.sex}}</td>
                        <td>{{list.language}}</td>
                        <td>{{list.created_date|date}}</td>
                        <td>{{list.last_lived_date |date}}</td>
                        <td *ngIf="list.dead">{{'gameLabel.Complete' |translate}}</td>
                        <td *ngIf="!list.dead"> {{'gameLabel.Incomplete' |translate}}</td>
                        <td><button class=" btn-primary2 " (click)="clickToLoad(list.game_id)">{{'gameLabel.Load'
                                |translate}}</button>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>

<app-wait-screen class="md-overlay_wait_screen" *ngIf="modalWindowService.showWaitScreen"></app-wait-screen>