 .center {
  margin-right: 319px;
  margin-top: 680px;
  } 
  @media (max-width: 2560px) {
    .center{
    margin-right: 364px;
    margin-top: 629px;
    }
  }
  @media (max-width: 1024px) {
  .center{
  margin-right: 182px;
  margin-top: 608px;
  }
}
.scrollingDiv
{
  display:block; height:450; overflow-y:auto;
}

/* .size-big-korean{max-width: 765px!important; right: 6%; float: right;} */
 .size-big-korean{max-width: 765px!important;  float: right;} 



.modal-header-new {
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem 1rem;
  /* border-bottom: 1px solid #dee2e6; */
  /* border-top-left-radius: calc(0.3rem - 1px); */
  /* border-top-right-radius: calc(0.3rem - 1px); */
}

.textclass{
  text-align: center;
  line-height: 1.5;
  font-style: italic;
  color: #58d6f2;
  padding-bottom: 15px;
  font-weight: 100;
}

.headingClass{
  text-align: center;
padding-bottom: 15px;
}


