<div *ngIf="modalWindowShowHide.showLanguageWindow && !translationService.showLangWindowInnerFlag">
  <div *ngIf="isModalShown" [config]="{ show: true, backdrop: 'static' ,keyboard :false }" (onHidden)="onHidden()"
    bsModal #autoShownModal="bs-modal" class="modal fade img-bg-modal" tabindex="-1" id="exampleModalCenter"
    role="dialog" aria-labelledby="dialog-auto-name" aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered modal-sm size-big">
      <div class="modal-content lang_select trprnt-bg-add">
        <div class="modal-header-new position-relative d-flex align-items-center justify-content-between">
          <h5 class="modal-title text-white font-400 text-uppercase font_b8 d-flex align-items-center" id="">
          </h5>
          <a title="{{'gameLabel.Go_to_dashbord' | translate }}" data-toggle="tooltip" data-placement="left" class="tlp"
            style="cursor: pointer;" (click)="clickToExitButton()">
            <span class="material-icons " style="cursor: pointer">login</span></a>
        </div>
        <div class="modal-body">
          <div class="justify-content-center no-gutters city_wraper">
            <h2 class="headingClass" *ngIf="phpToolService.flagForPhpToolClick">{{'gameLabel.countryToolTitle'
              |translate}}</h2>
            <h2 class="headingClass" *ngIf="phpToolService.flowFromSdg">{{'gameLabel.sdgToolTitle'
              |translate}}</h2>
            <h2 class="headingClass" *ngIf="phpToolService.folwFromCountryGroup">{{'gameLabel.countryGroupToolTitle'
              |translate}}</h2>
            <h2 class="headingClass" *ngIf="phpToolService.flowFromCountryDisaparity">
              {{'gameLabel.countryDisparityToolTitle' |translate}}</h2>

            <div class="row">
              <div class="col-6" *ngFor="let lang of translationService.languageArray">
                <div class="box radio_img text-center">
                  <label [class.active]="r.checked ">
                    <input #r type="radio" name="lang" [value]='lang' [(ngModel)]="translationService.selectedLang"
                      (change)="radioButtonValue()">
                    <figure><img src="{{lang.image}}" alt=""></figure>
                    <p class="m-0 text-uppercase font-800"> {{lang.name}}</p>
                  </label>
                </div>
              </div>
              <div class="position-relative d-flex align-items-center justify-content-center flex-grow-1 m-3">
                <input type="checkbox" id="default" [(ngModel)]="setDefaultLang" [ngModelOptions]="{standalone: true}">
                <label class="text-center justify-content-center m-2">{{'gameLabel.langSeetings' |translate}}</label>
              </div>
            </div>

          </div>
        </div>
        <span>
          <p class="textclass"> {{'gameLabel.tranWarr'|translate}} </p>
        </span>
        <button type="button" class="btn btn-primary new-btn-style" (click)="ClickOk()">{{ 'gameLabel.Ok' | translate
          }}</button>
      </div>
    </div>
  </div>

</div>

<div *ngIf="successMsgFlag" [config]="{ show: true, backdrop: 'static' ,keyboard :false }" (onHidden)="onHidden()"
  bsModal #autoShownModal="bs-modal" class="modal fade img-bg-modal-korean" tabindex="-1" id="exampleModalCenter"
  role="dialog" aria-labelledby="dialog-auto-name" aria-hidden="false">
  <div class="modal-dialog modal-dialog-centered modal-sm size-big-korean">
    <div class="modal-content trprnt-bg-add center">
      <div class=" text-center">
        <a (click)="clickToShowKoreanInfo()"><img src="./assets/images/play_life_korean.svg" alt=""
            style="cursor: pointer;height: 65px;"></a>
      </div>
    </div>
  </div>
</div>

<div class="md-overlay black_modal gamescreen" id="live_life_save" *ngIf="exitButtonFlag">
  <div class="modal-dialog modal-dialog-centered closeWnd" role="document">
    <div class="modal-content h-auto">
      <div class="modal-body p-0">
        <p class="text-center">{{'gameLabel.dashbord_quetion' |translate}}</p>
        <div class="d-flex justify-content-center w-100">
          <button type="button" class="btn btn-blue-grad py-1 px-4 mr-1" (click)="goToDashbordYes()">{{'gameLabel.Yes'
            |translate}}</button>
          <button type="button" class="btn btn-blue-grad py-1 px-4 ml-1" (click)="goToDashbordNo()">{{'gameLabel.No'
            |translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>